[2018-09-06 16:18] seanwm opened #458 "Support for stopping / starting Web Jobs?"
The API has methods to [stop](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/stopcontinuouswebjob) and [start](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/startcontinuouswebjobslot) an individual continuous web job on an app service, but I don't see that support here. It'd be great to have it!

[2018-09-06 20:59] m-mertz commented on #457
There's a simple workaround for app settings, and possibly other properties that are inherited from web apps. This works because a Function App is just a special Web App, so we can use those methods instead:

[code]

Interestingly enough, the WebApp.List* methods don't show function apps, but they can be retrieved through the Get* methods.

[2018-09-08 15:53] MarcelZehner commented on #292
Same issue here with some brand new Azure Windows Server 2016 VMs. I am however able to add the VMs to Azure Automation DSC configs through the portal - with the exact same configurations I use in the ARM template. Strange.

[2018-09-09 02:04] bloudraak commented on #450
I like the idea of automatic registration, but I'd also like to register providers myself as part of bootstrapping subscriptions, if that was at all possible.

[2018-09-09 02:18] bloudraak opened #460 "Finding Applications and Service Principals by ApplicationId"
I'm using the fluent API to authenticate a service principal that has full read/write access to the directory and numerous subscriptions.  Given that I only have an application id or client id, I'd like to search for the application and service principal in the directory that I use to authenticate against so I can give it access to Key Vault and other resources I'm about to create.

We never refer

[2018-09-09 02:33] bloudraak commented on #460
This is the code I'm currently using to find an application and service principal by the application id:

[code]

[2018-09-09 03:04] bloudraak commented on #460
Searching for a single service principal page by page, took around 2 minutes, 6 seconds.  Each page takes approx 6 seconds.

Here's the code:
[code]

[2018-09-12 00:18] ravarnamsft commented on #442
@trailmax we have done a similar thing in our service by first listing the account sas token using the fluent api and then setting the cors using C# SDK for storage. Here is some sample code"

`CloudStorageAccount cloudStorageAccount = new CloudStorageAccount(new StorageCredentials(sasToken), storageAccountName, null, true);
CloudBlobClient blobClient = cloudStorageAccount.CreateCloudBlobClient();

[2018-09-12 00:19] ravarnamsft opened #461 "Support for Cognitive Services"
Is there plan to support cognitive services api through Fluent libraries?

[2018-09-12 17:04] bmmathe opened #462 "ServiceBus.Fluent does not properly format topic and queue resource IDs that are created under a parent folder"
We have queues and topics organized under "folders" or parents to keep things organized.  We might have a queue name called orders/created which is the convention used when nesting queues in ServiceBusExplorer.  When calling serviceBusNamespace.Queus.ListAsync an exception is thrown:

The specified ID /subscriptions/[subId]/resourceGroups/[rg]/providers/Microsoft.ServiceBus/namespaces/[namespaceNa

[2018-09-13 08:37] rohinz opened #463 "ServiceBus.Fluent does not support to set an authorization rules key value"
ServiceBus.Fluent provides several `RegenerateKeys`/`RegenerateKeysAsync` methods which can be used to regenerate an authorization rules (aka. shared access policy) primary and secondary key. But non of them provides a parameter to set the keys value (although the [REST API](https://docs.microsoft.com/en-us/rest/api/servicebus/queues/regeneratekeys#request-body) and the [Microsoft.Azure.Management

[2018-09-13 12:08] michaeljdresser opened #464 "Could not load file or assembly 'Microsoft.IdentityModel.Clients.ActiveDirectory, Version=3.14.0.8, Culture=neutral, PublicKeyToken=31bf3856ad364e35' or one of its dependencies. The system cannot find the file specified.'"
We are currently looking into Azure Functions which requires both of the below packages, but there appears to be a conflict between Microsoft.AzureServices.AppAuthentication and Microsoft.Azure.Management.Fluent.

They both use Microsoft.IdentityModel.Clients.ActiveDirectory, AppAuthtication uses 3.14.2 and the Fluent uses 3.14.0.

Could the Fluent api be updated to use 3.14.2 or is there another

[2018-09-13 18:11] hovsepm commented on #464
what is your target framework?

[2018-09-13 18:14] hovsepm commented on #464
and also which version of Fluent SDK are you using? V1.15.1 is referencing following ADAL libraries:
[code]
so our dependency is 3.14.0 or higher.

BTW what runtime of the Azure Functions are you using? V1?

[2018-09-14 07:40] michaeljdresser commented on #464
We are using Visual Studio to write the function and the error we are seeing is occurring when running the function in the Azure Emulator. Were using v1 of the Azure runtime, and we are targeting .NETFramework 4.6.1.

Microsoft.Azure.Management.Fluent 1.15.1
Microsoft.AzureServices.AppAuthentication 1.0.3

We have written a very simple functions to recreate the issue with the following code: I've

[2018-09-14 08:02] michaeljdresser commented on #464
I just put the same code into a Console application and a V2 Function with the same two packages and code works. So clearly this isn't a conflict, it's something to do with V1 Azure Function or it's emulator.

[2018-09-14 08:52] rubyhog commented on #282
Hi hovsepm, I have the same issue. There are only two methods: CreateCredentialsFromCache / LoginByDeviceCodeAsync for Microsoft.Rest.Azure.Authentication.UserTokenProvider on version 2.3.4
Even I installed Microsoft.Azure.Management.Fluent 1.15.1 by Nuget after I saw this post, still can't see LoginSilentAsync method. ( Actaully previously 2.3.2's method names are CreateCredentialsFromCache / Log

[2018-09-14 08:58] rubyhog commented on #282
Target .Net framework 4.6.1 and 4.6.2

[2018-09-14 11:03] eskaufel opened #465 "Readme.md wrong name/target on link Manage service principals using Java"
The link **Manage service principals using Java** targets a c# repo. The name is a bit misleading

[2018-09-17 15:42] #464 closed

[2018-09-17 21:57] hovsepm commented on #465
@eskaufel could you post here the location of the readme.md whit the wrong link?

[2018-09-18 13:45] Jabe commented on #435
This was fixed a few days ago, my workaround is not needed anymore.

Please be more responsive in the future.

![one-does-not-simply-break-a-productive-api](https://user-images.githubusercontent.com/10817/45691824-a173bb80-bb59-11e8-8140-ee5aafc54e8c.jpg)

[2018-09-18 13:45] #435 closed

[2018-09-18 21:21] m-mertz opened #466 "Deleting last app in app service plan deletes plan, no way to override"
Deleting the last app in an app service plan also deletes the plan. This behavior is consistent throughout portal and other surfaces. But in portal or cli, for example, it can be overridden, see e.g. https://github.com/Azure/azure-cli/issues/4497 (--keep-empty-plan).

In Fluent SDK, there doesn't seem to be a way to override this so that the app service plan stays around. Relevant methods (not com

[2018-09-19 19:54] andrewbadera opened #468 "Is .NET Core 2.0/2.1 runtime stack support expected soon?"
.NET Core 2.0 and 2.1 are not yet in RuntimeStack. Any idea when that might change?

[2018-09-19 20:02] hovsepm commented on #468
@andrewbadera This repository is for Azure Management SDK Fluent libraries. Please open your issue in .Net core repository - https://github.com/dotnet/core

[2018-09-19 20:02] #468 closed

[2018-09-19 23:04] hovsepm commented on #378
Closing as no repro.

[2018-09-19 23:04] #378 closed

[2018-09-22 14:24] bloudraak opened #470 "Support for WithNewRoleInSubscription and WithNewRoleInResourceGroup on Active Directory Groups"
When creating a service principal, I'm able to make it a contributor on a subscription or resource group as follows:

[code]

However, I'm unable to use the same "fluent" api to configure access for an Azure Active Directory Group.

The most common use case is to assign users and service principals to groups and assign groups the roles and permissions.  This becomes particularly important when usi

[2018-09-23 17:23] bloudraak opened #471 "Support for Directory Roles"
I'm using the fluent api to bootstrap subscriptions, applications, groups and respective RBAC. Some subscriptions consist of numerous micro services which use OAuth 2.0 tokens when connecting to each other. Each of those micro services have a unique application and service principal in AAD. Some micro services also need additional permissions (e.g. being able to read/write to the directory, query

[2018-09-24 17:55] hovsepm commented on #465
@eskaufel thanks for pointing to the issue.

[2018-09-24 18:19] #465 closed

[2018-09-24 22:04] hovsepm commented on #448
@caz3542 1.16 is published to nuget. Please update your references.

[2018-09-24 22:04] #448 closed

[2018-09-25 08:57] olandese commented on #453
Same problem

[2018-09-26 17:31] rajbos opened #475 "Loading an EventHub By Id crashes"
AzureClient.EventHubs.GetByIdAsync(resourceId) crashes with '"Object reference not set to an instance of an object."'

Version: 1.16.0
NuGet Package: Microsoft.Azure.Management.Fluent

Interesting part of the stacktrage:
[code]

[2018-09-27 09:35] rajbos commented on #475
Still researching on this, was sending in the resourceid for a **namespace** instead of the EventHub.

[2018-09-27 22:48] hovsepm commented on #453
if your target framework is 4.5.2 I think this is unfortunate but by design issue. Microsoft.Azure.Services.AppAuthentication v1.0.3 depends on Microsoft.IdentityModel.Clients.ActiveDirectory (>= 3.14.2) while Fluent SDK depends on Microsoft.Rest.ClientRuntime.Azure.Authentication 2.3.4 which in .Net 4.5.2 has hard dependency on Microsoft.IdentityModel.Clients.ActiveDirectory v2.28.3 due to backwa

[2018-09-27 22:48] hovsepm commented on #453
@shahabhijeet could you take a look as well?

[2018-09-28 13:15] #475 closed

[2018-09-28 20:04] wy193777 commented on #365
Same error. My command:
[code]
I run this on Azure Clound Bash shell.

[code]

[2018-09-28 23:07] jsukhabut opened #476 "Need to add support for ATM Multivalue routing type"
Need to add support for ATM Multivalue routing methods and Subnet routing methods

https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-configure-multivalue-routing-method

https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-routing-methods

[2018-10-02 19:54] austincrft commented on #282
I am also seeing the same error as @rubyhog, I think this should be reopened.

[2018-10-02 20:19] austincrft opened #477 "Receiving Method not found: 'System.Threading.Tasks.Task`1<Microsoft.Rest.ServiceClientCredentials> Microsoft.Rest.Azure.Authentication.UserTokenProvider.LoginByDeviceCodeAsync(System.String, System.String, Microsoft.Rest.Azure.Authentication.ActiveDirectoryServiceSettings, Microsoft.IdentityModel.Clients.ActiveDirectory.TokenCache, System.Func`2<Microsoft.IdentityModel.Clients.ActiveDirectory.DeviceCodeResult,Boolean>)'."
I am trying to use the `Microsoft.Azure.Management.Fluent` library to login via Service Principal. I am using the following code [as recommended by the docs](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#authenticate-with-token-credentials):

[code]

This gives me the following error:

[code]

I see that this is covered in #282, which was resolved by

[2018-10-02 20:46] hovsepm commented on #477
From @rubyhog - I have the same issue. There are only two methods: CreateCredentialsFromCache / LoginByDeviceCodeAsync for Microsoft.Rest.Azure.Authentication.UserTokenProvider on version 2.3.4
Even I installed Microsoft.Azure.Management.Fluent 1.15.1 by Nuget after I saw this post, still can't see LoginSilentAsync method. ( Actaully previously 2.3.2's method names are CreateCredentialsFromCache /

[2018-10-02 20:47] hovsepm commented on #477
@austincrft could you provide some more context on your project?

[2018-10-02 21:19] vmendi opened #478 "RetryDelegatingHandler memory leak"
We are seeing a memory leak when using the Fluent SDK that seems to match this bug:

https://github.com/Azure/azure-sdk-for-net/pull/4067

The PR is already merged in the normal Azure SDK. Should it also be fixed in the Fluent SDK?

[2018-10-02 21:59] hovsepm opened #479 "RetryPolicy object provided through WithPolicy setter is overwintered with default RetryPolicy."
Here are some more code provided from Customer that they implement the retry policy and setup
[code]
[code]

Customer Request:
 How do they implement retry logic when using Azure Management Library?

[2018-10-03 18:09] hovsepm commented on #477
@austincrft could you also add target framework and what other nuget packages your project depends on (non fluent)?

[2018-10-03 20:52] austincrft commented on #477
I am targeting `net461` and the only other package I have is `Autofac` version `4.6.2`

[2018-10-03 20:57] austincrft commented on #477
In an effort to identify what is causing issues, I created a console program in the same solution with a project reference to the one that is throwing the error.

When running that code from the console wrapper I get a different error, but on the same line.

I have no references to `Newtonsoft.Json` version `6.0.0.0` in my project and the Azure library itself relies on version `9.0.1`, so I don't

[2018-10-03 22:07] hovsepm commented on #477
@austincrft .Net 4.5.2 target has hard dependency on Newtonsoft,Json 6.0. You need to migrate to 4.6.1 or higher or to .Net Core.

[2018-10-03 22:08] austincrft commented on #477
I am targeting `net461` as I mentioned above.

[2018-10-03 22:10] hovsepm commented on #477
are you using Fluent 1.6.0?

[2018-10-03 22:13] austincrft commented on #477
I am using 1.16.0, the latest version. This is my csproj.

[code]

[2018-10-03 22:16] hovsepm commented on #477
@can you share your sample project with [me](hovsepm@microsoft.com)?

[2018-10-04 07:24] alesandrino opened #480 "Cannot deploy webapp to virtual application"
I have tried hard and searched the web and samples for clues, but have not been able to get this done.
Is it not supported to deploy webapps to virtual applications, or am simply missing something?
[code]

[2018-10-04 15:07] austincrft commented on #477
**tl;dr**: I was able to get around the issue by using `WithSubscription(subscriptionId)` instead of `WithDefaultSubscription()`

I created a sample application using the same packages, targeting the same framework, and using the same service principal. It did not throw the `Method not found` exception.

I couldn't manage to figure out why, but I found a workaround by using `WithSubscription(subsc

[2018-10-04 15:31] austincrft commented on #477
Actually, that just pushed the problem further down. I am getting this same error, but on this code

[code]

[2018-10-04 15:58] austincrft commented on #477
Btw, I still get the same error when trying to create a storage account, so the error isn't ContainerGroup-specific

[code]

[2018-10-04 23:33] hovsepm commented on #477
@austincrft I'm unable to repro. Please take a look if this is exactly what you have.
project file:
[code]

code that does not throw any exception and runs till the end:
[code]

What is your development environment? OS + version?

[2018-10-05 03:52] bloudraak opened #482 "Better Control over Network Peering"
Currently when we use the fluent api to configure network peering, we're able to set the name of one peer. The opposite peer has a gibberish name.  We need to follow sensible naming conventions when creating peers, since a given network can have plenty of them (in the case of a hub and spoke topology; or mesh toplogy).

The ask is to create a peer for the source network, but not to automatically c

[2018-10-05 15:14] austincrft commented on #477
I'm not able to reproduce with a sample project either, unfortunately. I will have to do more work reproducing in a way that I can share. There must be something different about the projects that is causing the error.

[2018-10-05 16:24] TimLovellSmith opened #483 "NRE bug from ExpandableStringEnum"
[code]

[2018-10-05 18:19] bloudraak commented on #483
I'm also experiencing this too. In our case most resources are deployed in parallel and it fails "randomly".

[2018-10-05 18:42] m-mertz opened #484 "Allow creating function app without AzureWebJobsDashboard setting"
This setting is not mandatory and its usage is discouraged. App Insights logging is recommended instead: https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#azurewebjobsdashboard

Introduce something like .WithoutOldStorageLogging(), to be used like this:

[code]

It's not possible to use .WithoutAppSetting in the initial Create command, so currently it requires an additi

[2018-10-05 21:20] m-mertz opened #485 "Fix Functions on App Service Plan logic"
It feels like the Functions logic in its current form was written for the consumption plan model, and app service plan support was tacked on without proper testing. There are a few issues pointing at specific symptoms of this, but no "this needs an overhaul" type issue, so here goes.

The scenario I’d like to see enabled:

[code]

Expected outcome: A new function app with the same app settings as

[2018-10-08 14:45] austincrft commented on #477
Sorry, just realized I didn't answer your question.

OS: Windows 10
Version: 1803

[2018-10-09 00:57] Digmaster commented on #479
Is there a viable workaround for this issue in the meantime?

[2018-10-09 08:47] Dhawal05 commented on #292
Any updates on this one. I am facing same issue and I need to do it within ARM template unfortunately.

[2018-10-09 13:49] rhavlick opened #486 "Broken Links"
Hello,

  There are a few broken links on: https://github.com/Azure/azure-libraries-for-net#databases-and-storage in the SQL databases and storage section:

Restore and recover SQL databases
Get SQL Database metrics
Manage SQL Database Failover Groups
Manage SQL Server DNL aliases
Manage SQL secrets (Server Keys) in Azure Key Vault
Manage SQL Virtual Network Rules

Thanks

[2018-10-09 18:07] hovsepm commented on #479
@Digmaster unfortunately no. This is a bug that involves shared ClientRuntime component as well. Fix is already done and in the testing phase. Will be available in release 1.16.1.

[2018-10-09 23:27] hovsepm commented on #477
@rubyhog could you provide a project/code that you used to hit this issue?

[2018-10-10 13:46] jon-swain-autocab commented on #175
Any update on this?

[2018-10-10 18:11] hovsepm opened #487 "SQL Failover Group sample has a broken link in the readme.md file"
"Manage SQL Database Failover Groups" under [Databases and Storage](https://github.com/Azure/azure-libraries-for-net#databases-and-storage ) -> 404

However sample exists and can be viewed here https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/Sql/ManageSqlFailoverGroups.cs

samples.json should be fixed.

[2018-10-11 21:11] hovsepm commented on #175
@jon-swain-autocab  we do not have any plans to add MySql to Fluent SDK in the nearest future. You could alternatively look to other client libraries e.g. here - https://docs.microsoft.com/en-us/azure/mysql/connect-csharp

[2018-10-11 21:51] robwafle opened #488 "PremiumSSD functionality."
Hi.  I was able to write some code that generalizes and captures a VM to a managed image on Azure using this fluent library!  I'm so excited!  This is pretty awesome!

However, I have three small challenges I'd like some help with.

1) I can't figure out how to specify a PremiumSSD storageProfile when I create my managed image in any way.  The way I'm using is FromVirtualMachine().  Here's my curr

[2018-10-11 22:11] vmendi commented on #478
Any idea on what we can do as a workaround in the mean time?

[2018-10-12 20:09] hovsepm commented on #488
@robwafle we have a special section on configuring your devbox for development and contribution here https://github.com/Azure/azure-libraries-for-net#prerequisites

for **PremiumSSD** I'll let @anuchandy guide you through VM world.

[2018-10-12 20:14] hovsepm commented on #478
@vmendi we are on the final stages of testing a new ClientRuntime 2.3.15 and a fix in Fluent Core classes. It should be out next week as release 1.16.1.

[2018-10-12 21:05] vmendi commented on #478
Alright, thanks!

[2018-10-15 15:36] robwafle commented on #488
Thanks @hovsepm!  Hi @anuchandy is creating a Premium Managed disk indeed missing functionality, or am I missing something?

[2018-10-15 22:43] hovsepm commented on #455
Release 1.16.1 is out. Please upgrade your references. Please open a new issue if you will hit same/new errors.

[2018-10-15 22:43] #455 closed

[2018-10-15 22:43] hovsepm commented on #476
Release 1.16.1 is out. Please upgrade your references. Please open a new issue if you will hit same/new errors.

[2018-10-15 22:43] #476 closed

[2018-10-15 22:43] hovsepm commented on #478
Release 1.16.1 is out. Please upgrade your references. Please open a new issue if you will hit same/new errors.

[2018-10-15 22:43] #478 closed

[2018-10-15 22:43] hovsepm commented on #479
Release 1.16.1 is out. Please upgrade your references. Please open a new issue if you will hit same/new errors.

[2018-10-15 22:44] #479 closed

[2018-10-17 12:47] rvanmaanen opened #491 "Expose HasInner() on IHasInner interface?"
Hi,

I'm trying to get the metric definitions of a resource. The statement I wrote is the following:

`var metricDefinitions = await azure.MetricDefinitions.Inner.ListAsync(resourceId).ConfigureAwait(false);`

This results in a NotImplementedException. I traced it back to this code: https://github.com/Azure/azure-libraries-for-net/blob/0ea10a867c2e759bb05a929726cd7b18c20b0a6b/src/ResourceManagemen

[2018-10-17 13:48] sitereactor opened #492 "Adding/Removing VMs from Backend Pool in Load Balancer fails"
I have two load balancing rules (Port 80 + 443) for which I want to add or remove VMs from an Availability Set, but it doesn't appear to work and the result/outcome appears inconsistent.

[code]

Using this snippet to create everything from scratch works as expected. But as soon as I run this again with the `.WithExistingVirtualMachines(vms[1])` part changed to `.WithExistingVirtualMachines(vms[0]

[2018-10-17 13:54] sitereactor commented on #492
Adding one more oddity here:

If I use the same code as above, but update the name of the two Backend pools, it will correctly remove the two previous pools, but in return only adds the VM configuration to one of the two new pools.
(Meaning that the `httpBackendPool` property is updated from `HTTP_80` to `HTTP80` and `HTTP_443` to `HTTP443` ... which seems to me like something isn't working proper

[2018-10-17 18:28] hovsepm commented on #491
@rvanmaanen in short, Inners are a "backdoor" path to the functionality that is available but not fully implemented in the Fluent layers.

Please take a look to the sample that we provide for MD here https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/Monitor/QueryMetricsAndActivityLogs.cs#L60 . Here is a code snippet from it:
[code]
we do provide async versions for both `ListByRe

[2018-10-18 15:49] andrew-kuzovov opened #493 "Bad interfaces, no docs, no information..."
In your SDK you use strings everywhere. How should I know possible values of string properties?
For example:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.fluent.ivirtualmachineextensionbase.provisioningstate?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.Azure.Management.Compute.Fluent.IVirtualMachin

[2018-10-18 16:00] JadedATB opened #494 "TaskCanceledException creating a service bus"
In our nightly build, this started failing:

                    serviceBus = await _azure.ServiceBusNamespaces.Define(sb.Name)
                        .WithRegion(region)
                        .WithExistingResourceGroup(rg)
                        .WithSku(sku)
                        .WithNewListenRule("Listener")
                        .WithNewSendRule("Sender")
                        .With

[2018-10-18 20:32] robwafle commented on #488
Hi @hovsepm and @anuchandy, I've made some progress.  I am trying to build now, but I am getting a few errors regarding missing files within my "restoredPackages" folder.

The packages appear to be restored, I have 15 folders at: S:\azure-libraries-for-net\restoredPackages:
`
   Directory: S:\azure-libraries-for-net\restoredPackages

Mode                LastWriteTime         Length Name
----

[2018-10-18 21:46] hovsepm commented on #488
@robwafle
First, let's check that your environment is good to go. Please doublecheck that you follow the following steps:
1. Run `PrepareFluentRelease.ps1` in the `tools` folder with some non-existent fluent SDK version (e.g. `PrepareFluentRelease.ps1 1.17.18`.
2. To build packages locally you need to open VS2017 developer cmd and in the root folder of your cloned repository run `msbuild build.pro

[2018-10-18 22:18] hovsepm commented on #493
@andrew-kuzovov
Most often the SDK doesn’t use enums because the set of values returned by the service may change over time. For provisioning state, specifically, there are three required (terminal) values (Suceeded, Failed, Canceled), but there could be arbitrary other values as well. e.g. see https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations#provisio

[2018-10-18 22:38] hovsepm commented on #483
@TimLovellSmith this issue should be fixed in v1.16.1. Please open a new bug if you will still hit it.

[2018-10-18 22:38] #483 closed

[2018-10-18 22:41] hovsepm commented on #477
Seems as non-reproducible issue. Please open a new issue with repro steps if you will hit it in v1.16.1 or higher.

[2018-10-18 22:41] #477 closed

[2018-10-18 22:43] hovsepm commented on #429
Resolved.

[2018-10-18 22:43] #429 closed

[2018-10-18 22:44] hovsepm commented on #452
Closing as non-repro. Please open a new issue if you hit this in v1.16.1 or higher.

[2018-10-18 22:44] #452 closed

[2018-10-18 22:46] hovsepm commented on #453
Closing as by design. Please open a new issue if you hit this in v1.16.1 or higher in .Net Framework > 4.6.1 or .Net Core projects.

[2018-10-18 22:46] #453 closed

[2018-10-18 22:50] hovsepm commented on #395
Closing as non-repro. Please open a new issue if you hit this in v1.16.1 or higher.

[2018-10-18 22:50] #395 closed

[2018-10-18 22:51] hovsepm commented on #389
I believe this was fixed in one of the latest releases. Please open a new issue if you hit this in v1.16.1 or higher.

[2018-10-18 22:51] #389 closed

[2018-10-18 22:52] hovsepm commented on #372
Should be fixed. Please open a new issue if you hit this in v1.16.1 or higher.

[2018-10-18 22:52] #372 closed

[2018-10-18 22:54] hovsepm commented on #354
Closed as by design.

[2018-10-18 22:54] #354 closed

[2018-10-18 22:54] hovsepm commented on #353
Closing as fixed.

[2018-10-18 22:54] #353 closed

[2018-10-18 22:56] hovsepm commented on #352
Closed as by design for now.

[2018-10-18 22:56] #352 closed

[2018-10-18 22:57] hovsepm commented on #330
Closed as by design.

[2018-10-18 22:57] #330 closed

[2018-10-18 22:58] hovsepm commented on #298
Closing as fixed. Please open a new issue if you hit this in v1.16.1 or higher.

[2018-10-18 22:58] #298 closed

[2018-10-18 22:59] hovsepm commented on #251
Closing as by design for current stage.

[2018-10-18 22:59] #251 closed

[2018-10-18 23:00] hovsepm commented on #193
Closed as by design.

[2018-10-18 23:00] #193 closed

[2018-10-18 23:02] hovsepm commented on #24
Closing as by design.

[2018-10-18 23:02] #24 closed

[2018-10-19 04:44] tomkerkhove commented on #27
Is there an update on this?

[2018-10-19 05:11] veikkoeeva commented on #27
I'll add https://www.nuget.org/packages/Microsoft.Azure.Management.ApplicationInsights from the closed duplicate. It's a preview version that's currently available.

[2018-10-19 06:14] tomkerkhove commented on #27
Thanks @veikkoeeva!

[2018-10-19 14:44] robwafle commented on #488
Hi @hovsepm thanks so much for your reply!

I apologize, I was running out the door when I wrote this message and left out a few details.

Regarding step #1: I was able to get through that yesterday without issue.  I should have mentioned that.  Thanks for mentioning it though I didn't initially find this and was updating the .csproj manually to start. I was very pleased when I found it.

Regardin

[2018-10-19 16:15] JadedATB commented on #494
Update...  Using the non-async version didn't totally solve the problem.  We still had an issue in our nightly build last night:

#####################################################################

2018-10-19T04:46:08.1720990Z  [2018-10-19 04:37:16] Failed to create service bus 'sb-segment-test-ussc-9038': A task was canceled.
2018-10-19T04:46:08.1721174Z  [2018-10-19 04:37:16] System.Threading

[2018-10-19 20:42] hovsepm commented on #488
@robwafle
`binaries\packages` folder should appear in the root folder of your cloned repo.  but let's go from the start and have a fresh clone (or clean up your fork with `git clean -dfx` first - keep in mind that all uncommited changes will be erased).

here is the complete guide for you after cloning:
1 Open elevated VS 2017 command prompt
2 Navigate to repository root directory
3 Execute MsBuil

[2018-10-19 21:02] hovsepm commented on #493
@andrew-kuzovov some values can be modeled as `ExpandableStringEnum` (e.g. https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Monitor/MetricAlertRuleCondition.cs) but if the server will return a new value you code still needs to be changed to handle that. Imagine the situation when the server returns a new enum value but your code was not changed to use the latest

[2018-10-19 21:08] robwafle commented on #488
Hi @hovsepm!  It built (with 876 warnings), but it built!!!

I swear (up, up, down, down, left, right, left and right again) that I didn't do anything other than the above other than opening and trying to build in visual studio, but thanks for recommend that I start over!

I now have 104 folders in restoredPackages (including .tools) folder.  So, perhaps something is up with the logic to perform t

[2018-10-19 21:13] hovsepm commented on #488
@robwafle Congrats! :) Yeah... we have a lot of warnings...

you should use binaries from `binaries\packages` folder in your solution not restoredPackages...

[2018-10-19 21:15] robwafle commented on #488
Yes, of course.  I copied them to the tools\LocalNugetFeed as expected.

[2018-10-22 17:47] hovsepm commented on #488
1. `git clean -dfx`
2. `MsBuild.exe build.proj`
3. `msbuild build.proj /t:CreateNugetPackage /p:SkipTests=true`

Step number 2 downloads build dependencies and targets. Step number 1 cleans those files :)

[2018-10-23 19:16] tomkerkhove opened #495 "Azure Monitor - Determining what aggregation interval to use"
I'm currently working on [Promitor](https://http://promitor.io) which is scraping the Azure Monitor API for metrics based on a configuration file.

As part of an Azure Monitor query an interval needs to be defined in order to specify the metrics granularity such as:
[code]

However, depending on the metric this is different and the value needs to be exact.
Otherwise you will have exceptions like t

[2018-10-23 20:14] hovsepm commented on #495
@anirudhcavale could you help here?

[2018-10-23 20:56] anirudhcavale commented on #495
@hovsepm, @tomkerkhove : The metric granularity enums are PT1M PT5M PT15M PT30M PT1H PT6H PT1D. Most metrics support all of these granulartires.
However there are some exceptions, a few metrics only support PT5M, or only support PT1H and higher.
As you guessed @tomkerkhove the only way to know is to call "Metric Availabilities".

[2018-10-23 21:01] tomkerkhove commented on #495
Thanks for the quick help @anirudhcavale so there is no enum that covers this, however it makes sense if not every service is using the same granularities.

I'm going to close this as this answers my question, thank you!

[2018-10-23 21:01] #495 closed

[2018-10-23 22:32] skos-ninja opened #496 "Storage Account Management v1.16.1 breaking change"
It appears in the latest v1.16.1 release of the fluent api's the StorageManagementClient has removed all of the different constructors and now only accepts a RestClient.

As per this line: https://github.com/Azure/azure-libraries-for-net/blob/3dbbbe06d67ea2a5b040e0019dd6f690f95bf2b4/src/ResourceManagement/Storage/Generated/StorageManagementClient.cs#L93

However v1.16 had the following: https://gi

[2018-10-23 22:50] chlowell opened #497 "Service principal sign-on URL used as display name"
The signature of `IServicePrincipals.Define(string name)` suggests the string argument becomes the display name for the new service principal. However, this code:
[code]
produces this POST:
[code]
and the new principal's name is in fact the URL passed to `WithNewApplication()`.

[2018-10-24 15:04] andrew-kuzovov commented on #493
"Imagine the situation when the server returns a new enum value but your code was not changed to use the latest SDK." - How does using strings solve the problem? Code will break in anyway.

[2018-10-24 15:05] andrew-kuzovov commented on #493
Real solution is using API/SDK versioning.

[2018-10-24 17:32] hovsepm commented on #496
@skos-ninja ManagementClients are internal constructs and end users are generally not supposed to use them directly. Could you provide some more details on your usage scenario? Why do you create clients directly?

[2018-10-24 18:10] hovsepm commented on #493
It depends on what do you mean by "code will break anyway". Casting an unknown value to enum will cause runtime Deserialization exception and application will simply crash. Having string comparisons (if/switch) will fall into default/else clause on the application side. If your code does not handle default/else cases then yes, you will hit failure. But I think there is a big difference between run

[2018-10-24 18:33] jdevalk2 opened #499 "Data latency and PT1M intervals and zero values being returned for no-data"
I think I have observed the following behavior and would like to know if this is a bug.

Say I query an azure resource, the number of egress bytes in a Postgres SQL database for instance.
This metric supports PT1M intervals.   For the purpose of logging data points I query Azure Monitor every minute with the new value.  The default aggregation type is Average.

I give it a range of the past 5 minu

[2018-10-24 20:29] hovsepm commented on #493
@andersjoh I'm not sure I understand your scenario of "parameters in methods with 10+ nullable params". Could you provide some example in Fluent flow? Is it in the autogenerated lower level code?

[2018-10-24 20:33] hovsepm commented on #499
@anirudhcavale could you take a look to this one as well?

[2018-10-24 20:39] anirudhcavale commented on #499
@jdevalk2 so metric data usually sees a 2min delay. So, when you query for data you may see 0, or nulls for the most recent 2min if data has not yet landed or been processed. So I recommend setting a 2min offset in your queries. So if it is t10 right now, I recommend querying for metrics from t3-t8.

[2018-10-24 20:48] jdevalk2 commented on #499
@anirudhcavale Thanks for the quick answer!
Follow up question:
What are the guarantees regarding that 2 minute delay?  I am just wondering if querying after 2 minutes how many of the datapoints would still return 0?     And how long should it wait before data is guaranteed to be there?

It would still be nice to have a distinction between a "do not know / not calculated" and a "0"

[2018-10-25 04:02] ebashmakov commented on #255
@karataliu is there some kind of issue or challenge to make the SDK thread safe?

[2018-10-25 05:41] karataliu commented on #255
I'm not the library author, but I think you amy refer to guidelines here:
https://docs.microsoft.com/en-us/dotnet/standard/threading/managed-threading-best-practices#recommendations-for-class-libraries

Basically typical class libaraies are not thread safe.

[2018-10-25 18:15] hovsepm commented on #493
@andrew-kuzovov I do agree with you about documentation issues that we have. It is unfortunate and we have teams working in that area. My point is that it is not always feasible to provide the best developer experience when we have to make trade-offs between feature availability, documentation and  business needs. Azure Fluent SDK is one step forward to help developers be more productive and less

[2018-10-25 23:09] andrew-kuzovov commented on #493
I have no frustration about fluent interfaces. They are convenient, descriptive and I like it.
I used it to setup VM extension and poll its status (according to your examples).
My frustration is about untyped programming. I can't program fast and be confident about my code if it relies upon some undefined strings in properties of your SDK types.
What I want to point out here is - string is not a c

[2018-10-25 23:58] hovsepm commented on #493
@andrew-kuzovov could you help me better understand your use case? What is the flow of your application logic? In other words why do you need to fork your application execution on different provisioningState values? In case discoverability we can create a PR to the specs repository and add well known values to the [description ](https://github.com/Azure/azure-rest-api-specs/blob/master/specificati

[2018-10-26 12:30] andrew-kuzovov commented on #493
As I said - I used fluent API to update VM extension (custom script) and poll its status afterwards.
In our project we have background process which updates extension to execute script on specific VM and client app which interacts with this background process and reports status of the request.

Code is something like that:

1) Update:

`azure.VirtualMachines.GetById(command.VirtualMachineId)
				.

[2018-10-26 16:00] jdevalk2 commented on #499
I think for the purposes I needed this info, the question has been answered so closing this. If there's an addition to the query results whereby one can distinguish not-known aggregate results from known calculated ones I would welcome that as an improvement to the API.

[2018-10-26 16:00] #499 closed

[2018-10-26 17:02] dchristSC commented on #463
I also need to manage Shared Access Policies for EventHubs.

[2018-10-26 17:33] hovsepm commented on #493
just 2 cents from me which you may already know:
1. Azure Resource has 3 mandatory [provisioning state](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-async-operations#provisioningstate-values) "Succeeded, Failed, Canceled". You can use AzureAsyncOperation class from [ClientRuntime.Azure](https://www.nuget.org/packages/Microsoft.Rest.ClientRuntime.Azure/) library th

[2018-10-29 09:54] andrew-kuzovov commented on #493
But, what if I need to build some logic around "Updating" (In progress) state? I want to know all available states of VM extension resource.

[2018-10-29 14:47] jbpoulsen opened #507 "PowerState performance issues"
Hello.

I'm working on a Bot that can help us manage and maintain our Azure Virtual Machines, and I'm displaying a list of Virtual Machines in our subscription using the Bot, so far so good.

In this list I am displaying the VM's using their Name and PowerState to enable the user to make a decision whether they need to start the VM before connecting to it. It seems to me that you are throtteling t

[2018-10-29 17:40] hovsepm commented on #493
@andrew-kuzovov there are 3 so called terminal states that I pointed out in step 1 above "Succeeded, Failed, Canceled". Any other provisioning status code means "In progress". Do you need more granularity for "In progress" status? (e.g. "Updating, Configuring, Rebooting")

[2018-10-29 20:46] chlowell commented on #497
@hovsepm is there a timeline for shipping the fix?

[2018-10-29 21:03] hovsepm commented on #497
@chlowell currently planned to be out next week.

[2018-10-30 13:04] rvanmaanen commented on #491
I fell back on using the MonitorManagementClient, which really is too bad because it would have been nice not to need yet another client.

[2018-10-30 13:04] #491 closed

[2018-10-30 13:17] rvanmaanen opened #508 "Mismatch in constructor arguments in the chain from FunctionEnvelopeInner upwards"
So, situation: Trying to write unittests and wanting to mock the final call in this chain:

Azure client -> WebApps -> Inner -> ListFunctionsAsync

This isn't easy in the first place, because ListFunctionsAsync is (as well as many others) an extension method. **Question:** Why is this? Now I have to create a wrapper around the client, which implements a custom interface that exposes the same funct

[2018-10-30 13:32] rvanmaanen commented on #508
Think this was introduced here: https://github.com/Azure/azure-libraries-for-net/commit/5a9cf8c9bd440b499e45e702d6ee99dda086372c#diff-aab8c0ba10488a88c31e87e395ac733c

[2018-10-30 13:37] rlaveycal opened #509 "ResourceGroups.Create() Fails with invalid arguments when called from Azure Function V2"
I'm trying to write an Azure function to create a resource group. My code is
[code]

When run in the function host simulator, or from within Azure, I get the exception

[code]

When I run from a .Net core console app it works

### Dependencies
* Microsoft.Azure.Management.Fluent 1.16.1
* Microsoft.NET.Sdk.Functions 1.0.23

[2018-10-30 14:55] MaxWilson opened #510 "AzureServiceTokenProvider not respecting az login identity"
**Issue:** Domain-joined identity appears to override logged in identity. AzureServiceTokenProvider.<GetAccessTokenAsyncImpl>d__14.MoveNext() incorrectly throws exception (only) when run from domain-joined machine.

**Known workarounds:** none except using a non-domain-joined dev machine.

**Version:** Microsoft.Azure.Services.AppAuthentication, Version=1.0.3.0

**Minimal Repro:**

Set up an Azure

[2018-10-31 16:49] andrew-kuzovov commented on #493
Well... it depends on the situation. Anyway, it'd be better if I knew all possible set of values while I'm writing code.

[2018-10-31 22:23] pppchris opened #511 "ActivityLogs DefineQuery Bad Request"
[code]

Operation returned an invalid status code 'BadRequest'
Description: An unhandled exception occurred during the execution of the current web request. Please review the stack trace for more information about the error and where it originated in the code.

Exception Details: Microsoft.Azure.Management.Monitor.Fluent.Models.ErrorResponseException: Operation returned an invalid status code 'Bad

[2018-10-31 22:51] hovsepm commented on #511
@pppchris could you check if your `id` parameter is well formatted? If yes, please post here network payload (minus any sensitive data) of the request response including message headers.

[2018-11-01 00:52] pppchris commented on #511
@hovsepm - found the problem. I am in AEST timezone. If I change the timestamp to be UTC now it works without an issue.

`var log = await Repo.ActivityLogs
                .DefineQuery()
                .StartingFrom(DateTime.Now.AddDays(-1).ToUniversalTime())
                .EndsBefore(DateTime.Now.ToUniversalTime())
                .WithAllPropertiesInResponse()
                .FilterByResourc

[2018-11-01 06:16] pppchris opened #512 "Missing dotnet monitor sample for autoscale"
https://github.com/Azure-Samples/monitor-dotnet-autoscale-based-on-performance

Link to sample code is throwing a 404 error.

[2018-11-01 16:11] chrispatrick opened #513 "Support for MSAL"
I am in the process of writing a .NET desktop app, part of which will allow a user to interact with some of their Azure resources.

As far as I can tell, there isn't a sensible option in this library for authenticating an end-user and using impersonation to perform API calls.

I can use https://github.com/AzureAD/microsoft-authentication-library-for-dotnet in order to do the authentication side of

[2018-11-02 00:35] MaxWilson commented on #510
This turns out to have been user error, nothing to do with domain joining or az login after all. The machine which was erring had an environment variable set (AzureServicesAuthConnectionString) unbeknownst to me, perhaps left over from a tutorial in the past. Deleting this environment variable resolved my issue.

[2018-11-02 00:35] #510 closed

[2018-11-02 18:12] hovsepm commented on #512
@pppchris we will fix it in the future release. In the meanwhile you can browse that sample in our repo here  https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/Monitor/AutoscaleSettingsBasedOnPerformanceOrSchedule.cs

BTW all the samples can be viewed here - https://github.com/Azure/azure-libraries-for-net/blob/master/Samples

[2018-11-02 18:16] hovsepm commented on #513
@chrispatrick I'm not clear how is this related to Azure Management Fluent SDKs. Could you provide some more info to help us understand what is your issue with Fluent SDK?

[2018-11-02 18:28] hovsepm commented on #511
I will keep this issue open for some time until back-end service team will provide better error messages :)

[2018-11-02 19:31] chrispatrick commented on #513
The issue is that the Azure Management Fluent SDKs seem to be limited in their authentication options. Most of them seem geared around using a service principal rather than user impersonation.

For my use case, user impersonation is preferable, but I cannot find a sensible way to do this with the Azure Management Fluent SDKs. I can perform the authentication successfully outside of the SDKs and ge

[2018-11-02 20:18] hovsepm commented on #513
We do support. you can construct your `AzureClient` using `TokenCredentials` https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/ClientRuntime/ClientRuntime/TokenCredentials.cs
Here is a code snippet that should work (Note that if your code will need to make Graph.RBAC related calls you will need to acquire Grapht token  as well).
[code]

[2018-11-03 04:47] posypanka commented on #511
Thanks for that, it also did a trick for me ;-)

[2018-11-05 07:47] chrispatrick commented on #513
Ah ok, I didn't find that.

That looks like it might work, I'll give it a go and let you know if I run into any issues.

[2018-11-05 16:27] avantida opened #514 "Accessing Http20Enabled throws System.InvalidOperationException: 'Nullable object must have a value.'"
Accessing the [Http20Enabled ](https://github.com/Azure/azure-libraries-for-net/blob/b101b4382ad59d3f3107a190f838dfc6c5460e2b/src/ResourceManagement/AppService/WebAppBaseImpl.cs#L89) when the internal SiteConfig property is null will throw:

When loading the current list of WebApps, the SiteConfig is null.
[code]

[2018-11-05 19:02] danports opened #517 "Specifying proxy credentials"
I'm working behind a corporate proxy that requires authentication. When I try to do something simple like this to create a resource group, I get a HTTP 407 (Proxy Authentication Required) error: `azure.ResourceGroups.Define(groupName).WithRegion(location).Create()`

I was able to work around the issue with this nasty piece of work:
[code]

Is there a better (i.e. supported) way to do this? I searc

[2018-11-05 19:33] TeaTable opened #518 "Traffic Manager needs way to configure IntervalInSeconds, ToleratedNumberOfFailures and TimeoutInSeconds"
Currently in the library I don't find a way to configure Traffic Manager monitor with intervalInSeconds, toleratedNumberOfFailures or timeoutInSeconds:

"monitorConfig": {
      "profileMonitorStatus": "Inactive",
      "protocol": "HTTP",
      "port": 80,
      "path": "/testpath.aspx",
      "intervalInSeconds": 30,
      "toleratedNumberOfFailures": 3,
      "timeoutInSeconds": 10
    }

The a

[2018-11-05 20:47] lmazuel opened #519 "ACR Fluent"
C# version of https://github.com/Azure/azure-libraries-for-java/issues/639

[2018-11-06 19:20] hovsepm commented on #497
v1.17 is out. Please upgrade your reference.

[2018-11-06 19:20] #497 closed

[2018-11-07 21:28] acehenry commented on #211
I am also having this issue, where my function app name is exactly 24 characters and I get the  "'accountName' exceeds maximum length of '24'" error message.  I will have to manually create sites until this is fixed. Thanks.

[2018-11-07 23:48] lmazuel opened #522 "Update azure-mgmt-graph-rbac to latest Authorization + GraphRBAC"
C# version of https://github.com/Azure/azure-libraries-for-java/issues/646

[2018-11-08 19:01] chlowell commented on #496
@hovsepm This is an awkward breaking change for my app, which for example used `ResourceManagementClient` to register a resource provider for a subscription. I don't find any way to do that with the fluent SDK.

Some other things I was using management clients for:
- get a resource by its id (`ResourceManagementClient.Resources.GetByIdAsync()`)
- query resources within a resource group (`ResourceM

[2018-11-08 19:05] chlowell commented on #450
@hovsepm I have the same issue with the Event Grid provider, which so far as I can tell by design needs to be manually registered for a subscription (see e.g. the the [quickstart docs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-quickstart?toc=%2fazure%2fevent-grid%2ftoc.json#enable-event-grid-resource-provider)).

[2018-11-09 02:10] pppchris opened #523 "Deleting VMSS instances throws lock exception via SDK not via UI"
When a user has Contributor role assigned and deletes a VMSS VM instance it throws an error due to a resource group delete lock via the SDK yet when deleting an instance with same user via the Azure Portal it works without any exception.

- .Net 4.8.2
- 1.17 Version Fluent
- Microsoft.Rest.ClientRuntime v.2.3.17
- Microsoft.Rest.ClientRuntime.Azure v3.3.18
- Microsoft.Rest.ClientRuntime.Azure.Auth

[2018-11-12 02:52] pppchris opened #524 "Creating lock throws exception"
When creating a lock using:

- .NET 4.7.2
- Microsoft.Rest.ClientRuntime - v2.3.18
- Microsoft.Azure.Management.*.Fluent v1.17.0

Throws exception

`var resourceGroup = await Repo.ResourceGroups.GetByNameAsync(resourceGroupName);

            var Lock = await Repo.ManagementLocks.Define(lockName).WithLockedResourceGroup(resourceGroup.Name)
                .WithLevel(LockLevel.CanNotDelete).CreateA

[2018-11-12 18:20] hovsepm commented on #524
@pppchris It looks like the underlying implementation did not get SubscriptionId propagated. Could you provide a sample code of the full scenario starting from authentication till the call to define the Lock object (without username, password and subscriptionID values etc)?

[2018-11-13 23:49] hovsepm commented on #524
@pppchris thanks for catching this. Fix will go out to public in v1.18.

[2018-11-15 12:42] padillah opened #526 "Cannot provision AppInsights using API 2015-05-01"
I am trying to provision an Application Insights resource but if I use the 2015-05-01 api the instance I end up with always reports "Error reading data" in the Search pane.
{
   "$schema" : "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
   "contentVersion" : "1.0.0.0",
   "parameters" : {
      "appInsights-name" : {
         "type" : "String"
      }
   },
   "

[2018-11-15 19:02] hovsepm commented on #526
@padillah please reopen this issue in https://github.com/Azure/azure-sdk-for-net/issues repository.

[2018-11-15 19:02] #526 closed

[2018-11-16 11:31] richardacre commented on #517
Seconded. This is a blocking issue for us

[2018-11-17 05:27] nschonni opened #527 "AcessTokenNotFound is misspelled"
Should be Ac**c**essTokenNotFound but I'm not sure if you can make that change now

[2018-11-19 17:49] TimLovellSmith commented on #483
@hovsepm Cool, thanks to whoever fixed it!

[2018-11-19 19:15] hovsepm commented on #527
@anuchandy this is in `azure-libraries-for-net\src\ResourceManagement\ResourceManager\Authentication\MSILoginException.cs`. Please consider fixing it in the major version change.

[2018-11-19 23:02] SIGAN opened #528 "Please update references to ADAL v4.4.0 which contains a lot of important fixes."
Could you please update references to ADAL v4.4.0?

There are a lot of important issues fixed in ADAL v4.3.0 and v4.4.0.

Please check the link below:
https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases

4.4.0:
-Improvements and fixes to the token cache

**The serialized token cache can now be shared by different applications**, therefore providing SSO if the same user sig

[2018-11-20 00:18] hovsepm commented on #528
@SIGAN our ADAL dependency comes from Authentication which is hosted in a different repository and is owned by a different team - https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/Auth/Az.Auth/Az.Authentication/Microsoft.Rest.ClientRuntime.Azure.Authentication.csproj#L39 . Please reopen your ADAL 4.0 upgrade request in that [repository](https://github.com/Azure/azure-sdk-for

[2018-11-20 00:18] #528 closed

[2018-11-20 00:19] hovsepm commented on #528
Closed as By Design. Unfortunately we cannot upgrade Fluent SDK only. The upgrade should be done in Microsoft.Rest.ClientRuntime.Azure.Authentication nuget package.

[2018-11-20 10:45] AndrewJByrne commented on #139
I'm hitting the same issue. @MystK your tip about clearing the AppData, while not practical in production, helped to narrow this down for  me a little. It definitely seems as if something stored in the LocalSettings, in the **ActiveDirectoryAuthenticationLibrary**  ApplicationDataContainer instance is causing the issue when you try to connect a second time.

I get the same ArgumentNullException an

[2018-11-26 10:07] mehmetkut opened #530 "Is there plan to support Media Services api through Fluent libraries?"
Is there plan to support Media Services api through Fluent libraries?

[2018-11-26 15:44] Alexei-B commented on #109
I feel like the workaround described in this issue still isn't complete. How does one go about obtaining the token(s) from a connected account from PowerShell while in a .NET library? Looking in my user folder there are suspect files (AzurePSDataCollectionProfile.json & TokenCache.dat) but these don't look trivial to process.

[2018-11-26 22:08] hovsepm commented on #530
not for the next several releases.

[2018-11-27 18:20] jsukhabut commented on #518
This is becoming important for us now to use the Fast Failover feature.

https://azure.microsoft.com/en-us/updates/fast-failover-and-tcp-probing-in-azure-traffic-manager/

[2018-11-28 00:03] TimLovellSmith opened #532 "Frequent 'TaskCanceledException' when making several parallel calls"
In version 1.15.1

Oh the dreaded TaskCanceledException! What I have seen so many times now is that I am trying to run a bunch of functional tests in parallel. They all try to use the SDK in parallel, and then they all blow up like this:

Message: System.Threading.Tasks.TaskCanceledException : A task was canceled.

Result StackTrace:
at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSucces

[2018-11-28 19:45] TimLovellSmith opened #533 "GetByIdAsync shouldn't really automatically fetch child resources should it?"
I'm noticing this with SDK 1.15.1. The issue is, while it might sound good from usability POV it seems quite unforunate from efficiency and scalability POV (especially vulnerability to throttling) that there seems to be, by default, an automatic call to list redis cache patch schedules every time you try to get redis cache details by its ID?

 Stack Trace:
      at System.Runtime.CompilerServices.

[2018-11-28 20:20] TimLovellSmith opened #534 "'RedisCache.Keys.PrimaryKey' apparently deadlocks by blocking SynchronizationContext"
With SDK 1.15.1
All my worker threads from the current SynchronizationContext are stuck in Fluent.Core.Extensions 'Synchronize' so none of them can make progress to do work :(

Thread view:
Not Flagged		27252	16	Worker Thread	<No Name>	Microsoft.Azure.Management.ResourceManager.Fluent.dll!Microsoft.Azure.Management.ResourceManager.Fluent.Core.Extensions.Synchronize<Microsoft.Azure.Management.Redis

[2018-11-29 23:20] jsukhabut commented on #518
@hovsepm  I am currently working on adding this to the library.

I am also going to add enabled/disable Traffic View feature.

[2018-11-30 03:47] thered121 opened #536 "ARM template deployment does not work when WithParameters property is used"
So I've been fighting with this for a few days.  I'm attempting to deploy an ARM template with a parameters file using the following code
[code]

But I keep getting

Both template and parameters are read in from files and passed as Json strings (I did try passing as JObjects but got the same error).  Passing the ARM template seems fine since passing it and an empty WithParameters results in an err

[2018-11-30 12:40] smartouss opened #537 "Not fount issue creating host name binding with third party domain"
Hi.

Im trying to create host name binding with third party domain to a web app slot in azure, following is my code:
`slot.Update()
                .DefineHostnameBinding()
                .WithThirdPartyDomain("mydomain.com")
                .WithSubDomain("cname")
                .WithDnsRecordType(CustomHostNameDnsRecordType.CName)
                .Attach()
                .Apply();`

Im gettin

[2018-11-30 15:06] thered121 commented on #536
So after forking the repo and building a local copy to debug with I figured out what was wrong.  The parameters template not only doesn't need the schema and contentVersion but the parameters object is unnecessary as well.  The working parameters file looks like as follows
[code]
Is this how it's supposed to look for use in the WithParameters call?  From all the sample parameter files I've found t

[2018-12-01 00:53] manish1604 opened #538 "Failed to encrypt VM"
IVirtualMachine.DiskEncryption.EnableAsync(keyVaultId, aadClientId, aadClientSecret
is failing to encrypt the virtual machine disks.

Error stack trace:

Long running operation failed with status 'Failed'. Additional Info:'VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: "Failed to configure bitlocker as expected. Exception: ProtectKeyWithExternalKey failed

[2018-12-03 14:00] andtii opened #539 "How to update ApplicationPermissions on ActiveDirectoryApplication"
How can i update the ApplicationPermissions using the Fluent API? Currently the  Azure.AccessManagement.ActiveDirectoryApplications.GetById("asd").Update() dosent contain any method to set new Permissions. Is there some other way this can be achieved?

[2018-12-03 14:36] ironicLemon opened #540 "Allow Elastic Pool Edition Update"
You can update the edition of a SQL database, but not an elastic pool.

Can this be added?

[2018-12-03 14:37] ironicLemon opened #541 "Sql vCore"
Will there be support coming for vCore model for Sql and Elastic Pools?

[2018-12-03 16:40] andtii opened #542 "ActiveDirectoryApplications.Define fails with .WithAvailableToOtherTenants(true)"
When creating

`
var app = Azure.AccessManagement.ActiveDirectoryApplications
                .Define("TestApp")
                    .WithSignOnUrl("https://localhost:44321/sign-on")
                    .WithAvailableToOtherTenants(true)
                .Create();
`

I get back the following exception:  wCOperation returned an invalid status code 'BadRequest'

when removing the .WithAvailableToOth

[2018-12-04 14:49] andtii commented on #542
@jianghaolu Any idea of what could be the issue here?

[2018-12-05 00:11] kblooie opened #545 ""No-Wait" support when creating AKS clusters"
When creating an AKS cluster, using code similar to the example (https://github.com/Azure-Samples/aks-dotnet-manage-kubernetes-cluster/blob/master/Program.cs), the task returned by CreateAsync looks like it's waiting for the entire provisioning process to complete before returning. Creating a cluster with 10 nodes takes around half an hour. It's not realistic to await that long in a web or queue b

[2018-12-05 18:43] ianlar opened #546 "Certificate Thumbprint mangled"
I'm not sure how to add a certificate to an application and have the thumbprint show up correctly in the portal. Right now the thumbprint is the ASCII hex values of whatever the string passed to DefineCertificateCredential() is. Is this a bug, and if not, what's the right way to add a cert as an application key? This is what I'm currently doing, and the thumbprint in the portal shows up as 4242424

[2018-12-05 21:38] andtii opened #547 "AKS - How to create virtual nodes when provisioning cluster"
We need to be able to create clusters with Virtual Node support enabled. Cant find how to do it!

[2018-12-05 21:43] andtii commented on #542
@hovsepm You are assigning @jianghaolu to issues but no responses this issue didnt get any attention for one month - https://github.com/Azure/azure-libraries-for-net/issues/509

I mean we need feedback is this guy alive?

[2018-12-10 09:11] jengstro2 commented on #204
Ok. The Tag(s). So Microsoft has new vocabulary where Delete is synonym for WithoutTag 😏
Also Update means -> "Create only", like you were wondering

Here is "update" example.
[code]

[2018-12-10 21:26] lmazuel opened #549 "Update ACI to latest Swagger"
Translation of https://github.com/Azure/azure-libraries-for-java/issues/676

[2018-12-12 14:48] jengstro2 opened #551 "Creating/Deleting tags for virtual machine resource is taking > 10 seconds"
Creating a virtual machine tag, takes >10 seconds.

[code]

However, for ResourceGroup level tag creation takes less than 1 second

[code]

[2018-12-12 17:27] Cosebdd opened #552 "Cannot list tags of the subscription"
There is no possibility to list subscription's tags, despite the fact that it's possible through PowerShell and Rest API:
/subscriptions/{subId}/tagNames endpoint for Rest API and
Get-AzureRmTag cmdlet in PowerShell

Would be really nice to support it, as for now user is only able to list tags using the ResourceGroups property of the IAzure interface

[2018-12-13 10:45] thegreatdane6 commented on #539
I have the same issue. Would be nice to know.

[2018-12-13 17:08] fgarciachipi opened #553 "Using AzureCredentialsFactory.FromServicePrincipal with a certificate throws System.NullReferenceException"
I created a console application using .NET framework 4.7.2 to connect to the Azure Resource Manager API using these nuget packages:

- Microsoft.Azure.Management.ResourceManager.Fluent: v1.18.0 | [download link](https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager.Fluent/)
- Microsoft.Azure.Management.Fluent: v1.18.0 | [download link](https://www.nuget.org/packages/Microsoft.A

[2018-12-14 13:21] NikitHern opened #554 "403 returning while trying to delete a user from AD"
Hi
While developing an app i have faced an issue:
`await _azure
                .ActiveDirectoryUsers
                .DeleteByIdAsync(userId);`
does not delete user and does not throw any exception, while in the fiddler i can see:
![image](https://user-images.githubusercontent.com/21967237/50005552-d60ddc80-ffbb-11e8-89ea-7416a235536d.png)
the response code is 403.
In the graph api documentation

[2018-12-14 15:17] andtii commented on #539
Wow @thegreatdane6 great work finding this. I used your findings to implement update permissions on existing app also.

` public static IUpdate UpdateRequiredPermissions(this IUpdate @this, params RequiredResourceAccess[] requiredResourceAccess)
        {
            Type objType = typeof(ActiveDirectoryApplicationImpl);
            var updateParametersProp = objType.GetField("updateParameters", B

[2018-12-14 18:54] anirudhcavale commented on #495
Unfortunately not, we expect the exact granularity to be provided.

[2018-12-17 10:44] vivekjain19 commented on #320
Any update on supporting to expose a way to create resource, without waiting for it fully provisioned?

[2018-12-17 13:10] andtii commented on #542
I found the issue. If you want to have multi tenancy you must supply WithIdentifierUr("") l that is not pointing to localhost. If you dont provide WithIdentifierUrl  then it will be automatically set to same as WithSignOnUrl("https://localhost:44321/sign-on") making it point to localhost which is not allowed.
Updated working example below

`
Azure.AccessManagement.ActiveDirectoryApplications

[2018-12-17 13:58] pkbfs opened #555 "Exception thrown when RunCommandInputParameter constructors value parameters data contains an ampersand"
Hi,

I have been trying to execute a Powershell script where I pass the URL of a file stored in an azure storage account.

I have been using the RunPowerShellScript method on Microsoft.Azure.Management.Compute.Fluent.VirtualMachineImpl class.

Due to the name/value pairs in the URL it contains (&) ampersand characters.

Although the powershell script received the parameters it was passed, successf

[2018-12-17 20:18] jonathanantoine commented on #457
Any update on this issue? Would love to see it closed :) Thanks @m-mertz for the workaround !

[2018-12-18 01:49] ebashmakov opened #556 "AppServices: allow to set MinTlsVersion in the Fluent API"
Please allow specifying `MinTlsVersion` during creation or update of `AppServices`.

Example:

[code]

[code]

Azure CLI supports it as well:

[code]

[_the original issue_](https://github.com/Azure/azure-sdk-for-net/issues/4960)

[2018-12-18 08:05] tomkerkhove commented on #495
Too bad, thanks for the info!

[2018-12-18 17:37] luthus opened #557 "Local MSI Login using AAD account"
Currently there are two MSIResourceType values (AppService & VirtualMachine). Neither of these work when trying to login with MSI when running locally on my machine.

Is there currently any work planned to add this functionality?]

[2018-12-21 01:32] ccic opened #558 "There is no example for MonitorClient's replacement MonitorManagementClient"
I want to monitor Web App's CPU & Memory usage. I found this example https://github.com/Azure-Samples/monitor-dotnet-multidimensional-metrics-api/blob/master/Program.cs, but the MonitorClient class is not found when I refer Microsoft.Azure.Management.Monitor.Fluent 1.18.0.

I found there is a breaking change in latest SDK version, which said "the client **MonitorClient** does not exist anymore. On

[2018-12-21 06:18] jwyin opened #559 "An error when creating work space"
C# Code:
AzureCredentials credentials = SdkContext.AzureCredentialsFactory.FromFile(@"D:\\MyProjects\\TestBatchAI\\TestBatchAI_Core\\authentication-key.txt");
            IAzure azure = Azure
                    .Configure()
                    .WithLogLevel(HttpLoggingDelegatingHandler.Level.Basic)
                    .Authenticate(credentials)
                    .WithDefaultSubscription();

[2018-12-23 21:40] nithril commented on #110
Assigning applicationGatewayBackendAddressPools to the ipConfigurations section of the ARM template for the NIC configuration is not the most logical and practical way of doing it.

IMHO the logic would be to create the VM with its NIC, **then** to assign the NIC to the AG. And not the contrary.

[2018-12-26 18:51] hovsepm commented on #558
you can get ManagementClient directly from the MonitorManager. e,g,
[code]

[2018-12-27 07:30] venujakasun opened #560 "Thumbprint Conflict in Host Name Ssl Binding"
When going to add ssl bind to a web app using fluent it is giving an error
"The certificate with thumbprint 'xxxxxxxxxxxxxxxxxxxxxx' does not match the hostname 'sample.xxxxx.com"

- Then investigate the fluent code in  "**HostNameSslBindingImpl.cs**" there is a method to Get Certificate Thumbprint. in that method it is returning the first Thumbprint.
**Problem is the fist Thumbprint is not a uniq

[2018-12-27 19:08] tylerd commented on #364
The same issue occurs when updating the tags for a resource group managed by Azure Kubernetes Service (AKS)

Without going into detail …

The ResourceManager fluent library uses `api-version=2017-05-10` -- as set in the [ResourceManagementClient class here](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Generated/ResourceManagementClient.cs)
The

[2018-12-27 19:11] tylerd commented on #364
If anyone is experiencing this issue, you can either use the [core Management SDK](https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager) (which is pretty much un-documented …)
Or I believe you can use the Azure PowerShell Module to update the tags, because it uses the updated Management SDK

[2018-12-28 11:59] rob-hendrickx commented on #462
Any update?

[2018-12-28 15:15] bchebrou opened #561 "Support for Alerts Management API"
Hello,

I can't find how to manage alerts using Microsoft.Azure.Management.Monitor.Fluent.dll or Microsoft.Azure.Management.Monitor dll. Is it planned to add the methods already available in the REST API to  :
 - List all existing alerts
 - Change the state of an alert
 - Get a specific alert
 - Get the history of an alert
 - Get a summarized count of your alerts

REST API Documentation : https://

[2018-12-28 18:34] hovsepm commented on #561
@bchebrou it does not exist in the SDK yet. I'll update this issue once it is available in one of the packages.

[2019-01-02 07:44] bchebrou commented on #561
@hovsepm, ok thanks for your feedback. I will use the REST api for the moment.

[2019-01-03 19:21] abharath27 opened #562 "Adding subnets with mixed case names to Cosmos DB firewall results in errors"
Consider this scenario:
1. I want to restrict a cosmos DB account to accept traffic from a subnet "Subnet1". I use Fluent to call `_cosmosDBAccount.Update().WithVirtualNetwork(virtualNetworkId, "Subnet1").Apply()`. This works as expected.
2. If I call `_cosmosDBAccount.Update().WithVirtualNetwork(virtualNetworkId, "Subnet1").Apply()` again,  it adds a new entry to the [this.virtualNetworksMap](htt

[2019-01-04 09:52] rajbos opened #563 "SqlDatabase.Inner.Tags isn't populated when loading databases from a SqlServer"
SqlDatabase.Inner.Tags isn't populated when loading databases from a SqlServer.

[code]

Doublechecked with PowerShell that the resource does have tags on it via:
[code]

[2019-01-07 21:54] hovsepm opened #564 "Migrate Redis Premium functionality to Redis Standard and Basic"
Per Redis team request we need to enable following features on Standard and Basic Sku:
[code]

[2019-01-07 22:14] anuchandy opened #565 "Expose Disk.EncryptionSettings in the fluent interface"
PowerShell uses the recent 2.2 version of Azure Encryption Extension. This particular version of extension does not store the encryption settings under VM.osDisk.EncryptionSettings, instead it stores the information under EncryptionSettings property of managed disk backing the VM OS disk https://docs.microsoft.com/en-us/rest/api/compute/disks/get#encryptionsettings .

This means we need to expose

[2019-01-08 06:57] scottgerring commented on #556
I'd also like this  #421

[2019-01-09 19:24] #537 closed

[2019-01-10 11:55] giuliov opened #569 "Adding Deployment slot to Function App using Fluent API fails with InternalServerError"
I tried the following code but is always failing
[code]

The account is Contributor to the Subscription. I re-created the (Windows) Function App multiple times to clear the field.

The response to the last call, extracted from the exception, is:
[code]

These are some hopefully useful headers from the exception:
[code]

There is a similar comment on #212 but no solution.

Hope you can shed some li

[2019-01-14 07:49] boysensci commented on #358
It seems like the management.azure.com API expects, that the certificate must be in the same resource group as the app service plan. The implementation also expects this:
https://github.com/Azure/azure-libraries-for-net/blob/5a9cf8c9bd440b499e45e702d6ee99dda086372c/src/ResourceManagement/AppService/HostNameSslBindingImpl.cs#L146

A workaround locally (though not fully working) would be the followi

[2019-01-14 09:06] boysensci commented on #358
A fully working workaround is this:
[code]

[2019-01-14 22:11] hovsepm commented on #553
@fgarciachipi according to ClientRuntime code your certificate **should** contain RSA private key - https://github.com/Azure/azure-sdk-for-net/blob/psSdkJson6/src/SdkCommon/Auth/Az.Auth/Az.Authentication/ClientAssertionCertificate.cs#L40
Could you try the code with the valid Cert? I agree that message is not correct though.

[2019-01-14 23:01] fgarciachipi commented on #553
Yes, I can try with other certificate. Other thing to have in mind is that azure portal accepted that certificate in the Azure Active Directory, so, if that is a requirement the portal shouldn't accept the certificate.

[2019-01-15 08:11] jengstro2 opened #571 "Retrieving ResourceGroup.Tags recognizes arbituary string as DateTime converts to localized DateTime string"
If you store Tag with a some date time string, when retrieving the existing tags for resourceGroup. Automatic DateTime culture localization is done for the time stamp String.

Storing string as tag: "2019-01-15T07:40:04"  -> when getting that back resGroup.Tags, unwanted conversion/localization happens to "01/15/2019 07:40:04".

I would understand this if the Tag field itself was dedicated to Date

[2019-01-15 22:37] hovsepm commented on #571
@jengstro2 unable to repro. Could you paste here the your code sample?
Here what I've tired:
[code]
here is the server response (only tags property)
[code]

and what I see in the IDE

![image](https://user-images.githubusercontent.com/7052173/51214505-fab6e600-18d2-11e9-98a0-11bf37572b8a.png)

[2019-01-15 22:43] hovsepm commented on #553
@fgarciachipi there may be a functional bug in the existing code as well. We will take a look.

[2019-01-15 23:43] hovsepm commented on #563
@rajbos this is a bug in the SQL Database API version 2014-04-01 that we rely on. The solution would be to migrate to the latest available Sql V3 however this is a very big functional and breaking change. In the meantime as a workaround, you can get tags by making Get call `sqlServer.Databases.GetById(database.Id)`. This will return you the full object with Tags. It will add one extra REST call to

[2019-01-16 19:00] hovsepm commented on #563
@rajbos BTW, you can also call `database.Refresh()` which will do the same `GetById` underneath and populate tags.

[2019-01-16 22:11] hovsepm commented on #558
Closing as resolved.

[2019-01-16 22:11] #558 closed

[2019-01-17 08:03] CoenraadS opened #574 "Creating an ACI with CreateAsync does not return fast enough"
Hello

We use an Azure function to start an ACI. The ACI then runs and when it completes it sends a message to another function to delete itself.

`[function1] -> CreateAsync() -> [aci] -> [function2] -> delete ACI`

Our docker completes its work pretty fast, and the CreateAsync then throws an exception when it gets deleted, although imo the CreateAsync should of already returned.

Now I have code

[2019-01-17 08:11] CoenraadS commented on #320
Also looking for an update, we spawn hundreds of containers at once and this issue is causing thread exhaustion.

[2019-01-17 08:17] CoenraadS opened #575 "azure.ContainerGroups.ListByResourceGroup is difficult to use when resources are being deleted"
Hello

In our environment we are constantly creating and deleting containers. Sometimes we also want to list through current containers using

`azure.ContainerGroups.ListByResourceGroup`

However if a resource is deleted, the enumerator can no longer iterate. The work around is to use something like:

[code]

imo the api should always be enumerable even if the resource was deleted

[2019-01-17 10:06] giuliov commented on #569
Ping

[2019-01-18 01:00] hovsepm commented on #562
@abharath27 could you provide some more details why would you add same Virtual Network several times to the same cosmos account? I just want to understand your scenario better to make sure we will have a proper fix here.

[2019-01-18 14:26] dendle opened #576 "Sql Management - Create database WithExistingElasticPool does not work, and no tags added"
Hello All,
My intention is to create a new database, from an existing bacpac, stored in azure storage, inside an existing elastic pool. Also, I wanted to add a tag.
Here is my fluent call:
[code]
The database gets created, but as an S0 service objective, and not associated to the pool I indicated.  Also, the database had no tags.

Is this a bug, or am I doing something wrong?

Thanks,
Matt

[2019-01-21 08:13] jengstro2 commented on #571
Odd, if you can't reproduce.. Can you try to write to actual VirtuamMachine resGroup, not to resGroup itself? Also, try with one value. here is my code snippet:

`public static bool WriteVMPowerOffTag(IAzure azureAPIConn, string vmName, string timeToPowerOff)
        {
            var resGroup = XYZAzureVMDataModel.VMControlList.Where(x => x.Name == vmName).Select(a => a.ResGroup).FirstOrDefault()

[2019-01-22 12:45] kierenj commented on #124
Just a quick note that the "service principal registration" link is still linking nowhere.

[2019-01-22 23:18] #514 closed

[2019-01-23 08:35] kierenj opened #577 "Any way to have user enter credentials?"
I hope this isn't to inappropriate - I'm trying to  use the library, but auth is proving fiddly.
 I'd like to prompt the user for credentials then perform resource management on their behalf.  Is that possible with this library, maybe combined with another?  I've tried some stuff, as below..

https://stackoverflow.com/questions/54322913/credentials-prompt-for-access-to-azure-management-apis

[2019-01-23 21:30] hovsepm commented on #562
Fixed and shipped in v1.19

[2019-01-23 21:30] #562 closed

[2019-01-23 23:07] abharath27 commented on #562
Just to add more details on why we're adding the same virtual network several times: Our team created a C# console app that reads an inventory file and provisions/updates all the Azure resources in several environments (Dev/Staging/Prod). This app is configured to run in our Azure Devops pipeline each time someone checks in a change to the inventory or the code.

[2019-01-24 08:40] kierenj commented on #577
I found https://stackoverflow.com/questions/43970577/azure-authenticate-with-interactive-user-login-microsoft-azure-management-fluen/46289263#46289263 ... with @hovsepm 's advice to use device flow.  Is there any guidance available, or perhaps a sample, around using device flow?

[2019-01-24 17:01] VaclavK opened #579 "KeyVault define access policy - ForObjectId vs. ForServicePrincipal"
this may be a documentation exercise but we would like to understand the reasons for an exception we are getting when setting up KV with access policy "for service principal" vs "for object id" - of the AD App Service principal - which works

[code]

attempting to use ForServicePrincipal with app id (or the object id for that matter) gives us rbac graph exception with the underlying response conta

[2019-01-24 17:12] VaclavK commented on #579
this may be a documentation exercise but we would like to understand the reasons for an exception we are getting when setting up KV with access policy "for service principal" vs "for object id" - of the AD App Service principal - which works
[code]

attempting to use ForServicePrincipal with app id (or the object id for that matter) gives us rbac graph exception with the underlying response contai

[2019-01-24 18:15] glaidler commented on #61
Hi, sorry but I can't follow the specifc fluent code I need to execute this..  I have tried:

_azure.WebApps.GetById(AppInstanceId).Update()
                .WithThirdPartyHostnameBinding(domain).DefineSslBinding().ForHostname(domain)
                .WithExistingCertificate(thumbprint).WithSniBasedSsl().Attach();

But this does not work.  Can anyone supply code that works against the interface de

[2019-01-24 18:44] hovsepm commented on #577
You can check similar issue for DeviceFlow here - https://github.com/Azure/azure-libraries-for-net/issues/398

Unfortunately you cannot enumerate tenants during login (at least in Fluent Authentication). One way that this could be potentially enumerated is to authenticate against Graph Endpoint and get user information from there.

[2019-01-25 08:36] kierenj commented on #577
Ugh, the solution: I had to use "App Registrations" under Azure AD, not "App Registrations (preview)".  Anyone have any ideas why?

Also, I put the string `"common"` as the tenant ID for `FromDevice`.  Again, anyone know why this would work?

[2019-01-25 11:42] MilindThakkar opened #580 "API Management support"
HI,
I couldn't find support for API Management Service (which is there is SDK with Nuget package Microsoft.Azure.Management.ApiManagement).
Am I missing something ? If not, is the support in plan ?
-Milind

[2019-01-26 12:49] aykay76 commented on #557
MSI login in Azure doesn't seem to be working for me either. I have a web app using MSI and am attempting to use Fluent to get some information from AAD. I use the following to create a credential:

`AzureCredentials credentials = new AzureCredentials(new MSILoginInformation(MSIResourceType.AppService), AzureEnvironment.AzureGlobalCloud);`
.. and authenticate ..
`Azure.IAuthenticated aad = Azure.C

[2019-01-27 15:09] LeEmo86 commented on #292
We're experiencing the same issue, has anyone had any luck fixing this problem consistently?

[2019-01-27 19:38] DanFrei64 commented on #292
For me the issue was a bad automation account certificate on the server. I went to the computers certificate store and deleted all of the automation account certs and I was able to deploy the extension then.

[2019-01-28 15:26] LeEmo86 commented on #292
@DanFrei64 Thanks for your suggestion, this didn't work for me but for anyone who does need to remove certificates (I believe by default they only last 12 months) I've written a powershell one liner for this. You will need to have administrator privileges:
`Get-ChildItem -Recurse -Path cert: | Where-Object { $_.Subject -like '*AzureDSCExtension*' } | ForEach-Object { $_ | Remove-Item -Force }`

We

[2019-01-28 18:11] TimLovellSmith opened #581 "Unintended consequences: trying to update just your SKU updates your capacity"
Hi,
With Fluent SDK 1.15.1
I noticed that this code didn't behave as I intended it to while writing the code!

[code]

Problem: .WithStandardSku() takes an optional capacity argument, and if you don't supply it, it defaults to capacity *zero*, instead of the cache redisCache's *current* capacity.

Expected: it should use the cache's current capacity, so that when I'm trying to scale my cache from

[2019-01-29 08:20] kierenj commented on #577
I've been using plain-old `HttpClient` and the `Microsoft.IdentityModel.Clients.ActiveDirectory` NuGet package now, and have been able to use device flow to get tokens for various tenants.  Is there some way I can use these tokens with the fluent library?

[2019-01-29 16:30] JacobHenner commented on #338
Also experiencing this issue with the latest version. Are there plans to tackle this soon? It's breaking part of our IaaS provisioning.

[2019-02-01 12:15] vivekjain19 commented on #345
I am also facing same problem, please respond this.

[2019-02-02 00:04] praries880 opened #582 "Upgrade ContainerInstances functionality to a newer API version"
In order to assign user assigned identity to containers, we need to move to a [newer version of the API].(https://github.com/Azure/azure-rest-api-specs/blob/dd4a045c172e8d0bf9d32a0cf4dddea085cf612c/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01/containerInstance.json#L1291).

Investigate on what new features have  been introduces in the new API versi

[2019-02-02 16:47] j055 opened #583 "WebApp Application Logging retention days not set"
When you set ```WithLogRetentionDays``` on application logging it does not update the web app log settings. It does however work for web server logging.

[code]

[2019-02-04 12:16] dendle commented on #576
Hello Folks,
Please let me know if there is anything I can do to help.
Cheers,
Matt

[2019-02-05 07:57] giuliov commented on #569
I also tried this code, inspired by [this example](https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/AppService/ManageWebAppSlots.cs) but no luck.

[code]

[2019-02-05 15:48] ASchwenkerBM opened #584 "Passing HttpClientHandler as Root Handler to RestClientBuilder"
Currently there is no way to pass `HttpClientHandler` to `RestClientBuilder` in order to have the `HttpClientHandler` set as the `RootHttpHandler` on `RestClient`.  Is this by design?

The reason I ask is I have a large system that uses dozens of Azure Management APIs.  The system also spans dozens of Azure Subscriptions each with separate credentials.  The system is also massively multi-threaded.

[2019-02-06 12:19] LockTar opened #585 "How to authenticate via MSI locally"
This question was originally asked in the [wrong repository](https://github.com/Azure/azure-sdk-for-net/issues/4968). @shahabhijeet asked me to create a new issue here.

I want to login with MSI when I develop locally.
The [documentation](https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth) isn't update because I see nothing about the method:
[co

[2019-02-06 12:22] LockTar commented on #557
I had the same problem and found a workaround for this. See my [issue](https://github.com/Azure/azure-libraries-for-net/issues/585#issue-407209288) or [workaround](https://github.com/LockTar/AzureAdApplicationRotator/blob/0a4a57835ddd24cc0badf5bf2cfbda4851b0602e/ApplicationKeyRotator/Authentication/AuthenticationHelper.cs).

[2019-02-13 00:41] jsukhabut opened #586 "Traffic Manager Monitoring Custom Header Setting cannot be configured"
There is no ability to set Traffic Manager Monitoring Config Custom Header Setting.

https://docs.microsoft.com/en-us/rest/api/trafficmanager/profiles/createorupdate#monitorconfig

[2019-02-13 02:19] jsukhabut commented on #586
Sorry found the settings as part of the ATM endpoints.

[2019-02-13 02:19] #586 closed

[2019-02-13 22:49] jsukhabut opened #587 "Traffic Management Missing Monitoring Config Settings"
The Azure Traffic Management settings below cannot be set via the Fluent API

- Profile->MonitoringConfig-->CustomHeaders
- Profile->MonitoringConfig-->ToleratedNumberofFailures
- Profile->MonitoringConfig-->ExpectedStatusCodeRange
- Profile->MonitoringConfig-->ProbingInterval
- Profile->MonitoringConfig-->ProbeTimeout
-
- Profile->TrafficViewEnrollmentStatus
- HeatMap Operations to Get the HeatMa

[2019-02-14 15:29] RadhakrishnaHariMSFT opened #588 "Snapshots.BeginCreateOrUpdateAsync() does not return the Snapshot Name in the SnapshotInner"
We happened to notice this that the the method Snapshots.BeginCreateOrUpdateAsync() does not set the Name of the snapshot in the SnapshotInner on the return. What this means to the caller is that we have to save the name of the snapshot separately and keep querying the state of the snapshot creation until it succeeds, when the Name is available in the SnapshotInner.

[2019-02-14 15:39] RadhakrishnaHariMSFT opened #589 "Support for UltraSSD Managed disk Create/Get/Drop"
UltraSSD's are soon to be GA and we would like to use it thru the libraries. Please add support for UltraSSD_LRS

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/disks-ultra-ssd
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-ultra-ssd

[2019-02-14 18:18] sowsan opened #590 "Is there a support available for managing service fabric mesh apps ?"

[2019-02-14 20:42] praries880 opened #591 "Upgrade msi module to new stable API version"
Steps:
1. we need to start by updating the api-sepc.json file to refer the [latest api-version](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/msi/resource-manager/Microsoft.ManagedIdentity/stable/2018-11-30), then regenerate based on that.
   * Update this file : https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/api-specs.json#L1629
2. Fi

[2019-02-14 23:02] JREndeanMSFT opened #592 "KubernetesClusters - Issue with Define and use WithAddOnProfiles"
In src/ResourceManagement/ContainerService/Domain/KubernetesCluster/Definition/IDefinition.cs the following is incorrect.
[code]

It should instead be
[code]

[2019-02-14 23:04] JREndeanMSFT opened #593 "KubernetesClusters - Issue with Define and RBAC"
Is it expected that WithRBACDisabled and WithRBACEnabled are only part of IUpdate? Can they not be part of IDefinition as well?

[2019-02-15 09:15] tehho commented on #577
I've been able to get the device code working with a  Console.WriteLine(device.Message); and Console.ReadLine(); for wait and return true after. When i tried to build a wait loop fetching the token i get an error in the Fluent Azure.Authenticate(cred); that the token is already issued.
Is there a way to check if a token exists without pulling it or using the refreshtoken to issue a new token on th

[2019-02-15 11:14] tehho opened #594 "Wait for token device code / new Sample for Authentication"
I have tried to get the device code to work and have now managed a manuall way to do it and would like to have an automated way.

What i've done is to write the device message and then waiting with a readline and the returning true.

What i would like to do is to peek at the token to see if it's ready to fetch.
When i try to do this I automaticly fetch the token and then i get an error saying the

[2019-02-15 16:06] JREndeanMSFT opened #595 "KubernetesClusters - Issue with Update and Versions"
The IUpdate interface does not have the ability to change the versions.

[2019-02-19 14:05] ccic opened #596 "Fail to parallel create webapp"
I want to create 30 webapps in parallel through C# SDK. Unfortunately, it always failed. I checked the log on Azure portal, and found there are many "Updating hosting plan" errors and "Updating web site" errors.

Updating hosting plan error:
Operation name
Update hosting plan
Time stamp
Tue Feb 19 2019 21:56:37 GMT+0800 (China Standard Time)
Event initiated by
7711bec6-fcf0-4bc6-b549-69df432af894

[2019-02-19 17:50] praries880 opened #597 "Add java 11 SE support to Webapps"
Copy the work done in : https://github.com/Azure/azure-libraries-for-java/issues/695

[2019-02-19 17:57] praries880 commented on #597
* For Linux: new runtimes after https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/AppService/RuntimeStack.cs#L22
  * For windows:  new runtime definitions in https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/AppService/WebContainer.cs#L25
* For java 11 :
  * For linux: add a new value like https://github.com/Azure/azure-libraries-

[2019-02-20 22:10] navdixit opened #601 "[Feature Req]User Assigned MSI from Fluent SDK Microsoft.Azure.Management.AppService.Fluent"
**Is your feature request related to a problem? Please describe.**
We are using Fluent SDK Microsoft.Azure.Management.AppService.Fluent (ref: https://github.com/Azure/azure-libraries-for-net) for creating Azure functions. We are planning to use “user assigned” MSI for functions apps. When we followed the [documentation](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microso

[2019-02-21 17:11] sowsan opened #602 "Can we use MSI with Azure Authentication ?"
Not seeing an option to leverage MSI with Azure Authentication Fluent API. https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-authenticate?view=azure-dotnet#mgmt-auth

Any idea is this possible ?

[2019-02-21 22:15] ankushbindlish2 opened #603 "[FEATURE REQ] Onboarding StorageSync SDK support into FluentSDK"
**Is your feature request related to a problem? Please describe.**
We are looking for 1 sdk to create an E2E Azure resources. Our RP is already supported in StorageSync SDK [https://github.com/Azure/azure-sdk-for-net/tree/master/src/SDKs/StorageSync]

**Describe the solution you'd like**
Add StorageSync SDK onto Fluent pattern

**Describe alternatives you've considered**
We have workaround to use

[2019-02-22 16:34] lrslew commented on #225
Would be super helpful if this gets implemented soon! ARM Templates aren't fun. Nasty workaround with json snippets in C#. IotHub is a basic component for all IoT use cases.

[2019-02-22 16:38] maxtheaviator commented on #225
At least creation and deletion of iothubs is needed to fit in our automation workflow. Would be great!

[2019-02-22 18:48] praries880 opened #604 "[FEATURE REQ] Add support for UltraSSD_LRS sku to compute"
**Is your feature request related to a problem? Please describe.**
Add support for UltraSSD_LRS sku to compute. The [SDK](https://github.com/Azure/azure-sdk-for-net/blob/40248f466aa063bd90f16dae10d06b9b7317e2d0/src/SDKs/Compute/Management.Compute/Generated/Models/DiskSku.cs#L35) already supports it.

**Describe the solution you'd like**
Update the compute API version used to the [latest stable rel

[2019-02-22 19:00] praries880 commented on #603
@ankushbindlish2  Can you kindaly add a similar issue in the [fluent for java] repo as well?

@selvasingh can you kindly follow up with Ankush to gather the details like :
* By when do they need this released?
* Which API version we need to support?
* What are the important scenarios they need to support?

[2019-02-22 19:02] ankushbindlish2 opened #605 "[Java] [FEATURE REQ] Onboarding StorageSync SDK support into FluentSDK Java"
**Is your feature request related to a problem? Please describe.**
We are looking for 1 sdk to create an E2E Azure resources. Our RP is already supported in StorageSync SDK [https://github.com/Azure/azure-sdk-for-net/tree/master/src/SDKs/StorageSync]
**Azure Resource Provider** : Microsoft.StorageSync , GA

**Describe the solution you'd like**
Add StorageSync SDK onto Fluent pattern

**Describe al

[2019-02-22 19:04] #605 closed

[2019-02-22 19:20] ankushbindlish2 commented on #603
* By when do they need this released? 3/21/2019
* Which API version we need to support? 2018-10-01
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01
* What are the important scenarios they need to support?
    Provisioning of a ServerEndpoint which includes : ResourceGroup,StorageAccount, FileShare,StorageSy

[2019-02-22 19:21] ankushbindlish2 commented on #603
We already have SDK generated for .Net  - https://github.com/Azure/azure-sdk-for-net/tree/master/src/SDKs/StorageSync

[2019-02-22 20:20] ankushbindlish2 commented on #603
**Can you kindaly add a similar issue in the [fluent for java] repo as well?**
https://github.com/Azure/azure-libraries-for-java/issues/700

[2019-02-25 03:10] boboon06 opened #606 "[FEATURE REQ] Add Start action to ACI Container Groups"
**Is your feature request related to a problem? Please describe.**
Currently the Container Groups implementation only contains Stop and Restart actions.
It is not possible to Start a Container Group from the Stopped state, without deleting it and recreating it from scratch.

**Describe the solution you'd like**
Add a [Start](https://docs.microsoft.com/en-us/rest/api/container-instances/containergr

[2019-02-25 05:12] ccic commented on #596
My simple question is how to reduce the total app services creation time if I want to create many app services?

[2019-02-25 17:24] JadedATB opened #607 "Bug enabling NSG flow logs"
**Describe the bug**
In order to enable NSG flow logs to a storage account, the API is requiring a Log Analytics workspace, even though IFlowLogSettings.Inner.FlowAnalyticsConfiguration.NetworkWatcherFlowAnalyticsConfiguration.Enabled == false.

***Exception or Stack Trace***
   at Microsoft.Azure.Management.Network.Fluent.NetworkWatchersOperations.<BeginSetFlowLogConfigurationWithHttpMessagesAsyn

[2019-02-25 19:16] ankushbindlish2 commented on #603
@selvasingh Please let me know if you need more information from us.

[2019-02-26 03:09] ccic opened #609 "[QUERY]How to avoid "Not enough available reserved instance servers to satisfy this request""
**Query/Question**
I failed to create app plan for "Not enough available reserved instance servers to satisfy this request. Currently 4 instances are available. If you are changing instance size you can reserve up to 4 instances at this moment. If you are increasing instance count then you can add extra 4 instances at this moment. Please get available machines and retry later."

***Why is this not

[2019-02-26 05:52] Rambalac opened #610 "IMetricDefinition time interval parameter is not properly url-escaped/unescaped"
**Describe the bug**
Example for metrics is using local DataTime.Now. But it fails with Bad request response.

***Exception or Stack Trace***
_Microsoft.Azure.Management.Monitor.Fluent.Models.ErrorResponseException: 'Operation returned an invalid status code 'BadRequest''_
[code]

**To Reproduce**
Run code for not UTC locale for any suitable metric.
[code]

**Expected behaviour**
No errors.

**Set

[2019-02-26 20:27] samkreter commented on #549
Is there any update on a timeline we can have this?

[2019-02-26 22:01] ankushbindlish2 commented on #603
**ResourceProvider** : Microsoft.StorageSync , GA  :  May 2018
SDK released in C#/Java
**ARM Resources :**  StorageSyncServices, SyncGroups, RegisteredServers , CloudEndpoints, ServerEndpoints
**ARM Dependent Resources :** ResourceGroup , StorageAccount, AzureFileShare

Customer can only create endpoints after creating all the above resources which is not possible with the current SDK. Also, Regis

[2019-02-26 23:47] praries880 commented on #609
@ccic Can you add a code snippet for which you got the above error?

[2019-02-26 23:56] praries880 commented on #602
@sowsan  We do support MSI. Can you look at [this sample](https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/Asset/documentdb-dotnet-todo-app/src/DocumentDBRepository.cs#L84) and see if it helps you?

[2019-02-27 00:00] praries880 commented on #596
@jianghaolu  can you kindly look into this?

[2019-02-27 00:02] praries880 commented on #595
@anuchandy  can you kindly look into this issue?

[2019-02-27 00:10] praries880 commented on #590
@sowsan  Can you elaborate on the usecase?

[2019-02-27 07:08] ccic commented on #609
protected static Task BatchProcess<T>(IList<T> source, Func<T, Task> f, int max)
        {
            var initial = (max >> 1);
            var s = new System.Threading.SemaphoreSlim(initial, max);
            _ = Task.Run(async () =>
            {
                for (int i = initial; i < max; i++)
                {
                    await Task.Delay(100);
                    s.Release();

[2019-02-27 07:10] ccic commented on #609
I found if I remove ".WithCapacity(_scaleOut)" when creating app service plan, and update the app service plan after web app was attached, the error will not show up. I guess it is because the root cause is resource allocation is slow.

[2019-02-27 08:14] ccic commented on #596
This issue is related to https://github.com/Azure/azure-libraries-for-net/issues/609.

I want to create many web apps (>20) in a short period to run SignalR perf test.
Firstly, I created many app service plan and web apps, every web app is binding with one of app service plan. I need more than 20 web app instances. The above code snippet is for this purpose.

Later, I recognized it is not necessar

[2019-02-27 19:32] LevioConseils commented on #480
Any answer here?  I'd like to deploy to virtual app too.  I tried

WithSetParameter("DeployIisAppPath", "nameoftheapp/vdir")

without success, it's still deploying to wwwroot.

[2019-02-27 22:32] aniliht commented on #345
This becomes a problem when you need to dynamically add a filtered subscription to a topic that is actively receiving messages.  Suppose you use the api to create the subscription first.  Then you have to call AddRule to set the rule later like this perhaps:

`var client = new Microsoft.Azure.ServiceBus.SubscriptionClient(_settings.ServiceBusConnectionString, TOPIC_NAME, subscriptionName);`
`await

[2019-02-27 23:21] #591 closed

[2019-02-27 23:36] praries880 commented on #589
Addressing this in the issue #604

[2019-02-28 07:59] alesandrino commented on #480
I already forgot about this request. We are now using Kudu to achieve this and it works well. Basically uploading the app as a ZIP, extracting it to a new directory and finally updating the virtual application so that it points to the new app directory.

[2019-02-28 21:26] ankushbindlish2 opened #611 "[BUG]Receiving Method not found: 'System.Threading.Tasks.Task`1<Microsoft.Rest.ServiceClientCredentials> Microsoft.Rest.Azure.Authentication.UserTokenProvider.LoginSilentAsync"
**Describe the bug**
This is the code snippet

.net framework : 4.6.1

You can find more information in \\ankushb-dt\SDKTests\StorageSyncDev.v5SDK.Tests\

<package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.6" />
    <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" />
    <package id="Microsoft.Rest.ClientRuntime" version="2.3.18" />
    <package id="Micro

[2019-02-28 21:27] ankushbindlish2 commented on #611
Referencing https://github.com/Azure/azure-libraries-for-net/issues/282

[2019-02-28 23:27] shahabhijeet commented on #611
@ankushbindlish2 this issue belongs in Fluent repo
https://github.com/Azure/azure-libraries-for-net

[2019-03-01 17:31] sowsan commented on #602
@praries880 thank you. I will have a look.

[2019-03-01 21:46] praries880 commented on #583
@j055 Can you kindly let us know what is the version of the SDK you are using?

[2019-03-01 21:48] lmazuel opened #614 "[FEATURE REQ] Update Nuget pages of autogenerated old fluent to auto generated C#"
Example, https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceFabric.Fluent/1.9.1-beta should have a note to point to https://www.nuget.org/packages/Microsoft.Azure.Management.ServiceFabric (autogenerated C#)

@hovsepm gave us the list:
https://github.com/Azure/azure-libraries-for-net/pull/285/commits

[2019-03-01 21:52] praries880 commented on #580
@MilindThakkar Can you kindly let us know what is the scenario you are looking for here?

We support only a subset of services/features in Fluent, for the rest we have the .net SDK packages. Is [this] (https://www.nuget.org/packages/Microsoft.Azure.Management.ApiManagement/4.0.6-preview) not working for you?

[2019-03-01 21:59] praries880 commented on #579
@VaclavK  Can you kindly specify the package versions you are using?

Can you also share the stack trace?

[2019-03-01 22:17] praries880 commented on #576
@dendle  Can  you specify which version of the SDK are you using?

[2019-03-01 23:25] praries880 commented on #574
@CoenraadS What is the SDK version that you are using?

If i understand correctly,heres what is happening :
* the container is created,
* the container does its job,
* container send the message to the second function,
the second function deletes the conteiner

All this  happens before CreateAsync completes/returns... as a result createAsync throws an exception...

Can you provide more details abo

[2019-03-01 23:28] praries880 commented on #575
@CoenraadS  What is the SDK version you are using here?

Does the enumeration always break when it gets to a deleted container?

[2019-03-01 23:37] praries880 commented on #569
@giuliov  Our apologies for the delayed response. Can you kindly let us know what is the SDK version you are using?

@jianghaolu can you see if we can repro this issue at our end?

[2019-03-01 23:57] m-mertz opened #615 "Support subject + issuer validation in AzureCredentialsFactory.FromServicePrincipal"
In order to use a certificate that is whitelisted by subject + issuer instead of thumbprint, the whole public key needs to be sent when getting an access token. This is controlled by the sendx5c parameter in AuthenticationContext.AcquireTokenAsync. Currently it's not possible to set that flag through the AzureCredentialsFactory methods, and S+I validation doesn't work as a consequence.

A possible

[2019-03-02 12:24] giuliov commented on #569
This is the project file
[code]
so should 1.18

[2019-03-02 15:33] j055 commented on #583
@praries880 Microsoft.Azure.Management.Fluent -Version 1.19.0

[2019-03-04 21:11] praries880 commented on #611
@ankushbindlish2 Did none of the suggested fixes in https://github.com/Azure/azure-libraries-for-net/issues/282 work for you?

[2019-03-04 21:11] praries880 commented on #611
What does
[code]
return?

[2019-03-04 21:20] ankushbindlish2 commented on #611
Yes

[2019-03-04 21:22] ankushbindlish2 commented on #611
I ddint see any suggestion in that issue. Please help me locate and paste it in here

[2019-03-04 21:33] praries880 commented on #611
I updated my first comment with some additional questions… can you answer those as well?

[2019-03-04 23:52] ankushbindlish2 commented on #611
Workaround : Worked by changing libraries to 452 instead of 461.

[2019-03-04 23:52] #611 closed

[2019-03-04 23:59] praries880 commented on #611
The issue here is described in : https://github.com/Azure/azure-sdk-for-net/issues/4316

Seems userTokenAuth is no longer supported. Try using the suggestions in https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md

[2019-03-05 00:01] praries880 commented on #282
@austincrft More info on why this scenario does  not work anymore : https://github.com/Azure/azure-sdk-for-net/issues/4316

Try using the suggestions in : https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md

[2019-03-05 18:38] mathieu-benoit commented on #84
@martinsawicki @hovsepm  @selvasingh, just curious, any update on this? Thanks.

[2019-03-05 19:15] praries880 commented on #84
@lmazuel / @selvasingh Can you guys chime in here?

[2019-03-05 21:18] lmazuel commented on #84
Hello,
Azure backup is covered by recovery services packages:
https://www.nuget.org/packages/Microsoft.Azure.Management.RecoveryServices
https://www.nuget.org/packages/Microsoft.Azure.Management.RecoveryServices.Backup

https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.recoveryservices.backup?view=azure-dotnet

We don't plan to add support for this in the fluent layer, and que

[2019-03-05 21:18] #84 closed

[2019-03-05 21:48] praries880 commented on #560
@venujakasun  Thanks for the suggestion. @jianghaolu  can you look into this and see if the suggested fix wont break any existing scenarios?

[2019-03-05 21:51] jianghaolu commented on #560
@venujakasun Thanks for the catch! Your approach is correct. @praries880 it won't break the working scenarios today since this fix will still return the correct thumbprint in those cases.

[2019-03-05 21:55] praries880 commented on #421
Closing this  as a duplicate of #556

[2019-03-05 21:55] #421 closed

[2019-03-05 22:02] praries880 commented on #556
@selvasingh Can you evaluate this suggestion?

[2019-03-05 22:05] praries880 commented on #559
@jwyin Can you follow the sample as [described here](https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/BatchAI/ManageBatchAI.cs#L87) and see if it works for you?

If not, what are the versions of the SDK and the client runtime you are using?

[2019-03-06 00:58] praries880 commented on #555
@pkbfs Did the workaround you specify `After many hours of trial and error it materialized that I needed to escape the ampersand perhaps like so ^&` work for you or are you still getting the exception?

[2019-03-06 01:05] praries880 commented on #557
@luthus , @aykay76 and @LockTar
Can you try to follow the guidelines at : https://docs.microsoft.com/en-us/azure/key-vault/service-to-service-authentication#local-development-authentication and see if that works for you?

[2019-03-06 01:11] jianghaolu commented on #554
Your application is missing permissions to acess Windows Azure Active Directory. Not delegated permissions, but application permissions.

![image](https://user-images.githubusercontent.com/2320445/53848563-adb5ce80-3f69-11e9-942b-f0bfff3a814f.png)

[2019-03-06 01:13] praries880 commented on #552
@Cosebdd  You can use the flunt lite SDK to list the tags in a subscription. [Here is the call](https://github.com/Azure/azure-sdk-for-net/blob/master/src/SDKs/Resource/Management.ResourceManager/Generated/TagsOperations.cs#L846) that will do it for you.

Do let us know if this is not what you are looking for.

[2019-03-06 01:50] lmazuel opened #617 "[FEATURE REQ] UserAssigned identity for WebApp"
.NET side of https://github.com/Azure/azure-libraries-for-java/issues/707

[2019-03-06 02:45] lmazuel opened #618 "[FEATURE REQ] Update SQL to latest package-composite-v1"

[2019-03-06 06:21] MilindThakkar commented on #580
@praries880
We are trying to create API management service and import APIs deployed in service fabric to APIM.

We are using Azure SDK. However, for some part (like AKS related stuff) we are using Fluent and for some part (like Service Fabric, APIM) we have to use SDK which kind of clutter the code and project.

And since, there is roadmap given for many other features to be included in Fluent, th

[2019-03-06 18:06] Cosebdd commented on #552
@praries880, ok, it might work. But I thought about something available from the IAzure interface, because your solution is basically just a generated client for the Azure REST API

[2019-03-06 20:18] praries880 commented on #552
@Cosebdd The repo that is just autogenerated stuff from the REST API spec is the [.net sdk repo](https://github.com/Azure/azure-sdk-for-net). What we call Fluent Light.

This repo is for more complex tasks that generally involve more than a couple of steps to accomplish using the autogenerated SDK.

[2019-03-07 13:13] #552 closed

[2019-03-07 18:29] LockTar commented on #557
@praries880 have you seen my issue #585 were I give samples and workaround on how to work with MSI in combination with this SDK? There I point out that the documentation you referring to is not updated and doesn't work. What kind of information do you like to see? Maybe I can provide something to you?

[2019-03-07 23:02] batrived opened #619 "[BUG]"
**Describe the bug**
We use “Microsoft.Azure.Management.CosmosDb.Fluent” library (version 1.15.1) to update CosmosDb firewalls . Code used to work a year ago for version 1.7 but we were getting this error with that version:

Method not found: 'IBuildable
2019-03-07T01:52:46.9894940Z !entreqprodcus1 IBuildable.WithCredentials(Microsoft.Rest.ServiceClientCredentials)'

So we changed the version to 1

[2019-03-08 01:27] anuchandy commented on #619
Where exactly this code is running, console app, web app?

[2019-03-08 18:38] sukhuuppal commented on #619
Code runs as job in Azure VM

[2019-03-09 00:06] praries880 commented on #545
@kblooie We will investigate the suggestoin and update the issue on how we decide to proceed.

[2019-03-09 00:50] praries880 commented on #546
@jianghaolu This is most likely because of the following code (we read out the bytes in the name and then base 64 encode it) :
[code]
Code [here](https://github.com/Azure/azure-libraries-for-net/blob/5f85a978aaa0340e5ef9f9747d3fefe052ad2a2b/src/ResourceManagement/Graph.RBAC/CertificateCredentialImpl.cs#L147).

We do the same in [java fluent sdk](https://github.com/Azure/azure-libraries-for-java/bl

[2019-03-09 17:55] joshlang commented on #557
Here's some code I use which works for me.  I also include an ugly hack to enable key vault access.

This let's me use the Fluent management API's using MSI from my local development environment in Visual Studio.

    var managementToken = await ManagedIdentityAdapter.GetManagementAccessToken();
    var graphToken = await ManagedIdentityAdapter.GetGraphToken();
    var tenantId = await ManagedIden

[2019-03-11 18:33] kurtzeborn commented on #615
Thank you for opening this issue!  We are routing it to the appropriate team for follow up.

[2019-03-12 14:35] Gaploid opened #620 "[BUG] VirtualMachineScaleSets OSType always return Windows"
**Describe the bug**
Property OSType in Microsoft.Azure.Management.Compute.Fluent.VirtualMachineScaleSetImpl always returns "Windows" even if the scaleset based on Linux.

***Code Snippet***
[code]

[2019-03-13 21:28] skyhoshi commented on #610
I have the exact same problem and can validate that this was not fixed in the Microsoft.Azure.Management.Fluent 1.20.0 version of the library.

[2019-03-14 01:22] praries880 commented on #539
@thegreatdane6  Thanks for the helpful suggestions.
@selvasingh This feature seems a good to have feature. Thoughts?

[2019-03-14 17:30] praries880 commented on #597
These are the Java versions for linux:
1.7
1.7.0_51
1.7.0_71
1.7.0_80
1.7.0_191_ZULU
1.8
1.8.0_25
1.8.0_60
1.8.0_73
1.8.0_92
1.8.0_102
1.8.0_111
1.8.0_144
1.8.0_172
1.8.0_172_ZULU
1.8.0_181
1.8.0_181_ZULU
`1.8.0_202`
`1.8.0_202_ZULU`
`11`
`11.0.2_ZULU`

These are the Tomcat versions:
8.5
8.5.6
8.5.20
8.5.31
8.5.34
`8.5.37`
9.0
9.0.0
9.0.8
9.0.12
`9.0.14`

The versions in `quotes` are the ones bein

[2019-03-14 22:39] joshlang opened #621 "[BUG] BuiltInRoles.AzureCosmosDbAccountContributor seems wrong"
The role is defined as: `public static readonly BuiltInRole AzureCosmosDbAccountContributor = Parse("Azure Cosmos DB Account Contributor");`

But code like this throws an exception for a null object:

    await user
        .Update()
        .WithNewRole(BuiltInRole.AzureCosmosDbAccountContributor, target.Id)
        .ApplyAsync();

Instead, consider using Parse("**DocumentDB Account Contributor**

[2019-03-15 15:47] kurtzeborn commented on #621
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-18 15:03] joshlang opened #623 "[BUG] WithTrafficForwarding[From/To]RemoteNetwork seems to be backwards"
WithTrafficForwardingFromRemoteNetwork and WithTrafficForwardingToRemoteNetwork seem to be doing things backwards.

    await network
        .Peerings
        .Define("remote-network")
        .WithRemoteNetwork(remoteNetwork)
        //.WithTrafficForwardingFromRemoteNetwork()
        .WithTrafficForwardingToRemoteNetwork() // these are backwards - SDK bug?!?
        .WithGatewayUseOnRemoteNetwo

[2019-03-18 18:17] kurtzeborn commented on #623
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-19 18:26] JohnDoeKyrgyz commented on #211
I ran into the same issue with a functionapp that had a 24 character name. When I changed the name to something less than 24 characters it worked.

[2019-03-19 21:02] kayone commented on #569
I'm having the same issue, however, I've noticed two things,

When creating a brand new function, you need to enable the slot preview in the function settings but that doesn't solve the issue alone,

However, if you create a slot using the portal, and then remove it then you can create a slot on that function using azure libraries.

[2019-03-20 06:52] SaltyDH opened #625 "Microsoft.Azure.Management.ContainerInstance.Fluent references the deprecated WindowsAzure.Storage"
**Describe the bug**
The description on NuGet says that we should switch to using The storage specific packages as of Version 9.4. See: https://www.nuget.org/packages/WindowsAzure.Storage/

However when also importing Microsoft.Azure.Management.Fluent (v1.20.0), the dependency Microsoft.Azure.Management.ContainerInstance.Fluent package still references the WindowsAzure.Storage package.

Because th

[2019-03-20 18:22] kurtzeborn commented on #625
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-22 12:54] brandondahler opened #626 "[BUG] IPublishingProfile.FtpUrl not in expected format"
**Describe the bug**
`Microsoft.Azure.Management.AppService.Fluent.IPublishingProfile`'s `FtpUrl` comment states that the url "Gets the url for FTP publishing, with ftp:// and the root folder. E.g. ftp://ftp.contoso.com/site/wwwroot."; however, the resulting value doesn't actually include "ftp://".

***Exception or Stack Trace***
N/A

**To Reproduce**
1. Get IWebAppBase instance
2. Call GetPublish

[2019-03-25 18:10] kurtzeborn commented on #626
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-25 18:16] kurtzeborn opened #627 "'authority' should be in Uri format Parameter name: authority"
@Neue-Ziel commented on [Sat Mar 23 2019](https://github.com/Azure/azure-sdk-for-net/issues/5563)

**Describe the bug**
When I try

                azureCredentials = SdkContext
                    .AzureCredentialsFactory
                    .FromServicePrincipal(_clientId, _clientSecret, _tenantId, _azureEnvironment);

                currentSubscription = Azure
                    .Configure()

[2019-03-25 18:16] kurtzeborn commented on #627
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-25 20:40] jftl6y opened #628 "Looking for a SDK team member who can help with a customer question"
**Query/Question**
I have a customer who has the following question about creating mocks for the RestClient (see ask below).  I am looking for someone who can help me address this issue with the customer, including why their approach may/may not be valid and ways they might be able to accomplish their underlying goal.

Customer ask:
"I have some questions about using the Azure SDK in our tests. No

[2019-03-27 14:15] Mi1an opened #629 "ActivityLogs.DefineQuery() BadRequest startTime"
I don´t understand why startTime can´t accept format from DateTime.Now. I download sample for metrics and activity log and there is same DateTime.Now as input parameter.

`var logs = azureAuthentication.ActivityLogs.DefineQuery().StartingFrom(DateTime.Now.AddDays(-7)).EndsBefore(DateTime.Now).WithAllPropertiesInResponse().Execute();`

Microsoft.Azure.Management.Monitor.Fluent.Models.ErrorResponseE

[2019-03-27 15:00] Mi1an opened #630 "System.NullReferenceException when trying to get VM powerstate"
In 3/10 when calling PowerState.Value of VM i get NullReferenceException. It is always on different VM. I am listing 100 VMs and this exception is sometimes on 1 VM, sometimes on 3 VMs, sometimes 5 VMs or just everything working without problems. I don´t see any logical reason to this exception. VMs are okay with state Running or Deallocated nothing what can cause exception.

Stack Trace:
`[Line 4

[2019-03-27 18:13] kurtzeborn commented on #629
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-27 18:14] kurtzeborn commented on #630
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-27 21:02] hovsepm commented on #629
duplicate of https://github.com/Azure/azure-libraries-for-net/issues/511

[2019-03-28 02:04] joshlang opened #631 "[BUG] Virtual network rules can not be updated"
An existing Cosmos DB cannot update virtual networking rules.

The API allows for it:  `cosmos.Update().WithVirtualNetworkRules(...)`

But it is ignored and any existing rules are dropped, instead.

See: https://feedback.azure.com/forums/263030-azure-cosmos-db/suggestions/34690507-virtual-network-rules-to-cosmos-db-arm-template

There's a bug in the underlying deployment system.  If "Locations" is

[2019-03-28 08:22] Mi1an commented on #629
I used UtcNow from thread #511 and it is working.

Thanks!

[2019-03-28 08:22] #629 closed

[2019-03-29 22:39] rajasekhar2 opened #632 "Could not load type 'Microsoft.IdentityModel.Clients.ActiveDirectory.ClientAssertionCertificate'"
Facing lot of issues with Fluent Nuget. I am using Microsoft.Azure.Management.Cdn.Fluent" version="1.13.0"  and "Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.2". At runtime I am getting error as "Could not load type 'Microsoft.IdentityModel.Clients.ActiveDirectory.ClientAssertionCertificate'" when I use Fluent methods to create a resource using arm template.

***Exception or Stac

[2019-03-30 14:40] Neue-Ziel commented on #627
hmmmm.... nvm

[2019-03-30 16:46] aaronsmithuk commented on #320
Can you create want you want with ARM templates, then use deployments.Define().WithTemplate(templatehere).BeginCreateAsync().

BeginCreateAsync/BeginCreate doesn't wait for full Azure execution, it returns immediately and you can read the status of the deployment (e.g. Accepted) from the returned task result.

If I use .Create/.CreateAsync I have to wait the full 4 minutes before the code continue

[2019-04-01 18:41] kurtzeborn commented on #631
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-01 18:48] kurtzeborn commented on #632
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-02 07:41] flinten13 opened #633 "Associate Application Security Group to Network Interface"
I'm creating a custom deployment portal, allowing customers to deploy virtual machines to Azure. The idea is, that based on some simple checkboxes, the portal determines whether or not to Domain-Join, add custom script extensions etc. to the machine.
My problem is that my customer uses Application Security Groups, and in order for the machines to be domain-joined, the associated Network Interface,

[2019-04-02 08:23] mikelazell commented on #576
@dendle has left the building. We are using v1.19.0

[2019-04-02 09:31] mikelazell commented on #576
I've upgraded to 1.20.0 and still the same issue.

[2019-04-02 13:10] Mi1an opened #634 "[FEATURE REQ] List all activity logs in selected time period"
I want to list all activity logs (from example last 24h.) and then search in this list for specific names, actions, resources and so on... Problem what I have now is when I get first VM from 100 in foreach loop I need to load data from activity log by resource (name of first VM). In last VM (100/100) in foreach loop I can get new activity logs or lost latest activity logs because every cycle of fo

[2019-04-02 17:06] krypto92 opened #635 "User Managed Identity not working"
**Query/Question**
User Assigned Identity not working

when i try to use user managed identity in **Azure function v2** for authentication and i am getting the error *Cannot perform runtime binding on a null reference*. here is the code piece,

[code]
but the same code works for the system managed identity.

**Version of the Library used**
 - Microsoft.Azure.Management.Fluent v1.20.0

[2019-04-02 18:16] rajasekhar2 commented on #632
@kurtzeborn can you help me with right contact? Its been not triaged for a while

[2019-04-02 21:41] lmazuel opened #636 "[BUG] Wrong encryption status returned for encrypted VM's data disks"
See https://github.com/Azure/azure-libraries-for-java/issues/712

[2019-04-03 16:27] samkreter commented on #549
Want to ping this again. @lmazuel Any updates?

[2019-04-03 18:06] kurtzeborn commented on #633
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-03 18:10] kurtzeborn commented on #634
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-03 18:13] kurtzeborn commented on #635
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-03 21:17] joshlang opened #637 "[BUG] Subsequent role assignments PUT to the first role assignment's URI"
Consider this code:

[code]

For a single user (service principal for VMSS), I call this `Grant` method multiple times to grant access to several different resources.

But I get a CONFLICT error after the first request.  On examining e.InnerException.Request.RequestUri, I see that it's issuing a PUT request to the **first** resource I called `Grant` on, instead of using the objectId I actually pas

[2019-04-04 04:10] praries880 commented on #635
@krypto92
Can you kindly provide the full stack trace of the exception or some more detailed info on the exception itself?

[2019-04-04 04:14] praries880 commented on #634
@Mi1an We need to look into the feature request to see what work is involved in this. Will keep the issue posted with updates as wee gather more information on this.

[2019-04-04 04:19] praries880 commented on #630
@Mi1an
A couple of questions :
* How many VMs are you querying for in this scenario?
* Does the issue happen irrespective of the number of Vms being queried or only appears after the number goes over a certain limit?
* Can you turn on debug logging and provide the logs to us (for a failure scenario)?

[2019-04-04 04:22] praries880 commented on #631
@joshlang We will investigate this and try to get to the bottom of the issue.

In the meanwhile, will it be possible for you to turn on the debug logs for this case and share them with us.

[2019-04-04 04:25] praries880 commented on #632
@rajasekhar2 Can you try upgrading to the latest version of the CDN library : https://www.nuget.org/packages/Microsoft.Azure.Management.Cdn.Fluent/  and see if the issue still happens with that?

[2019-04-04 04:27] praries880 commented on #628
@anuchandy Can you have a look at this issue?

[2019-04-04 04:30] joshlang commented on #631
I don't know how to turn on "debug logs".

You can see Microsoft internal support request 119012621000241 from Jan 28 2019 for more information, though.

[2019-04-04 04:31] praries880 commented on #626
@brandondahler  Thanks for bringing this to our attention... we will take a look at your suggested solutions.

[2019-04-04 04:33] praries880 commented on #625
@iscai-msft Can you take a look at this issue?

[2019-04-04 07:16] krypto92 commented on #635
here is the stack trace,

[code]

[2019-04-04 12:04] Mi1an commented on #630
It is 100 VMs in this scenario in foreachloop every single VM
This issue appear randomly. There is no limit where it working fine and then it fail. It can be 1 or 10 VM/s in single run on start or end or in middle of foreach loop, it doesn´t matter.

Here is log:
[code]
Here is foreach loop:
[code]

I am using now new Visual Studio 2019 and issue still persist. There is interesting thing when I´m

[2019-04-04 14:46] Neue-Ziel commented on #627
well, the problem was because I read a GUID from a file without specifying the Encoding, either specifying encoding or simply Trim() the string works.

[2019-04-05 14:17] Suchiman commented on #51
Almost two years later and still no solution in sight? This is unacceptable.

[2019-04-05 14:31] Suchiman commented on #51
Here's a workaround:
[code]
and then use `Azure.Configure().WithDelegatingHandler(new FixCertificatesHandler())`

[2019-04-05 18:17] kurtzeborn commented on #637
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-10 10:07] Suchiman opened #640 "[BUG] Cannot DefineSslBinding WithExistingCertificate"
**Describe the bug**
Trying to add an SSL binding with an existing certificate to a domain results in a Bad Request because the SDK does not send the Thumbprint.

***Exception or Stack Trace***
[code]

***Code Snippet***
[code]

Produces 4 requests, the last one producing the bad request looks like
[code]

**Expected behavior**
The request should include the thumbprint specified via the fluent int

[2019-04-10 13:27] Stephanvs commented on #51
I actually ran into the exact same issue as the OP. Interesting though that this issue is already from july 2017! The workaround posted does seem to work though! Thanks @Suchiman

[2019-04-10 18:09] praries880 commented on #640
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-10 23:50] #597 closed

[2019-04-11 11:43] DenisaAndreeaA commented on #635
Same problem here:

[code]

[code]

[2019-04-11 15:56] Suchiman opened #642 "[BUG] AnalyzeCustomHostnameAsync does not work"
**Describe the bug**
If you call `AnalyzeCustomHostnameAsync` you get an exception because the `Request` forgot to include `Accept: application/json` and thus got XML as response. If you fix this with a `DelegatingHandler`, then you get an object with all properties set to null returned.

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

**Expected behavior**
I get the results i can

[2019-04-12 18:24] praries880 commented on #642
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-15 07:04] Abbott-fu commented on #110
@mhenderson  Thank you , I think you are right. I also did some tests at my lab and find that we need to create application gateway first ,then we can change nic settings. That is to say we need to add "dependon" clause to the nic template part . My template likes below, notice that  i add "dependson" .
[code]

[2019-04-15 14:41] OUP-CCoE opened #643 "Can't change OS Disk storage type without specifying a Storage account?"
Hi,

I'm trying to create an Azure VM with Premium Storage on the OS Disk. I can get it to work, but only when i specify a new or existing storage account. Why does it require a storage account when using Managed disks?

When i hover over the red squiggle for this error, it says the following:

`azure.VirtualMachines
                    .Define(vmName)
                    .WithRegion(location)

[2019-04-16 17:38] praries880 commented on #642
@Suchiman
The properties match what is in the [rest API specs](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/WebApps.json#L18540)

As for XML coming back from the service, can you kindly capture the fiddler traces and capture the response from the server and paste it here?

[2019-04-16 18:34] praries880 commented on #640
@Suchiman
The way this call [works](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/AppService/HostNameSslBindingImpl.cs#L144) is that it will list all the certs in the resource group and then pick on e where the name/thumbprint matched what you specified.

Can you validate that the resource group has a cert with the name/thumbprint that you passed in? Since the

[2019-04-16 22:00] brettkc commented on #345
@anuchandy or anyone is this on a road map? Perhaps enabling a feature like this on the different creating interfaces to prevent issues that @aniliht has outlined above?

[2019-04-16 22:02] Suchiman commented on #640
@praries880 Actually i was iterating the certificates myself using `var certificates = azure.AppServices.AppServiceCertificates.List();`, searching for a certificate that matches the hostname i'm trying to bind. But first i had to workaround [this](https://github.com/Azure/azure-libraries-for-net/issues/51#issuecomment-480297352) known, nearly 2 year old bug...
Everything is inside a single resour

[2019-04-17 00:03] RadhakrishnaHariMSFT opened #645 "[FEATURE REQ] Support for Standard_ZRS to FluentStorageTypes"
**Is your feature request related to a problem? Please describe.**
StandardZRS is one of the storage account types missing in https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.models.storageaccounttypes?view=azure-dotnet . I am not sure what all are missing and it would help to add all of the types that are supported in Azure.

**Describe the solution you'd like**
Add

[2019-04-17 14:56] Suchiman commented on #51
Another workaround is to use `ListByResourceGroupAsync` instead of just `ListAsync` which is probably more often what you actually want.

[2019-04-17 15:31] Suchiman commented on #642
Following Request and Response are issued by the SDK.
Request:
[code]

Response:
[code]

If you modify the Request to include `accept: application/json` then you get
[code]

Note that this response clearly says `"isHostnameAlreadyVerified":false` which does not match `[JsonProperty(PropertyName = "properties.isHostnameAlreadyVerified")]`

[2019-04-17 16:05] Suchiman commented on #51
I have updated my workaround due to it breaking the `ListByResourceGroupAsync` method (the url pattern was matching too wildly). @Stephanvs please make sure to update the Workaround or switch to using `ListByResourceGroupAsync` ,which works out of the box, to avoid pulling out your hair 😉

[2019-04-17 16:09] Suchiman commented on #640
@praries880 i have identified the culprit. the workaround i did propose [here](https://github.com/Azure/azure-libraries-for-net/issues/51#issuecomment-480297352) was causing an exception when calling `ListByResourceGroupAsync` which was apparently silently swallowed by the SDK.

Unless you want to improve the error handling there, this issue can be closed.

[2019-04-19 18:10] kurtzeborn commented on #645
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-19 21:06] RadhakrishnaHariMSFT commented on #645
While you are at this, could you also add the following types

Premium_ZRS, Standard_GRS, Standard_LRS, Standard_RAGRS, Standard_ZRS

https://docs.microsoft.com/en-us/cli/azure/ext/storage-preview/storage/account?view=azure-cli-latest
https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy

[2019-04-20 18:11] rybkov opened #646 "[BUG] Cannot bind custom domain"
**Describe the bug**
Cannot bind custom domain to AppService

***Exception or Stack Trace***
Using from Azure Function on Local Machine, call just stuck and does not return with any errors

**To Reproduce**
Get AppService (in my case using GetByIdAsync)
Call host name binding

***Code Snippet***
`App?.Update( ).DefineHostnameBinding( ).WithThirdPartyDomain( HostName ).WithSubDomain( SubDomainName

[2019-04-22 18:20] kurtzeborn commented on #646
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-23 05:31] karataliu commented on #635
Should port #143 for appservice and such.
We're also facing this issue, will someone work on this?

[2019-04-26 21:14] masters3d opened #647 "Vend Regions as a nuget"
**Is your feature request related to a problem? Please describe.**
Every Project I have ever encotered has a version of this file
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Region.cs

Can you vend it as a nuget?

**Describe the solution you'd like**
So much duplication.

**Describe alternatives you've considered**
Duplication. Copying this t

[2019-04-29 18:06] lmazuel commented on #617
Made it in 1.22

[2019-04-29 18:06] #617 closed

[2019-04-29 18:07] lmazuel opened #648 "CosmosDb: added multipleWriteLocations functionality and re-recorded test"
C# version of:
https://github.com/Azure/azure-libraries-for-java/pull/731

[2019-04-29 18:47] praries880 opened #649 "[FEATURE REQ] Support ACI User Assigned Identites via SDK"
@CoenraadS commented on [Mon Apr 29 2019](https://github.com/Azure/azure-sdk-for-net/issues/5980)

When creating an ACI container via a C# function app using the Fluent SDK, I am unable to assign it an User Assigned Identity.

The documentation here: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/services-support-managed-identities shows that it is suppo

[2019-04-29 20:16] praries880 commented on #636
validated that we do not need the fix in .net. The implementation is already correct :
https://github.com/Azure/azure-libraries-for-net/blob/6c9c6cf1a4d1c69b542866c1944c1e105fe201e5/src/ResourceManagement/Compute/WindowsVolumeEncryptionMonitorImpl.cs#L135

[2019-04-29 20:16] #636 closed

[2019-04-30 09:11] OUP-CCoE commented on #643
Can anyone assist here please?

[2019-04-30 21:05] iscai-msft opened #650 "[BUG] Network server side change resulting in test error in Fluent.Tests.Network.NetworkWatcher.CanTroubleshootConnection"
**Describe the bug**
The test is failing because, while in the old recording the ResponseBody was empty, it is now null resulting in Json deserialization error.

***Exception or Stack Trace***
Test Name:	Fluent.Tests.Network.NetworkWatcher.CanTroubleshootConnection
Test FullName:	Fluent.Tests.Network.NetworkWatcher.CanTroubleshootConnection
Test Source:	F:\azure-libraries-for-net\Tests\Fluent.Test

[2019-04-30 21:58] iscai-msft opened #651 "[BUG] Custom Script extension failing on Compute tests, though working in Java"
**Describe the bug**
Script to run on created VM fails during C# tests CanCreateCustomScriptExtension and samples tests VirtualMachineScaleSetWithUnmanagedDisks

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concis

[2019-04-30 22:00] iscai-msft opened #652 "[BUG] CanListEventsAndMetrics failing for C# tests"
**Describe the bug**
Fails with a bad request when calling azure.ActivityLogs in the Monitor.CanListEventsAndMetrics test.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to

[2019-05-02 00:05] fabianmaciel opened #654 "Support for MultipleResourceMultipleMetricCriteria in Monitor"
MultipleResourceMultipleMetricCriteria is missing from Microsoft.Azure.Management.Monitor.

According to [https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate], the generated HTTP request for _odata.type MultipleResourceMultipleMetricCriteria_ must also include:

- properties.targetResourceRegion
- properties.targetResourceType

[2019-05-02 21:45] rajasekhar2 commented on #632
thank you.. looks like latest version has fixed this

[2019-05-02 21:45] #632 closed

[2019-05-03 18:12] kurtzeborn commented on #654
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-04 17:56] badamsdev commented on #642
I'm having the same issue with both Microsoft.WindowsAzure.Management.Websites and Microsoft.Azure.Management.Fluent.

Is this not the same issue already reported in 2017:
[https://github.com/Azure/azure-libraries-for-net/issues/47](azure-libraries-for-net/issues/47)

[2019-05-06 08:19] megel opened #655 "[BUG] Storage tags are not created in version 1.22.0"
**Describe the bug**
Storage Tags are not created in **Version 1.22.0 (Verison 1.21.0 is OK)**

***Code Snippet***
[code]

**Result: (Not Working)**
![image](https://user-images.githubusercontent.com/15800069/57213594-989c0100-6fe7-11e9-846a-d97060840a35.png)
![image](https://user-images.githubusercontent.com/15800069/57213852-558e5d80-6fe8-11e9-8e67-8bcc5dde1b0c.png)

**Result: (Working)**
![imag

[2019-05-06 11:47] MichaelSimons opened #656 "Add support for ACR `Import`"
The Microsoft.Azure.Management.ContainerRegistry API does not appear to have support for the [`Import` API](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-import).  As a result users who would like to invoke this functionality are forced to utilize the `Inner` API (e.g. `azure.ContainerRegistries.Inner.ImportImageAsync`).  My understanding is that the Inner API is not

[2019-05-06 12:08] csiebler commented on #585
No update on this? This is such an important functionality to make use of MSI...

[2019-05-06 18:10] kurtzeborn opened #657 "[BUG]Cannot retrieve InstanceView of Azure Container Instance"
@yuriwoof commented on [Sun May 05 2019](https://github.com/Azure/azure-sdk-for-net/issues/6126)

**Describe the bug**
Customer can get "instanceView" of ACI about 5 months ago but they cannot retrieve them without changing package version.
On the other hands, they can get that property using Azure CLI and Azure portal.

***Exception or Stack Trace***
None of the exceptions occurs.

**To Reproduce

[2019-05-06 18:11] kurtzeborn commented on #657
Moving this to the correct repo for fluent APIs...

[2019-05-06 18:23] kurtzeborn commented on #655
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

CC: @iscai-msft

[2019-05-06 18:25] kurtzeborn commented on #656
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-07 10:38] yuriwoof commented on #657
@kurtzeborn Thank you for routing!

[2019-05-08 23:08] #604 closed

[2019-05-13 13:24] divyeshgohil85 commented on #367
h

[2019-05-13 18:34] MisinformedDNA commented on #180
@hovsepm So is there a non-fluent API to access instead?

[2019-05-14 03:31] shahabhijeet commented on #180
Non Fluent alternative is
Using [Microsoft.Azure.Management.ResourceManager](
https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceManager/2.0.0-preview)
ResourceManagementClient.Resources.ListByResourceGroupWithHttpMessagesAsync

[2019-05-14 14:16] MisinformedDNA commented on #180
I notice that there are no non-prerelease versions. Is this something that will be coming in the near future?

[2019-05-14 22:15] feiyushi opened #660 "[FEATURE REQ] Enable installing certificates when creating a VM"
**Is your feature request related to a problem? Please describe.**
When I'm trying to configure a key vault certificate for WinRM, I got the error "Certificate XXXX specified in WinRM configuration is not defined in the VM model secrets". I believe this means I need to specify the certificate in `OSProfile.secrets` as well. Doc: [link](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachi

[2019-05-15 18:37] michaelelleby opened #661 "[BUG]Cannot query Azure AD with system managed identity"
**Describe the bug**
Authenticating with `new AzureCredentials(new MSILoginInformation(MSIResourceType.AppService), AzureEnvironment.AzureGlobalCloud);` causes the tenant id to be null, which causes subsequent requests to Azure AD to fail.

***Exception or Stack Trace***
[code]

**To Reproduce**

1. Create a new Azure Function
2. Enable system managed identity for the app service, hosting the func

[2019-05-17 13:59] azkamil opened #663 "Reimage Scaleset Instance fails"
After update from 1.20 to version 1.22 of Compute.Fluent library the Reaimge  function
Microsoft.Azure.Management.Compute.Fluent.VirtualMachineScaleSetsOperationsExtensions.ReimageAsync stopped working properly.
we tried also to set tempDisk  to true/false (see error message) which did not help

***Exception or Stack Trace***
error message is:
The value of parameter tempDisk is invalid.
   at Micr

[2019-05-17 14:17] adubnik opened #664 "[FEATURE REQ] Add WithLogAnalytics to the ACI"
**Is your feature request related to a problem? Please describe.**

Currently there is no clear way to specify AzureLogAnalytics while creating the Azure Container Instance where the necessary capability seem to be available in the Inner.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Calling REST API directly

**Additional context**

[2019-05-18 19:26] kbulte opened #665 "[Question] Is there a version of the management library for graph that makes use of the Microsoft Graph Api"
I tried the Microsoft.Azure.Management.Graph.RBAC.Fluent library and I noticed this is still using the legacy Azure Active Directory Graph (https://graph.windows.net/). Is there already a version of the Microsoft.Azure.Management.Graph.RBAC.Fluent library that uses the Microsoft Graph api (https://graph.microsoft.com/)?

[2019-05-20 09:27] overeemm opened #666 "How to create a virtualmachine from a customimage with SSD disk?"
**Query/Question**
How can I create a new virtual machine with an SSD OS Disk, using an existing custom image.

We use  the following snippet to get the image

[code]

and the following snippet to create the VM

[code]

***Why is this not a Bug or a feature Request?***
Searching the web, it seems that this is possible, however, I cannot find the fluent API to do  this.

**Setup (please complete th

[2019-05-20 18:09] kurtzeborn commented on #661
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-20 18:22] kurtzeborn commented on #663
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

CC: @praries880

[2019-05-20 18:23] kurtzeborn commented on #664
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-20 18:30] kurtzeborn commented on #665
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-20 18:31] kurtzeborn commented on #666
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-20 22:19] cvargaswebad opened #667 "Upload Certificate give Exception Operation returned an invalid status code 'NotFound'"
**Describe the bug**
When you call the following code to upload a certificate to a hostname give an exception

` var app = webApp.Update()
        .DefineSslBinding()
        .ForHostname("hostname")
        .WithPfxCertificateToUpload(Path.Combine(ServerPath, "Cert" + ".pfx"), "Password")
        .WithSniBasedSsl()
        .Attach()
        .Apply();`

***Exception or Stack Trace***
Certificate '

[2019-05-20 22:40] iscai-msft commented on #664
We are working on adding this feature currently and it will be released with fluent 1.23 in the next couple of weeks. Thank you for raising this issue!

[2019-05-22 06:55] orpeti opened #672 "[BUG] Problems when using custom exponential backoff strategy"
**Describe the bug**
Preliminary knowledge for the issue:
We are using the Azure Fluent SDK.
We are using the retry policy of the Fluent SDK.
Incremental strategy: fixed time interval between retries.
Exponential backoff strategy: Progressive delay between retries.

In the past we used the incremental strategy of the retry policy, and everything worked fine.
We changed the strategy from incrementa

[2019-05-22 09:39] draganb-pw opened #673 "DNS A Record pointing to Public IP"
Trying to create an A record in Azure DNS zone pointing to Azure Public IP resource. Haven't found a way in .Net libraries. Anyone has an idea?

This connection between DNS and PIP works in Azure portal. I need to to it programmatically.

[2019-05-22 12:49] DYNSOL opened #674 "[BUG] Use PremiumLRS storage without a Storage Account."
**Describe the bug**
There is a bug that if you select

`.WithLatestWindowsImage("MicrosoftWindowsServer", "WindowsServer", "2016-Datacenter")`

then you can't use

`.WithOSDiskStorageAccountType(StorageAccountTypes.PremiumLRS)`

The only way around it, is add to a storage account by doing this:

`.WithNewStorageAccount(storageAccount)`

However, if i change the `.WithLatestWindowsImage("Microsoft

[2019-05-22 19:28] #667 closed

[2019-05-23 14:31] ai-fwd opened #677 "[BUG] Unable to catch Exception due to indefinite retry"
**Describe the bug**
I'm unable to catch the exception because it seems to retry indefinitely.

***Exception or Stack Trace***
None.

***Code Snippet***
[code]

**Expected behavior**
A raised exception of any kind can be caught by client code.

**Setup (please complete the following information):**
 - OS: Windows
 - IDE : LinqPad
 - Version of the Library used: 1.22

**Additional context**
Even wh

[2019-05-24 18:08] kurtzeborn commented on #672
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-24 18:14] kurtzeborn commented on #673
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-24 18:17] kurtzeborn commented on #674
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-24 18:27] kurtzeborn commented on #677
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-27 11:35] overeemm commented on #666
Any news @kurtzeborn  ?

[2019-05-28 07:35] Rambalac opened #680 "[Question] How to delete CDN and TrafficManager endpoints?"
**Query/Question**
I looked everywhere but could not find any way to delete endpoints for CDN and TrafficManager.
Is it possible? Any workaround using existing ICdnEndpoint and ITrafficManagerExternalEndpoint?

***Why is this not a Bug or a feature Request?***
I'm not sure if it's a feature, expecting that it should be possible to delete everything that could be created. Did I miss anything?

**Se

[2019-05-28 07:50] Rambalac commented on #680
Sorry. Just find it's not Delete, but `Update().WithoutEndpoint()`

[2019-05-28 07:50] #680 closed

[2019-05-28 15:19] maxim-gavrilov-veeam opened #681 "[BUG] NullReferenceException when accessing IStorageAccount.Region"
**Describe the bug**
You get NullReferenceException when accessing IStorageAccount.Region.

***Exception or Stack Trace***
[code]
(this is very short because most of the methods have been inlined).

**To Reproduce**
Get StorageAccount in any way and query Region property.

***Code Snippet***
[code]

**Expected behavior**
I expect to get a Region instance.

**Setup (please complete the following in

[2019-05-28 16:55] praries880 commented on #681
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-28 18:04] david-jarman opened #682 "Why was the v1.18 tag / release removed?"
**Query/Question**
Why was the v1.18 tag / release removed?

***Why is this not a Bug or a feature Request?***

**Setup (please complete the following information if applicable):**

 **Information Checklist**

[2019-05-28 18:25] kurtzeborn commented on #682
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-29 11:36] KalyanChanumolu-MSFT opened #683 "[BUG]: ResourceType value format not consistent across APIs"
**Describe the bug**
The Providers.GetByName() API returns a ResourceType value that is not consistent with the formats returned by
ResourceId.FromString(resourceId).FullResourceType
ResourceId.FromString(resourceId).ResourceType
ResourceUtils.ResourceTypeFromResourceId(resourceId)

Please refer the screenshot below

**To Reproduce**
Code to reproduce the issue
[code]

**Expected behavior**
For th

[2019-05-30 16:30] lmazuel commented on #39
Checked with Swagger 2019-03-01, still not fixed. This issue is blocked until https://github.com/Azure/azure-rest-api-specs/issues/1975 is fixed by the ARM team.

[2019-05-31 12:52] synercoder commented on #677
I have the same issue, after investigating further, the reason the retry handler is ignored (on my end, I had a retry handler set to 3 retries), is because before it does the same "PUT" request again, it first does a patch which goes correct, then it does the faulty PUT again. Since this is the "first attempt" in this sequence, my retrypolicy is not stopping it. When I captured the retry handler r

[2019-05-31 14:22] jasonshsoftware commented on #585
I had this issue last night. I didn't want to revert back to a client credentials locally. So, I replaced the AzureCredentials in my service container with the following class (only when running locally)

[code]

This reverts back to the KeyVaultClient's implementation of MSI, which correctly checks Visual Studio or Azure CLI if actual MSI fails because you are running locally.

Hope this helps.

[2019-05-31 19:41] toutougabi opened #684 "[BUG] Network Security Groups that use Application Security Groups"
**Describe the bug**
I have NSGs that have some rules that use Application Security Groups.

Even if I don't touch anything close to the ASG any update to the NSG fails because the ASG are not properly serialized to JSON

***Exception or Stack Trace***
Add the exception log and stack trace if available
{
  "error": {
    "code": "InvalidRequestFormat",
    "message": "Cannot parse the request.",

[2019-06-01 11:09] fuocor opened #687 "Service Fabric Cluster Management support"
I find it strange that you have Kubernetes Cluster support but not Service Fabric (unless Service Fabric is being orphaned).

**Describe the solution you'd like**
Service Fabric cluster management support

[2019-06-03 16:11] maximrub commented on #681
any news about this bug?
we cannot upgrade to the new version because of this, is there a workaround we can use?

[2019-06-03 16:33] maxim-gavrilov-veeam commented on #681
@maximrub, you can use `Region.Create(storageAccount.Inner.Location)` as a workaround.

[2019-06-03 17:29] fuocor opened #688 "Support AppRoles"
Add support so that application roles can be created as part of the ```IActiveDirectoryApplication Define``` process.
there does not appear to be any means of creating AppRoles in applications.

I need the following
[code]

added to the manifest but cannot seem to get it to happen with the fluent api.

[2019-06-03 18:21] kurtzeborn commented on #684
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-03 18:24] kurtzeborn commented on #687
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-03 18:30] kurtzeborn commented on #688
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-04 08:25] Sandmann-cs1 opened #689 "Unable to retrieve a list of LongTerm Backups for a specific Azure SQL Database"
Hello

I try to retrieve a list of available LongTerm backups for a specific Azure SQL database.
I'm using the Latest C# nuget Package (version 1.22.2) ,call the following method :

**ISqlManagementClient.BackupLongTermRetentionPolicies.ListByDatabaseAsync**

and then get the following Error :

**Error Microsoft.Rest.Azure.CloudException: Configure long term retention policy with azure recovery se

[2019-06-05 14:33] JadedATB opened #690 "[QUERY] Should we be able to assign a user-assigned managed identity to a web app?"
**Query/Question**
Should this functionality be working now (v1.22.2)?  If so, how can I get it to work?  Here is what I've tried:

await webApp.Update()
                .WithUserAssignedManagedServiceIdentity()
                .ApplyAsync();

webApp.Inner.Identity = new ManagedServiceIdentity(ManagedServiceIdentityType.UserAssigned, tenantId, msi.Inner.PrincipalId.ToString());

[2019-06-05 18:13] kurtzeborn commented on #689
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-05 18:19] kurtzeborn commented on #690
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-06 01:46] sarajang opened #691 "Is it possible to move resources using fluent azure client?"
**Query/Question**
Is it possible to move resources using fluent azure client?

***Why is this not a Bug or a feature Request?***
I am not sure if it already exists.

**Setup (please complete the following information if applicable):**
NA

 **Information Checklist**
NA

[2019-06-06 09:51] DavidR91 opened #692 "[QUERY] Selecting a specific tenant for accessing AD applications?"
**Query/Question**
During initial authentication, I want to be able to use `common` as the tenant ID, to support a multi-tenanted application.

This works, but the authenticated Azure instance then has multiple tenants associated with it

When accessing `.ActiveDirectoryApplications` there is no way to select _which_ tenant I'm referring to

I can re-authenticate and specify the new tenant ID expl

[2019-06-06 11:11] DavidR91 commented on #692
I should clarify as well: Part of the confusion here is that as soon as you limit to a subscription (e.g. `WithSubscription`) you lose access to `ActiveDirectoryApplications` (because they're at tenant level)

So doing a list out of subscriptions and choosing by name doesn't seem to be possible

[2019-06-06 18:09] asehgal123 opened #693 "[BUG]"
**Describe the bug**
Keep getting error "Operation returned an invalid status code 'BadRequest'" trying to set LogAnalytics workspace for a webapp resource using Azure fluent API.

***Exception or Stack Trace***
   at Microsoft.Azure.Management.Monitor.Fluent.DiagnosticSettingsOperations.<CreateOrUpdateWithHttpMessagesAsync>d__6.MoveNext()
--- End of stack trace from previous location where except

[2019-06-07 18:31] ankushbindlish2 commented on #691
ResourceManager

                .Configure()

                .Authenticate(AzureCredentials)

                .WithSubscription(TestParameters.SubscriptionId.ToString())

                .ResourceManager

                .Inner

                .Resources

                .MoveResourcesAsync("sourceRG", new ResourcesMoveInfoInner()

                {

                    TargetResourceGroup = "d

[2019-06-07 18:32] ankushbindlish2 opened #695 "GraphRbac servicePrincipalsByAppId method was not added to Fluent"
**Describe the bug**
 "/{tenantID}/servicePrincipalsByAppId/{applicationID}/objectId": {

Swagger PR : https://github.com/Azure/azure-rest-api-specs/pull/5417/files

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and co

[2019-06-10 06:32] yaohaizh commented on #674
As I checked, the sequence of the API is calling should be
                        .WithLatestWindowsImage("MicrosoftWindowsServer", "WindowsServer", "2016-Datacenter")
                        .WithAdminUsername(userName)
                        .WithAdminPassword(password)
                        .WithComputerName(windowsVmName)
                        **.WithOSDiskStorageAccountType(StorageAccou

[2019-06-10 18:19] kurtzeborn commented on #691
This question appears to have been answered so I'm closing the issue.  Please reopen if more followup is needed.

[2019-06-10 18:19] #691 closed

[2019-06-10 18:24] kurtzeborn commented on #692
Thank you for opening this issue! We are routing it to the appropriate team for follow up.  This appears to be a request for a new feature not currently in the libraries, so it may take some time to be implemented after getting added to the backlog.

[2019-06-10 18:28] kurtzeborn commented on #693
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-11 13:03] fuocor commented on #536
Thanks for this. I've been fighting with it for 2 days

[2019-06-11 19:38] fuocor opened #696 "IDeployment.Outputs returns Newtonsoft.Json.JObject"
**Describe the bug**
IDeployment.Outputs returns Newtonsoft.Json.JObject which forces dependencies on Newtonsoft.

**Expected behavior**
Something that has not been desrialized and can use System.Text.Json.Serialization.JsonSerializer

**Additional context**
There should be no hard JSON (de)serialization dependencies in the library

[2019-06-11 23:37] JoelMendoza opened #697 "Unable to compile UWP store app using fluent libraries"
**Describe the bug**

A UWP project incorporating the following NuGet packages:
- DocumentFormat.OpenXml (version 2.9.1)
- Microsoft.Azure.Management.Fluent (version 1.22.2)
- Microsoft.NETCore.UniversalWindowsPlatform (version 6.2.8)

Fails to build in Release config if the build is set to use the .Net native toolchain (required for Store submission).

***Exception or Stack Trace***

This is the

[2019-06-12 20:50] aamalvea commented on #689
This LTR backup API is no longer supported and there is a new one for you touse. @pixia Please advise customer on the new LTR backup API

[2019-06-12 22:17] kurtzeborn commented on #696
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-12 22:19] kurtzeborn commented on #697
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-12 22:20] Eilon opened #698 "[BUG] Unhelpful exception message for missing MSI_ENDPOINT env var"
**Describe the bug**

I'm playing with resource manager APIs and ran into an exception:

[code]

This comes from these checks:

https://github.com/Azure/azure-libraries-for-net/blob/d5a679dc470b6275508997cfb78d2c1187ac00e1/src/ResourceManagement/ResourceManager/Authentication/MSITokenProvider.cs#L80-L81

***Code Snippet***

[code]

**Expected behavior**
A different exception type should be thrown.

[2019-06-12 22:36] ankushbindlish2 commented on #695
ETA on this change ?

[2019-06-12 22:43] kurtzeborn commented on #698
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-12 23:36] praries880 commented on #695
@ankushbindlish2 All swagger updates are reflected in the autogenerated SDKs at https://github.com/Azure/azure-sdk-for-java/

This repo is for hand curated features, this one generally is a little behind since we have to visit each SDK manually and pull in features/scenarios that have a larger impact.

[2019-06-13 13:12] katan4ig opened #701 "[BUG] Cannot add Custom Domain name to existing CDN endpoint"
**Describe the bug**
The command for update CDN endpoint with adding new custom domain doesn't add endpoints to Azure CDN profile, and don't throws any exceptions.

***Code Snippet***
See code below for reproduce:
[code]
**Expected behavior**
The Function WithCustomDomain in case of update existing endpoint should add new custom domain name to CDN profile.

**Setup (please complete the following i

[2019-06-13 16:34] praries880 opened #702 "[FEATURE REQ] update Eventhub to use the latest swagger specs"
Even though the latest API version is still https://github.com/Azure/azure-rest-api-specs/tree/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01, it has some changes in it form the last time we updated EventHub.
We need tp update eventhub to use tle latest rest specs.

Ref : https://github.com/Azure/azure-libraries-for-java/issues/757

[2019-06-13 16:37] praries880 opened #703 "[FEATURE REQ]update Cosmos DB to use the latest swagger specs"
Even though the latest API version is still https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08, it has some changes in it form the last time we updated CosmosDB.
We need tp update Cosmos DB to use tle latest rest specs.

Ref : https://github.com/Azure/azure-libraries-for-java/issues/758

[2019-06-14 12:08] JoelMendoza commented on #697
Thank you, I would really appreciate any assistance with this issue.

[2019-06-17 02:51] pppchris opened #704 "[FEATURE REQ] Support for VMSS and HUB Licensing"
Add support to enable and disable HUB Licensing for Virtual Machine Scale Sets. It is support for standard Virtual Machines but option is not available for VMSS.

[2019-06-17 20:45] AlexEyler opened #705 "[FEATURE REQ] Allow setting custom health probe headers on traffic manager profile"
**Is your feature request related to a problem? Please describe.**
Right now, it's only possible to update each traffic manager *endpoint* with custom headers. Traffic Manager Profiles support setting a default collection of custom headers, but it's just not possible in Fluent yet.

**Describe the solution you'd like**
Update `IWithCreate` and `IUpdate` for traffic manager to allow setting the cus

[2019-06-17 22:28] praries880 commented on #701
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-17 22:35] praries880 commented on #704
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-17 22:40] praries880 commented on #705
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

@yaohaizh  Can you kindly take a look at this?

[2019-06-18 20:54] bernie-g opened #707 "[FEATURE REQ] Auto-Shutdown on VMS"
On the actual azure portal you can configure Auto Shutdown times for the VM, but I don't see any way to do this in the API. Is this even possible at all?

[2019-06-19 15:44] VaclavK opened #711 "[FEATURE REQ] Fluent SDK does not expose HTTPS Load Balancer probes"
**Is your feature request related to a problem? Please describe.**

At the moment when LB rule is linked to HTTPS probe, only resource id is available and additional call has to be made with resource manager client - http and tcp probes are however available when listing LB rules via fluent

**Describe the solution you'd like**
support/return all probe types

**Describe alternatives you've conside

[2019-06-19 16:50] SvyatovetsD opened #710 "[FEATURE REQ] Enable custom HTTPS on CDN endpoint custom domain"
**Is your feature request related to a problem? Please describe.**
It doesn't seem possible to enable custom domain HTTPS via provided CDN api.

**Describe the solution you'd like**
Trigger custom domain HTTPS with fluent api.

**Information Checklist**
Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we will treat the issuer as an

[2019-06-19 21:31] praries880 commented on #707
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

CC: @yaohaizh

[2019-06-19 21:36] praries880 commented on #711
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

CC: @yaohaizh

[2019-06-19 21:37] praries880 commented on #710
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

CC: @yaohaizh

[2019-06-20 09:58] VaclavK commented on #711
I should also note that the same is on definition side of things - e.g.
[code]

there is no DefineHttpsProbe

[2019-06-20 11:33] totollygeek commented on #606
Any news on when this will be available? I can't use the whole library, since this part is an essential operation that we need.

[2019-06-24 10:14] vljubisavljevic commented on #606
I also really need this one, if You can stop ContainerGroup you should be able to start it without remove / create

[2019-06-25 09:42] CorruptedHeart commented on #411
The one way of handling this would be to keep a reference to the result of `CreateAsync()` and getting the the rule and updating it with the additional claim.

[code]

[2019-06-26 19:28] pinaki1234 opened #716 "[BUG] error CS7069: Reference to type 'ListContainerItemsInner' claims it is defined in 'Microsoft.Azure.Management.Storage.Fluent', but it could not be found"
**Describe the bug**
I am trying to create an instance of StorageManagementClient:

StorageManagementClient storageMgmtClient = new StorageManagementClient(_restClient)

***Exception or Stack Trace***
error CS7069: Reference to type 'ListContainerItemsInner' claims it is defined in 'Microsoft.Azure.Management.Storage.Fluent', but it could not be found

**To Reproduce**
Add a reference to:
Microsof

[2019-06-27 05:57] yaohaizh commented on #702
The eventhub swagger API has been updated.

[2019-06-27 05:57] #702 closed

[2019-06-27 15:07] qub1n commented on #665
Yes, please replace deprecated API
https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-or-azure-ad-graph/

[2019-06-27 15:14] qub1n opened #718 "[FEATURE REQ] Add pricing API for Virtual machines"
**Is your feature request related to a problem? Please describe.**
If I am creating VM in Azure portal I can see pricing estimations. I would like to have this information available in azure-libraries-for-net, so I can programmatically create for example the cheapest VM with 2 GB RAM in the give region.

**Describe the solution you'd like**
Receive price estimations in the SKU API, I already CPU,

[2019-06-27 18:52] maggiepint commented on #718
Hi,

Thanks for the feedback. We have routed this issue to the appropriate team for follow up.

[2019-06-27 19:27] overeemm commented on #666
@kurtzeborn is there any news?

[2019-06-27 19:28] tomkerkhove opened #719 "[QUERY] Request tags per resource URI"
Is there a way to request the tags linked to a resource based on its uri?

I couldn't find this in the docs, sorry if I looked over it.

[2019-06-28 02:49] yaohaizh commented on #719
@tomkerkhove  How is your code snippet looks like?  For the resource object, it should have associated Tags property.

[2019-06-28 06:24] tomkerkhove commented on #719
That is correct, I've noticed you can do the following:
[code]

However, I need to be able to access the tags based on resource URI given our application does not want to use a switch to get a given resource and call "Tags" property on it.

This would also allow us to use this approach for all Azure resources, not only the ones supported by the SDK.

Is that possible?

[2019-06-28 09:31] yaohaizh commented on #719
Use the ResourceManager.GenericResources.GetById(...)

Example:
https://github.com/Azure/azure-libraries-for-net/blob/2e418c9259ac00e006efe02007cb1f939ffac2cf/Tests/Fluent.Tests/ResourceManager/GenericResourcesTests.cs#L31

[2019-06-28 15:46] tomkerkhove commented on #719
I gave it a try by doing:
[code]

However, it gives me the following issue:

Am I missing something?

[2019-06-30 22:15] xenalite commented on #485
@hovsepm @jianghaolu I just started using fluent APIs for Function Apps and hit this exact issue and the ones linked in related. One of the original issues has been open for over a year. Are there any plans to resolve these?
I attempted to get around this problem by provisioning the function app using a generic ResourceManager, but I cannot specify `Kind` property to be `functionApp`.

[2019-07-01 06:04] tomkerkhove commented on #719
Stacktrace:
[code]

[2019-07-01 09:42] xenalite opened #720 "[QUERY] How to set Key Vault IP restrictions?"
**Query/Question**
Is there a way to set network ACLS on Key Vault using Fluent API libraries?
Currently I create a Key Vault using Fluent APIs but then edit the firewall using the management client:
[code]

***Why is this not a Bug or a feature Request?***
Don't know what's possible yet.

**Setup (please complete the following information if applicable):**
- Using Microsoft.Azure.Management.KeyVa

[2019-07-01 22:23] mozehgir commented on #720
@xenalite - thanks for reporting this issue.

cc @yaohaizh

[2019-07-02 08:33] yaohaizh opened #721 "[FEATURE REQ] Update KeyVault to 2018-02-14"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-02 08:34] yaohaizh commented on #720
We need update KeyVault version for Fluent in order to support this.  https://github.com/Azure/azure-libraries-for-net/issues/721 logged for this.

[2019-07-02 08:43] yaohaizh commented on #719
[code]

[2019-07-02 08:46] yaohaizh commented on #716
Hi @pinaki1234 Do you use fluent API or management API from https://github.com/Azure/azure-sdk-for-net?

[2019-07-02 08:51] yaohaizh commented on #707
The swagger spec doesn't have any spec about auto shutdown? @praries880, in this case, where can I direct this issue to?

[2019-07-02 08:53] #707 closed

[2019-07-02 08:53] yaohaizh commented on #707
Issue moved to [Azure/azure-rest-api-specs #6533](https://github.com/Azure/azure-rest-api-specs/issues/6533) via [**ZenHub**](https://www.zenhub.com/)

[2019-07-02 09:00] yaohaizh commented on #682
@david-jarman, not sure. Is there any specified API from Fluent 1.18? Would suggest the latest version if possible. Thanks.

[2019-07-02 09:13] tomkerkhove commented on #719
This is not possible as I don't have all this info, I just have a resourceId.

I could interpret the whole resourceId to get all the info but it defeats the purpose of having resourceIds and `_resourceManager.GenericResources.GetByIdAsync`.

[2019-07-02 14:27] ChrisGibson1982 commented on #367
Did anyone establish what permissions were required to do this with an SPN?

[2019-07-02 15:24] Joel-Intact commented on #697
@kurtzeborn - is there any update on this issue or is there workaround that I can implement?

[2019-07-02 18:14] xenalite commented on #655
I can confirm this is still reproducible in 1.23.0.

[2019-07-02 23:13] xenalite opened #722 "[FEATURE REQ] Support setting poolAllocationMode in Batch accounts"
**Is your feature request related to a problem? Please describe.**
I cannot set poolAllocationMode property on Batch account when creating it via Fluent API.

[code]

**Describe the solution you'd like**
Add .WithPoolAllocationMode(UserSubscription) method to the fluent API.

**Describe alternatives you've considered**
Azure SDK method of creating Batch account exists. Pool allocation mode can onl

[2019-07-03 23:39] maggiepint commented on #722
Hi, thanks for sending us this feedback. We have routed to the appropriate team for follow-up.

[2019-07-04 08:50] xenalite opened #723 "[FEATURE REQ] Add support for Container Registry replications"
**Is your feature request related to a problem? Please describe.**
Container Registry replications cannot be added with the Fluent APIs.

**Describe the solution you'd like**
`.WithReplication(ReplicationRegion)` method on `ContainerRegistries` builder.

**Describe alternatives you've considered**
I tried to create them using the `GenericResources` builder, but it keeps complaining about the resou

[2019-07-04 15:06] rybkov opened #724 "[BUG] Upload certificate throws exception Operation returned an invalid status code 'Conflict'"
**Describe the bug**
When you call binding certificate to a host name it gives an exception
`App.Update( ).DefineSslBinding( ).ForHostname( DomainName ).WithPfxCertificateToUpload( CertificatePath, CertificatePassword ).WithSniBasedSsl( ).Attach( ).Apply( );`

If upload certificate via Azure Portal - it works

Issue is that request is wrong as it gets Thumbprint from another certificate somehow (e

[2019-07-04 15:56] rybkov commented on #724
***Temporary Solution***
`var certs = AzureManager.Connector.AppServices.AppServiceCertificates;
            var certificate = await certs.Define( $"{Thumbprint}##{region}#" ).WithRegion( region ).WithExistingResourceGroup( RESOURCE_GROUP ).WithPfxFile( CertificatePath ).WithPfxPassword( CertificatePassword ).CreateAsync(  );

            var updateApp = await App.Update( ).DefineSslBinding( ).For

[2019-07-06 00:17] pinaki1234 opened #725 "[BUG] Error Message 'authority' Uri should have at least one segment in the path (i.e. https://<host>/<path>/...) Parameter name: authority"
**Describe the bug**
Function App runs fine locally but fails in the portal.

***Exception or Stack Trace***
2019-07-06T00:14:15.228 [Error] Get Blobs List ran into error'authority' Uri should have at least one segment in the path (i.e. https://<host>/<path>/...)
Parameter name: authority

**To Reproduce**
NA as the function is inaccessible to public

***Code Snippet***
IAzure azure = Microsoft.Az

[2019-07-08 01:42] yaohaizh commented on #725
@pinaki1234 How is your creds defined? Which type is it?

[2019-07-08 10:01] azkamil commented on #663
We updated to v1.23 and this bug seems to be resolved.

[2019-07-08 17:13] praries880 opened #726 "[FEATURE REQ] Update compute to the REST API version 2019-03-01"
Update compute to the REST API version 2019-03-01,
look at the java PR for the new interfaces/functionality added:
https://github.com/Azure/azure-libraries-for-java/pull/737/

[2019-07-08 17:36] david-jarman commented on #682
I was just curious. Just wanted to make sure it wasn't pulled for security concerns.

[2019-07-08 17:59] #655 closed

[2019-07-08 20:17] JettJones opened #727 "[BUG] ContainerGroup and VolumeDefinitionBlank"
**Describe the bug**
When using the fluent API to define a ContainerGroup - several of the volume types are inaccessible.  This seems to be because 'IWithPrivateImageRegistryOrVolume' defines the return type of `DefineVolume` to be `IVolumeDefinitionBlank` - while more methods are defined on the interface `IVolumeDefinition`

**To Reproduce**
In VSCode - auto-completion with the given snippet will

[2019-07-08 23:24] maggiepint commented on #723
Thanks for this feedback. We have routed this to the proper team for follow up.

[2019-07-08 23:27] maggiepint commented on #724
Thanks for this feedback. I have routed to the appropriate team for follow up.

[2019-07-08 23:59] maggiepint commented on #727
Thanks for the feedback. I have routed to the appropriate service team for follow-up.

[2019-07-09 06:18] yaohaizh commented on #682
Thanks. I'm not sure either. But for now, I would close this issue. Feel free to reopen it if you have any concerns.

[2019-07-09 06:18] #682 closed

[2019-07-09 22:19] yaohaizh commented on #718
A service logged for tracking this issue. Thanks.

[2019-07-10 00:40] #530 closed

[2019-07-10 06:41] #661 closed

[2019-07-11 01:47] mjconnection commented on #718
First, thank you for reaching out to the Microsoft team.  Other customers have found this helpful
 https://docs.microsoft.com/en-us/azure/billing/billing-usage-rate-card-overview.

You will want to look at the Rate card API section of the documentation on this page.  Please let us know if this doesn't address your request.

[2019-07-11 01:47] #718 closed

[2019-07-11 18:30] toutougabi commented on #684
any news on this ?

[2019-07-11 20:37] pixia commented on #689
Please refer to https://www.nuget.org/packages/Microsoft.Azure.Management.Sql for latest versions. Azure has switched to Az Module (see https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-2.4.0).

[2019-07-12 02:24] yaohaizh commented on #684
@toutougabi Will look into this issue starting from today. Let you if anything found. Thanks.

[2019-07-12 02:58] yaohaizh commented on #684
@toutougabi  Could you provide the code snippet that calling NSG & ASG?

[2019-07-15 12:49] Joel-Intact commented on #697
If it helps, I have attached the Diagnostic output of the Release build.  This is blocking us from deploying our product to the Windows Store and we would really appreciate assistance with this issue.

[Output of Diagnostic Build.txt](https://github.com/Azure/azure-libraries-for-net/files/3392325/Output.of.Diagnostic.Build.txt)

[2019-07-15 18:03] qub1n opened #729 "[FEATURE REQ] Decoupling AzureCredentials from Authenticated by IAzureCredentials"
**Is your feature request related to a problem? Please describe.**

We have an application that accesses Azure in parallel, but Azure SDK is not threadsafe. We cannot change it to the single-threaded application, because of

1.  performance, it would be too slow.
2. Moving the locks to the business logic would be difficult to maintain.
3.  in some cases some regions and environments need to be ind

[2019-07-15 18:34] qub1n commented on #718
That is what I was looking for, thanks.

[2019-07-15 19:08] kwill-MSFT commented on #677
@kurtzeborn, this is not an App Services issue.  This seems to be a general problem with the Fluent SDK.  The following code also reproduces the same issue.  The underlying API returns a 400 with PrincipalNotFound, but the SDK continues retrying indefinitely.

[code]

[2019-07-15 22:42] kurtzeborn commented on #729
Thanks for opening this feature request in our fluent libraries (and for getting it in the correct repo)!  I've routed this to the appropriate team for follow up.

[2019-07-15 23:26] manalotoj opened #730 "[QUERY] How do I call Azure Instance Metadata service from a virtual machine?"
**Query/Question**
How do I call [Azure Instance Metadata service](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/instance-metadata-service#instance-api) from a virtual machine using the fluent sdk?

[2019-07-16 13:22] qub1n commented on #730
I am missing this in fluent SDK as well. It would be nice to implement it.

 We had to implemented it by ourselves.

[2019-07-16 14:12] yaohaizh commented on #730
I'm afraid this is not doable at this time. These REST calling are exposed yet from the swagger.
A swagger issue is logged here: https://github.com/Azure/azure-rest-api-specs/issues/4408
You can thumb up that issue for more attention, thanks.

I would close this one. Let me know if there is any other issue.

[2019-07-16 14:12] #730 closed

[2019-07-16 22:06] jstutson opened #732 "[BUG] IStorageAccount.Tags is empty when account has tags."
**Describe the bug**
Retrieving IStorageAccounts via azure.StorageAccounts.List() or GetById() results in IStorageAccount instance with a Tags dictionary that is always empty.  The storage account being retrieved has Tags.

Might be related to: https://github.com/Azure/azure-libraries-for-net/issues/552

**To Reproduce**
Steps to reproduce the behavior:
Have at least one storage account with Tags.

[2019-07-16 22:13] kurtzeborn commented on #732
Thanks for opening this issue!  I'm routing it to the correct team for followup.

CC: @yaohaizh

[2019-07-17 05:29] jeffhollan opened #733 "[BUG] Selecting function app by resource ID doesn’t seem supported"
**Describe the bug**
When trying to select a function app by resource ID it throws an exception even though resource Id is valid.

***Exception or Stack Trace***

--

***Code Snippet***
[code]
**Expected behavior**
That’s a valid Resource ID.

**Additional Context**
I suspect resource IDs all up may be busted. I’m not sure why this check exists?
https://github.com/Azure/azure-libraries-for-net/blo

[2019-07-17 06:42] JSGund commented on #532
Anyone find any solution for it, I am also facing the same issues.

[2019-07-17 07:30] AtOMiCNebula opened #734 "[BUG] Cannot use user-assigned managed identities from an AppService to authenticate to Azure"
**Describe the bug**
`MSITokenProvider.GetAuthenticationHeaderForAppServiceAsync` doesn't check if any of the user-assigned managed identity properties have been set, unlike the code path that builds the request objects via `MSITokenProvider.GetAuthenticationHeaderForVirtualMachineAsync`.  This means that we cannot use a user-assigned managed identity to connect to Azure from an AppService, the li

[2019-07-17 07:31] AtOMiCNebula commented on #734
I'll be opening a PR for this shortly. :)

[2019-07-17 22:26] kkamperschroer opened #736 "[FEATURE REQ] Upgrade Microsoft.Azure.Management.ResourceManager.Fluent to use Microsoft.Rest.ClientRuntime.Azure.Authentication 2.4.0"
**Is your feature request related to a problem? Please describe.**
We are having issues using this library due to it's indirect dependency on Microsoft.IdentityModel.Clients.ActiveDirectory >= 3.14.0 && < 4.0.0.

This happens through Microsoft.Rest.ClientRuntime.Azure.Authentication: https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Microsoft.Azure

[2019-07-18 02:19] yaohaizh opened #737 "NoAAD based encryption support"
Related Java PR#https://github.com/Azure/azure-libraries-for-java/pull/782/files

[2019-07-18 07:36] benPearce1 commented on #457
This is still an issue in 1.22. Seems to not just be App Settings
[code]

[2019-07-18 08:46] xenalite opened #738 "[FEATURE REQ] Support configuring subnet delegation"
**Is your feature request related to a problem? Please describe.**
I cannot add a subnet delegation during subnet creation.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
This functionality is not available in Fluent APIs, Inner management client or event in Azure SDK management client `Microsoft.Azure.Management.Network v5.0.0`.
The only way I can think

[2019-07-20 07:40] yaohaizh opened #739 "[Engineering] Fix the test cases for MSI related subs"
The following test cases need re-record with external subs
- ScaleSet.CanEnableMSIWithMultipleRoleAssignment
- ScaleSet.CanEnableMSIWithoutRoleAssignment
- ManagedServiceIdentityOperations.CanSetMSIOnNewVMWithRoleAssignedToCurrentResourceGroup
-ManagedServiceIdentityOperations.CanSetMSIOnNewVMWithMultipleRoleAssignments

[2019-07-21 05:12] WhitWaldo opened #740 "[BUG] Unable to create NAT rules in load balancer"
**Describe the bug**
I'm unable to create a NAT rule while creating a load balancer. I can create the load balancer itself without issue, including explicitly defining a front-end, back-end, HTTP probes, TCP probes and successfully save that. However, when attempting to then update that with at NAT rule, I get an error indicating that the new NAT rule referenced by the frontend was not found - wel

[2019-07-22 02:30] WhitWaldo opened #741 "[FEATURE REQ] Richer support for VMSS custom extension settings"
**Is your feature request related to a problem? Please describe.**
When creating a virtual machine scale set, the current fluent API for adding custom extensions allows me to specify protected and public settings, either as a single key/value pair or as a dictionary. Unfortunately, some examples, such as those used by Service Fabric nest these public settings, as in the following example from thei

[2019-07-23 10:23] oatsoda opened #744 "Infinite Loop when receiving a 400:BadRequest updating AppService Hostname Bindings"
Updating an AppService Hostname binding which fails due to a 400:BadRequest causes an infinite loop.  This is using a custom third-party domain.

No Exception is logged, it just hangs/loops forever.

    var site = await client.AppServices.WebApps.GetByIdAsync(appServiceResourceId);
    await site.Update()
        .DefineHostnameBinding()
        .WithThirdPartyDomain(domain)
        .WithSubDomai

[2019-07-23 13:05] oatsoda commented on #744
I've realised that I have a retry policy enabled, but I don't see why it would be retrying a 400, or why it would be retrying the PATCH also...

        m_RetryPolicy = new ExponentialBackoffRetryStrategy(
             6,
             TimeSpan.FromMilliseconds(1000),
             TimeSpan.FromMilliseconds(30000),
             TimeSpan.FromMilliseconds(1000)
             );

        public IAzure G

[2019-07-23 20:28] bgklein commented on #722
@weshaggard historically the Batch team does not manage its own fluent libraries. The request makes sense if someone from the core team wants to take it on.

[2019-07-23 22:26] maggiepint commented on #738
Thanks for this feature request. I've routed to the appropriate team for follow-up.

[2019-07-24 05:30] yaohaizh commented on #726
Close this as it released in v1.24.

[2019-07-24 05:30] #726 closed

[2019-07-24 06:45] tomkerkhove commented on #719
Any chance this is going to be added @yaohaizh 	?

[2019-07-24 14:44] leeenglestone opened #747 "[BUG]IReadOnlyList<ISqlDatabase> ListBySqlServer returns null Tags"
**Describe the bug**
The sqlserver objects returned in `IReadOnlyList<Microsoft.Azure.Management.Sql.Fluent.ISqlDatabase> ListBySqlServer`
have a Tags property that is always null.

The databases in question have tags on them which I can see in Azure Portal

**To Reproduce**
Obtain an instance of the SqlServer, request a list of databases on it. See code snippet.

***Code Snippet***
[code]

**Expe

[2019-07-24 22:38] kurtzeborn commented on #740
Thanks for opening this bug!  I'm routing it to the appropriate team for follow up.

[2019-07-25 00:29] Matt-Westphal opened #748 "How to expand the OS Disk"
**Query/Question**
We are creating VMs but they need to have an OS disk greater than 127GB. I believe we have the code correct but it throws exceptions and we can't find any samples that are doing the same thing

***Why is this not a Bug or a feature Request?***
Here's the code that we're using. Looks like it should work but it throws and exception with the message: "Cannot resize disk GPVERISIZE2

[2019-07-25 02:14] yaohaizh commented on #748
Could you try `vm.Deallocate()` to see whether this fit your requirement? Thanks.

[2019-07-25 05:36] yaohaizh commented on #697
@Joel-Intact, from the diagnostic build output, there is no compilation errors related to Fluent as your original reported. What the latest situation here?

[2019-07-25 07:57] #734 closed

[2019-07-25 09:37] qub1n opened #749 "[FEATURE REQ] Add Async overload to availabilitySet.ListVirtualMachineSizes"
**Is your feature request related to a problem? Please describe.**

It is just a better API, not a problem.
availabilitySet.ListVirtualMachineSizes does not support async.

**Describe the solution you'd like**

Please create a method availabilitySet.ListVirtualMachineSizesAsync.
There is already a method AvailabilitySets.Inner.ListAvailableSizesAsync

**Describe alternatives you've considered**
us

[2019-07-25 09:39] #749 closed

[2019-07-25 16:36] Joel-Intact commented on #697
Hi @yaohaizh, thank you for responding.  Originally, I titled the issue as ".NET Native compilation",  @kurtzeborn, changed the title to "Unable to compile UWP store app using fluent libraries", I'm guessing he had some insight on the issue and renamed it accordingly.

Since this issue does not involve any code, the explanation on that link does not apply.  It is actually very easy to reproduce th

[2019-07-25 17:16] Gary-Peluso commented on #748
Thank you.  That fixes it.  I noticed the tooltip doc for Deallocate() says "shuts down the VM and releases resources."

[2019-07-26 02:11] yaohaizh commented on #748
Yep, power off & deallocate have some differences. Make sure you understand the deallocate meaning (which might release publish/internal IP, some resources) and make sure this API will impact your business. Thanks. You can find more info from the web about difference.

[2019-07-26 03:25] #748 closed

[2019-07-26 15:44] NatMarchand opened #750 "[FEATURE REQ] Support outbound rules for standard sku load balancer"
Hi,
Currently, it is not possible to create a load balancer standard sku with an outbound rule.
It it also not possible to create a load balancer without any rule (or just this outbound rule).

Ideally, I would like to declare something like this :
[code]

[2019-07-26 23:04] maggiepint commented on #744
Thanks for this feedback - I have routed to the appropriate team for follow up.

[2019-07-26 23:15] loarabia commented on #750
Thanks for reporting this issue. I've tagged it to get it routed to the right team.

[2019-07-26 23:19] maggiepint commented on #747
Thanks for the feedback. I have routed to the appropriate team for follow up.

[2019-07-29 06:36] shreyagarwal1991 commented on #108
I am still seeing Outputs from DeploymentImpl as null.

[2019-07-29 06:40] shreyagarwal1991 opened #751 "[BUG] Outputs for DeploymentImpl are empty and never set"
**Describe the bug**
The issue is that after calling CreateAsync on a Arm template deployment, the return object always has empty Outputs even though same template has outputs in powershell execution.

I went through your code and seems like you execute the code to create, but never process the response in order to set the Outputs or even the ProvisioningState.

**To Reproduce**
Use simple code li

[2019-07-30 03:28] yaohaizh opened #752 "[FEATURE REQ]Expose SqlDatabaseInner and listSqlDatabase in CosmosDB"
This is still wrap in inner, need expose them.
 https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/CosmosDB/Generated/DatabaseAccountsOperations.cs#L2659

[2019-07-30 04:19] yaohaizh opened #753 "[FEATURE REQ] Add function envelop"
Related PR on Java side: https://github.com/Azure/azure-libraries-for-java/pull/779/files

[2019-07-30 15:42] AlexandruMaxim opened #755 "[BUG] Fluent.Core.Resource.Definition WithTag and WithTags does not work, no tags are added"
**Describe the bug**
*WithTag* and *WithTags* from interface *IDefinitionWithTags<T>* does not work, no tags are added after CreateAsync() is done.

**To Reproduce**
1. define a new account
2. add tags using WithTag / WithTags.
3. check the body of the request, it does not contain any tag added in the step 2. The account is created but it does not contain any tag.

**Fluent Version**
1.23.0

***Co

[2019-07-30 15:46] yaohaizh commented on #755
@AlexandruMaxim Could you help provide some example code snippet for us to follow up more clearly? Thanks.

[2019-07-30 21:59] yaohaizh commented on #755
And what is your fluent version used?

[2019-07-31 06:34] yaohaizh commented on #618
https://github.com/Azure/azure-libraries-for-java/pull/793

[2019-07-31 07:47] AlexandruMaxim commented on #755
@yaohaizh I've added the information in the issue report

[2019-07-31 07:51] yaohaizh commented on #755
The version you used are quite outdated, could you try the latest one (v1.24.0). Thanks.

[2019-07-31 10:09] AlexandruMaxim commented on #755
Hello, i use v1.23, it was a mismatch between the config and visual studio.

[2019-08-01 07:50] AlexandruMaxim commented on #755
I used the debugger, it seems you are hiding the variable Tags with the Tags from Inner interface. @yaohaizh I have attached a printscreen of the issue. ResourceManagement\Storage\StorageAccountImpl.cs:269

[2019-08-06 01:22] sajayantony commented on #656
@ankurkhemani - With your updated SDK is this now available?
/cc @adewaleo

[2019-08-06 01:38] ankurkhemani commented on #656
Yes, the latest .NET SDK for ACR has the import APIS.
[Microsoft.Azure.Management.ContainerRegistry 4.0.0](https://www.nuget.org/packages/Microsoft.Azure.Management.ContainerRegistry/4.0.0)

[2019-08-06 01:43] yaohaizh commented on #656
@weidongxu-microsoft Could you help take a look at this issue for the fluent side:
- Whether we have supported this feature in the fluent libs.
- Follow up with the PR is needed: https://github.com/Azure/azure-libraries-for-net/pull/714

[2019-08-06 04:59] weidongxu-microsoft commented on #752
https://github.com/Azure/azure-libraries-for-net/pull/756

[2019-08-06 04:59] yaohaizh commented on #755
@AlexandruMaxim The issue is fixed on https://github.com/Azure/azure-libraries-for-net/commit/1c533240ded97dd184ccd8c6d7e896d179a8e03f. Please use the version of v1.24 and let me know the result. Thanks.

[2019-08-06 05:00] weidongxu-microsoft commented on #618
https://github.com/Azure/azure-libraries-for-net/pull/757

[2019-08-06 05:21] #752 closed

[2019-08-06 07:44] yaohaizh opened #759 "[FEATURE REQ]Update network API to the latest version (2019-06)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-06 11:52] jon-swain-autocab commented on #175
Any news on this?

[2019-08-08 12:34] AlexandruMaxim commented on #755
Ok, thank you!

[2019-08-08 13:52] #755 closed

[2019-08-14 02:20] weidongxu-microsoft commented on #736
Fluent.Unit.Tests -> Microsoft.Rest.ClientRuntime.Azure.Authentication 2.4.0 -> Microsoft.IdentityModel.Clients.ActiveDirectory (>= 4.3.0 && < 6.0.0)
 Fluent.Unit.Tests -> Microsoft.Rest.ClientRuntime.Azure.TestFramework 1.7.4 -> Microsoft.IdentityModel.Clients.ActiveDirectory (>= 3.14.0 && < 4.0.0).	Fluent.Tests	D:\github\azure-libraries-for-net\Tests\Fluent.Tests\Fluent.Tests.csproj	1

Latest Cl

[2019-08-14 02:22] weidongxu-microsoft commented on #736
Also it requires Microsoft.Rest.ClientRuntime > 2.3.19 so ClientRuntime is also upgraded to 2.3.19.

[2019-08-14 02:47] #618 closed

[2019-08-15 16:24] RaduVulpescu commented on #558
Hello, I want to use the MonitorManagerClient too, but I don't know how to pass the credentials to the RestClient builder used for the monitor manager.

For now, my code looks like this:
[code]

How should the `creds` variable look like?

Thank you!

[2019-08-15 21:04] qub1n commented on #517
What about this?

https://github.com/Azure/azure-libraries-for-net/issues/284

[2019-08-16 01:21] weidongxu-microsoft commented on #558
You can load from file via
`AzureCredentials credentials = SdkContext.AzureCredentialsFactory.FromFile(AUTH_FILE);`

[2019-08-16 02:11] weidongxu-microsoft commented on #517
It can be done in 2 steps: create RestClient (and configure it with Proxy) first, then create Azure using this RestClient, as such

[code]

Reference https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Azure.Fluent/Azure.cs#L699

[2019-08-16 02:34] huajunzhao opened #763 "Intermittent exception with the error message - "The operation was canceled""
Hi,
We used the below code to deployment the ARM template, but intermittently saw the exception caught with the error message - “the operation was cancelled”,

 public async Task<ProvisionStageOutput> Run()
        {
            string errorMessage = string.Empty;
            var status = TestStepStatus.Succeeded;
            string type = "arm-template";
            var provisionStageOutput = new

[2019-08-16 05:58] #753 closed

[2019-08-16 09:02] weidongxu-microsoft commented on #763
Hello @huajunzhao

If possible would you provide a sample of the template, or a simplifed version? We'd like to know what is involved in the deployment.

Also would you enable the log (`Azure.Configure().WithLogLevel(HttpLoggingDelegatingHandler.Level.BodyAndHeaders)...`) and send us the failed operation (you can redact the json if necessary)?

E.g. here is log from my operation (success):

[code]

[2019-08-16 13:16] RaduVulpescu commented on #558
Thank you @weidongxu-microsoft ! Your reference was very helpful in solving my issue.

[2019-08-16 14:48] #485 closed

[2019-08-16 14:48] yaohaizh commented on #485
Fixed by PR#761.

[2019-08-17 02:14] huajunzhao commented on #763
We just use the arm templates from  https://github.com/Azure/azure-quickstart-templates

Are there any deployment log in your end you can investigated?

[2019-08-17 03:15] huajunzhao commented on #763
I can repro the issue even locally now, and the exception caught.

The inner exception is
ErrorCode 995
Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an application request.

Do you have any insights?

[2019-08-17 03:17] yaohaizh commented on #763
@huajunzhao
Could you attach your stack trace here?

And if possible, could you open the log options as @weidongxu-microsoft mentioned, and paste the raw REST request information for us to diagnose.

[2019-08-17 03:43] huajunzhao commented on #763
Today it happens earlier at CheckResourceProvider before calling the below

await context.TestRunContext.AzureClient.Deployments.Define(context.DeploymentName)
                    .WithExistingResourceGroup(context.ResourceGroup)
                    .WithTemplate(templateJson)
                    .WithParameters(templateParams)
                    .WithMode(DeploymentMode.Incremental)

[2019-08-19 04:03] weidongxu-microsoft commented on #763
At present (2019 Aug. 19th), it takes /prividers API several minutes to get response. Previously it took only about 10 seconds.

Currently try to unblock via setting a longer timeout in HttpClient.
`(rm as IAzureClient).HttpClient.Timeout = TimeSpan.FromMinutes(5);`

Endpoint is `GET https://management.azure.com/subscriptions/89545946-408f-41c7-8a4c-2f094f25fc2d/providers?api-version=2017-05-10`
`

[2019-08-19 04:33] weidongxu-microsoft commented on #763
[provider_list.log](https://github.com/Azure/azure-libraries-for-net/files/3514195/provider_list.log)

Log of `az provider list` failed after retries.

[2019-08-19 04:42] weidongxu-microsoft commented on #736
Fixed.

[2019-08-19 04:42] #736 closed

[2019-08-19 05:24] yaohaizh commented on #759
Fixed: https://github.com/Azure/azure-libraries-for-net/pull/764

[2019-08-19 05:24] #759 closed

[2019-08-19 08:05] weidongxu-microsoft commented on #457
Fixed by https://github.com/Azure/azure-libraries-for-net/pull/761

[2019-08-19 08:05] #457 closed

[2019-08-19 12:54] yaohaizh commented on #732
@jstutson This issue should have been fixed on the latest v1.24.2 version. Could you try it on the latest lib version, thanks.

[2019-08-19 13:41] yaohaizh commented on #627
Close the issue per requested.

[2019-08-19 13:41] #627 closed

[2019-08-20 05:44] yaohaizh commented on #697
@Joel-Intact  Does this issue still persist? I might close this issue since fluent is not the root cause of this issue.