[2020-04-10 11:34] tomkerkhove commented on #1042
Does it give the same capability to query with a KSQL statement?

[2020-04-11 02:01] yungezz commented on #1042
Sounds like what you need is data plane operation. add @xccc-msft to help look at if there's data plane support for Resource Graph

[2020-04-13 02:51] xccc-msft commented on #1042
@tomkerkhove ResourceGraph is not supported in Fluent. You might want to use this [ResourceGraph SDK](https://www.nuget.org/packages/Microsoft.Azure.Management.ResourceGraph/) instead. And here is the [source code](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/resourcegraph/Microsoft.Azure.Management.ResourceGraph) for it.

[2020-04-13 07:33] tomkerkhove commented on #1042
Thanks!

[2020-04-13 07:33] #1042 closed

[2020-04-13 20:57] pbstrein opened #1043 "[FEATURE REQ] Add BeginCreate to Virtual Machines"
**Is your feature request related to a problem? Please describe.**
We want to create Virtual Machines and to poll the status of their creation without waiting for the VM to be completely provisioned. This can be done by the [Rest API](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations), but it is not supported in the Fluent SDK.

**Describe the solution you'd

[2020-04-14 05:04] qub1n commented on #1043
That would be really nice...

[2020-04-14 17:47] coppercosmo opened #1044 "[FEATURE REQ] Return SQL Database connection string"
**Is your feature request related to a problem? Please describe.**
Yes. I need to return the SQL Database connection strings to store in Key Vault.

**Describe the solution you'd like**
Allow returning the SQL Database connection string.

**Describe alternatives you've considered**
I've tried searching both fluent libraries for sql server and sql databases to see if I can get the connection string

[2020-04-15 06:50] vgorbenko commented on #1012
Log-based metrics are _specific to Application Insights_ and use a different API from Azure metrics. The API is described at https://dev.applicationinsights.io/documentation/Using-the-API/Metrics

* Behind the scene, log-based metrics are translated into KQL queries that you can see [here](https://docs.microsoft.com/azure/azure-monitor/platform/app-insights-metrics).
* More about the difference be

[2020-04-15 06:50] #1012 closed

[2020-04-15 08:27] chrisalexander commented on #998
Is this fix in [this release](https://techcommunity.microsoft.com/t5/azure-sdk/april-2020-azure-sdk-release/ba-p/1302937)? Cheers

[2020-04-15 09:32] xccc-msft commented on #998
@chrisalexander This has been released via [v1.32.0](https://github.com/Azure/azure-libraries-for-net/releases/tag/Fluent-v1.32.0). Now the latest is [v1.33.0](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/).

[2020-04-15 10:34] chrisalexander commented on #998
Cool thanks

[2020-04-15 19:54] qub1n commented on #623
I have similar bug here:

I need to create peering from A to B, not the otherwise

            await networkA.Peerings.Define(peeringName)
                .WithRemoteNetwork(networkB)
                .CreateAsync(cancellationToken);

This piece of code creates peering in both directions. I cannot find a way how to create one-direction peering. I can do it in Azure portal. Is there such a possibili

[2020-04-16 05:15] imeya commented on #1012
@vgorbenko , I know the api. I wonder if can we use sdk to query them?

[2020-04-16 17:46] vgorbenko commented on #1012
@imeya, you should be able to use https://docs.microsoft.com/dotnet/api/microsoft.azure.applicationinsights.applicationinsightsdataclient.getmetricsmetadatawithhttpmessagesasync?view=azure-dotnet

[2020-04-17 16:11] pbstrein opened #1045 "[BUG] Fluent SDK: GenericResource: DeleteById blows up with 'parentResourcePath' cannot be null"
**Describe the bug**
When I have a generic resource, and I run <resource>.DeleteById(<resourceId>), I get an error, and the deletion cannot occur.

***Exception or Stack Trace***
Microsoft.Rest.ValidationException: 'parentResourcePath' cannot be null.
   at Microsoft.Azure.Management.ResourceManager.Fluent.ResourcesOperations.BeginDeleteWithHttpMessagesAsync(String resourceGroupName, String resour

[2020-04-17 16:17] pbstrein commented on #1045
After further investigation, it appears that `resource.ParentResourceId` is null, and if I pass null into .Delete() for the parentResourcePath, I get the same error as DeleteById. There may be an underlying issue that parentResourceIds are not getting set, causing this issue.

[2020-04-17 23:29] mkosieradzki commented on #974
I am facing a similiar issue.

I went through the code and I have a serious concern here:

https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCliCredentials.cs#L54

How is this supposed to work? You are basically passing AccessToken as client secret for service principal..

[2020-04-18 00:22] yungezz commented on #1045
hi @xccc-msft  could you pls have a look? thanks

[2020-04-18 09:12] tomkerkhove opened #1046 "[BUG] SDK creates a lot of HttpClient causing connection starvation"
**Describe the bug**
When using the SDK for long-running processes, we've noticed that it's causing Linux workloads to run out of connections (https://github.com/tomkerkhove/promitor/issues/798).

After digging deeper, we thought we were not using the SDK correctly so we've POCed a refactoring where we only authenticate once and re-use it for the rest of the processing (https://github.com/tomkerkh

[2020-04-18 09:55] qub1n commented on #1046
I have been following [this guideline](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests) for .NET core and injected this HttpClientfactory to the new GraphServiceClient and it seems that it works.

It will be better if this is the default behaviour of this SDK.

[2020-04-19 01:43] yungezz commented on #1046
hi @xccc-msft could you pls help to have a look?

[2020-04-20 02:17] imeya commented on #1012
@vgorbenko , thanks. But I'm wondering, why we should use different sdk for that? It would be good if we can add metric_namespace="microsoft.insights/components/kusto".

[2020-04-20 08:20] tomkerkhove commented on #1046
@qub1n You're saying that you do this on top of the SDK or have written your own or? I'm not really following, sorry!

[2020-04-20 18:19] antonGritsenko opened #1047 "[FEATURE REQ] Add\change owner of the Service Principal"
**Is your feature request related to a problem? Please describe.**
There is no way to add owner to Service Principal (aka Enterprise Applications) using `IServicePrincipalsOperations`. Funny part, this is implement for applications itself (ApplicationsOperationsExtensions.AddOwnerAsync).

**Describe the solution you'd like**
The https://github.com/Azure/azure-libraries-for-net/blob/master/src/Reso

[2020-04-20 22:05] vgorbenko commented on #1012
@imeya, the "microsoft.insights/components/kusto" is not really a namespace but rather a constant used inside of Metrics Explorer implementation, to indicate that the query layer should call the log-based metrics API for AppInsights instead of Azure-wide metrics API. Check [Supported metrics with Azure Monitor](https://docs.microsoft.com/azure/azure-monitor/platform/metrics-supported) for a list o

[2020-04-20 22:29] antonGritsenko opened #1048 "[BUG] SubscriptionId of the Microsoft.Azure.Management.Graph.RBAC.Fluent.AuthorizationManagementClient is always null"
**Describe the bug**
Some actions requires subscription to be set when working with management API, for example `RoleAssignments.Inner.ListWithHttpMessagesAsync`.
but when it executed, I got exception

I did check the source code, the Client is instance of the `Microsoft.Azure.Management.Graph.RBAC.Fluent.AuthorizationManagementClient`, and set operation for `AuthorizationManagementClient.Subscrpt

[2020-04-21 00:10] weidongxu-microsoft commented on #1043
In current SDK, there are a few options.

1. standard .NET async/await via `createAsync` method

E.g. batch call `createAsync` and collect the `Task`s, then call `Task.WhenAll` to collect the results.

2. call an inner method to only begin the create

E.g. `VirtualMachineInner vmInner = azure.VirtualMachines.Manager.Inner.VirtualMachines.BeginCreateOrUpdateAsync(rgName, vmName, new VirtualMachineI

[2020-04-21 03:13] xccc-msft commented on #1046
@tomkerkhove Can you share the code snippet which API used for authentication?

[2020-04-21 03:33] xccc-msft commented on #1045
@pbstrein This is the [validation rule](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Generated/ResourcesOperations.cs#L2002-L2005) set for `parentResourcePath`.

For you workaround, it might be better to check `parentResourcePath`
[code]

[2020-04-21 03:59] xccc-msft commented on #974
@mkosieradzki To use this feature, the user need to authenticate through Azure CLI first as per the [introduction](https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md#using-credentials-from-azure-cli-automatically) via command
[code]
The naming here was because the `AccessTokens.json` created by Azure CLI. We might consider to change the property name to reduce the confusion.

[2020-04-21 14:35] tomkerkhove commented on #1046
This is what we are doing:
[code]

[2020-04-21 22:35] pbstrein commented on #1043
@weidongxu-microsoft
Option 2, `VirtualMachineInner vmInner = azure.VirtualMachines.Manager.Inner.VirtualMachines.BeginCreateOrUpdateAsync(rgName, vmName, new VirtualMachineInner()...).Result` fits my needs for creating VMs.

However, as mentioned I also need a polling option. Using `GetByResourceGroup` would not return any errors that occured in the middle of creation, only give the status of cre

[2020-04-22 05:43] weidongxu-microsoft commented on #1043
@pbstrein

The design of the SDK is to abstract customer away from all the complexity of the querying on the result. There is 5+ classes under [LRO](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/mgmtcommon/ClientRuntime.Azure/ClientRuntime.Azure/LRO), all purpose of which is to do this query correctly, for different operation and for different scenarios / response.

If your use case r

[2020-04-22 10:46] xccc-msft commented on #1046
@tomkerkhove Thanks for sharing. It looks the root cause comes from [FluentServiceClientBase](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Core/FluentServiceClientBase.cs#L33) and [ServiceClient](https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/mgmtcommon/ClientRuntime/ClientRuntime/ServiceClient.cs#L330-L359). We might need time to

[2020-04-22 11:37] tomkerkhove commented on #1046
No problem, take your time! Happy to wait for a good fix rather than rushing to regret it later on!

/cc @adam-resdiary

[2020-04-22 15:24] pbstrein commented on #1043
@weidongxu-microsoft

I understand that most people don't need the polling of the operation (hence why it is abstracted away.) However, allowing a BeginCreate and a polling API would allow greater flexibility on how the SDK could be used (as an example, see my use case below). So my request is that we add a BeginCreate, which under the hood could do everything you showed above in Option 2.

The fo

[2020-04-22 15:28] pbstrein commented on #1043
I noticed that https://github.com/Azure/azure-libraries-for-java/issues/1007 has a flag for v2. Is this feature only being planned for the Java SDK but not the .NET? If so, why is that?

[2020-04-22 20:54] roofiq commented on #244
Hello, is there any known compatibility issue between database in elastic pools and standalone server? I have issue when migrating one database in that way and it fails when updating.

Here is description:
[](https://github.com/MicrosoftDocs/azure-docs/issues/51784)

[2020-04-23 00:24] kazman71 opened #1049 "[QUERY]: Looking to create ScheduledQueryRules for log alerts"
Looking to programmatically add Kusto queries for scheduled log alerts and I can't figure out how this might be done.  I can see the AlertRules.Manager.Inner.ScheduledQueryRules object, but I can't seem to understand how to specify the query.  Any help would be appreciated.

Thanks in advance,
James

[2020-04-23 02:43] xccc-msft commented on #1046
@tomkerkhove BTW, how many resource providers you are using via the authenticated Azure client?

[2020-04-23 02:44] yungezz commented on #1049
hi @weidongxu-microsoft do you have a quick answer? thanks

[2020-04-23 02:55] weidongxu-microsoft commented on #1049
@kazman71

It is not supported as Fluent API.

You can invoke it directly by
[code]

[2020-04-23 03:31] kazman71 commented on #1049
Thank you very much for the quick response - I will give it a try!

[2020-04-23 03:48] weidongxu-microsoft commented on #1043
@pbstrein

Thanks. I think I understand your use case. I assume you provision the resource in microservice2 and manage it in microservice1. I would assume that there is certain communication between the two, at least for request/notification.

One possible solution is to separate the begin operation and query operation, former happen in microservice2, latter happen in microservice1. Provided that

[2020-04-23 06:02] tomkerkhove commented on #1046
Interesting, is there a doc page with all the options?

Might want to dig in to that, but the original issue remains; right?

[2020-04-23 06:55] xccc-msft commented on #1046
@tomkerkhove Here is the [source code](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Azure.Fluent/Azure.cs#L649-L671) to initialize all service managers when user authenticate Azure client. If you only use some of them, you might use the managers of them instead.

[2020-04-23 08:55] weidongxu-microsoft commented on #1001
It should be already added by default.

[2020-04-23 10:38] Expecho opened #1050 "Are all operations idempotent?"
A simple question but I can't find the answer easily: are all the operations idempotent like ARM templates are?

[2020-04-23 14:11] pbstrein commented on #1043
@weidongxu-microsoft

Awesome! I didn't know there was a track2 SDK coming out. Is there a link to the track2 .NET SDK? If not, is there a link to the progress of the track2 .NET so I can watch when it will get released / know it's progress? I am working on a new adoption, so aligning with the new track2 would be best to start working on now,

In addition, are the basic capabilities that I am aski

[2020-04-24 02:18] weidongxu-microsoft commented on #1043
@pbstrein

Track2 is not released, and I guess it would still take a few months. For details you can query on https://github.com/Azure/azure-sdk-for-net

Refer https://www.youtube.com/watch?v=0tKXe1wOqI8

Here is a before-preview sample code on Storage.
https://github.com/pakrym/azure-sdk-for-net/blob/pakrym/storage-management/sdk/storage/Azure.Management.Storage/samples/Program.cs

It appears tha

[2020-04-24 02:45] yungezz commented on #1050
Idempotent depends on each Azure service. Not all Azure service supports idempotent.

[2020-04-24 02:57] nickzhums commented on #1043
@pbstrein Thanks for your feedback on .NET SDK. Track 2 .NET SDK will be in public preview in end of May/early June timeline, we will publish annoucement on the github repo. You are very welcome to try it and give us feedback

[2020-04-24 07:18] Expecho commented on #1050
Is there any way of telling which ones do support it or not other then just trying it?

[2020-04-24 12:48] FourVision opened #1052 "[BUG] TriggeredJobRun does not get populated altrough data is been shipped from Azure."
**Describe the bug**
When using the SDK the TriggeredJobRun container is not getting populated except for the "Name" and "Id" field.

Validated the data stream with fiddler and the data is comming in including the output_url (where we seeking for)

Altrough the result still is null of most/rest of the fields.

**To Reproduce**
call any of the "TriggeredWebJobs" routines to pull the data and result

[2020-04-24 19:17] kazman71 commented on #1049
@weidongxu-microsoft

Is there any example code using the LogSearchRuleResourceInner object with this API?  I seem to be getting a serialization error during the CreateOrUpdateAsync based on the contract.   See the images below.  Could it be the period in the property names?

![image](https://user-images.githubusercontent.com/6991201/80248825-8adef180-8625-11ea-9359-70b2298903b2.png)

![image](htt

[2020-04-26 01:50] yungezz commented on #1052
hi @FourVision could you share what SDK and version you're using?

[2020-04-26 05:37] FourVision commented on #1052
Hi @yungezz ,

We are using V1.33.0 of nuget package Microsoft.Azure.Management.Fluent

Example code for testing used that is not working:

Issue: the latestRun object is initialized but only contains the Name and Id value, all other object values are null. when analyzing the data flow from the REST API call it is populated.
Other scenarios (using history list etc) are all showing the same result

[2020-04-26 10:31] clement128 opened #1053 "How to add secrets volume for azure container instances"
**Query/Question**
I would like to [enable a TLS endpoint in a sidecar container](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-container-group-ssl), but can't find a way to add a secrets volume. There is a definition [here](https://github.com/Azure/azure-libraries-for-net/blob/d6b095df5d366a201cb0f5bcc7a9e482a08b9db4/src/ResourceManagement/ContainerInstance/Domain

[2020-04-27 01:55] yungezz commented on #1053
hi @ChenTanyi could  you pls have a quick look?

[2020-04-27 02:46] ChenTanyi commented on #1053
@clement128 Maybe it was the stage design error. You can use inner model to workaround it.
example:
[code]
or use the whole inner if you want
[code]

[2020-04-27 03:21] weidongxu-microsoft commented on #1049
@kazman71

The "dot" in the property name should be fine. It only means e.g. "properties.description" should be serialized to nested "description" under "properties", as in the sample.

Could you include the code of your configure and error stack?

Thanks.

[2020-04-27 08:08] nickzhums commented on #1038
@WhitWaldo we took a look at this and this may require quite some work as it involves re-writing all the method signatures. That being said, your need might be solved when Track 2 .NET Management SDK comes out

[2020-04-27 13:43] juliencsharp commented on #462
I am having the same issue over busnamespaces/topics .

[2020-04-27 21:45] kazman71 commented on #1049
Thanks for the response.  I seem to have narrowed it down to the Action parameter of LogSearchRuleResourceInner .  When I create a new AlertingAction object and  make the CreateOrUpdateAsynCall it will fail with the message: "Error reading string. Unexpected token: StartObject. Path 'error.message', line 4, position 16."

If I query for an existing rule and use the action object returned from an a

[2020-04-28 03:30] weidongxu-microsoft commented on #1049
@kazman71

This appears to be an error message like this:
[code]

But it is not handled correctly due to a faulty delegating handler in middle.

When testing, please try this to init Azure (avoid `Azure.Authenticate(credentials)...`).
[code]
which would bypass that faulty delegating handler.

After the resource being created correctly, you can discard this code and revert to usual init code (be aw

[2020-04-28 03:42] weidongxu-microsoft opened #1055 "[BUG] wrong error response from ScheduledQueryRules_CreateOrUpdate"
Error response of https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-04-16/scheduledQueryRule_API.json#L67

is such

[code]

From swagger and ARM contract, the "message" should be a string.

[2020-04-28 03:44] weidongxu-microsoft commented on #1055
Found by https://github.com/Azure/azure-libraries-for-net/issues/1049

[2020-04-28 18:10] kazman71 commented on #1049
Thank you very much!  I am all up and running now!

I appreciate the tie you took and the prompt answers.

James

[2020-04-28 18:10] #1049 closed

[2020-04-30 14:29] ya-alexander opened #1056 "NextPageLink property null although additional items exist"
Hi,

I am trying to get all groups that exist in an AAD using the following code:

`var groups = await this._azure.AccessManagement.ActiveDirectoryGroups.ListAsync();`

This call always returns exactly 100 items, although > 200 groups exist in AAD.  So I tried to query the rest of groups using the following code.

[code]

Unfortunately, the NextPageLink property of `groups` is always null. However

[2020-05-01 06:08] QingpingMeng commented on #891
Samething happens when adding two rules to ServiceBus queue.
[code]

Above code only adds the Send Rule. With the workaround it fixes the issue but I don't think this should be closed as the library is not working as expected.

[2020-05-01 07:45] MariuszKogut commented on #891
Yeah. It's a very common usecase to add both rules in one service call. I was searching for hours, what is going on here...

[2020-05-01 18:27] allenjzhang commented on #1056
Looking at the fiddler trace, the nextLink is NOT a valid full path URL. That may be the reason mgmt SDK is unable to retrieve the next page of data.

[2020-05-02 03:04] a-vishar opened #1057 "[BUG] FunctionApp WithExistingStorageAccount results in BadRequest"
**Describe the bug**
When setting up (or updating) a function with an existing storage account, if there are IP restrictions in place on the storage account, the update fails.

***Exception or Stack Trace***
[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:

- Create a storage account which allows access from:
  - Selected networks (Add current IP)
  - Trusted Microsoft services
-

[2020-05-04 05:22] ya-alexander commented on #1056
@allenjzhang Thanks for pointing that out. Is there a way I can influence the nextLink to be a full path URL? Am I using the library wrongly, or is this an issue of the underlying service?

[2020-05-04 14:52] Expecho commented on #27
I can't see it on the roadmap yet (unless it falls in the _More Monitor features_ category) which is a disappointment. I really do think Application Insights is key to having a web app or function in production. I would rather see some effort in supporting this than spending time on adding support for other new services as AI is a very important supporting service.

I do realize it can be done usi

[2020-05-04 16:34] nickzhums commented on #27
@Expecho as of right now the work to support new features on Fluent .NET is lower priority, if insight is an urgent need for you i would suggest using the Standard .NET SDK for now. Sorry about that. That being said, Monitor is a high priority service we aim to support in our Track 2 .NET Management SDK so please stay tuned

[2020-05-05 00:34] allenjzhang commented on #1056
Underlying service sets the return value. Mm, actually looked at the odata spec, the nextLink may be relative path to the current request replacing the last segment. Some services choose to return the absolute path but some may return relative path.

To help our investigation:
1. Can you confirm you are using .NET fluent library and version?
2. The [ListAsync() call](https://github.com/Azure/azure

[2020-05-05 06:28] ya-alexander commented on #1056
1. I use the .NET fluent library (Microsoft.Azure.Management.Fluent) version 1.33.0
2. I just tried to call `ListAsync()`, `ListAsync(true)` and `ListAsync(false)`. All three requests resulted in a response containing only 100 items and

`odata.nextLink=directoryObjects/$/Microsoft.DirectoryServices.Group?$skiptoken=X'445370740200010000002A47726F75705F36366364373630312D386537302D343032652D61373861

[2020-05-06 04:36] weidongxu-microsoft commented on #1056
@ya-alexander

The cause is that the response put the *nextLink* in `odata.nextLink` while .NET SDK is always expecting `nextLink` (which is a deeper issue).

You can try this code as workaround (I am using `ActiveDirectoryUsers`, replace it with `ActiveDirectoryGroups`)
[code]

De-serialized result is in `firstPageResult.Body`, `nextPageResult.Body`.

[2020-05-06 08:19] ya-alexander commented on #1056
Thanks! I will give it a try and report back.

[2020-05-06 09:25] ya-alexander commented on #1056
Just tried it out. Works! The only drawback is that it returns `GroupInner` objects instead of `IActiveDirectoryGroup` objects. So I could not get the members of the according group using `ListMembersAsync()`. Do you have any advice how to achieve that with your sample code?

Thanks!

[2020-05-06 11:55] MaximG1234 commented on #358
I bumped into this issue today and it took some time to debug until I finally bumped into this thread. Would suggest that this limitation is clearly documented somwhere. Thank you to whoever solved this.

[2020-05-07 01:50] weidongxu-microsoft commented on #1056
You can use e.g. (`group` being the `GroupInner` object, `ADGroupInner` class on me?)
[code]

Note this one again is a paged list, and nextLink is also on `odata.nextLink`.

[2020-05-07 07:48] weidongxu-microsoft commented on #1056
Trying a fix for next version 1.34

[2020-05-07 10:02] ya-alexander commented on #1056
Thanks! For me the issue is resolved. Looking forward to 1.34.

[2020-05-08 01:55] #1056 closed

[2020-05-08 14:23] kazman71 opened #1061 "[QUERY] Having issues deploying function App. Copy never seems to finish"
I am not sure if this is a Fluent issue or a FunctionApp deployment issue in general.

I am trying to deploy a function app from a blob storage and the first time it works.  On every other time it hangs on what seems to be a copy.  After looking into Kudu console I could see the files but only some of them pushed to the file storage where the function would use them.    The code to deploy is below

[2020-05-09 01:18] weidongxu-microsoft commented on #1061
WEBSITE_DEPLOY_FROM_PACKAGE is usually the preferred approach (and maybe the only approach for Linux Function App). If this works for your use case, please use it instead of MSDeploy. Maybe even ZipDeloy is also preferable to MSDeploy.

If MSDeploy is the only option, would you elaborate a bit more on "the first time it works"? For *second time*, which part changes? A new function app created, a n

[2020-05-09 04:25] kazman71 commented on #1061
Hi thanks for the response so quickly again!

We re-created the app service plan, storage account and generated new SAS tokens as well as pointing the target of function app binaries to one that was different from the one the blob container tha contained the artifacts was in.  We did these all close together, so unfortunately I do not know what solved the issue.  As for your question, nothing in t

[2020-05-09 04:25] #1061 closed

[2020-05-11 03:07] #1033 closed

[2020-05-12 17:07] alexswan10k commented on #358
I am having the same issue here "Certificate { thumbprint } was not found." but this fix isn't working for me. Interestingly the cert doesnt show up in the azure portal in private key certs under the app service, but it is definitely there as if you query the list api, it returns a defined entry with the right resource group etc.

I have tried moving the service plan into the same resource group a

[2020-05-13 06:02] ni-reis opened #1062 "[BUG] Diagnostic settings throwing NullReferenceException when dealing with subscription diagnostic settings"
**Bug description**
I'm trying to use IAzure.DiagnosticSettings to define and create a diagnostic setting for a subscription resource (`/subscriptions/{subscriptionId}`). The current implementation reaches the HTTP request code; the request succeeds and the diagnostic setting gets created, however, when parsing the response, it fails to read the metrics (as they are null) and throws a NullReferenc

[2020-05-13 06:49] ni-reis commented on #1062
I pushed a commit to my fork that deals with the issue - https://github.com/ni-reis/azure-libraries-for-net/commit/73d8125444faec6149e17a9d7764a9ff1aca0f63. I would like to know if it's ok to raise a PR for that. Thank you!

[2020-05-13 15:08] sebader opened #1064 "[QUERY] Get WebApp deployment info using the fluent management SDK?"
**Query/Question**
Is there a way through the management SDK to get this deployment info for an App Service?
![image](https://user-images.githubusercontent.com/11445087/81830268-259f6180-953c-11ea-9f25-5cd97c7adf06.png)

***Why is this not a Bug or a feature Request?***
Maybe it will be a feature request if this is actually not possible.

**Setup (please complete the following information if appli

[2020-05-14 02:08] wangfeichen opened #1065 "[Question]How to create a KeyVaultManagementClient"
**Query/Question**
I tried update my KeyVault.Fluent SDK to newest SDK but got trouble when create a KeyVaultManagementClinet. Currently KeyVaultManagementClient required a `RestClient` not `ServiceClientCredentials`. And I have no idea how to get/create a RestClient.

[code]

***Why is this not a Bug or a feature Request?***
No idea how to create a KeyVaultManagementClient.

**Setup (please compl

[2020-05-14 02:11] weidongxu-microsoft commented on #1065
sample code

[code]

[2020-05-14 02:27] #1065 closed

[2020-05-14 02:34] weidongxu-microsoft commented on #1064
I think the API is not exposed yet. You can try
[code]

[2020-05-14 02:41] yungezz commented on #1062
hi @weidongxu-microsoft could you pls help to have a quick look at the contribution change  ni-reis@73d8125. ? thanks.

[2020-05-14 04:10] weidongxu-microsoft commented on #1062
@ni-reis

The code looks good. Would you open a PR for it? Don't mind about CI, I would check the tests after the PR.

[2020-05-14 05:14] ni-reis commented on #1062
Thank you, @yungezz and @weidongxu-microsoft! I will open the PR for it.

I saw only a doc referring to collecting and analyzing Activity logs - https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-collect , though the document directs to a legacy experience.

[2020-05-14 05:54] weidongxu-microsoft commented on #1062
@ni-reis

After more dig-up, there is actually 2 different APIs.

One with generic `{resourceUri}` is from [diagnosticsSettings_API](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettings_API.json#L39)

And the one for subscription is from [subscriptionDiagnosticsSettings_API](https://github

[2020-05-14 05:59] ni-reis commented on #1062
I see, so you mean that the ideal solution would creating something like
`IAzure.SubscriptionDiagnosticSettings`?

[2020-05-14 06:04] weidongxu-microsoft commented on #1062
Yes. One more complexity is that subscriptionDiagnosticsSettings_API only exist for [package-2019-11](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/readme.md#tag-package-2019-11) and later, while current code is using tag package-2019-06 (hence the code for subscription dignostics settings is not in SDK yet).

[2020-05-14 06:09] ni-reis commented on #1062
Got it. Is there any version upgrade in plan? After this, would the code be generated automatically (or at least some part of it)?

[2020-05-14 07:20] weidongxu-microsoft commented on #1062
We will try to upgrade the generated code next week (after which the inner API should be callable, e.g. `azure.DiagnosticSettings.Manager.Inner.SubscriptionDiagnosticSettings.CreateOrUpdateAsync`).

Is there any schedule on your part?

[2020-05-14 07:33] wantedfast opened #1067 "[Bug] KeyVualtManagementClient Cannot Set Access Policy ?"
**Describe the bug**
Use `KeyVualtManagementClient` set access policy wont work, and from portal the access policy is unknown status,
![image](https://user-images.githubusercontent.com/25993729/81904617-17158080-95f6-11ea-9405-74dd941c2434.png)

***Exception or Stack Trace***
{"Service request failed.\r\nStatus: 403 (Forbidden)\r\n\r\nContent:\r\n{\"error\":{\"code\":\"Forbidden\",\"message\":\"Th

[2020-05-14 07:51] sebader commented on #1064
thank you @weidongxu-microsoft ! this helps indeed! The only thing you need to do manually is to deserialize the `Message` string which contains the actual information about deployed BuildIds etc.

[2020-05-14 08:25] steverash opened #1068 "[FEATURE REQ] Container instances SDK - Using WithEmptyDirectoryVolume alongside other volumes"
**Is your feature request related to a problem? Please describe.**
I need to define a container instance via the .NET SDK that has both an empty directory defined and a volume mapping to Azure Files.

The issue is that as with the fluent API soon as I use WithEmptyDirectoryVolume , you cannot then use DefineVolume.

Here is an extract from my example :

[code]

If I put WithEmptyDirectoryVolume af

[2020-05-14 19:24] ni-reis commented on #1062
We can use a temporary work around, but we would need the feature by mid June.

[2020-05-15 00:55] weidongxu-microsoft commented on #1062
OK. We will schedule accordingly.

@yungezz

[2020-05-15 08:21] sebader commented on #1064
@weidongxu-microsoft do you want to make the missing part aroung the `Message` content into a feature request? otherwise I'm fine to close this one.

[2020-05-15 08:33] weidongxu-microsoft commented on #1064
@sebader

I see, the message is actually a JSON.

From service spec this message is just a string. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/WebApps.json#L20800-L20803

For now I think you had to de-serialize it by yourself.

[2020-05-15 09:15] sebader commented on #1064
ok got it. thanks!

[2020-05-15 09:15] #1064 closed

[2020-05-15 15:07] tomkerkhove commented on #1046
Sorry for the delay - I've had a look and it looks like I just need Azure Monitor ([initialized here](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Azure.Fluent/Azure.cs#L670)) but it's a private constructor called by [`WithSubscription`](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Azure.Fluent/Azure.cs#L862) so I can't

[2020-05-15 21:37] ni-reis commented on #1062
Sounds good. Thank you! 😃

[2020-05-18 01:52] yungezz commented on #1067
hi @xccc-msft could you pls have a look? thanks

[2020-05-18 02:45] xccc-msft commented on #1067
@wantedfast Can you please share the code snippet how you define the access policy? Thanks.

[2020-05-18 02:48] wantedfast commented on #1067
@xccc-msft
Code snippet below:
[code]

And this link can get my sample project: https://github.com/wantedfast/BugReport

[2020-05-18 08:54] xccc-msft commented on #1067
@wantedfast Can you check if this [sample](https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/KeyVault/ManageKeyVault.cs) helps?

[2020-05-18 09:11] wantedfast commented on #1067
@xccc-msft Yes, I do confirm that sample will work.  i just wondering if it's a bug or Is there something wrong of my sample code provided?

[2020-05-18 09:22] xccc-msft commented on #1067
@wantedfast You may capture the http requests both our sample and your sample code to check what's the difference.

[2020-05-18 09:31] #1067 closed

[2020-05-18 12:25] korensiso opened #1070 "The requested operation cannot be performed on this container because of a concurrent operation"
**Query/Question**
Recently, we are seeing the following error returned from the Azure fluent SDK as a result of the Azure REST API returned 409 (conflict Http return code) when we try to delete blob container:
The requested operation cannot be performed on this container because of a concurrent operation

The error message is pretty clear and helped us to understand the root of the problem in our

[2020-05-19 09:13] VishalBhanderi commented on #320
Any updates to this? Would really like the SDK to support something similar to the .BeginCreate in ARM templates.

Do not want to wait 10+ minutes to container to startup.

[2020-05-19 09:26] weidongxu-microsoft commented on #320
Possible hack (I haven't tried):

(note `resource` is same definition, but without `create`)
[code]

[2020-05-19 13:15] Rookian opened #1072 "[BUG] Cannot communicate with server. No authentication token available for 'https://vault.azure.net/'."
I created an _Azure Key Vault_ and defined _Access Policies_ for a group of which I am a member of.
In the Azure Portal I can see that the _Access Policies_ are defined correctly (All Access to Keys, Secrets and Certificates). The whole authentication is using `AzureServiceTokenProvider `with `RunAs=Developer; DeveloperTool=AzureCli`.

After I created Azure Key Vault successfully, I wanted to add

[2020-05-19 17:05] VishalBhanderi commented on #320
@weidongxu-microsoft Thank you! It works really well.

Ideal when running on functions that charge by the second.

[2020-05-20 16:46] tloveland1 opened #1073 "[BUG] ISubnetBeta.ListAvailablePrivateIPAddresses returns a max of 5 addresses"
**Describe the bug**
When calling ISubnetBeta.ListAvailablePrivateIPAddresses (implemented [here](https://github.com/Azure/azure-libraries-for-net/blob/0ea10a867c2e759bb05a929726cd7b18c20b0a6b/src/ResourceManagement/Network/SubnetImpl.cs#L290
) to get the list of available private IP addresses in a subnet, a maximum of only 5 addresses are returned instead of all available addresses.

**To Reprodu

[2020-05-21 01:50] weidongxu-microsoft commented on #1073
Personally I think it is an expected service behavior. It is for suggest next few available IPs, not for all (if return all, it probably not possible if one do have a large subnet).

[2020-05-21 02:34] tloveland1 commented on #1073
Is the behavior documented somewhere? From my perspective, the name and summary of the method do not indicate that the return value is limited to 5 addresses.

Is there a different method that will just return the quantity of available addresses in a subnet, rather than the addresses themselves? That's what I'm really looking for.

Currently I have to calculate the number of available IPs in the s

[2020-05-21 02:41] weidongxu-microsoft commented on #1073
Personally I do not aware other approach for getting number of available IPs.

Loop in service team on query: is there simpler approach for getting number of available IPs in subnet?

[2020-05-22 13:12] profesor79 opened #1074 "[BUG] 'authority' should be in Uri format when running in Docker container"
**Describe the bug**
When running below snippet in 3.1 .net core SDK container:
                 creds = await ApplicationTokenProvider.LoginSilentAsync(_domain, _clientId, _clientSecret, adSettings);

When running on the host - no issues.
Container has access to network with no limits.

***Exception or Stack Trace***
"ClassName": "System.ArgumentException",
  "Message": "'authority' should be in

[2020-05-22 19:02] eosfor opened #1075 "[FEATURE REQ] Reuse credentials from Powershell AZ Module"
We use Fluent SDK to develop some binary PowerShell modules to manage some pieces of our Azure resources. It does not mean we re-implementing the AZ module, but rather, adding some extensions to it. According to the [Auth](https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md) document you have already integrated with Azure CLI, that allows Fluent to reuse CLI authentication context

[2020-05-23 02:00] eosfor commented on #1075
Here is the simple test to see what is happening

[code]

Then I run the cmdlet above, it works, but then when I load the AZ module, it fails to load.

![image](https://user-images.githubusercontent.com/9363027/82719327-50856600-9c5e-11ea-8ac6-cd222e44bf97.png)

[2020-05-23 02:00] nickzhums commented on #1075
@eosfor thanks for reporting this. We will look into it

[2020-05-25 16:25] eosfor opened #1076 "[QUERY]"
In Azure there is a feature, that allows making a key vault to manage storage account keys. The PowerShell way to configure it is described [here](https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys-powershell). Is it possible to achieve with Fluent, somehow? I  did not find a sample for it, unfortunately.

Thanks

[2020-05-26 03:35] #1062 closed

[2020-05-26 07:53] Andreas-Lehmann commented on #933
Is there any news on this topic, the problem still applies.

[2020-05-26 08:11] xccc-msft commented on #933
@Andreas-Lehmann @ArnimSchinz Sorry for late response. It looks you didn't set the tenant ID correctly.
`AzureCredentials azureCredential = new AzureCredentials(tokenCredential, tokenCredential, string.Empty, AzureEnvironment.AzureGlobalCloud);`

Please refer [this](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCredentials.c

[2020-05-26 08:19] Andreas-Lehmann commented on #933
Great seems to work that way.
Thanks for your help.

[2020-05-26 08:19] #933 closed

[2020-05-26 11:14] weidongxu-microsoft commented on #1076
This one is a large exercise... here is the outline. Hope it helps.

It do a role assignment on storage account to "Azure Key Vault" servicePrincipal.

Then an access policy on vault to the current servicePrincipal.

You will need to use a key vault data-plane client (in below code, `KeyVaultClient` wrapped under `KeyVaultClientInternal`).

Also make sure the servicePrincipal has all the required

[2020-05-27 19:44] shahzzzam opened #1077 "[BUG] Deployment has inconsistent GET behavior"
**Describe the bug**
A clear and concise description of what the bug is.
Hi,

most of the APIs return `null` on `GetByResourceGroupAsync()` method:

https://github.com/Azure/azure-libraries-for-net/blob/1efa2d4ca9e7c8f34954455a9ead42fcdf562599/src/ResourceManagement/ResourceManager/Core/GroupableResources.cs#L48

However, Deployment throws an Exception on anything but 200. It looks pretty inconsis

[2020-05-27 22:39] divyagandhii commented on #657
@nickzhums I am still seeing this issue. We are using REST APIs to list ACI ContainerGroups but the instanceview of the container is null.

Request URL- https://management.azure.com/subscriptions/<sub_id>/resourceGroups/<resource_group>/providers/Microsoft.ContainerInstance/containerGroups?api-version=2018-10-01

Querying the same containergroup from azure CLI/portal shows the instanceview of the

[2020-05-28 14:28] a-vishar commented on #1057
Any update on this?

[2020-05-28 19:27] eosfor commented on #1075
Hello @nickzhums , sounds like AZ has switched to using MSAL (https://github.com/Azure/azure-powershell/issues/11978), do you plan to do a similar thing?

[2020-05-29 01:44] weidongxu-microsoft commented on #1057
From doc, function app seems not one of the trusted microsoft service?
https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security#exceptions

[2020-06-01 09:53] nickzhums commented on #1075
Hi @eosfor , there is no current plan to support MSAL for .NET Fluent, but it will be supported in the upcoming preview version of Standard .NET SDK (Non-Fluent). Please monitor the repo (https://github.com/Azure/azure-sdk-for-net/)

Is there a specific reason why you are using Fluent .NET?

[2020-06-02 12:48] rokonec opened #1078 "Change format of resources Tags containing ISO 8601 datetime"
**Describe the bug**
Most Azure compute resources have tags. We are often storing some kind of timestamps there like 'expiration' or 'created-at' in format of ISO 8601, for example `2020-05-30T15:30:50.1234567Z`.
Azure portal shows this value properly but SDK calls, for example `await azure.GalleryImages.ListByGalleryAsync(_galleryResourceGroup, galleryName)`, return such tag values formated as `5

[2020-06-02 14:18] anuraj opened #1079 "[BUG] Operation returned an invalid status code 'Conflict' - Microsoft.Azure.Management.AppService.Fluent.Models.DefaultErrorResponseException"
**Describe the bug**
I am trying to automate custom domain mapping, SSL binding and adding CORS to Azure app service using "Microsoft.Azure.Management.AppService.Fluent". I am facing this issue in our Europe Region app service when I am trying to bind an SSL certificate to the custom domain.

Same code is working in other regions.

***Exception or Stack Trace***
Microsoft.Azure.Management.AppServi

[2020-06-03 01:55] eosfor commented on #1075
Well, it looked simpler to use :)

[2020-06-03 03:11] yungezz commented on #1079
hi @weidongxu-microsoft could you pls have a look is this a service issue? thanks

[2020-06-03 03:12] weidongxu-microsoft commented on #1079
@anuraj

Do you have the response body of the issue (it could be contained in the Exception)? One can also add log to view request/response, as https://github.com/Azure/azure-libraries-for-net#logging

I've got some error from webapp recently when adding custom domain, as such response (which was good a month ago). I've been checking but yet to found the cause.

[code]

[2020-06-03 05:16] anuraj commented on #1079
@weidongxu-microsoft Thank you. It was due to some issue with my SSL thumbprint. It was cached. I could find it because of logging. Closing it since it is resolved.

[2020-06-03 05:16] #1079 closed

[2020-06-04 04:56] weidongxu-microsoft commented on #1072
@Rookian

I think the cause is here.

KeyVault data-plane client actually need a different `adSettings.TokenAudience` from management/graphrbac. If credential of service principal is provided, it will use it to obtain a token for KeyVault data-plane client. But if in the code, `managementToken` and `graphToken` is provided instead, code here cannot auth correctly.

One way to solve is e.g. using `

[2020-06-05 09:05] a-vishar commented on #1057
The issue here is that I have permission to modify the function app and the storage account, but when I try to add the storage account to the function app it fails.

Are you saying that to have the configuration I outlined above I would need to:

1) Create the storage account
2) Create the function app
3) Give the function app a managed identity
4) Add the function apps manage identity to the stor

[2020-06-05 10:56] chugh97 opened #1080 "I would like the library to generate ARM templates"
**Is your feature request related to a problem? Please describe.**
Maybe missing functionality

**Describe the solution you'd like**
I would like to create an ARM template. If its possible please update documentation
[code]

**Describe alternatives you've considered**
Looked at API and found this feature missing

[2020-06-08 09:04] coreazure-jd opened #1081 "Full MSAL integration + current user attributes"
I am using the DeviceLogin flow for a custom CLI tool as I want requests to be made with the actual user's credentials and authorizations. The AzureCredentialsFactory.FromDevice login is suboptimal compared with the flows available in the MSAL libraries (AcquireTokenInteractive primarily) and the AzureCliCredentials.Create() is only using the Security Principal login (which is also quite fiddly).

[2020-06-08 10:05] mruf opened #1082 "[FEATURE REQ] Create Azure SignalR service instances"
**Is your feature request related to a problem? Please describe.**
I would like to programmatically create an Azure SignalR service instance.

**Describe the solution you'd like**
I would like to programmatically create an Azure SignalR service instance.

**Information Checklist**
Kindly make sure that you have added all the following information above and checkoff the required fields otherwise we

[2020-06-09 01:30] weidongxu-microsoft commented on #1082
Maybe you can use this one.
https://www.nuget.org/packages/Microsoft.Azure.Management.SignalR/

[2020-06-09 02:40] yungezz commented on #1081
hi  @coreazure-jd MSAL will be supported in new generation of .NET SDK which is in repo https://github.com/Azure/azure-sdk-for-net. The SDK will be preview soon. Add @nickzhums .

[2020-06-09 05:19] weidongxu-microsoft commented on #1062
Next release scheduled on 12 June.

[2020-06-09 08:01] coreazure-jd commented on #1081
Thanks for the response. Forgive me if I feel too old to get excited at the prospect of one SDK/library being replaced by another one but I look forward to appreciating its benefits.

[2020-06-09 08:01] #1081 closed

[2020-06-09 09:18] coreazure-jd commented on #1075
So basically the fluent approach is heading for deprecation with no equivalent in the new SDK which will be strucutred significantly differently?

I raised essentially the same feature request as it's about MSAL integration with the same response but it looks like the inference is that we shouldn't invest too much effort in using the fluent libraries, they're not LTS. Is this correct?

[2020-06-11 05:45] #615 closed

[2020-06-11 05:45] #1014 closed

[2020-06-11 07:44] steeve49 commented on #961
@tostringtheory Ok I think I found why it doesn't work...
I thought that using the WithExistingCertificate command would do the "installation" of existing certificate into my newly created resource group but it doesn't.
I just looked at my ARM template workaround to see what I have to find into azure sdk fluent to do the same thing but I don't know how to find it.

`{
      "type": "Microsoft.Web/

[2020-06-11 08:39] steeve49 commented on #961
@weidongxu-microsoft Thanks for having merged the two issues.
As I told into #6409 I really don't know if my process miss a step or not, you can find details in my last answer in #6409 topic.
I have tried many other options but nothing works (but my ARM template workaround at the moment).

I also forgot to answer to @tostringtheory about fiddler. I've tried and what I receive is a 404 error not fo

[2020-06-11 08:52] weidongxu-microsoft commented on #961
@steeve49

The ARM template seems for creating a certificate, not for binding it to a web app (no property relate to web app, and why keyvaultId and keyvaultSecretName, anything stored in keyvault?).

It might help if you can share the task you want to achieve, and what exists on your subscription (a screenshot of Portal?), and what is your current code. Is it any scenario mentioned in https://doc

[2020-06-11 09:22] steeve49 commented on #961
Ok, so here is my backup resource group where I have bought an azure ssl wildcard certificate and stored its private key into the keyvault as your link says here : https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#store-in-azure-key-vault

![image](https://user-images.githubusercontent.com/61324521/84366034-95078000-abd2-11ea-8094-d1cc29da8a03.png)

I have some deploymen

[2020-06-11 15:22] mgroetan commented on #895
@xccc-msft, we were having the same problem when running on the 1.26.1 version, but it was resolved when upgrading to the 1.29.0 version that you're implicitly referring to (#901).

Being somewhat new to this library, what I fail to see, though, is how this constitutes a pemanent fix, as long as the "SkuName" type itself hasn't been extended with the new values?
Granted, the "ExpandableStringEnum"

[2020-06-11 15:28] vtjc2002 opened #1084 "[Feature] Add Lower Sql DW Gen 2 Compute Optimized tiers"
**Is your feature request related to a problem? Please describe.**
Currently the ServiceObjectiveName does not support the lower gen 2 tiers

- DW100c
- DW200c
- DW300c
- DW400c
- DW500c

This prevents us from using fluent api to provision these DW gen2 tiers.
And prevent us from upgrading to the latest version.

**Describe the solution you'd like**
Add DW gen2 lower tiers to ServiceObjectiveName

[2020-06-11 16:44] tostringtheory commented on #961
@steeve49 - I got ya!  When I was working on our deployments I hit against the same limitation, the FluentSDK (at least at the time I was working), didn't allow you to fluently specify/create `IAppServiceCertificate`'s from KeyVault.  Under the covers though, everything in fluent is essentially calling the ARM endpoints anyways, so I poked around in the SDK until I found what I needed.  There's a

[2020-06-11 20:07] Patafoin commented on #961
@tostringtheory : You are my hero ! It works perfectly !!!!! Many many many thanks to you ! Really, It's amazing ! It's been about 2 years I search about a real good solution and no one in microsoft or stackoverflow could help me. Thanks a lot !

I think it's really strange that no one felt into the same trap and posted something on the web about this solution. If you have a personal webpage, you

[2020-06-11 20:23] tostringtheory commented on #961
@Patafoin - glad to hear that's working for you!  One of the other issues (#27 ) I also worked around in the same way.  Having access to create any un-supported resources by the fluent interface (at least partially) is useful:

[code]
What perplexes me looking at this code, is that I DON'T see the same serialize/deserialize step that I had to do in the certificates function, so I don't know/rememb

[2020-06-12 00:38] xccc-msft commented on #895
@mgroetan Thanks for posting your questions. Actually it was not a permanent fix in this case.

The issue was reported for `Standard_GZRS`. It is not supported within api version of [`2018-11-01`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2018-11-01/storage.json#L1024-L1030), which is the current version we are using.

[2020-06-12 02:36] weidongxu-microsoft commented on #961
`GenericResource` can be get from `IAzure` by `azure.Deployments.Manager.GenericResources` (me too in surprise that this is not exposed more directly). `azure.Deployments.Manager` is the `IResourceManager`.

Yes, this is a more generic approach for scenario currently not well supported by Fluent SDK.

[2020-06-12 02:40] weidongxu-microsoft commented on #961
@steeve49
Thanks for the description. It is clear.

I currently do not have a wildcard SSL to test.
Following code might work, if you can find your SSL in `certificateOrders` returned in 1st line:

[code]

[2020-06-12 04:42] yungezz commented on #1084
hi @ChenTanyi is there workaround avaiable for user to inner?

[2020-06-12 05:24] ChenTanyi commented on #1084
Currently, there is no workaround. These enums are not provided in sql `package-composite-v1`.

[2020-06-12 05:46] Patafoin commented on #961
@weidongxu-microsoft : your method throws a "Microsoft.Rest.ValidationException: ''Password' cannot be null.'". I already tried this one but it doesn't work unfortunately.

@tostringtheory Thanks for the application insights snippet, it's really interesting because I faced the same problem that I solved using rest calls. (why I didn't do that for certificate ? because I didn't knew where to search

[2020-06-12 07:49] nickzhums commented on #895
@mgroetan for future reference, we will be releasing a newer version of .NET SDK in late June. The annnoucement will be on **https://github.com/Azure/azure-sdk-for-net/**. The current .NET Fluent will be on a slow deprecation path, the newer version will contain a number of new features such as unified authentication, distributed tracing, better error-handling, and a couple other things. Feel free

[2020-06-12 15:02] vtjc2002 commented on #1084
hi, is this something I need to open up an issue ticket with another repo/team?

[2020-06-12 16:07] eosfor commented on #1075
@coreazure-jd, @nickzhums , @weidongxu-microsoft this looks disturbing :), is fluent "heading for deprecation"? I hope not ...

[2020-06-12 16:31] coreazure-jd commented on #1075
@eosfor That was the inference of the statement but maybe read too much into it.
I did manage to resolve my issue with the following code BUT this was for a plain .NET Core console app not a powershell module and it may be falling back not to the AZ credentials but my device identity store:
`  AzureServiceTokenProvider tokenProvider = new AzureServiceTokenProvider();
            return new AzureCr

[2020-06-12 16:40] nickzhums commented on #1075
It is heading for deprecation but there will be newer version of .NET SDK coming out in late June. We are actively working on collecting feedback from current .NET Fluent customers, would love your input on what you would like to see in the next-gen .NET SDK. Out of curiosity, when you choose .NET Fluent SDK, what was the motivation behind? (apart from that you like .NET :) )
Was it the fluent sty

[2020-06-12 16:47] coreazure-jd commented on #1075
Thanks for clarifying @nickzhums , personally it's a coding style that is prevalent across so many different libraries one uses that it sits nicely and can really help to accelerate learning resource definitions and coding it (yes I admit, as an Intellisense warrior). Granted it's not suitable for a lot of scenarios but when it is it works well. It would be a great shame to have a more traditional

[2020-06-15 02:49] yungezz commented on #1084
hi @vtjc2002 .NET fluent SDK is deprecating. We're not going to change existing `pacakge-composite-v1`. To support latest pacakge-composite-v3 in .NET SDK should happen in new [.NET SDK](https://github.com/Azure/azure-sdk-for-net), add @nickzhums  to share more plan on it.

[2020-06-16 04:17] Drewm3 commented on #672
I am closing this issue. @orpeti, please let us know if it is still a problem.

[2020-06-16 04:17] #672 closed

[2020-06-16 04:18] Drewm3 commented on #674
Closing this issue due to no response for several months.

[2020-06-16 04:18] #674 closed

[2020-06-16 04:22] Drewm3 commented on #704
This is available by setting the licenseType property in [VirtualMachineScaleSetVMProfile](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescalesets/createorupdate#virtualmachinescalesetvmprofile).

[2020-06-16 04:22] #704 closed

[2020-06-17 12:58] a-vishar commented on #1057
Any update on this?

[2020-06-17 14:44] weidongxu-microsoft commented on #1057
@a-vishar

I still not get your steps. Is it possible for you to provide code snippet to clarify your config and help reproduce the issue?

The above snippet about function app does not have any configure on the storage account at all. Hence I am not able to understand the different of "It works with a new function app and storage account" and "this issue only occur for pre-existing storage accoun

[2020-06-18 06:17] asranja opened #1086 "Do we support sendX5c parameter while creating AzureCredentials ?"
ADAL currently supports [this](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identitymodel.clients.activedirectory.authenticationcontext.acquiretokenasync?view=azure-dotnet#Microsoft_IdentityModel_Clients_ActiveDirectory_AuthenticationContext_AcquireTokenAsync_System_String_Microsoft_IdentityModel_Clients_ActiveDirectory_IClientAssertionCertificate_System_Boolean_).

Is there a way we can

[2020-06-18 16:17] sngupt commented on #615
@ChenTanyi, trying to implement this in .net462, with the isCertRolloverEnabled set to true. Get error, it still looks for the thumbprint of the certificate instead of looking up by subject name. (details here
 - https://stackoverflow.microsoft.com/questions/205108 )

` ActiveDirectoryServiceSettings graphActiveDirectoryServiceSettings = new ActiveDirectoryServiceSettings()

[2020-06-18 23:59] jongio opened #1087 "[BUG] ResourceGroup.CheckExistence replaced with "Contain"?"
I need to check if a resource group exists.  I found this method ResourceGroup.CheckExistence, which is a great name.  I then saw the message that it is now obsolete in favor of "Contain" - which to me, is not a great name.

Can we discuss why this was changed and potentially change it back to the better more accurate and descriptive name?

https://github.com/Azure/azure-libraries-for-net/blob/mas

[2020-06-19 00:01] jongio opened #1088 "[BUG] User should be Use in Obsolete msg."
Here

https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Domain/IResourceGroups.cs#L45

Has
        [Obsolete("User ContainAsync() instead.")]

Should be:

        [Obsolete("Use ContainAsync() instead.")]

azsdke2e

[2020-06-19 01:20] weidongxu-microsoft commented on #1087
Pull from the history, it was 2017.

https://github.com/Azure/azure-libraries-for-net/commit/a07cdf274980fb875432ec29d4d701b44eaa6158#diff-d66158c944e49a70af1355d68909584b

@hovsepm Do you have the background?

[2020-06-19 01:56] yungezz commented on #1088
https://github.com/Azure/azure-libraries-for-net/pull/1089

[2020-06-19 02:02] ChenTanyi commented on #615
@sngupt It may be you setting or certificate error. Could you use the `AuthenticationContext.AcquireTokenAsync` to test your authentication? The implementation is using this function to acquire token.

[2020-06-19 02:06] weidongxu-microsoft commented on #1088
Fixed by you :-)
https://github.com/Azure/azure-libraries-for-net/pull/1089

Thanks for the contribution.

[2020-06-19 08:02] dvdgutzmann commented on #482
Are there any plans to provide a way to name the remote part of the peering?

A workaround we came up with could be to create the peering, then delete only the remote part of the peering and recreate it afterwards with a proper name.

[2020-06-19 11:39] dvdgutzmann commented on #482
We didn't manage to delete only one side of the peering, so the intended workaround does not work

[2020-06-19 17:41] sngupt commented on #615
I am able to get token using MSAL API but not with ADAL API, i.e
good with -

`IConfidentialClientApplication app = ConfidentialClientApplicationBuilder.Create("<applicationid>")
                                                      .WithAuthority("https://login.microsoftonline.com/<tenantid>")
                                                      .WithCertificate(certificate)

[2020-06-22 03:07] ChenTanyi commented on #615
@sngupt if you are implementing authentication by your own, I think the MSAL is OK. These two tokens are the same. I don't know the API logic either. If you have question about ADAL API, maybe you had better open a issue in https://github.com/AzureAD/azure-activedirectory-library-for-dotnet

[2020-06-22 23:25] MohaRady opened #1091 "[BUG] internal class AzureFirewallImpl in namespace Microsoft.Azure.Management.Network.Fluent has the code from line 1761-1764 mistaken. It shoul be: if (natRule.Protocols == null) { natRule.Protocols = new List<AzureFirewallNatRuleProtocol>(); } instead of if (networkRule.Protocols == null) { networkRule.Protocols = new List<AzureFirewallNetworkRuleProtocol>(); }"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2020-06-23 02:06] weidongxu-microsoft commented on #1091
Thanks for the detailed info. Expect to be fixed in next version (1.34.1 if no major feature/fix).

[2020-06-23 02:20] MohaRady commented on #1091
Thank you

[2020-06-23 03:17] #1091 closed

[2020-06-23 14:00] #1088 closed

[2020-06-25 10:07] Rookian opened #1092 "[FEATURE REQ] Change active directory administrator after SQL Server is provisioned"
**Is your feature request related to a problem? Please describe.**
I created a Sql Server and set active directory administrator.

[code]

Now I would like to change the active directory administrator by using
`sqlServer.Update().WithActiveDirectoryAdministrator("userloginnew", "idnew");`

This method does not exist, when using `Update()`.

**Describe the solution you'd like**
Please add `Microsof

[2020-06-25 10:09] Rookian commented on #1092
You can use:
[code]

[2020-06-25 10:09] #1092 closed

[2020-06-25 11:22] johnib opened #1093 "[QUERY]"
**Query/Question**
How to write UTs? specifically mocking the Fluent lib APIs?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

Because there could be a way to easily mock and test the Fluent lib APIs that I could not find.

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE : [e.g. Int

[2020-06-26 14:33] yashodhan10 commented on #493
Is there any update on this issue? I m using the same piece of code that is mentioned above, but I get this error:
Async operation failed with provisioning state: Failed

PS: I/m not even using ApplyAsync(), I m using Apply()!

[2020-06-26 18:33] ashwnacharya opened #1094 "[BUG] ResourceGroups.DeleteByNameAsync() always throws an exception"
**Describe the bug**
I am trying to delete a resource group using the following code.

[code]

***Exception or Stack Trace***
System.NullReferenceException
  HResult=0x80004003
  Message=Object reference not set to an instance of an object.
  Source=Microsoft.Rest.ClientRuntime.Azure
  StackTrace:
   at Microsoft.Rest.ClientRuntime.Azure.LRO.LROPollState`2.DeserializeToObject[TDeserializedBodyType

[2020-06-27 03:36] Aequoris opened #1095 "[BUG] Upgrade runtime version"
The Microsoft.Azure.Management.ResourceManager.Fluent uses an old version of Microsoft.IdentityModel.Tokens.

If the customer is using the most recent version of Microsoft.IdentityModel.Tokens, this causes an error during restore.

The only way to solve is an explicit reference to the latest version of Microsoft.IdentityModel.Tokens in the customer project, which is not turnkey.

**Why it happens?

[2020-06-28 01:54] yungezz commented on #1093
hi @xccc-msft could you pls help here see if there's way to mock ARM response? like recording?

[2020-06-28 01:56] yungezz commented on #1094
If you'd like to call waitting until deletion done, pls use the sync API.

[2020-06-29 01:46] weidongxu-microsoft commented on #1094
This API normally would not fail (or we would probably be flooded by reports by now).

Would you please try adding some logging to see what it the response from service? https://github.com/Azure/azure-libraries-for-net#logging

[2020-06-29 01:53] weidongxu-microsoft commented on #493
@yashodhan10

You error is likely caused by incorrect in extension definition. Would you try logging to see what's last response from service?
https://github.com/Azure/azure-libraries-for-net#logging

If logging does not help and you can always reproduce, would you share the code (VM and extension) so we can reproduce?

[2020-06-29 03:10] xccc-msft commented on #1093
@johnib Do you mean using test framework like Mockito? In our tests, we prepare two test modes, `record`/`playback`, to support UTs. If you are interested, please find [here](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/test/java/com/microsoft/azure/management/compute/VirtualMachineOperationsTests.java).

[2020-06-30 09:23] johnib commented on #1093
@xccc-msft please take a look at this code:

[code]

I would like to write UTs that validate all the settings above, such as the `subscriptionId`, `location`, `instance counts`, etc.
Without wrapping this code by my own interfaces which ruin the experience that Fluent provides, how would you UT the above code?

[2020-06-30 10:20] xccc-msft commented on #1093
@johnib You may try to prepare customized delegating handler by your test requirement with scenarios that verify the request URLs and mock the responses. For example of handler, you can find [here](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Core/RestClient/ProviderRegistrationDelegatingHandler.cs). And you could configure the Azure client wi

[2020-07-06 09:08] Rookian commented on #1005
I still get an error:

[2020-07-06 10:34] xccc-msft commented on #1005
@Rookian It looks your long-running operation failed when polling status. Can you please retry again?

cc: @jamestao Do you know what the info means by `Additional Info:''System' is not a valid database edition in this version of SQL Server.'`?

[2020-07-07 04:34] ThomasManson opened #1096 "[BUG] IAzure.PolicyDefinitions.GetByNameAsync does not find an existing Policy"
When using IAzure.PolicyDefinitions.GetByNameAsync with the guid for a policy, I get the following exception:

Microsoft.Rest.Azure.CloudException
  HResult=0x80131500
  Message=The policy definition '871b6d14-10aa-478d-b590-94f262ecfa99' could not be found.
  Source=Microsoft.Azure.Management.ResourceManager.Fluent
  StackTrace:
   at Microsoft.Azure.Management.ResourceManager.Fluent.PolicyDefini

[2020-07-07 05:50] Tankzor opened #1097 "[QUERY] WindowsAzure.Storage.9.3.3 is a deprecated dependency - can we get it updated?"
**Query/Question**
Hi team, similar to #625 bug report (I think)..

`Microsoft.Azure.Management.ContainerInstance.Fluent.1.34.0`, `Microsoft.Azure.Management.EventHub.Fluent.1.34.0`, `Microsoft.Azure.Management.Sql.Fluent.1.34.0` reference deprecated package `WindowsAzure.Storage.9.3.3`.

It seems like it has been deprecated since October 2018.

Is an update to the maintained packages (`Azure.Stor

[2020-07-07 08:06] tutul2010 opened #1098 "How to get total count of ActiveDirectoryUsers by using of azure mgmt sdk fluent"
Hi Team,
I am using _https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent_ for getting resources in Azure with programmatically(**C#.net-core Web app**) and try to get resources informations by providing  servicers principals as below.
[code]

when i tried to get total numbers of count of  ActiveDirectoryUsers as below , **it gave exceptions..**
`int identity = azure.AccessManagement.A

[2020-07-07 12:46] tutul2010 commented on #1098
Exception is coming as "**Operation returned an invalid status code 'Forbidden'**" for above.
Thanks,

[2020-07-07 15:41] Rookian commented on #1005
It is not working.

[2020-07-08 02:16] yungezz commented on #1097
hi @Tankzor .NET fluent libraries are in passive maintain mode, we'll not release new version unless critical security issue etc. The next generation of .NET SDKs is in preview, detail at https://github.com/Azure/azure-sdk-for-net#Management-New-Releases. cc @nickzhums .

[2020-07-08 02:22] Tankzor commented on #1097
Thanks @yungezz , I wasn't aware of that. Cheers :)

[2020-07-08 02:22] #1097 closed

[2020-07-08 02:46] xccc-msft commented on #1005
@Rookian Can you please try with `_genericResources.Inner.[operation]` to see if it is SDK issue or service issue? Thanks.

[2020-07-08 09:50] Rookian commented on #1005
` _genericResources.Inner` has no operations available.

`_genericResources.Inner.Properties` or `_genericResources.Properties` contains value:
[code]

I created the database with
[code]

[2020-07-09 02:34] xccc-msft commented on #1005
@Rookian The code you shared before was `var res = await _genericResources.GetByIdAsync(resource.Id);`
I would suggest you to try `_genericResources.Inner.[operation]`.

[2020-07-09 14:26] tutul2010 commented on #1098
Issue is solved.#closeing  it.

[2020-07-09 14:26] #1098 closed

[2020-07-09 15:13] Rookian commented on #1005
[code]
Also fails with:

   at Microsoft.Rest.ClientRuntime.Azure.LRO.AzureLRO`2.CheckForErrors()
   at Microsoft.Rest.ClientRuntime.Azure.LRO.AzureLRO`2.StartPollingAsync()
   at Microsoft.Rest.ClientRuntime.Azure.LRO.AzureLRO`2.BeginLROAsync()
   at Microsoft.Rest.Azure.AzureClientExtensions.GetLongRunningOperationResultAsync[TBody,THeader](IAzureClient client, >AzureOperationResponse`2 response

[2020-07-10 01:04] danports opened #1100 "Pass custom IHttpClientFactory to Azure AD AuthenticationContext"
I need to pass proxy credentials to the Azure AD `AuthenticationContext`. The SDK provides a method for customizing the `HttpClient` used for API requests as discussed in #517, but I can't find a way to pass an `IHttpClientFactory` to the `AuthenticationContext` constructor. It appears that the `AuthenticationContext` is instantiated in a private static method that I can't really override or repla

[2020-07-10 03:11] xccc-msft commented on #1005
@Rookian Thanks for sharing. I noticed you mentioned the code for creating database:
[code]
Not sure if you have specific reason to use generic resources for updating tags.
Can you try with below scenario to update in sql resource itself:
[code]

cc: @nickzhums

[2020-07-10 03:50] timchapmanms opened #1101 "[BUG] ISubscription GetDefaultSubscription(IEnumerable<ISubscription> subscriptions) fails when subscription is "Past Due""
**Describe the bug**
The GetDefaultSubscription enumerable allows for subscriptions in the "Enabled" and "Warned" states. Subscriptions return a "PastDue" state when payment has not been reconciled in the billing system. However in this state the services are still active and operational which should not prevent the correct operation of this function and enumerable.

***Exception or Stack Trace***

[2020-07-10 14:22] Rookian commented on #1005
I have to use generic resources, because I would like to patch all resources with resource tags.

[2020-07-10 16:10] sierks opened #1102 "[BUG] Receiving System.MissingMethodException: Method not found: 'Void Microsoft.Rest.TokenCredentials..ctor(Microsoft.Rest.ITokenProvider, System.String, System.String)'."
**Describe the bug**
Getting an exception when I try any commands from the "azure" object.

***Exception or Stack Trace***
System.MissingMethodException: Method not found: 'Void Microsoft.Rest.TokenCredentials..ctor(Microsoft.Rest.ITokenProvider, System.String, System.String)'.

***Code Snippet***
[code]

**Setup (please complete the following information):**
 - IDE : VS 2019
 - Version of the Lib

[2020-07-10 16:15] sierks commented on #1102
Upgrading Microsoft.Rest.ClientRuntime to 2.3.21 and Microsoft.Rest.ClientRuntime.Azure.Authentication to 2.4.1 seems to have resolved the issue...

[2020-07-13 02:27] tzhanl commented on #947
@yaohaizh how is the progress about this?

[2020-07-13 02:29] xccc-msft commented on #1005
@Rookian Can you try `2014-04-01` instead of `res.ApiVersion`?

[2020-07-13 02:38] ChenTanyi commented on #1102
@sierks thanks for reporting that.

[2020-07-13 09:20] ChenTanyi commented on #1102
@sierks I cannot reproduce you problem in your target version:
![image](https://user-images.githubusercontent.com/15213781/87287718-05385700-c52d-11ea-937f-e2124c912d74.png)
![image](https://user-images.githubusercontent.com/15213781/87287768-14b7a000-c52d-11ea-9e6a-3220d4c8717d.png)

[2020-07-13 09:22] ChenTanyi commented on #1102
@sierks Since you have solved your problem by updating version. If you won't test with the previous version, I will close it. Otherwise, could you please give more information about how to reproduce it?

[2020-07-13 10:33] yaohaizh commented on #947
@yungezz

[2020-07-13 19:20] sierks commented on #1102
I am creating my credentials differently than you are. But otherwise yes, it is working for me on the newer packages, so you can close it.

[code]

[2020-07-14 01:54] yungezz commented on #947
hi @weidongxu-microsoft could you pls have a look? thanks

[2020-07-14 02:29] ChenTanyi commented on #1102
@sierks Thanks.

We have met one MissingMethodException during upgrading, maybe it is due to the upgrading. The exception doesn't show anytime later it.
If you meet it again, welcome to report it here.

[2020-07-14 02:29] #1102 closed

[2020-07-15 05:54] #947 closed

[2020-07-15 05:57] weidongxu-microsoft commented on #947
next release would be 1.34.1

[2020-07-15 15:07] thomaslevesque opened #1105 "[BUG] Recreating an existing Function App generates a new file share"
**Describe the bug**
I have a deployed Function App, on a consumption plan. WEBSITE_CONTENTSHARE points to a file share on the linked storage account.
When I recreate the Function App with the same settings, WEBSITE_CONTENTSHARE is forced to a new random value:

https://github.com/Azure/azure-libraries-for-net/blob/82aa32a8db867f4ef27ce376a3ee7210f9694bbd/src/ResourceManagement/AppService/Function

[2020-07-16 03:32] rickpmartin commented on #1036
Any update on this? I'm experiencing the same issue.

[2020-07-16 05:38] #1105 closed

[2020-07-16 05:59] weidongxu-microsoft commented on #1105
Next release would be 1.34.1

[2020-07-16 06:44] eydelrivero commented on #1036
Hi @rickpmartin . I followed the indications in this SO answer https://stackoverflow.com/questions/60743863/azure-web-app-random-restart-can-anyone-expand-on-this-recommendation, and added the `WEBSITE_ADD_SITENAME_BINDINGS_IN_APPHOST_CONFIG` configuration with value 1 to the app service in the Azure portal. This is the only way so far I have prevented the app service from restarting after adding

[2020-07-16 07:28] thomaslevesque commented on #1105
That was fast, thanks @weidongxu-microsoft!

[2020-07-16 07:33] thomaslevesque opened #1107 "[FEATURE REQ] Provide a more obvious way to create a consumption app service plan"
**Is your feature request related to a problem? Please describe.**
When creating an app service plan, there's no obvious way to choose the "Consumption" pricing tier. The options are:
- `WithFreePricingTier`
- `WithSharedPricingTier`
- `WithPricingTier`, which accepts a `PricingTier`, but `PricingTier` doesn't have a predefined value for Consumption

**Describe the solution you'd like**
There shou

[2020-07-16 07:34] thomaslevesque commented on #1105
Note: the code in my original message had another problem (not a bug in the SDK, just in my code): it creates a new consumption every time the function app is recreated. To avoid this, explicitly create an app service plan and use it explicitly in the function with `WithExistingAppServicePlan`. However there's no obvious way to explicitly create a new consumption plan (see #1107)

[2020-07-17 02:55] rickpmartin commented on #1036
Worked for me too, thanks!

[2020-07-17 13:08] #1107 closed

[2020-07-21 08:03] #1101 closed

[2020-07-21 12:30] SiobhanBaynes opened #1110 "[BUG] Key Vault Secret.ListVersionsAsync() doesn't return an IEnumerable"
**Describe the bug**
The sync version of Key Vault `secret.ListVersions()` correctly returns an `IEnumerable<ISecret>`.  However the async version returns a `Task<ISecret>`.  `ListVersionsAsync` always returns null when called.

***Exception or Stack Trace***
No exception is thrown.

**To Reproduce**
Create a Key Vault with a secret, create a console app, add the `Microsoft.Azure.Management.Fluent

[2020-07-22 05:49] seekerlee opened #1111 "[FEATURE REQ] specify hyperV generation with WithHyperVGeneration() method when creating IGalleryImage"
**Is your feature request related to a problem? Please describe.**

Cannot specify hyperVGeneration when create IGalleryImage

**Describe the solution you'd like**

add a WithHyperVGeneration() method in method chain to specify.

**Describe alternatives you've considered**
NA

**Additional context**

**Information Checklist**
Kindly make sure that you have added all the following information above

[2020-07-22 18:27] mmisztal1980 opened #1112 "[BUG] azure.PrivateLinkServices.ListBySubscription() does not return anything"
**Describe the bug**
I've got a subscription containing a single private endpoint. I'm attempting to list it using `PrivateLinkServices.ListBySubscription()`. Despite that, nothing is being returned.

***Exception or Stack Trace***
N/A

**To Reproduce**
Steps to reproduce the behavior:
- Create subscription A with vnet
- Create subscription B with a storage account
- Create a private endpoint for

[2020-07-22 19:07] rashanke2 opened #1113 "[BUG] ListByResourceGroupAsync() making config/web call for every resource in the resource group resulting hitting the 12K read quota limit unlike it's sync counter part which make single call"
**Describe the bug**
We are calling the API ListByResourceGroupAsync() to fetch all the resources from the specific group. We have confirmed using Fiddler that it’s making separate config call for every request in the resource group. Where as ListByResourceGroup(), it's sync counterpart of the same API, unlike the async one, it makes singe request to pull all configurations.

***Exception or Stack

[2020-07-24 00:19] kenieva commented on #1096
This doesn't seem to be a policy issue. We would need more information to be able to triage. Please create a support ticket for us to get more information and debug the issue. Thank you.

[2020-07-24 00:19] #1096 closed

[2020-07-24 21:05] coppercosmo opened #1114 "[BUG] Function App Diagnostic Settings not working. Category "FunctionAppLogs" not supported."
**Describe the bug**
Trying to add Diagnostic Logs for Function App results in failure.

***Exception or Stack Trace***
"Category 'FunctionAppLogs' is not supported."

**To Reproduce**
Steps to reproduce the behavior:
Try to create diagnostic logs on a created function app.

***Code Snippet***
`var diagnosticLogs = await azure.DiagnosticSettings
                    .Define(diagnosticLogsResource.N

[2020-07-27 02:43] weidongxu-microsoft commented on #1110
@xccc-msft Would you take a look when you have time?

[2020-07-27 02:47] weidongxu-microsoft commented on #1113
This is likely a bug on sync method. The design is bad (to send additional per resource requests), but that is the one there. For backward-compatibility I probably not able to do much.

Possible solution is to provide a *lite* version of the "list", that only does the list, and delay the config/web call to another method for detail.

[2020-07-27 03:48] rashanke2 commented on #1113
Hi @weidongxu-microsoft,

Why do you think it's a bug on sync method instead of async one? As this is async method which is making config/web call per resource.

Currently I have used GetByResourceGroupAsync(), which served my purpose.

I have below points regarding issue.

- The sync/async behavior should be same in term of using underlying resources.
- Ideally it's a good idea to pull the requir

[2020-07-27 04:04] xccc-msft commented on #1110
@SiobhanBaynes Thanks for reporting this. I just created #1115 to fix this. Thanks.

[2020-07-27 04:24] weidongxu-microsoft commented on #1113
@rashanke2

Usually no one make a bug by adding lots of code that should not be called at all, hence my feeling is that these additional requests are intentional.

Furthermore, the `config` is needed if customer subsequently calls a Update()..Apply() flow on the IFunctionApp. If it is `null`, the Update will result in incorrect behavior (by *deleting* existing config, since it creates an empty `Si

[2020-07-28 11:51] MKMZ opened #1118 "[FEATURE REQ] Ability to create and update some additional resources"
**Is your feature request related to a problem? Please describe.**
We are using this library to create our environments on Azure. However, so of the resources are not currently available. I would like to ask you to prepare implementation for such types of resources to make this library more complete and useful.

**Describe the solution you'd like**
I would like to use this library to create and up

[2020-07-28 13:01] weidongxu-microsoft commented on #1118
For new projects, the recommended .NET libraries are here https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html
It is in preview, with more services to come.

[2020-07-30 09:20] koljada opened #1119 "[FEATURE REQ] Support for NotificationHub"
**Is your feature request related to a problem? Please describe.**
We're trying to create all our resources using fluent API but it seems like NotificationHub cannot be created in such way. It's very frustrating. There's no much sense to use fluent API at all if there is still need to create some resources manually.

**Describe the solution you'd like**
Notification Hubs Namespace and Notification

[2020-08-03 02:51] yungezz commented on #1119
hi @koljada a new generation of .NET SDK is under developing/releasing recently, more detail available at https://github.com/Azure/azure-sdk-for-net#Management-New-Releases. Fluent .NET SDK is in passive maintain mode now.

[2020-08-05 16:47] gaclique opened #1120 "[BUG] WebApps.ListByResourceGroup and WebApps.ListByResourceGroupAsync does not return API web apps"
**Describe the bug**
API Web app services on azure are not being returned in these calls.  Standard web app services do come back without any issues.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Create new API App service on Azure

***Code Snippet***
[code]

**Expected behavior**
API app service should be included in this list.

**Screenshots

[2020-08-06 01:58] weidongxu-microsoft commented on #1120
@gaclique

It might be caused by: the "kind" property is missing or does not contains "app" (there is another keyword "functionapp" in "kind" property, which belongs to FunctionApp).

If you can, would you paste a sample HTTP response here?
Logging can be enabled as https://github.com/Azure/azure-libraries-for-net#logging

[2020-08-06 13:51] gaclique commented on #1120
I have attached 2 files.  One is the response for an API app service and the other is the response log for a Web App service

[APIAppService.txt](https://github.com/Azure/azure-libraries-for-net/files/5035197/APIAppService.txt)
[WebAppService.txt](https://github.com/Azure/azure-libraries-for-net/files/5035198/WebAppService.txt)

[2020-08-06 14:09] gaclique commented on #1120
Additional logging attached.  It looks like the "kind" property is returning "api" instead of "app" for API Web service.

[ResponseLog.txt](https://github.com/Azure/azure-libraries-for-net/files/5035314/ResponseLog.txt)

[2020-08-07 02:14] weidongxu-microsoft commented on #1120
@gaclique
Thanks. I see, it is the API app. We need a bit more internal investigate on whether we should put it as WebApp, or need a new class.

[2020-08-07 05:48] weidongxu-microsoft commented on #1120
From doc, there appears no different among the 2. We will include kind=api in list response.

[2020-08-07 07:43] #1113 closed

[2020-08-08 01:24] weidongxu-microsoft commented on #1113
Added `IWebApps.ListWebAppBasicByResourceGroupAsync` to only return basic data of the web app as `IWebAppBasic`. If one need more info, or need to do update on it, call `IWebApp.GetById` to get a full `IWebApp`.

Ideally this should be the default `ListByResourceGroupAsync`. However due to backward-compatibility I cannot change the old method.

Next release would be 1.34.1 or 1.35.0.

[2020-08-12 04:43] #1120 closed

[2020-08-12 10:36] CodeAsAnInfrastructure commented on #1009
@yungezz I was wondering whether there was an anticipated release for this feature? I'm hoping to use the alias feature to replace some routines I've written manually to call the Management API.

[2020-08-12 10:36] btHolert opened #1121 "[FEATURE REQ] Add Azure.Identity.TokenCredential as option for authentication"
Authentication in the case of a custom cli program used by users is not convenient for the user.
Either they have to create an authentication file, login through Azure cli or have an App registration which has the necessary application permissions to execute the API calls.

I want to be able to use the InteractiveBrowserCredential flow provided by Azure.Identity (which is used in most other Azure

[2020-08-12 10:43] #1121 closed

[2020-08-12 10:43] btHolert commented on #1121
Closing as i just discovered through another issue the previews of the new management libs.

[2020-08-12 11:56] Emma0727 opened #1122 "[QUERY]how to get role assignment with scope "/""
**Query/Question**
A clear and concise ask/query.
Query/Question
How can we help?
how to get role assignment with scope "/".
It seems .RoleAssignments.ListByScopeAsyncor other method are not support scope “/”.

[code]
now I can only get that from api:
https://management.azure.com/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01&$filter=principalId eq '***'
***Why is this no

[2020-08-12 11:57] Emma0727 opened #1123 "[QUERY] use arm token to genarate IAzure"
**Query/Question**
Query/Question
How can we help?
how to get role assignment with scope "/".
It seems .RoleAssignments.ListByScopeAsyncor other method are not support scope “/”.

var tokenCredentials = new TokenCredentials(armToken);
                var authenticated = Azure
                    .Configure()
                    .WithLogLevel(HttpLoggingDelegatingHandler.Level.Basic)

[2020-08-12 12:39] yungezz commented on #1009
hi @CodeAsAnInfrastructure sorry there's no release plan yet. .NET fluent SDK is replacing by new generation of .NET SDK. cc @nickzhums to share more on new generation SDK.

[2020-08-12 12:43] CodeAsAnInfrastructure commented on #1009
Thanks @yungezz. I thought .NET fluent was the latest generation of the .NET SDK.

Look forward to seeing what @nickzhums can provide. Thanks for the quick response!

[2020-08-12 12:55] Emma0727 commented on #1122
I try to use another method to get role assginment:
var roleAssignments = await authenticated.RoleAssignments.GetByIdAsync(roledefinition.Id);
But it failed like ther viersion api version used 2018-09-01-preview, is not suitable.
Any one can help?

[2020_08_12_08_52_30.968] [LogException], AzureResourceService, GetAzureClientAynsc, 13be6b52-e8b1-4622-afd3-e8bcc5f3709e, exception:Microsoft.Rest.Azu

[2020-08-13 02:47] yungezz commented on #1122
hi @xccc-msft do you have a quick answer for this?

[2020-08-13 05:07] xccc-msft commented on #1122
@Emma0727 What's the response you get when sending scope `/`?

For below line, you should pass role assignment id instead of role definition id.
`var roleAssignments = await authenticated.RoleAssignments.GetByIdAsync(roledefinition.Id);`

[2020-08-13 08:42] Emma0727 commented on #1122
It throw exception:
82a13973-2c06-4162-8b13-71686f111362, exception:Microsoft.Rest.Azure.CloudException: **The role assignments query at '/' scope is not allowed without any filters.**
   at Microsoft.Azure.Management.Graph.RBAC.Fluent.RoleAssignmentsOperations.ListForScopeWithHttpMessagesAsync(String scope, ODataQuery`1 odataQuery, Dictionary`2 customHeaders, CancellationToken cancellationToken)

[2020-08-13 09:34] korensiso opened #1124 "[BUG]System.NullReferenceException when calling IsResourceGroupExistsAsync"
**Describe the bug**
From time to time we got NullReferenceException from the SDK when calling to IsResourceGroupExistsAsync (also for other resources when calling to their "IsExists" API)

***Exception or Stack Trace***
Failed checking name availability for context 'ResourceType = ResourceGroup, ResourceName = small-to4_2'","System.NullReferenceException Void MoveNext() System.NullReferenceExcept

[2020-08-13 19:09] daveoshinsky opened #1125 "[QUERY] Problem listing Cosmos DB accounts with MSI"
I'm encountering an exception like this in logic that is attempting to expand the list of Cosmos DB accounts, with MSI and Fluent SDK v1.31.1:

System.ArgumentNullException: Value cannot be null.
Parameter name: MSI_ENDPOINT
   at Microsoft.Azure.Management.ResourceManager.Fluent.Authentication.MSITokenProvider.<GetAuthenticationHeaderForAppServiceAsync>d__12.MoveNext()
--- End of stack trace from

[2020-08-14 01:50] weidongxu-microsoft commented on #1124
The bug is already fixed in 1.34

[2020-08-14 01:57] weidongxu-microsoft commented on #1125
@daveoshinsky

Is it MSI in web or virtual machine?

`MSI_ENDPOINT` env variable should be set by the Azure on that webapp or vm. It is enabled like this https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/qs-configure-portal-windows-vm#enable-system-assigned-managed-identity-on-an-existing-vm

[2020-08-14 02:14] daveoshinsky commented on #1125
Hi Weidong,It's MSI on a virtual machine.  I've added my co-workers at Commvault in case they have more details on the VM setup.
GitHub issue with full details is here.
Thanks,Dave Oshinsky
    On Thursday, August 13, 2020, 09:57:30 PM EDT, Weidong Xu <notifications@github.com> wrote:

@daveoshinsky

Is it MSI in web or virtual machine?

MSI_ENDPOINT env variable should be set by the Azure on that

[2020-08-14 02:17] xccc-msft commented on #1122
@Emma0727 Thanks for sharing. You may try
`authenticated.RoleAssignments.Inner.ListByScopeAsync` instead of `authenticated.RoleAssignments.ListByScopeAsync`. It would allow you to send with filters.

[2020-08-14 13:04] daveoshinsky commented on #1125
MSI_ENDPOINT is not set in the environment on this Azure VM, which is setup for MSI.  Should that environment variable be set?

C:\Users\admin>set
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\admin\AppData\Roaming
CLIENTNAME=CVDV112FB4R
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\Common Files
CO

[2020-08-14 18:23] daveoshinsky commented on #1125
We have 2 Azure VM's, both with MSI configured.  One is the VM used above to yield the environment.  Both VM's do NOT have MSI_ENDPOINT in the environment.  This issue looks relevant:  https://github.com/Azure/azure-functions-host/issues/2038

It appears that either:
1) I cannot use MSI credentials with Fluent API's on such a VM without MSI_ENDPOINT set
OR
2) I'm using the wrong SDK calls to do al

[2020-08-14 20:00] daveoshinsky commented on #1125
The problem is in this code:
m_fluentCredentials = Microsoft.Azure.Management.ResourceManager.Fluent.SdkContext.AzureCredentialsFactory.FromSystemAssignedManagedServiceIdentity(
                       MSIResourceType.AppService, m_azureEnvironment);

Changing MSIResourceType.AppService to MSIResourceType.VirtualMachine is the fix.  This program is using the credentials to lookup Cosmos DB accounts

[2020-08-14 20:00] #1125 closed

[2020-08-15 01:18] weidongxu-microsoft commented on #1125
@daveoshinsky
Oh yes, MSIResourceType.AppService is for webapp, the other option is for VirtualMachine. Glad it is solved.

[2020-08-18 15:20] pbstrein commented on #1073
Any word on this? The function name imiplies that it would give ALL the available IP addresses. Could we have it return all the IP addresses? Or the count of the available IP addresses?

[2020-08-19 01:57] weidongxu-microsoft commented on #1073
@vnetsuppgithub Do you aware of other way to count available IP addresses (other than count all, minus used, minus reserved)?

[2020-08-19 14:17] tomkerkhove commented on #1046
Bump

[2020-08-20 02:36] xccc-msft commented on #1046
@tomkerkhove Sorry I missed this. For your case, if you only need Azure Monitor. Then you can create ServiceBusManager directly instead of Azure client.
[code]

[2020-08-21 00:05] PavelSafronov opened #1126 "[BUG] Date-like metadata is being parsed and serialized"
Storing date-like metadata in DNS A record set (haven't tried other metadata cases), and reading this data out again, returns a different date-like representation of the date.

Repro code:
[code]

The above code will result in the following output:
[code]

Expected behavior:
Store `"2020-08-20T16:39:20"` as metadata value, then retrieve the exact same text.

Actual behavior:
Store `"2020-08-20T16:

[2020-08-21 02:23] weidongxu-microsoft commented on #1126
@xccc-msft Please take a look.

[2020-08-21 03:11] xccc-msft commented on #1126
@PavelSafronov You will need set as below for your requirement:
[code]

[2020-08-21 19:49] pbstrein opened #1127 "[QUERY] Where is the Functionality to Query SSH Keys"
**Query/Question**
The [Rest APIs](https://docs.microsoft.com/en-us/rest/api/compute/sshpublickeys/listbysubscription) expose methods to query and create SSH keys. Where are those same method calls in the .Net library? I looked under ComputeManager, but it skips over SSH Keys.

![image](https://user-images.githubusercontent.com/21132293/90928909-615c8980-e3bd-11ea-84cd-ce97632f3fcf.png)

***Why is

[2020-08-24 02:40] xccc-msft commented on #1126
@PavelSafronov It looks like a known issue from [Newtonsoft.Json](https://github.com/JamesNK/Newtonsoft.Json/issues/862). For each service client in the SDK, it has [SerializationSettings](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Dns/Generated/DnsManagementClient.cs#L31) and [DeserializationSettings](https://github.com/Azure/azure-libraries-for-net/blob/m

[2020-08-26 17:48] rthorn17 commented on #1037
There is no interface that can tell you if the resource supports tags.  Azure keeps the Tag support doc updated to show what is currently supported.

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support

[2020-08-26 17:48] #1037 closed

[2020-08-27 13:33] redtaped commented on #775
I also am experiencing this error, specifically when deleting the azure service bus namespace.

It seems like SB returns 201, then that kicks off the polling operation. When calling ```GetPostOrDeleteOperationResultAsync```, to get the result, it returns 404 when the resource is successfully deleted. But the SDK views that as ane exception and causes this problem.

I'm using version 1.34.0 of the

[2020-08-27 14:11] Emma0727 commented on #1122
Is there any method have the same results with the below API:
GET https://management.azure.com/{scope}/providers/Microsoft.Authorization/roleAssignments?api-version=2015-07-01&$filter=assignedTo('{objectId}')
List role assignments for a specified user, including ones inherited from groups.

[2020-08-27 18:52] mmurphy7 opened #1128 "[FEATURE REQ] Application Gateway: Support WAF_v2 and Standard_v2 SKUs"
Configuring a WAFv1 through these libraries is a breeze, however support for version 2 Application Gateways is missing. Now that WAF_v2 is out of preview, it would be nice to be able to create and manage these gateways through C# rather than PowerShell and the Azure Portal.

**Describe the solution you'd like**
Add Application Gateway v2 support to the fluent library.

[2020-08-28 02:18] xccc-msft commented on #1122
@Emma0727 I only find [ListForScope](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/authorization-RoleAssignmentsCalls.json#L450), [ListForResource](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01/authoriz

[2020-08-28 05:16] yungezz commented on #1128
hi @mmurphy7 .NET fluent SDK is in passive maintenance mode. There's new generation .NET SDK previewed at https://github.com/azurer/azure-sdk-for-net repo. cc @nickzhums for the ask on .NET SDK.

[2020-08-31 00:17] chrisfraschetti commented on #960
Any updates on this issue? It's a bit of a mess needing to mix and match both a systemassigned identities and service principal simply because the client library is behind.

[2020-08-31 02:37] #1122 closed

[2020-08-31 19:57] TarekAljabban opened #1129 "[QUERY] Does Fluent SDK support multiple Availability Zones for VMSS?"
**Query/Question**
Does Fluent SDK support multiple Availability Zones for VMSS?

***Why is this not a Bug or a feature Request?***
Not sure if this is supported or not . If the answer comes back as "not supported", I'll create a feature request.

**Details**
 I want to create zone-redundant VMSS (i.e. deployed to multiple Availability Zones).

This is straightforward when done using [Portal, CLI

[2020-08-31 20:41] pbstrein commented on #1073
This is the way I'm currently getting the available IPs from a subnet. Is there an issue with doing it this way? Is there a way to make this the way that `ListAvailablePrivateIPAddresses()` works be default?

[code]

[2020-09-01 04:45] yungezz commented on #1129
hi @xccc-msft could you pls help to check if this is supported?

[2020-09-01 05:03] xccc-msft commented on #1129
@TarekAljabban Please check the [implementation](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/implementation/VirtualMachineScaleSetImpl.java#L2290-L2301) of `withAvailabilityZone`. You may call it multiple times with different zone ids.

[2020-09-01 21:10] deepak-ms commented on #541
Is there any alternative client lib for vcore?

[2020-09-02 02:17] weidongxu-microsoft commented on #541
@erich-wang Do we have other .NET SDK that supports vCore?

[2020-09-02 08:56] qcnguyen opened #1130 "[BUG] Create azure function deployment slot is wrong."
**Describe the bug**
`var parent = await azure.AppServices.FunctionApps.GetByResourceGroupAsync("ResGrp", "MyFunction");
            var preliveSlot = await parent.DeploymentSlots.Define("prelive").WithConfigurationFromParent().CreateAsync();`
the above code will generate a slot with the exact same WEBSITE_CONTENTSHARE value, and it also has the function code for that slot - which is newly created

[2020-09-02 12:16] deepak-ms opened #1131 "[FEATURE REQ] Upgrade SQL to package-composite-v3 (from v1)"
SQL Fluent lib doesn't support vcore model which is the recommended model (over dtu). For this, sql related code should be generated with latest spec (probably upgrading tag from v1 to v3).

azure-libraries-for-net/src/ResourceManagement/api-specs.json:
[code]

**Describe the solution you'd like**
Sql fluent lib supporting vcore model.

[2020-09-02 15:08] cmenzi opened #1132 "Return null if inner is null"
According to other implementations like `WebAppImpl.cs`, if `inner` is `null` then it returns `null`

https://github.com/Azure/azure-libraries-for-net/blob/5ad02e731dc775dab03458813bc85456c356ac6f/src/ResourceManagement/AppService/FunctionAppsImpl.cs#L83

Otherwise, it results in NullReferenceException

[2020-09-02 17:54] pbstrein opened #1133 "[FEATURE REQ] Add GetById to ComputeManager.VirtualMachineImages"
**Is your feature request related to a problem? Please describe.**
My app will list Virtual Machine Images, so I can save the ID in my app for later retrieval. However, when I want to get the Virtual Machine Image, I have to pass in the following information:
- Region
- PublisherName
- OfferName
- SkuName
- Version
Currently the Fluent SDK exposes the following function
![image](https://user-image

[2020-09-02 19:13] rtaylor72 commented on #738
Any update on this?

[2020-09-03 02:02] weidongxu-microsoft commented on #1131
composite-v3 got lots of breaking changes. The upgrade is not very likely to happen in near future (if happen at all).

Note that new generation of .NET SDK https://github.com/Azure/azure-libraries-for-net#try-the-next-generation-azure-management-sdk-for-net-now

[2020-09-03 02:42] #1132 closed

[2020-09-03 04:20] #1133 closed

[2020-09-03 04:44] weidongxu-microsoft commented on #1123
@Emma0727 ARM credential is fine, if you do not use GraphRBAC feature (and KeyVault data feature).

[2020-09-03 05:20] #738 closed

[2020-09-04 10:13] rsrini83 opened #1137 "C# Application failing with 'Microsoft.Azure.Management.Compute.Fluent.IVirtualMachines' does not contain a definition for GetById/GetByResourceGroup"
**Describe the bug**
Wrote a sample program to attach a disk to a running Windows VM using the SDK. Was able to execute and attach the disk. All of a sudden getting below error message.  No exception in the visual studio and building without any issue. however runtime seeing this issue.

'Microsoft.Azure.Management.Compute.Fluent.IVirtualMachines' does not contain a definition for 'GetByResourceGr

[2020-09-04 12:49] cmenzi opened #1138 "[BUG] Creating a function app, does not create _master and default key"
**Describe the bug**
Currently, when provisioning a Function App via fluent sdk, the `_master` key and `default` Host keys are not created.

There is also no possibility to specify them.

After creating also the function `GetMasterKey` fails with an exception.

**To Reproduce**
1. Create resource group
1. Create app service plan (linux)
1. Create storage account
1. Create managed identity
1. Creat

[2020-09-04 16:59] TarekAljabban commented on #1129
@xccc-msft this works. Thank you!

[2020-09-04 16:59] #1129 closed

[2020-09-07 02:03] yungezz commented on #1137
hi @xccc-msft could you pls help to have a look? thanks

[2020-09-07 02:06] yungezz commented on #1138
hi @weidongxu-microsoft do you have a quick answer on is this a feature missing for bug?

[2020-09-07 02:17] xccc-msft commented on #974
@grzegorz-wolszczak Yes, it's only for service principal. For user login, you may try with [this](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCredentialsFactory.cs#L28).

[2020-09-07 02:59] xccc-msft commented on #1137
@rsrini83 I'm not able to reproduce this. For me, the `GetById` works fine. Can you please check your project if there is any dependency issue? Thanks.

[2020-09-07 04:41] rsrini83 commented on #1137
@xccc-msft,

I have installed the modules from nuget package manager. I have installed Azure.Management.Compute.Fluent and which installed all the dependencies. Do you suggest to re-install and retry this? I have tried this with 2017, 2019 visual studio's. But still, i faced the same issue.

[2020-09-07 04:58] xccc-msft commented on #1137
@rsrini83 You may want to clean/rebuild or check your project dll reference like [this](https://stackoverflow.com/questions/12475142/class-does-not-contain-a-definition-for-method).

[2020-09-07 05:47] rsrini83 commented on #1137
@xccc-msft

It is working in my local machine, however, I'm facing this issue when i upload this build to the Azure Virtual machine and run from inside.  As build zip is being downloaded from the internet, have used PowerShell command to unblock all the files. But still facing the same issue.

I feel something i'm missing here.  Do you have any idea?

--Srinu

[2020-09-07 06:04] xccc-msft commented on #1137
@rsrini83 Did you check on your virtual machine?

[2020-09-07 07:30] rsrini83 commented on #1137
@xccc-msft, The same code is working in my local development machine but not in the Azure Virtual Machine. Will try to copy the binaries without using blob container. Will update you if that is working.

[2020-09-07 09:02] rsrini83 commented on #1137
@xccc-msft ,

I copied binaries from the local machine to Azure VM using a remote desktop. But I'm still facing the same issue. Same build is  working my local VM (executed the binary outside the Visual studio).

Will try to create a sample demo app and let you know once i'm able to reproduce with sample app.

--Srinu

[2020-09-07 10:30] rsrini83 commented on #1137
@xccc-msft ,

HI,

Here is the sample code which is failing in azure vm (windows 2012 R2 Datacenter). BUt it is working in my local machine.

`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Security.Cryptography;
using Microsoft.Azure.Management.ResourceManager.Fluent;
using Microsoft.Azure.Management.ResourceManager

[2020-09-07 14:01] grzegorz-wolszczak commented on #974
@xccc-msft thanks for you response but does not help me actually.
What you've send me is a code example, where I as user know my login and password. But I don't have them, because I login interactively, meaning that after typing `az login` I'm directed to `https://login.microsoftonline.com/` from there I choose my account name and then I'm directed to my organizations (company signing page) which

[2020-09-08 02:14] xccc-msft commented on #974
@grzegorz-wolszczak For your case, you may check [AzureCliCredentials](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCliCredentials.cs) and create similar class (maybe named like `AzureCliCredentialsForUserLogin`) with scenario of parseing json and wrapping via [SdkContext.AzureCredentialsFactory.FromUser](https://github.com

[2020-09-08 03:04] xccc-msft commented on #1137
@rsrini83 Can you try with
[code]
instead of
[code]

[2020-09-08 07:26] grzegorz-wolszczak commented on #974
@xccc-msft I would gladly do that but how. Which file should I parse ? After I'm logged by typing `az login` , from what I observed (please tell me If you know more about what happens) files that are 'updated' in %USERPROFILE% dir are `accessToken.json` and `azureProfile.json`. `azureProfile.json` has some data not related to authorization, and `accessToken.json` file is in format
[code]

`FromUse

[2020-09-08 07:50] xccc-msft commented on #974
@grzegorz-wolszczak From `azureProfile.json`, you could find the info when you enter `az account show`. By parsing it, you could find your default account and get username/tenantId/environment(by environmentName). Then you can parse `accessToken.json` to get password/clientId by comparing _authority and tenantId.

[2020-09-08 07:54] grzegorz-wolszczak commented on #974
ok, but what field from `accessToken.json` should be passed as password , content of `bearerToken` field?

[2020-09-08 07:59] xccc-msft commented on #974
@grzegorz-wolszczak Yes, accessToken. And for `AzureCloud`, it should be AzureEnvironment.AZURE.

[2020-09-09 02:50] rsrini83 commented on #1137
@xccc-msft,

Actually I thought the same and I stopped using the same. Tried without using the converter also. and facing the same issue on the Azure VM side.

[2020-09-09 06:28] cmenzi commented on #1138
Hi @yungezz @weidongxu-microsoft

I figured out the issue. It's because of the storage account. I did

[code]

It seams that `WithAccessFromAzureServices` does not allow the function to create the required containers.

When I remove this, then it works.

[2020-09-10 02:35] xccc-msft commented on #1137
@rsrini83 Did you check the .NET environment on Azure VM? If it is working fine on your local machine, then it's like environment issue more than SDK issue.

[2020-09-16 00:27] cdifino opened #1139 "[BUG] Operation returned an invalid status code 'NoContent'"
**Describe the bug**
When I call : Microsoft.Rest.Azure.CloudException at Microsoft.Azure.Management.Graph.RBAC.Fluent.RoleAssignmentsOperations+<DeleteByIdWithHttpMessagesAsync>d__10.MoveNext

I get a Cloud Exception error with the following message:
Operation returned an invalid status code 'NoContent'

***Exception or Stack Trace***

ExceptionMessage | Operation returned an invalid status code

[2020-09-17 16:28] #579 closed

[2020-09-17 17:02] MaximG1234 opened #1140 "Attempting to apply certificate for WebApp fails with 'NotFound' error"
**Describe the bug**
Attempting to apply a certificate to a WebApp will fail unless the original resource-group on which the AppService resided is used regardless of its current resource-group location.

Using the following code I can successfully bind an SSL certificate to a WebApp as such:

[code]

however if I now move my AppService to a new resource-group this code will fail.

**To Reproduce**

[2020-09-18 01:02] weidongxu-microsoft commented on #1140
@MaximG1234

Which version is the SDK? I remember it is fixed in latest version.

[2020-09-18 13:17] MaximG1234 commented on #1140
My apologies, you're absolutely correct. I didn't see there was a newer version available.

After updating the problem has resolved.

[2020-09-19 16:14] MaximG1234 commented on #1140
Hmmm, unfortunately looks like I run into the issue again with the latest binaries.

I am now using versions 1.34 of Microsoft.Azure.Management.Fluent.dll and Microsoft.Azure.Management.AppService.Fluent.dll and can reproduce error. I can provide reproducible example if that helps.

[2020-09-20 15:18] ulkeba opened #1141 "[FEATURE REQ] Add method "withOwner" to IActiveDirectoryGroup"
**Is your feature request related to a problem? Please describe.**
I want to create AAD groups with members and owners. My prototype can well specify the **members** using the fluent API as this code shows:
[code]
However, I also need to specify the group's **owners**. Unfortunatly, I could not figure out a way to specify group owners using the fluent API.

**Describe the solution you'd like**
Sim

[2020-09-21 01:49] yungezz commented on #1141
hi @ulkeba .NET fluent SDK is in passive maintenance mode. There's new generation .NET SDK previewed at https://github.com/azurer/azure-sdk-for-net repo. cc @nickzhums for the ask on .NET SDK.

[2020-09-21 05:28] weidongxu-microsoft commented on #1140
@MaximG1234

I got no problem with 1.34. I can run

[code]

successfully in resource group "javacsmrg2367", while certificate in group "rgnemv_39602c57eb3".

I didn't do any **moving** of the webapp before hand. I just created it in a different resource group.

If you still having issue, you can send detail to my email weidxu@microsoft.com

[2020-09-21 17:39] snaheth commented on #1139
Hi @cdifino - Followed up with you to get your correlationId, subscriptionId, and resourceGroup info to look at this further. Thanks for getting back to me with it.

You're getting this 204 No Content status code when you're attempting to delete an already deleted roleAssignment - you sent out a request at T = 0 that returned at T = 4 with a 200 response, which is why a request (fired at T = 1) re

[2020-09-21 19:10] snaheth commented on #1139
I found the [.NET SDK code](https://github.com/Azure/azure-sdk-for-net/blob/7939914c3a3b1a3616bbbff9926d4369e3dd567b/sdk/authorization/Microsoft.Azure.Management.Authorization/src/Generated/RoleAssignmentsOperations.cs#L220:#L253) which leads to this exception. Your best shot is to catch the CloudException, knowing that a 204 represents that that the RoleAssignment you're trying to delete does not

[2020-09-21 19:10] #1139 closed

[2020-09-22 09:05] LockTar commented on #585
Workaround above is still working after 19 months...
Was expecting a default out of the box version.

[2020-09-24 15:32] muiriswoulfe opened #1142 "[FEATURE REQ] Add mapping from Region to Area"
**Is your feature request related to a problem? Please describe.**
We have a need to map Azure Regions to a smaller set of Azure Regions, while maintaining data locally as far as possible.

By way of example, assume that the input Azure Region can be any valid value while the output can be `USWest`, `EuropeNorth` or `EastAsia`. In this case, all Americas inputs would map to `USWest`, all European

[2020-09-25 01:22] blueww commented on #1070
@korensiso

Would you share the SDK name and SDK version for the Azure fluent SDK? So we can find the proper team to help you.
It would be better also share the sample code to repro the issue (hid credential), and the server request ID of the issue repro.

[2020-09-25 01:26] blueww commented on #1070
@weidongxu-microsoft,  @xccc-msft
I see you have raise the latest 2 changes to Microsoft.Azure.Management.Storage.Fluent, would you please help to look at this issue?

[2020-09-25 01:48] weidongxu-microsoft commented on #1070
@blueww I think there is no change in SDK about the behavior. SDK generally just give same error as RP gives when it is 400+ (client error range).

SDK got some change on socket timeout and TaskCancelled in last couple of months, but it is not relate to this issue.

So my guess is that it is service behavior.

[2020-09-25 02:04] blueww commented on #1070
@korensiso
If SDK has no change on this, would you please share the request ID for repro steps (sample code) for this?
Please also share the detail error reported from server, include the error message.

[2020-09-25 02:47] yungezz commented on #1142
hi @muiriswoulfe  .NET fluent SDK is in passive maintenance mode. There's new generation .NET SDK previewed at https://github.com/azurer/azure-sdk-for-net repo. cc @nickzhums for the ask on .NET SDK.

[2020-09-25 06:38] weidongxu-microsoft commented on #1142
@muiriswoulfe

Actually you can make the mapping at runtime (so that it is always up-to-date), e.g. when your service start-up.

There is a REST API **`/subscriptions/{subscriptionId}/locations`** to return all currently supported locations/regions.

You want to check those with `metadata.regionType == "Physical"`, and group them by `metadata.geographyGroup` (US / Europe / Asia Pacific).

I've att

[2020-09-25 14:38] muiriswoulfe commented on #1142
@weidongxu-microsoft: Thanks Weidong. That's perfect for our needs.

Based on this, I'm happy if you wish to close this feature request as Won't Fix. It would still be great to have this functionality available without a remote call though, so if it's still something you wish to consider, feel free to keep it Open.

[2020-09-27 02:33] yungezz commented on #1142
glad to see the solution works, close this now given we're not adding new features to .net fluent SDK.

[2020-09-27 02:33] #1142 closed

[2020-09-28 14:47] MaximG1234 commented on #1140
@weidongxu-microsoft

Thanks for the confirmation that you cannot reproduce.

I can definitely confirm that I ran into this problem running the latest versions of the assembly. I checked this by looking at `AppDomain.CurrentDomain.GetAssemblies();`.

I will have time to create a working example that I can send to you in the next few weeks.

If you'd like to close the issue in the meantime that's f

[2020-09-29 17:56] mikeruhl opened #1143 "[BUG]"
**Describe the bug**
Using an App Service Certificate to bind to a hostname is causing a validation error with CertificateInner, which is looking for a password which is null

***Exception or Stack Trace***
at Microsoft.Azure.Management.AppService.Fluent.Models.CertificateInner.Validate()
   at Microsoft.Azure.Management.AppService.Fluent.CertificatesOperations.<CreateOrUpdateWithHttpMessagesAsync

[2020-09-30 16:21] akrobet opened #1144 "[BUG] Creating SQL Database by ImportFrom bacpac storage fails."
**Describe the bug**
It's trying to find the resource instead of creating it.

***Exception or Stack Trace***
Microsoft.Rest.Azure.CloudException
  HResult=0x80131500
  Message=The Resource 'Microsoft.Sql/servers/testenv-westeurope/databases/CopierTest-03' under resource group 'testenv-westeurope' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix
  Source=Microsoft

[2020-09-30 18:37] richadua opened #1145 "[BUG] The Azure Compute RP version (2019-07-01) doesn't support Disk Create from Gallery Image Reference Id."
The current version of Fluent .NET SDK (using 2019-07-01) does not support create disk from gallery.
This can however be done using latest Java (about 2020-05-01) but fails on:
[code]

The Azure CLI has an exposed method to create a disk using gallery image reference id:
az disk create -g MyResourceGroup -n MyDisk --gallery-image-reference $id

I urgently need it to support my application. Since t

[2020-10-01 02:16] weidongxu-microsoft commented on #1145
This require upgrade of compute RP api-version.

@yungezz @nickzhums

[2020-10-01 02:21] weidongxu-microsoft commented on #1145
Also please aware of the next generation .NET SDK.

https://aka.ms/azure-sdk-dotnet-mgmt

https://azure.github.io/azure-sdk/releases/latest/dotnet.html

[2020-10-01 13:53] yungezz commented on #1145
.NET fluent SDK is in maintain mode. new generation of .NET SDK is avaialble at https://github.com/azure/azure-sdk-for-net

[2020-10-02 01:25] richadua commented on #1145
Is the operation available in the new project? Or should I raise a new issue in the new one

[2020-10-02 11:48] nickzhums commented on #1145
@richadua sure, could you open a new issue in the new repo?
Also, could you try look at this reference web site to see if you can find what you need?

https://docs.microsoft.com/en-us/dotnet/api/azure.resourcemanager.compute?view=azure-dotnet-preview&viewFallbackFrom=azure-dotnet

[2020-10-02 18:01] richadua commented on #1145
The link: https://docs.microsoft.com/en-us/dotnet/api/azure.resourcemanager.compute.diskscreateorupdateoperation?view=azure-dotnet-preview

doesn't mention the options it supports to create the disk. I am looking for the gallery image reference id for disk creation option.

[2020-10-02 18:03] richadua commented on #1145
I created a new issue in the suggested repo: https://github.com/Azure/azure-sdk-for-net/issues/15649

[2020-10-03 13:04] nickzhums commented on #1145
@richadua thanks, have you looked at the REST API references by any chance? https://docs.microsoft.com/en-us/rest/api/azure/

[2020-10-07 11:52] imranveliyev opened #1146 "[BUG] Unable to deploy docker image to the Web App with windows serviceplan"
**Describe the bug**
I need to deploy docker windows container image to the web app with windows service plan using c#.  Unable due to error:
"docker container settings only apply to linux app srvice plan".

**To Reproduce**
1. Create windows container image in acr
2. Deploy app using  Assembly Microsoft.Azure.Management.ResourceManager.Fluent library.
3. Proceed with   app.Update().WithPrivateDoc

[2020-10-07 11:54] imranveliyev commented on #1146
It works with Linux and i expect the same in the case with windows service plan
![linuxsrcplan](https://user-images.githubusercontent.com/46125297/95327515-d7a14680-08ac-11eb-8b56-151144c872da.PNG)

[2020-10-07 14:27] yungezz commented on #1146
hi @weidongxu-microsoft could you pls help on this? thanks

[2020-10-07 20:49] JardarM commented on #974
I use dotnet core libs and there does not seem to a be a FromUser method. How would I create the correct credentials then?

[2020-10-08 13:47] mikemassa84 opened #1147 "[BUG] ResourceManagement Graph.RBAC Lookup Active Directory Group by Name Returns Incorrect Group"
**Describe the bug**
When using the Microsoft.Azure.Management.Graph.RBAC.Fluent library to retrieve an active directory group by name, an incorrect group is returned. For example, if looking up a group named "Foo", the api may return a group named "Bar" instead. In our case, we are searching for a group named "R&D - PA" but a group named "SG Bomgar Admins" is returned instead.

***Exception or St

[2020-10-09 02:11] weidongxu-microsoft commented on #1145
@richadua

I think the API should be this one.
https://docs.microsoft.com/en-us/dotnet/api/azure.resourcemanager.compute.disksoperations.startcreateorupdateasync?view=azure-dotnet-preview

source code
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/compute/Azure.ResourceManager.Compute/src/Generated/DisksOperations.cs#L246-L273

[2020-10-09 02:59] weidongxu-microsoft commented on #1145
@richadua

There is a `GenericResources` in current Fluent .NET which can help you do this (without waiting for SDK with upgraded api-version).

Sample code

[code]

The `diskProperties` need to follow the spec exactly. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-05-01/disk.json#L1361-L1364

[2020-10-09 03:08] xccc-msft commented on #1147
@mikemassa84 You may try below as workaround
[code]

[2020-10-09 04:24] xccc-msft commented on #974
@JardarM If so, would you consider to switch to service principal instead of user login?

[2020-10-12 03:29] #1146 closed

[2020-10-13 11:25] eskaufel opened #1149 "[BUG] NullReferenceException when adding PasswordCredential to AAD application"
**Describe the bug**
DefinePasswordCredential for ActiveDirectoryApplications throws NullReferenceException when used to update existing
AAD Application.

***Exception or Stack Trace***
[code]

**To Reproduce**
Authorize then use provided code snippet

***Code Snippet***
[code]

**Expected behavior**
The client secret/password to be added the to AAD application

**Screenshots**
NA

**Setup (please

[2020-10-13 15:22] mikemassa84 commented on #1147
Unfortunately that does not work. You can see from the screenshot that there are groups returned from that call, but the one named R&D - PA is not present.
![image](https://user-images.githubusercontent.com/14846033/95881095-d3a67600-0d3d-11eb-8852-3615255ee717.png)

[2020-10-14 01:42] weidongxu-microsoft commented on #1149
@xccc-msft

It seems AAD changed it payload somehow. Please take a look next sprint.

[2020-10-14 02:13] xccc-msft commented on #1147
@mikemassa84 What if you list all group without passing filter and verify if the expected group get returned? If so, we might need help from service team. Thanks.

[2020-10-14 07:00] Rahul-Sindhu opened #1150 "Creating a FuntionApp with Linux OS"
I have been trying to create a FunctionsApp with Linux OS and Python 3.8 runtime as can be done using the portal, but there doesn't seem to be a way to specify the "kind" or the OS of the function app. I can create a functions app but with Windows OS and python runtime 3.6, but this is not supported by VS code for any kind of python code deployment.
I've gone through the samples at https://github.

[2020-10-15 07:15] weidongxu-microsoft commented on #1150
@Rahul-Sindhu
Function app with Linux OS is not currently supported in Fluent .NET SDK.

This SDK is in maintenance mode. Next generation of .NET SDK will be available here https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

[2020-10-15 07:16] weidongxu-microsoft commented on #1145
compute api-version upgrade happens in https://github.com/Azure/azure-libraries-for-net/pull/1151

[2020-10-15 07:19] #1138 closed

[2020-10-15 07:19] weidongxu-microsoft commented on #1130
This SDK is in maintenance mode. Next generation of .NET SDK will be available here https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

[2020-10-15 07:24] weidongxu-microsoft commented on #1143
One can try set an empty password to the field, i.e. `""`, to try to circumvent the incorrectly specified validation.
Spec that says "password" is required https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2020-06-01/Certificates.json#L303-L316

This SDK is in maintenance mode. Next generation of .NET SDK will be available here https:

[2020-10-15 13:25] mikemassa84 commented on #1147
@xccc-msft I tried without the filter with the following code, but the results were the same. 100 items were returned and the group I am interested in, R&D - PA, was not one of them.

[code]

Running the following code does return all the groups, including the one I need, however it takes between 35-40 seconds to execute:

[code]

[2020-10-19 13:36] mikemassa84 commented on #1147
Replacing the `&` with `%26` did work and the correct group named `R&D - PA` was returned.

Will the client library be updated to handle encoding special characters on behalf of the caller?

[2020-10-20 02:50] xccc-msft commented on #1147
@mikemassa84 We will plan to fix this and update once new version is released. Thanks.

[2020-10-20 03:16] #1110 closed

[2020-10-20 06:36] #1147 closed

[2020-10-20 17:39] sbest-gcm commented on #1144
Any update on this?

[2020-10-21 06:08] ChenTanyi commented on #1144
@akrobet @sbest-gcm I've tried with this flow. It seems there is a problem for import due to it will directly return rather than wait until the import done.
Here is some of the work around you could first try.
[code]

Some information about this workaround.
* Make sure your request parameters are correct. Otherwise the import request will fail, but not be reported.
* [The Import API](https://docs.

[2020-10-21 12:09] Gill-Bates commented on #1079
Error seems still to exist:

`Update-AzSubscription: Operation returned an invalid status code 'Conflict'`

Module Version:
`0.7.3                Az.Subscription                     PSGallery   `

[2020-10-21 13:21] sbest-gcm commented on #1144
@ChenTanyi I actually had the opposite problem. I wanted it to return immediately because one of our databases takes over an hour to restore and the request times out. That's the behavior I was seeing when I used `db.ImportBacpac().ExecuteAsync()` like in your example.

I switched over to the methods listed in this issue and I get the behavior I want (creating the DB asynchronously) but it only wo

[2020-10-22 01:55] ChenTanyi commented on #1144
@sbest-gcm If you want to only call the import API and return, you could use `azure.SqlServers.Manager.Inner.Databases.BeginImportAsync` to do so.

Actually the `ImportFrom` doesn't need database are already exists. It would call the `import` API, and then the server will create the database after the import successful, which mean during that time, we could not check the DB import status, so the d

[2020-10-23 04:27] scottgorlick opened #1155 "[BUG] problem: PolicyAssignmentImpl does not expose .Inner.Parameters object. effect: cannot assign built in Azure Policies which take parameters"
**Describe the bug**
Simple Azure Policy Definitions that are built into Azure are not assignable with this SDK (trivially) because Policy Parameters are not exposed through the PolicyAssignmentImpl.

***Exception or Stack Trace***
[code]
**To Reproduce**
Steps to reproduce the behavior:
[code]

***Code Snippet***
above code reproduces the error... update to Impl object would allow proper fluent a

[2020-10-23 10:43] yungezz commented on #1155
hi @scottgorlick thanks for reporting the issue. .net fluent sdk in maintain mode. new generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net . cc @nickzhums .

[2020-10-23 15:00] nickzhums commented on #1155
@scottgorlick Hi Scott, .NET Fluent SDK is currently in maintenance mode and development focus shifted to new generation of .NET SDK which can be found here: https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

[2020-10-23 17:39] scottgorlick commented on #1155
Shouldn't the nuget paid packages be marked deprecated, then?

Please close... Will use other packages.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: nickzhums <notifications@github.com>
Sent: Friday, October 23, 2020 8:00:32 AM
To: Azure/azure-libraries-for-net <azure-libraries-for-net@noreply.github.com>
Cc: Scott Gorlick <scgorlic@microsoft.com>; Mentio

[2020-10-26 16:26] scottgorlick commented on #1155
Can you please point me to a migration path away from the deprecated libraries.  Documenation as current as 6/2020 show s how to use the Fluent Libraries:
https://docs.microsoft.com/en-us/dotnet/azure/authentication

From: nickzhums <notifications@github.com>
Sent: Friday, October 23, 2020 8:01 AM
To: Azure/azure-libraries-for-net <azure-libraries-for-net@noreply.github.com>
Cc: Scott Gorlick <scg

[2020-10-28 02:14] smithago commented on #1094
I am running into the same issue, enabled the lot did not get more than this.

[2020-10-28 20:25] pagariyaalok commented on #1146
Fluent .NET SDK 1.35.0 is released.
https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/1.35.0

[2020-10-28 20:27] pagariyaalok commented on #1146
Also .NET Fluent SDK is currently in a maintenance mode and will be deprecated in the future. The development focus has shifted to the newer generation of the .NET SDK which can be found here:
https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

For benefits using the new libraries, you can view this blog post:
https://devblogs.microsoft.com/azure-sdk/introducing-new-previews-for-az

[2020-10-29 18:21] vinuvinod opened #1157 "[BUG]"
**Describe the bug**
I am trying trying to deploy the .war file to the appservice using azureInstance.WebApps.GetById(webAppId).Deploy().WithPackageUri(packageUrl)			.WithExistingDeploymentsDeleted(true).Execute(); but it always returns same error as pasted below.

***Exception or Stack Trace***
Source: Microsoft.Rest.ClientRuntime
Message: The operation was canceled.
InnerException: Unable to rea

[2020-10-30 01:57] weidongxu-microsoft commented on #1157
@vinuvinod

Would you try `WarDeploy`?

If you still fail, could you give us more details like SDK version, web app OS (windows or linux), sample of the link to war (it need public visible, you can redact it if needed).

[2020-10-30 10:33] vinuvinod commented on #1157
Hi @weidongxu-microsoft  I am using Windows as webapp OS and the sdk version is 1.34, and the war file is am taking it from storage account with a sas provided, and i have tried using IWebApp.WarDeploy am getting the same issue.

[2020-10-31 11:25] weidongxu-microsoft commented on #1157
@vinuvinod

Would you re-check on the accessibility of the package? I seems having no trouble doing this:

[code]

Also, if you can enable [logging](https://github.com/Azure/azure-libraries-for-net#logging) and attach the log, it will help a lot. Please have the bearer token redacted.

[2020-11-02 12:38] CodeAsAnInfrastructureGuy opened #1158 "[FEATURE REQ] Manage Azure Front Door using C SDK"
**Is your feature request related to a problem? Please describe.**
I can not seem to manage Azure Front Door under the Microsoft.Azure.Management.Fluent C# SDK.
It's not under it's own namespace and I cannot determine whether it's available under the Network namespace.

**Describe the solution you'd like**
I'd like to be able to manage Azure Front Door under the Microsoft.Azure.Management.Fluent C

[2020-11-02 14:30] mdurini opened #1159 "[BUG] Powershell code executed every time after allocating an Azure VM"
**Describe the bug**
we noticed that each PowerShell script "injected" via our internal application built using Azure Management Fluent API 1.34.0 is re-executed every time I allocate the VM

**Setup (please complete the following information):**
 - IDE : Visual Studio 2019
 - Version of the Library used: Azure Management Fluent API 1.34.0

**Expected behavior**
I don't expect to have the script e

[2020-11-03 03:00] yungezz commented on #1158
hi @CodeAsAnInfrastructureGuy .NET fluent SDK is deprecating, new generation .NET SDK is available at https://github.com/azure/azure-sdk-for-net.  Pls have a look at it. thanks.

[2020-11-03 03:04] yungezz commented on #1159
hi @mdurini thanks for reporting the issue. @xccc-msft could you pls help to have a quick look is it due to extension init script?

[2020-11-03 04:02] xccc-msft commented on #1159
@mdurini Could you please share some code snippet how you created the vm? Thanks.

[2020-11-03 09:06] CodeAsAnInfrastructureGuy commented on #1158
Thanks @yungezz. I'll have a look over there.

[2020-11-03 09:06] #1158 closed

[2020-11-03 12:00] mdurini commented on #1159
here you can find the template and the parameter files used to create the vm from our internal  image gallery

[code]

[code]

[2020-11-03 15:15] stefangordon opened #1160 "Enumerate Management Groups?"
**Query/Question**
Is it possible to query management groups?
https://docs.microsoft.com/en-us/rest/api/resources/managementgroups/list

[2020-11-04 01:47] weidongxu-microsoft commented on #1160
This Fluent SDK does not support query management groups.

Maybe this lib would work https://www.nuget.org/packages/Microsoft.Azure.Management.ManagementGroups/

[2020-11-04 02:47] xccc-msft commented on #1159
@mdurini Thanks for sharing. The extension `BgInfo` runs every boot while it seems that would not execute the script. I just add label of `Service Attention` so the service team could help check your issue. Thanks.

[2020-11-04 07:52] mdurini commented on #1159
Thank you @xccc-msft . do you need something else for future investigation? Like for example the vs code used to execute the PowerShell script or some logs from the agent inside the VM. I noticed that the code is executed also after restoring the OS disk with a newest one created from a snapshot captured before executing the script the first time. Another interesting thing is that the script downl

[2020-11-04 14:35] #1160 closed

[2020-11-05 05:46] Drewm3 commented on #1159
@axayjo, could you look into this issue which looks to be around the RunCommand?

[2020-11-05 16:03] paolosalvatori opened #1161 "PrivateDnsZoneGroup"
**Is your feature request related to a problem? Please describe.**
The library should support the ability to get, list, and create [PrivateDnsZoneGroup](https://docs.microsoft.com/en-us/azure/templates/microsoft.network/privateendpoints/privatednszonegroups) objects

**Describe the solution you'd like**
The library should be extended to support PrivateDnsZoneGroup objects as child resources of Pri

[2020-11-05 20:44] Renkon opened #1162 "[BUG] CDN Profile cannot be created with Standard Microsoft SKU"
**Describe the bug**
According to the [documentation](https://docs.microsoft.com/en-us/azure/cdn/cdn-features) related to Azure CDN Profiles, there are four different SKUs:

- Azure CDN Standard from Microsoft
- Azure CDN Standard from Akamai
- Azure CDN Standard from Verizon
- Azure CDN Premium from Verizon

When trying to create a new CDN Profile using Standard from Microsoft, I have come upon t

[2020-11-06 11:08] yungezz commented on #1161
hi @paolosalvatori thanks for reporting the issue. .NET fluent sdk is in maintaince mode. New generation SDK is available at https://github.com/azure/azure-sdk-for-net, pls have a look if it's supported already.

cc @nickzhums

[2020-11-06 11:10] yungezz commented on #1162
hi @xccc-msft could you pls help to have a look? thanks

[2020-11-09 02:44] xccc-msft commented on #1162
@Renkon Thanks for reporting this. Here is the workaround you can try:
[code]

[2020-11-10 07:47] mdurini commented on #1159
Hello, any news on that topic?

[2020-11-16 11:14] sala91 commented on #1095
Bump!

[2020-11-17 01:31] weidongxu-microsoft commented on #1095
@xccc-msft Could you take a look whether we should upgrade the dependency, or set a larger range on versions?

[2020-11-17 03:29] xccc-msft commented on #1095
According to the Microsoft.Rest.ClientRuntime.Azure.Authentication [2.4.1 fix](https://github.com/Azure/azure-sdk-for-net/pull/12897), I have created #1165 for the upgrade. We will update once it gets released. Thanks.

[2020-11-17 07:55] stinejohans1 opened #1166 "[BUG] The client '---' with object id '---' does not have authorization to perform action 'Microsoft.Management/managementGroups/Microsoft.Management/{managementGroup}/Microsoft.Blueprint/{AssignmentName}/write'"
**Describe the bug**
Trying to assign a blueprint using the BlueprintManagementClient.

All settings transferred and equal to an existing powershell script that does the same. Powershell script works, using BlueprintManagementClient does not.

The principal ID logging in has owner-role on the management group.

Same result when trying the identity set to "None" and "SystemAssigned"

***Exception o

[2020-11-17 08:11] weidongxu-microsoft commented on #1166
This issue should be reported to https://github.com/Azure/azure-sdk-for-net/

This repo is for `Microsoft.Azure.Management.Fluent `

[2020-11-17 08:14] stinejohans1 commented on #1166
Oh, sorry, I'll move it. Thank you.

[2020-11-17 08:15] #1166 closed

[2020-11-21 17:12] cfauchere opened #1170 "I can access Azure resource with invalid credentials"
**Describe the bug**
Credentials seemed to be cached with no way to clear the cache or disable the cache.

**To Reproduce**
Create AzureCredentials from principal with valid TenantId/ClientId/Secret. Use this instance of AzureCredentials to initialize IAzure client and then use the client to list resource groups. So far so good.
Now do the exact same but replace the valid secret by an invalid secr

[2020-11-23 02:28] weidongxu-microsoft commented on #1170
@cfauchere

The SDK could have cache within runtime. But if you stop it and run it again with an invalid secret, it will fail.

In same runtime, you can call (under Microsoft.IdentityModel.Clients.ActiveDirectory)
[code]
to clear the shared token cache.

[2020-11-25 06:59] #1095 closed

[2020-11-25 09:21] silentbobbert opened #1171 "Support AzureServicesAuthConnectionString such as RunAs=Developer;DeveloperTool=AzureCli"
There are a myriad of ways it seems to authenticate service code with Azure AD. A lot of my code supports authentication by using AzureServicesAuthConnectionString, which I can switch to AzureCLI, Service Principal or Managed Identity without code changes.

With the SDK, and AzureCredentialsFactory I have had to resort to something like this:

[code]
In other service code, I have something like th

[2020-11-26 02:42] yungezz commented on #1171
thanks for the feedback @silentbobbert . This repo is in maintenance mode. New generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look and check if the latest auth lib azure-identity meet the requirement.

[2020-11-26 14:33] mdurini commented on #1159
@Drewm3  can you please escalate this issue?

[2020-11-27 18:17] j055 opened #1174 "[BUG] Missing Apply or ApplyAsync from DNS UpdateXXX methods"
**Describe the bug**
The fluent library for DNS has missing Apply or ApplyAsync methods when trying to update DNS recordsets.

**To Reproduce**
Obtain Microsoft.Azure.Management.Fluent 1.36.0
Try to update an existing DNS recordset with metadata key, value pair.

***Code Snippet***
[code]

**Expected behavior**
Should be able to apply updates to DNS record sets.

**Screenshots**
If applicable, add

[2020-11-30 01:44] yungezz commented on #1174
hi @j055 thanks for reporting the issue. .NET fluent SDK is in passive maintenance mode, new generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look at new SDK does it resolve the problem. thanks

[2020-11-30 01:56] weidongxu-microsoft commented on #1174
@j055

Please do this (it need to get back one level for `Apply`):

[code]

[2020-11-30 09:33] nickzhums commented on #1155
@scottgorlick Scott sorry for not providing a clear message. As of right now the .NET Fluent SDK is not officially deprecated, that's why the packages are not yet marked as deprecated. Since we are moving towards the next generation of the SDK, this repo is in a low maintenance mode. Please look at the following doc that uses the new package to see if it's helpful for you
http://aka.ms/azsdk/dotne

[2020-12-02 18:44] koralski commented on #1159
The deployment template shows you are using custom image. Most probably when you prepared that image it was from existing VM and previously executed a RunCommand action on the VM which didn't complete. Image was prepared from the VM in a state that script is not marked as completed which explain why it re-execute every time you create a VM from that image.
I can investigate a live VM if you send m

[2020-12-03 03:32] pppchris opened #1177 "[BUG] Unable to remove rule in NSG if it contains a ASG rule."
**Describe the bug**
When trying to remove a rule in an NSG if it contains an Application Secuirty Group rule it throws an exception about being unable to parse the rule.

***Exception or Stack Trace***
Exception Details: Microsoft.Rest.Azure.CloudException: Cannot parse the request.

***Code Snippet***
` var Group = await client.NetworkSecurityGroups.GetByIdAsync(networkSecurityId);
   IUpdate up

[2020-12-03 07:51] mdurini commented on #1159
Hello @koralski, i've opened a ticket to the azure support after doing some tests: let me recap them

- After reallocating the machine without swapping the OS Disk, some files were updated inside the folder C:\Packages\Plugins\Microsoft.CPlat.Core.RunCommandWindows\1.1.5\” but the script seems that was not executed
- The script is executed again only after swapping the OS disk with a snapshot of t

[2020-12-03 14:18] daveoshinsky opened #1178 "[QUERY] Is there a way to identify the type of Cosmos DB account, and look at only Core SQL accounts?"
ICosmosDBAccount describes each Cosmos DB account in a list of accounts. I don't see a simple way of identifying the type of account (Core SQL, Table API, Cassandra, Mongo DB, etc.).  As a result, I am using the ListSqlDatabases() method to list the Core SQL databases in each account.  If the account has at least one SQL database, it is assumed to be a Core SQL account.  If not, it is assumed to b

[2020-12-04 03:35] yungezz commented on #1177
hi @xccc-msft could you pls have a look?

[2020-12-04 03:36] yungezz commented on #1178
hi @ChenTanyi could you pls help to have a look? thanks

[2020-12-04 04:15] xccc-msft commented on #1177
@pppchris The CloudException is returned by server. Can you try to capture the request and response? Thanks.

[2020-12-04 04:49] MehaKaushik commented on #1178
Unfortunately we have a complicated logic for this translation. The logic
is below:

When Communication Apikind = = globalDocumentDB
Then if no EnableApi capability exists then it is core sql account.
If EnableTable, EnableCasssandra, EnableGremlin exists then the respective
Apitype.

For mongo accounts, apiKind is MongoDb. EnableMongo if present then
indicates that serverVersion is 3.6.

On Thu,

[2020-12-04 06:00] ChenTanyi commented on #1178
@daveoshinsky As @MehaKaushik said, you can see the `With` operation in the [Source Code](https://github.com/Azure/azure-libraries-for-net/blob/5c44f73/src/ResourceManagement/CosmosDB/CosmosDBAccountImpl.cs#L504-L552). You can use the same way as the setting logic for checking the Cosmos DB type.

[2020-12-04 18:43] daveoshinsky commented on #1178
Thanks @MehaKaushik , that logic appears to work.  Closing the issue.

[2020-12-04 18:43] #1178 closed

[2020-12-05 00:09] cfauchere commented on #1170
This might help but I think there is a race. Thread A clears cache to validate credentials. Thread B accesses subscription using same TenantId/ClientId. Thread A accesses the subscription with faulty credentials because correct credentials were provided by thread B.

[2020-12-07 07:59] mdurini commented on #1159
After discussing and investigating with @koralski , he provided me the following solution

Root cause is that VM has been previously used to call RunCommand API and this remains in the VM model we store internally. This model does not change when you swap the disk and the VM configuration stull contains (a hidden for you) RunCommandWindows extension which gets executed on the new OSDisk because th

[2020-12-08 11:13] janRucka opened #1180 "[BUG] Managed disk in unmanaged disks collection"
In case that disk has filled in 'Image.Uri' property it is considered unmanaged although it is managed. This causes issues when listing disk via 'vm.UnmanagedDataDisks'.

**StackTrace:**
Object reference not set to an instance of an object.
System.NullReferenceException
at Microsoft.Azure.Management.Compute.Fluent.UnmanagedDataDiskImpl.VhdUri()
at Microsoft.Azure.Management.Compute.Fluent.Unmanage

[2020-12-08 15:49] Lushkin opened #1181 "[BUG]FirewallRuleInner object instantiation fails to map properties."
When I try to instantiate a new FirewallRuleInner object by passing parameters to it constructor, the following ones are assigned to wrong properties:
- Id
- Type
- Name

As you can see here is my object instantiation:
![image](https://user-images.githubusercontent.com/2601842/101505160-55003a80-3974-11eb-8dcf-554a1aa9ba2a.png)

And here what my instantiated object properties look like:
![image](h

[2020-12-08 16:40] cfauchere opened #1182 "Cannot create a VM with specialized image"
**Describe the bug**

I am trying to create a VM from custom image. Below is a snippet of my code.

[code]
With a generalized image or image gallery version the machine is created like expected.
However it fails with a specialized image. 'osProfile not allowed' and I cannot find an API in the sdk that would allow me to use a specialized image.

***Exception or Stack Trace***

Microsoft.Rest.Azure.

[2020-12-09 02:20] yungezz commented on #1182
thanks for reporting the issue. .NET fluent SDK is in passive maintenance mode, new generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look at new SDK does it resolve the problem. thanks.

@xccc-msft could you pls have a quick look is it service validation?

[2020-12-09 02:21] yungezz commented on #1181
thanks for reporting the issue. .NET fluent SDK is in passive maintenance mode, new generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look at new SDK does it resolve the problem. thanks

@xccc-msft could you pls have a quick check? thanks

[2020-12-09 02:22] yungezz commented on #1180
thanks for reporting the issue. .NET fluent SDK is in passive maintenance mode, new generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look at new SDK does it resolve the problem. thanks

hi @xccc-msft could you pls have a look? thanks

[2020-12-09 02:42] xccc-msft commented on #1182
@cfauchere You may try below workaround. Thanks.
[code]

[2020-12-09 02:47] xccc-msft commented on #1181
@Lushkin you may init the object like below. Thanks.
[code]

[2020-12-09 03:07] xccc-msft commented on #1180
@janRucka Can you try to capture the response of listing operation?  Thanks.
For checking the disks, you may try below line.
[code]

[2020-12-09 03:57] cfauchere commented on #1182
@yungezz is the fluent sdk deprecated or on the verge of deprecation then?

[2020-12-09 04:08] nickzhums commented on #1182
@cfauchere the development focus shifted to the next generation of Azure SDKs. For .NET, the packages are currently in preview state and we are actively working on making it production ready.  For packages that follow the new Azure SDK standard, you can visit this link : https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

We have also published a few blog posts on why we are doing

[2020-12-09 08:12] Lushkin commented on #1181
I'have tried to init my object this way as well (before opening the issue), the result remains the same: parameters are still assigned to the wrong properties.

[2020-12-09 09:07] xccc-msft commented on #1181
@Lushkin Thanks for sharing. The issue is caused by [parameters mismatch](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Sql/Generated/Models/ProxyResourceInner.cs#L32). You may consider switching to [Microsoft.Azure.Management.Sql](https://www.nuget.org/packages/Microsoft.Azure.Management.Sql/), which resolves this.

[2020-12-09 09:29] janRucka commented on #1180
@xccc-msft Unfortunately I don't have access to the VM causing this problems so I'am currently not able to provide it.

[2020-12-09 09:36] janRucka commented on #1180
@yungezz Thanks but I am not sure how it should be done with the other library let's say this code:
[code]

I am kind of confused with the relations of these project and concrete nuget packages. And I am surprised to see that different library should be used since according [documentation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.fluent.ivirtualmachine.unmanag

[2020-12-10 00:08] amishra-dev commented on #1070
Please reactivate with requested data if you are still facing this issue.

[2020-12-10 00:08] #1070 closed

[2020-12-10 08:15] Lushkin commented on #1181
Thanks I'll take a look at it 👍

[2020-12-14 03:23] xccc-msft commented on #1180
@janRucka You may try [Microsoft.Azure.Management.Compute](https://www.nuget.org/packages/Microsoft.Azure.Management.Compute/). The difference between them is that fluent SDK provides the wrapper interface on top of the Azure resource.

[2020-12-15 16:42] cmbrose opened #1183 "[BUG] GalleryArtifactPublishingProfileBase is missing Source property in .Net SDK"
**Describe the bug**
In the .Net SDK, the `Source` property of [GalleryArtifactPublishingProfileBase](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Compute/Generated/Models/GalleryArtifactPublishingProfileBase.cs) is missing. It appears to have been removed in [this PR](https://github.com/Azure/azure-libraries-for-net/commit/d14e34232dcda6641f228ea44c3c4944695

[2020-12-15 18:46] jrebagliatti opened #1184 "[BUG] Key Vault accounts are created with Soft-Delete disabled, and can't find a way to enable soft deletion in the library"
**Describe the bug**
According to [documentation](https://docs.microsoft.com/en-us/azure/key-vault/general/soft-delete-change), the ability to opt out of soft delete for Key Vault will be deprecated by the end of the year. However, I couldn't find in the documentation any way to configure soft deletion during KV creation using the Fluent SDK (version 1.36.1), and by default KV accounts are created

[2020-12-16 01:53] weidongxu-microsoft commented on #1183
@cmbrose

It appears that "source" is not in latest specs https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/gallery.json#L2097-L2139

[2020-12-16 02:09] weidongxu-microsoft commented on #1184
@xccc-msft Please add `withSoftDeleteEnabled`.

[2020-12-16 17:49] cmbrose commented on #1183
@weidongxu-microsoft - let me be a little more specific in what broke in the code :)

We're using `IComputeManagementClient.GalleryImageVersions.ListByGalleryImageAsync` which returns a set of `GalleryImageVersionInner`s. From that object we are referencing `GalleryImageVersionInner.PublishingProfile` which is of type `GalleryImageVersionPublishingProfile` which extends `GalleryArtifactPublishingP

[2020-12-16 22:25] cfauchere commented on #1182
I get a nullref

[2020-12-17 01:37] weidongxu-microsoft commented on #1183
@cmbrose

Got your point.

For SDK, the specs in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-12-01/gallery.json is the shared truth between customer and Azure compute service. When service removed the "source" property, we would assume they break it intentionally.

I think first we could check if "source" is actuall

[2020-12-17 03:03] xccc-msft commented on #1182
@cfauchere Can you please try below:
[code]

[2020-12-17 03:37] cfauchere commented on #1182
I had to add something like this
[code]

[2020-12-17 04:55] xccc-msft commented on #1182
@cfauchere You may use `VirtualMachineInner` and `computeManager.VirtualMachines.Inner` for vm creation. And similar resource inner and manager inner could apply to network interface too.

[2020-12-17 08:10] klyse opened #1185 "Get Public IP of VM in ScaleSet"
**Query/Question**
How can I get the public IP of each VM in a scale set?

[code]
**Setup (please complete the following information if applicable):**
 - OS: Windows
 - IDE : JetBrains Rider
 - Version of the Library used:
    - Microsoft.Azure.Management.Fluent Version="1.36.1"

[2020-12-17 19:49] tomkerkhove commented on #960
Bump, any update on this?

[2020-12-18 02:18] weidongxu-microsoft commented on #1185
@klyse

There is a REST API https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#querying-the-public-ip-addresses-of-the-virtual-machines-in-a-scale-set
But it is not documented in specs so it will not show in SDK https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/co

[2020-12-18 06:54] klyse commented on #1185
@weidongxu-microsoft Thanks for your quick response! Can we turn this Issue into a feature request? I think it would be nice that this is documented and supported.

[2020-12-18 07:02] weidongxu-microsoft commented on #1185
To service team:
Missing REST specs for
`/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/publicipaddresses`
in compute spec https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json

Assuming service would continue support t

[2020-12-18 07:25] klyse commented on #1185
Here is a workaround in c#:

Types:
[code]

Call:
[code]

[2020-12-18 17:04] cmbrose commented on #1183
@weidongxu-microsoft thanks for the explanation - makes sense why it is gone from the SDK. Is there a way we can test if it is in the JSON response?

[2020-12-18 17:41] avirishuv commented on #1185
Will take a look at this.

[2020-12-21 02:55] weidongxu-microsoft commented on #1183
@cmbrose

You can enable logging and check the raw response JSON from server. https://github.com/Azure/azure-libraries-for-net#logging

From what I captured from the response, `source` is not there in `publishingProfile` (image created from managed disk).
However I saw a `source` property in `storageProfile`. Is it same as what you would expect in `publishingProfile`?

[code]

[2020-12-21 08:41] ChenTanyi commented on #960
@tomkerkhove Just want to clarify with you what you want is:
1. create AKS with MSI Identity assigned.
2. Use MSI Identity inside AKS to connect with other services like ACR
3. Use MSI Identity inside AKS pod to management azure resources

---

If it is 1, I think maybe you can use ARM Template to reach the same effect.
[code]
The [azuredeploy.txt](https://github.com/Azure/azure-libraries-for-net/

[2020-12-21 17:33] cfauchere commented on #1182
@nickzhums FYI I have started to look at adoption of the new SDK. Unfortunately new does not mean better. The new SDK OM is not mockable which blocks testing and therefore adoption. I have raised the issue and I am still waiting for a reply.

[2020-12-22 01:19] nickzhums commented on #1182
@cfauchere would you past the link to the issue there so we can have a reference? thanks!

[2020-12-22 10:08] donma opened #1187 "Cannot update traffic manager CustomHeader"
**Query/Question**

I set a custom header test "testheader:I_AM_STRING"  on the Azure portal.
I added new custom header is no problem, but I tried to update the header value to "app_edited".

[code]

I got error message

[code]

Environment: .net core 3.1 + Microsoft.Azure.Management.Fluent 1.36.1

the error message  on Azure portal

[code]

thanks for help.

[2020-12-23 05:05] #1187 closed

[2020-12-23 05:14] #1184 closed

[2020-12-23 17:28] bjuraga opened #1189 "[BUG]"
**Describe the bug**
Without a code change on our side, using v1.33.0 and calling .Refresh() on a WebApplication (IWebApp) we started to get the exception listed below. Updating to the latest version, v1.36.1 now throws the same exception but sooner, when getting the list of WebApps.

***Exception or Stack Trace***
ArgumentException: Requested value 'ServiceTag' was not found.

**To Reproduce**
St

[2020-12-24 01:51] weidongxu-microsoft commented on #1189
@bjuraga

Would you add some logging to let us know the last of few requests and responses?
https://github.com/Azure/azure-libraries-for-net#logging

We suspect some of your webapp might have certain configure that caused the bug, but our usual webapp in test env cannot reproduce.

[2020-12-24 07:09] ChenTanyi commented on #960
@tomkerkhove After my testing, since the AKS is used VMSS as backend. The auth type could be `Virtual Machines`. I've created a sample with both java and dotnet. You can see or try it. It would create a AKS cluster with User Assigned Managed Identity and run a pod to do authentication with the identity. https://github.com/tanyi-test/azure-k8s-pod-with-identity

Due to the API will be in the new ve

[2020-12-24 08:42] bjuraga commented on #1189
I doubt anything outside of the sdk would be capable of influencing the sdk
and to which version of the azure rest api it is talking to. However, what
might be influencing versions is that my setup is using DRM and i
authenticate on one tenant but consume resources from another tenant. Is it
possible that tenants respond in different versions? i.e. the first tenant
is ahead and instructs your sdk

[2020-12-24 08:58] tomkerkhove commented on #960
I'm mainly looking for scenario 2) to connect to Azure APIs by using MSI & AAD Pod Identity.

I've used this with Service Bus and other SDKs but am looking to use it for querying Azure Monitor & Azure Resource Graph for http://promitor.io/.

So if I use this today with `Virtual Machines` it could work?

Can you elaborate on what SDK you mean here because there are a few? The FLuent API or the new

[2020-12-24 08:59] weidongxu-microsoft commented on #1189
We would like to understand what's wrong of the webapp with service tag.

When you call `List`, it sends 3 types of REST API.
[code]
None of above seems to have any issue with service tag. And we tried calling `var data = azure.WebApps.List().ToList();` on our test site (without any network security configured), and it works fine.

The service tag appears to be a virtual network / security feature

[2020-12-24 09:32] bjuraga commented on #1189
Here is the stack trace i get:

[code]

[2020-12-24 09:40] bjuraga commented on #1189
Noticing this (IpFilterTag) in the stack trace, it reminded me that we have few apps with ip filter for access restriction. Running my code against few different subscriptions that dont have any apps with access restrictions works as expected.
Hope this helps your repro.

[2020-12-25 01:22] weidongxu-microsoft commented on #1189
@bjuraga

Thanks for your help. I think I get the cause. `IpFilterTag` added an additional enum value of `ServiceTag` in later service versions, which is not synced into SDK.

Preparing a fix.

[2020-12-25 02:05] ChenTanyi commented on #960
@tomkerkhove If you are looking for [2], which means you have already set up [1]. (But from your speaking, I think you may want [3]? Almost, they are similar.)

Then, it doesn't depends any new SDK, you could use current SDK to do authentication. Just look at the document: https://docs.microsoft.com/en-us/azure/aks/use-azure-ad-pod-identity, or [my sample](https://github.com/tanyi-test/azure-k8s-p

[2020-12-25 02:57] #1189 closed

[2021-01-04 11:10] janRucka commented on #1180
Any update? I understand I can use different library or REST API directly but that is not really a fix.

[2021-01-05 03:20] xccc-msft commented on #1180
@janRucka I searched Azure managed/unmanaged disks and found some introduction by [difference1](https://docs.microsoft.com/en-us/answers/questions/3619/what-is-the-difference-between-managed-disk-and-un.html) and [difference2](https://buildwindows.wordpress.com/2017/05/31/azure-managed-vs-unmanaged-disks-the-choice/). It looks unmanaged disks is considered as storage account based disks. That's ho

[2021-01-05 10:52] janRucka commented on #1180
@xccc-msft I understand the difference between managed and unmanaged disks. The trouble is (as described above) that the library is in specific case listing managed disks as unmanaged.

[2021-01-05 12:24] bjuraga commented on #1189
Thanks for the fix, what is usually the timeframe to this fix being available on NuGet?

[2021-01-06 09:31] janRucka commented on #1180
@xccc-msft I rely on our logs and our support team. Unfortunately, I don't have direct access to such a disk. I tried to reproduce it myself in Azure but not sure how to fill the 'OsDisk.Image.Uri' property and didn't want to waste too much time on this (I know it is happening regardless if I am able to reproduce such a disk). Anyway, the disk has this property, but also has all everything managed

[2021-01-07 06:25] kepeter opened #1192 "Reference to deprecated WindowsAzure.Storage package"
**Describe the bug**
While it is not listed in the dependencies list for the wrapper package Microsoft.Azure.Management.Fluent.1.36.1, the package WindowsAzure.Storage.9.3.3 still referenced by three packages inside it...
- Microsoft.Azure.Management.ContainerInstance.Fluent.1.36.1,
- Microsoft.Azure.Management.EventHub.Fluent.1.36.1
- Microsoft.Azure.Management.Sql.Fluent.1.36.1

WindowsAzure.Sto

[2021-01-07 07:12] weidongxu-microsoft commented on #1189
Next release would be about 3 weeks later (around 29th Jan.).

[2021-01-07 09:50] #1174 closed

[2021-01-07 09:51] weidongxu-microsoft commented on #1192
thanks for reporting the issue. .NET fluent SDK is in passive maintenance mode, new generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look at new SDK does it resolve the problem. thanks

[2021-01-07 11:33] xccc-msft commented on #1180
@janRucka Thanks for sharing.
@Vaibhav-Agar Could you please help confirm the scenario how we verify managed disks and unmanaged disks? Thanks.

[2021-01-07 20:22] axayjo commented on #1180
@Vaibhav-Agar could you please take a look at this?

[2021-01-07 22:25] axayjo commented on #1159
@mdurini Did the solution work for you? Can we close the issue?

[2021-01-08 07:54] mdurini commented on #1159
@axayjo yes it worked. do you know if the fix mentioned by @koralski is already in place?

[2021-01-11 18:45] #1155 closed

[2021-01-11 18:58] cmbrose commented on #1183
@weidongxu-microsoft thanks for that info! I think we can close this one out in that case and I can follow up with the compute API owners as needed

[2021-01-11 18:58] #1183 closed

[2021-01-12 05:49] star286 commented on #556
This issue is also in Azure Storage management Fluent API.

[2021-01-12 16:15] janRucka opened #1193 "[BUG] StorageAccounts.ListAsync doesn't work if Azure return 'nextLink' property"
**Describe the bug**
Every time Azure returns storage accounts with [nextLink](https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts/list#storageaccountlistresult) property it gets ignored and you get just first page.

**To Reproduce**
For me it is having subscription with circa 120 storage accounts then approximately every few hundred calls (storage account listing calls) one will r

[2021-01-13 11:01] Predictor commented on #1180
According to release information https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html resource management part is still in preview mode. @yungezz is there any ETA for the normal release?

[2021-01-14 01:42] weidongxu-microsoft commented on #1193
@xccc-msft Could you take a look?

[2021-01-14 03:05] xccc-msft commented on #1193
@janRucka Thanks for reporting this. It looks the issue is caused [here](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Storage/StorageAccountsImpl.cs#L57-L60). The method of `ListNextAsync` is missing from code generator. We will look into it and try to regenerate. Thanks.

[2021-01-14 13:33] SabandaB opened #1194 "Not retrieving container list while using Fluent API"
**Describe the bug**
-Since November, 24th we noticed that the webpage [cloudbridge.ucclearly.com] is not retrieving/showing any container list for only one resource group, while checking the function app and webUI they are showing an error of [A task was canceled.] which is a general error and not indicating to any specific issues.
-Note that this is working perfectly fine for a different resourc

[2021-01-15 01:26] yungezz commented on #1194
hi @xccc-msft could you pls help to have a look? thanks

[2021-01-15 03:06] xccc-msft commented on #1194
@SabandaB As the error code is 502, will add `Service Attention` label so the service team would help look into this. Meanwhile, I noticed the version you are using is v1.19.0 and our latest v1.36.1. Would you like to check if upgrade could help on your issue? Thanks.

[2021-01-18 05:35] xccc-msft commented on #1193
@janRucka Have you tried to capture the response to confirm if it is from the `nextLink`? I tried to reproduce by the scenario of parallelly LIST storage accounts multiple times and get CloudException of too many requests. And as per the definition, the `nextLink` is not supported in current version we have [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/reso

[2021-01-18 10:28] janRucka commented on #1193
@xccc-msft How many storage accounts does your subscription contains? Asking because now I have circa 160 of them and it seems to be more common than with circa 120. Also it seems that if there are newly created storage accounts it is more likely to occur. But frankly it is pure speculation; I don't know what is happening inside Azure.

I was trying to use REST API directly

and I was able to capt

[2021-01-18 10:55] xccc-msft commented on #1193
@janRucka Thanks for sharing more info. I tried with 150+ storage accounts and list them within 40 parallel threads by 1000 times each. As you confirmed you could capture the nextLink in the response, here is the details regarding the issue you met:
- The root cause: The property of `nextLink` is missing in the swagger so we cannot have `ListNextAsync` in our generated code. Then it cannot deal wi

[2021-01-18 12:46] janRucka commented on #1193
@xccc-msft Interesting, so the issue is actually in Azure REST API (either backward compatibility issue or swagger documentation issue). Thanks for sharing.

I can confirm that Microsoft.Azure.Management.Storage works with `nextLink`. Unfortunately for me it has different model and we use it quite a lot in our code but it is definitely a way.

[2021-01-21 09:50] SabandaB commented on #1194
@xccc-msft we have performed the upgrade of fluent API and still faced the issue with same error, any help on that ?

[2021-01-21 10:34] xccc-msft commented on #1194
@SabandaB Sorry it looks like they didn't update contacts for container instances service.

cc: @nickzhums Can we find any team member from container instances service to help look into this issue?

[2021-01-22 21:22] axayjo commented on #1159
@koralski can you confirm if the fix has been rolled out yet? @mdurini I'll close the issue once the code has been rolled out.

[2021-01-22 21:38] Vaibhav-Agar commented on #1180
I am looking in to this and will provide an update shortly.

[2021-01-22 23:04] sarajang opened #1195 "Include database endpoints in AzureEnvironment.cs"
Is it possible to include sql database and cosmosdb endpoints defined like in https://docs.microsoft.com/en-us/azure/azure-government/compare-azure-government-global-azure in AzureEnvironment.cs https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/AzureEnvironment.cs Right now it has ARM, AAD, Storage and Key Vault.

[2021-01-24 20:21] nvmkpk opened #1196 "Webapp VFS access API"
**Query/Question**
Is there web app VFS access API?

***Why is this not a Bug or a feature Request?***
I would like to be able to upload/download/delete files and directories from my web app's VFS.

**Setup (please complete the following information if applicable):**
 - OS: Windows 10
 - IDE : Visual Studio
 - Version of the Library used: 1.36.1

 **Information Checklist**
 Kindly make sure that y

[2021-01-25 01:53] weidongxu-microsoft commented on #1195
thanks for the feedback. This repo is in maintenance mode. New generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look and check if the latest auth lib azure-identity meet the requirement.

[2021-01-25 01:55] weidongxu-microsoft commented on #1196
thanks for the feedback. This repo is in maintenance mode. New generation of .NET SDK is available at https://github.com/azure/azure-sdk-for-net. Pls have a look and check if the latest auth lib azure-identity meet the requirement.

This is management SDK, which help you create/update/delete Azure resource, but it will not touch the data within your resource (like blob in storage, row in database,

[2021-01-25 06:36] nvmkpk commented on #1196
I am not interested in auth library. I am currently using kudu's vfs api to upload files to the file system of my web app and this library for rest of the things. I wanted to see if one library will do everything I need.

It appears Azure SDK is in a big mess and gets rewritten all the time.

[2021-01-26 15:32] BartNetJS opened #1198 "[BUG] Forbidden Azure.AccessManagement.ActiveDirectoryApplications.GetByName"
When i call above function I got a Forbidden exception.
The ad client application has the following rights:

![image](https://user-images.githubusercontent.com/4865355/105865186-f4e05900-5ff2-11eb-8183-6b85f12b29de.png)

Access to other resources is fine (e.g. Vault, AppService,...)

***Exception or Stack Trace***

"Operation returned an invalid status code 'Forbidden'"

at Microsoft.Azure.Managem

[2021-01-26 20:59] cfauchere commented on #1182
https://github.com/Azure/azure-sdk-for-net/issues/17435

[2021-01-26 21:37] cfauchere opened #1199 "Caching leads to incorrect response?"
**Describe the bug**
I have built a test app in which I call IResourceManagementClient.ResourceGroups.ListAsync in a loop using a service principal.
From portal I created 2 resource groups A and B
From portal I assign rgA owner role to service principal
I start the test app. I will not restart or stop the app until end of the test.
As expected the app reports there is only one resource group
From

[2021-01-26 22:47] cfauchere commented on #1199
This issue could be related to this one https://github.com/Azure/azure-libraries-for-net/issues/1170 as clearing the cache before each call leads to the expected results.

[2021-01-27 01:13] weidongxu-microsoft commented on #1198
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new featuers. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:

We have also published a few blog posts on why we are doing thi

[2021-01-27 02:09] yungezz commented on #1199
HI @xccc-msft could you pls have a quick look? thanks

hi  @cfauchere For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new featuers. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET pack

[2021-01-27 08:11] BartNetJS commented on #1198
Thanks for the quick response.
Does it mean that there will be also fluent implementation for the new sdk in the future?

[2021-01-27 08:51] weidongxu-microsoft commented on #1198
@BartNetJS

This is not finalized, but the new Management SDK will likely not be fluent flavor, though it will still have good convenience layer over raw REST API to help user with resource provisioning.

For Microsoft Graph API, I think this is the most recent SDK https://github.com/microsoftgraph/msgraph-sdk-dotnet
(MS Graph is not part of Azure Management SDK. Current fluent SDK includes it mos

[2021-01-27 09:55] janRucka commented on #1180
@Vaibhav-Agar: Great news, any update?

[2021-01-27 17:52] cfauchere commented on #1199
@yungezz this could be a bug in the BE. I did not see caching on the client side except for the credentials. I suspect the access token is used to identify the session which is why clearing the credential cache makes the problem disappear.

[2021-01-28 06:39] BartNetJS commented on #1198
That's too bad. I found that fluent API very nice and productive.

[2021-01-28 07:02] nickzhums commented on #1198
@BartNetJS we hear you, we will take this into account when we are designing the new API. The new SDK will be previewed around early this year at github.com/Azure/azure-sdk-for-net.

Question for you: what aspects of the fluent API do you like? and anything you don't like? this will help us in our product design , thanks!

[2021-01-28 11:20] SabandaB commented on #1194
@xccc-msft I still see no updates on this

[2021-01-28 15:20] BartNetJS commented on #1198
@nickzhums thank for taking this into account.

What I really like in the fluent API is after every operation dotting into possibilities and finally when you can create and return the resource.
The fluent API is very verbose to understand what is possible.
In code you just 'read' what it is doing. It is also very easy for other developers to understand my code.

For example

          var webAPI =

[2021-01-29 03:22] xccc-msft commented on #1194
@novinc I found your name on code owner list [here](https://github.com/Azure/azure-rest-api-specs/blob/master/CODEOWNERS#L16). Can you please help check this issue or route to the right team member? Thanks.

[2021-01-29 04:53] weidongxu-microsoft opened #1200 "[BUG] ListByResourceGroup return empty when Cosmos DB account is in brazilsouth region"
From report, it only happens to South America region (here "brazilsouth").

Empty when list cosmos db account.
[code]

Have value when list all resources.
[code]

Also get single cosmos db account works.
[code]

[2021-01-29 06:37] nickzhums commented on #1198
@BartNetJS the new version of .NET SDK we are developing will be integrated with Azure Identity so you will be able to use the cred chain in the new .NET SDK.

Regarding fluent API, we are thinking of introducing a builder pattern in the SDK which is similar to Fluent but also follow the .NET conventions, might this be something you are looking for>?

[2021-01-29 07:18] BartNetJS commented on #1198
@nickzhums great to hear that the cred chain will be available in the new sdk.
And yes the builder pattern is also a fluent way to write code.
I'm happy to see this evolving.
What is currently the timeframe for the SDK?

[2021-01-29 07:51] nickzhums commented on #1198
@BartNetJS  we are looking for previewing in the March, and officially GA in July/August

what kind of resource management scenarios are you guys current doing? (e.g. what are you using the SDK for ?)

[2021-01-29 10:54] BartNetJS commented on #1198
I'm using it in azure pipeline together with Cake (see [above](https://github.com/Azure/azure-libraries-for-net/issues/1198#issuecomment-769158231)).
We found that using ARM templates and yaml pipelines was very error prone and difficult to debug.
In the current implementation we can just debug regular C# code in Visual Studio for the azure pipelines on our local development machine.
It is very ve

[2021-01-29 12:35] nickzhums commented on #1198
@BartNetJS thanks for the detailed explanation! :)

Yes definitely we are seeing more and more people have now turned to the SDK to manage the resources

[2021-01-30 18:15] p-bojkowski opened #1201 "[BUG] README.md -> Microsoft Azure Projects Contribution Guidelines -> 404 Error"
![image](https://user-images.githubusercontent.com/74313141/106364464-7572c280-632f-11eb-94cf-08c71f200317.png)

![image](https://user-images.githubusercontent.com/74313141/106364467-7c99d080-632f-11eb-865a-d4d54994e7dd.png)

[2021-01-30 18:16] p-bojkowski commented on #1201
see: https://github.com/Azure/azure-sdk-for-c/issues/1101

[2021-02-01 01:51] weidongxu-microsoft commented on #1201
@p-bojkowski Thanks for the report. We will check internally which link is the best fit (https://opensource.microsoft.com/collaborate seems a bit too general),

[2021-02-02 02:52] #1193 closed

[2021-02-03 13:16] zitmen commented on #1180
Hi, is there any update on this issue?

[2021-02-03 13:28] kolendomichal commented on #1189
@weidongxu-microsoft when can we expect the release? 😄
FunctionApp has an identical issue with ServiceTags
https://github.com/Azure/azure-cli/issues/16661|
That might be stupid questions, but it still worth asking.
Does the release of new azure-libraries-for-net fix a similar issue in function apps?
I know that Python is used there, but maybe it is correlated somehow?

[2021-02-03 18:40] MehaKaushik commented on #1200
I was a temporary issue. It is fixed now. Can you please validate at your end.

[2021-02-04 02:27] weidongxu-microsoft commented on #1200
Verified.

[2021-02-04 02:27] #1200 closed

[2021-02-04 07:52] weidongxu-microsoft commented on #1189
@kolendomichal

Sorry for the delay, we are cranking some last minute change into the release (since in maintenance mode the release cycle is pretty long, so we try to get more into one).

1.37.0 is just released.

Yes, same issue existed for FunctionApp. It would be fixed by the PR as well.

[2021-02-04 23:44] avirishuv commented on #1185
@weidongxu-microsoft the API is documented in the NW spec here: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/vmssPublicIpAddress.json

Hope this clarifies the question. Closing the issue, feel free to reopen if there are additional questions on this.

[2021-02-04 23:44] #1185 closed

[2021-02-05 01:34] weidongxu-microsoft opened #1209 "[FEATURE REQ] Update compute to 2020-08-01"
https://github.com/Azure/azure-libraries-for-net/issues/1185

For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new featuers. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:

W

[2021-02-05 07:59] #1201 closed

[2021-02-08 10:18] icecoldfire opened #1211 "[FEATURE REQ] Add support for Azure static web apps"
**Is your feature request related to a problem? Please describe.**
We want use the Azure static web apps, but our current deploy pipeline that uses this framework doesn't support this resource.

**Describe the solution you'd like**
Add support for this resource type.

**Describe alternatives you've considered**
For now we use the Azure CLI.

**Additional context**
https://docs.microsoft.com/en-us/

[2021-02-09 01:32] weidongxu-microsoft commented on #1211
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new featuers. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:

We have also published a few blog posts on why we are doing thi

[2021-02-11 22:21] Vaibhav-Agar commented on #1180
Apologies, I wasn't able to replicate the issue. Can someone get on a call with me to help me reproduce this next week?

[2021-02-11 23:42] dondeetan opened #1212 "Operation returned an invalid status code 'Forbidden' when calling serviceprincipals from SDK"
Using the following SDK:
Microsoft.Azure.Management.Graph.RBAC.Fluent
Microsoft.Azure.Management.Fluent.Azure.IAuthenticated

Whenever I call either:
  var spn = await _authenticated.ServicePrincipals.GetByNameAsync(name);
var spns = await _authenticated.ServicePrincipals.ListAsync();

**Microsoft.Azure.Management.Graph.RBAC.Fluent.Models.GraphErrorException: Operation returned an invalid status c

[2021-02-12 14:57] janRucka commented on #1180
@Vaibhav-Agar I think we can do that. Could you provide e-mail or other suitable contact so we can discuss call details?

[2021-02-12 22:24] dondeetan commented on #1212
So, I figured out the problem. Essentially the SPN I'm using has all appropriate rights at the graph apis. However, I don't have the rights on Azure Active Directory APIs when adding api permissions. After I added these rights I no longer see the problem.

[2021-02-12 22:24] #1212 closed

[2021-02-13 02:55] weidongxu-microsoft commented on #1212
Yes, it uses the legacy AAD graph API, not the MS graph.

[2021-02-13 03:10] dondeetan commented on #1212
Yes, I used that. The main issue is that for some reason, I can’t get service principal role assignments using the graph sdk. I can get all service principals but no role assignments. I had to call the azure management apis separately. Preferably, I would like to use just one sdk.

Thank you

[2021-02-15 09:12] janRucka commented on #1180
@Vaibhav-Agar Or you can write me to e-mail in my profile (I don't see any in yours)

[2021-02-18 02:29] BrainSlugs83 opened #1213 "[BUG] Public API published violates Microsoft Naming Conventions and is not consistent with the rest of the Framework"
**Describe the bug**

In reference to (but not limited to) the following two files: [AzureCredentialsFactory.cs](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCredentialsFactory.cs#L62), and [MSILoginInformation.cs](https://github.com/Azure/azure-libraries-for-net/blob/c66a608cf2e7026754edfa4fd781efabc49b49d0/src/ResourceMan

[2021-02-18 03:09] weidongxu-microsoft commented on #1213
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new featuers. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:

We have also published a few blog posts on why we are doing thi

[2021-02-18 23:16] koralski commented on #1159
No fixed yet since its a low priority for this corner case.

[2021-02-20 00:19] BrainSlugs83 commented on #1213
The links you provided seem to reiterate the validity of this bug:
[code]
I am specifically reporting that your library is violating the standard guidelines of the C# language (that have stood for over a decade and are widely accepted by the industry).

[2021-02-20 01:03] weidongxu-microsoft commented on #1213
@BrainSlugs83

I believe in the new SDK, the related class will be called `ManagedIdentityCredential`.
https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/identity/Azure.Identity/src/ManagedIdentityCredential.cs

As mentioned, this repo will not get any major changes in future. And personally I do not want to make any change that going to break current user, except maybe for security issues

[2021-02-20 01:12] BrainSlugs83 commented on #1213
Wow you responded so fast! (I was caught still making updates and edits when your response came through! 😅)

Anyway, I think we're on the same page now -- thanks for being patient with me -- the nature of my confusion was that I thought that this **WAS** the new beta codebase! 🤦🏻‍♂️🤦🏻‍♂️🤦🏻‍♂️

(I see now that you made this claim in your initial response, but I missed that significance in my initia

[2021-02-20 01:12] #1213 closed

[2021-02-24 21:16] likemike91 commented on #462
Any updates on that topic?

[2021-02-26 14:18] AyzaLeX commented on #1094
I left a comment on a related issue, it looks like an sdk problem handling azure responses without body
https://github.com/Azure/azure-sdk-for-net/issues/13255#issuecomment-786671205

[2021-02-26 21:21] Vaibhav-Agar commented on #1180
Hi @janRucka apologies for the delay. Just shot you an email to follow-up on this.

[2021-03-01 15:46] pbelousov opened #1214 "[BUG] Azure Function App is created without WEBSITE_CONTENTAZUREFILECONNECTIONSTRING setting"
**Describe the bug**

We are using Microsoft.Azure.Management.Fluent to create function apps, and starting from 1.37.0 the package doesn't add `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` and `WEBSITE_CONTENTSHARE` configuration parameters. Seems it was because of [the following PR 1179](https://github.com/Azure/azure-libraries-for-net/pull/1179).

But because of this change, we could not deploy the

[2021-03-02 02:48] weidongxu-microsoft commented on #1214
@pbelousov

Thanks for the report and the information. Which is the exact plan? I tried P2V1 and P3V1 on Portal but both does not have `WEBSITE_*` setting.

![image](https://user-images.githubusercontent.com/53292327/109589046-b2a3bd80-7b44-11eb-8ce4-ce221b08c767.png)

In my memory the `WEBSITE_*` setting is need for `Dynamic` (which is the basic consumption existing long time ago), and the new `E

[2021-03-02 06:16] pbelousov commented on #1214
@weidongxu-microsoft, Ah, yes, you're right, we are using **Elastic**Premium plan. I've created a new Function App through Azure Portal and the app has these two `WEBSITE_*` settings. So yes, seems in the case of the ElasticPremium plan (not Premium one) these settings must be added.
What would you recommend for us - wait for the new version of the `Microsoft.Azure.Management.Fluent` package? or a

[2021-03-02 06:55] weidongxu-microsoft commented on #1214
@pbelousov

I will fix the bug, but since the SDK is in maintenance mode, next release will probably be weeks later.

If you create storage account before webapp, it should be easy for you to set the `WEBSITE_*` setting in code, with 1.37 (`withAppSetting(key, value)`).

Value of both key is the connection string of storage account, which is in format of `DefaultEndpointsProtocol=https;AccountName

[2021-03-02 07:15] pbelousov commented on #1214
@weidongxu-microsoft  Perfect! Thank you for your help!

[2021-03-03 09:56] weidongxu-microsoft commented on #1214
@pbelousov

Sorry, my mistake. `WEBSITE_CONTENTSHARE` should be a string with function app name as prefix (rest is random). https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#website_contentshare

It is used as name of file shared in the storage account (which contains the function app content).

[2021-03-04 02:03] #1214 closed

[2021-03-04 21:32] axayjo commented on #1159
@mdurini, since this is a low priority bug, the fix won't be in for a while. I've added this issue to the backlog on my end. Do you want to keep this issue open or can I go ahead and close it?

[2021-03-04 21:57] mdurini commented on #1159
@axayjo how could I be notified when the fix will be deployed if the issue will be closed?

[2021-03-05 00:02] chborl opened #1216 "Null reference error when passing Region to .WithLocation"
**Describe the bug**
The following code throws a null exception
[code]

But when changed to use the different overload, below, it works
[code]
Looking at the code repo, https://github.com/Azure/azure-libraries-for-net/blob/0dfd2bdafe45d197ceca2a3931d2bb8666242e5a/src/ResourceManagement/Compute/GalleryImageVersionImpl.cs#L296
the overload `[public GalleryImageVersionImpl WithLocation(string locatio

[2021-03-05 02:32] weidongxu-microsoft commented on #1216
Thanks very much for the bug report.

[2021-03-08 02:03] #1216 closed

[2021-03-12 15:41] p-bojkowski opened #1222 "CI/CD Pipelines with Azure libraries for .Net"
Hi!
Are any of you using "Azure libraries for .Net" in CI/CD pipelines as part of software deployments?
If yes, what are your experiences?

[2021-03-15 02:12] yungezz commented on #1222
hi @p-bojkowski did you meet any issue when using .NET fluent SDK? Do you mean using SDK in CI/CD pipeline?

[2021-03-15 10:18] p-bojkowski commented on #1222
HI @yungezz,

I don't have any issues with using it.
I looking for some CI/CD Best Practices with Azure libraries for .Net.
Like this article for ARM Templates: https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/add-template-to-azure-pipelines

[2021-03-18 10:38] bjuraga commented on #462
I have the same issue, i found the official docs from MS and how they patched the use of '/' to be compatible with the resource manager.

It should be a relatively easy fix if the author follows the docs:
https://techcommunity.microsoft.com/t5/messaging-on-azure/azure-service-bus-azure-resource-manager-and-this-character-quot/ba-p/370812

[2021-03-18 23:40] chborl opened #1223 "[BUG] VirtualMachineCustomImages.GetById returning incorrect HyperVGeneration value"
**Describe the bug**
When using the GetById method of VirtualMachineCustomImages to retrieve a HyperVGeneration2 image, the object returned by the method has it incorrectly as HyperVGeneration1

***Exception or Stack Trace***
n/a

**To Reproduce**
Create a hypervgeneration 2 image and use `VirtualMachineCustomImages.GetById(imageResourceID);` to retrieve it. Check the HyperVGeneration value and it

[2021-03-19 15:17] artyomtserashkovich opened #1224 "[FEATURE REQ] Update implementation of GetMasterKey for FunctionApp"
**Is your feature request related to a problem? Please describe.**
Current implementation of [``GetMasterKeyAsync``](https://github.com/Azure/azure-libraries-for-net/blob/a0dc29f36e5f10e0e7e1c305720d32d13656aaf8/src/ResourceManagement/AppService/FunctionAppImpl.cs#L228) uses old (2016-08-01) API to retrieve the master key of the function app.  It requires to use **File**  Secret Storage for Keys f

[2021-03-19 16:06] robwillis17 opened #1225 "[BUG] ArgumentNullException when creating a key vault in Azure Function"
**Summary**
I've added a service bus triggered function to create a key vault for new tenants on our platform via the Microsoft.Azure.Management.Fluent library.

The function runs fine locally and creates a new key vault within my MSDN subscription, however, when it's deployed into Azure and tries to create a Key Vault in our company test subscription it fails with an ArgumentNullException from Gu

[2021-03-22 02:17] weidongxu-microsoft commented on #1225
@robwillis17
Would you try a later version? The latest is now 1.37.1

[2021-03-22 09:30] robwillis17 commented on #1225
Sorry, that was a mistake, the version of the library being used should have been 1.37.0.
I've updated it to 1.37.1 but still get the same error.

[2021-03-23 01:09] jumpinjackie opened #1226 "[QUERY] (Can I / How to) activate static websites feature for new blob storage accounts?"
**Query/Question**

I'd like to know how to enable static websites feature for new blob storage accounts created, and if this is possible how to also set the default index and 404 pages as well.

So far I got the following:

[code]

That will create the storage account, but I have no idea how to activate the static websites feature for this account if that's even possible.

***Why is this not a Bu

[2021-03-23 01:42] weidongxu-microsoft commented on #1225
@robwillis17

It seems the "tenantId" is null. Please check your `AzureCredentials` object (could be a subclass of it), and see if it has non-null `TenantId` property. Usually `AzureCredentialsFactory` should have overload that provide this info into `AzureCredentials`.

[2021-03-23 06:39] weidongxu-microsoft commented on #1223
Which version is the SDK?

[2021-03-23 06:40] weidongxu-microsoft commented on #1226
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk/october-2020-management

[2021-03-23 10:15] robwillis17 commented on #1225
@weidongxu-microsoft
The MSI credentials are obtained from the `AzureCredentialsFactory ` using the approach below in the function app startup:

[code]
I've taken a look at the AzureCredentials object that it generates and the `TenantId`, `ClientId `and `DefaultSubscriptionId `are all null.

However, after assigning the correct roles to the function app MSI in Azure the function app is able to suc

[2021-03-23 10:26] weidongxu-microsoft commented on #1225
@robwillis17

The `tenantId` is used for creating vault. Most other features does not need the `tenantId`, but appears that vault needs it for creation.

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/resource-manager/Microsoft.KeyVault/stable/2019-09-01/keyvault.json#L1244-L1248
You can see it is among "required" properties.

[2021-03-23 17:34] robwillis17 commented on #1225
@weidongxu-microsoft
Thank you for your help, passing the `tenantId` via `credsFactory.FromMSI` resulted in the new Key Vault being successfully created.

I'm now getting a forbidden error (Similar to #971 ) when attempting to define an access policy on the new vault even though the MSI is currently in the Owner role for the entire Resource Group.

I need to investigate this issue further to see i

[2021-03-23 18:39] chborl commented on #1223
@weidongxu-microsoft , it is version 1.37.0.

[2021-03-24 02:08] weidongxu-microsoft commented on #1225
@robwillis17

Access policy takes a few parameters.

`forObjectId` takes an object ID of user/service principal/etc., it should not require any additional permission if you know that object ID.

`forUser` or `forServicePrincipal` would require querying the AD for the object ID, and this would likely require ReadAll permission from AD to User or Application. However it seems quite hard to add that

[2021-03-24 05:45] weidongxu-microsoft commented on #462
Service requires package-2017-04 for the feature of "~". Need an api-version upgrade.

[2021-03-24 10:13] robwillis17 commented on #1225
@weidongxu-microsoft

I updated the define access policy from `forServicePrincipal `to `forObjectId` and it resolved the permissions error.
Thank you for your help.

[2021-03-25 09:00] weidongxu-microsoft commented on #1225
Glad that problem solved.

[2021-03-25 09:00] #1225 closed

[2021-03-25 10:02] #1223 closed

[2021-03-25 10:08] #1224 closed

[2021-03-25 11:55] yungezz commented on #1199
add @weidongxu-microsoft to help to take a look

[2021-03-25 17:16] chborl commented on #1223
@weidongxu-microsoft , thanks for fixing this so quickly. Do you know how soon it will be available?

[2021-03-26 01:55] weidongxu-microsoft commented on #1223
@chborl
Last release is a little more than one week ago. So next release will likely be a few weeks away.

This SDK is in maintenance mode, so release is not frequent.

[2021-03-26 22:45] groogiam opened #1229 "Ability to Create General Purpose Serverless Sql Azure Databases"
**Is your feature request related to a problem? Please describe.**
Feature Request (I think). The api does not appear to support server less azure sql resources. ServiceObjectName class lacks GP values.

**Describe the solution you'd like**
I would like the ability to create a General Purpose serverless compute as defined here https://docs.microsoft.com/en-us/sql/t-sql/statements/create-database-t

[2021-03-29 02:01] weidongxu-microsoft commented on #1229
For .NET, the development focus has shifted to the next generation of Azure SDKs which follows the new SDK guideline and introduces a set of important new features. Those new packages are currently in preview state and we are actively working on making it production ready. You can visit this link here to see the latest .NET packages:
https://devblogs.microsoft.com/azure-sdk/october-2020-management

[2021-03-30 05:25] bwfilms commented on #822
I still encounter this problem. I'm running on Mac OS 10.15.7, .NET Core 5.0.21, and Microsoft.Azure.Management.Fluent 1.37.1.

BTW, on a separate bug, the parameters I'm passing must *not* include $schema and contentVersion. I think this was also a known problem and it was reported and fixed before. So, it seems the Microsoft.Azure.Management.Fluent 1.37.1 version might not have those fixes merge

[2021-03-31 18:07] janRucka commented on #1180
@grizzlytheodore Thanks for reply

No, I don’t have the code. There is just such a VM in Azure.

I don’t exactly know how the VM was converted, my guess it was through Azure Portal. From Azure support I got this information:

Well as you can see in my original post I am surprised by this check as well. But it is really a question for developers of this library not for me.

[2021-04-01 13:59] yaohaizh commented on #822
@yungezz @weidongxu-microsoft

[2021-04-01 21:20] groogiam commented on #1229
Thanks for the info. From the links provided it does not look like there .NET Management libraries for SQL or AppService in this format yet. The post only seems to reference

.NET
Cosmos DB
DNS
Insight (Monitor)

Am I missing something?

[2021-04-02 01:39] weidongxu-microsoft commented on #1229
@groogiam

Yes, they are not there yet. The latest can be queried here https://azure.github.io/azure-sdk/releases/latest/mgmt/dotnet.html

From what I heard, the next phase of the new .NET SDK is previewing new feature on June. GA is expected to be within 2021.

[2021-04-02 02:52] groogiam commented on #1229
@weidongxu-microsoft Any info on how long it will be before the fluent packages are officially deprecated? It sounds like I have no choice right now to use those packages. I just want to understand how much runway I have until they are officially not supported.

[2021-04-02 02:56] weidongxu-microsoft commented on #1229
@nickzhums for schedule on new and old .NET SDK.

We do not have official deprecation schedule yet.

Another alternative (with more frequent update, but likely less stable API) is here:
https://www.nuget.org/packages/Microsoft.Azure.Management.Sql

Note that this lib is to be replaced as well.

[2021-04-02 03:03] weidongxu-microsoft commented on #822
@bwfilms

For the `output`, it seems the previous fix only fixed the sync method, but not the async method. New fix https://github.com/Azure/azure-libraries-for-net/pull/1230

For the $schema and contentVersion, SDK does not do any additional processing. It just send them to ARM.

[2021-04-07 15:20] JonBaron commented on #1194
I'm also experiencing this. Any progress on the issue?

[2021-04-08 18:23] novinc commented on #1194
If you have subscription IDs and resourceGroup names along with timestamps of the list calls please send them so we can take a look to see if something went wrong from our side.