[2019-08-20 08:12] weidongxu-microsoft commented on #733
It works fine for me.
`var funcApp = azure.AppServices.FunctionApps.GetById("/subscriptions/1c638cf4-608f-4ee6-b680-c329e824c3a8/resourceGroups/jianghaospring/providers/Microsoft.Web/sites/walkthrough-jianghaofunc");`

And I tried your exact resourceId `/subscriptions/411a9cd0-f057-4ae5-8def-cc1ea96a3933/resourceGroups/durable-entity-circuitbreaker/providers/Microsoft.Web/sites/jehollan-circuit-eh

[2019-08-20 08:20] weidongxu-microsoft commented on #733
Or maybe you have a extra space or invisible char before the first '/'.

[2019-08-20 08:39] weidongxu-microsoft commented on #666
I think this is the correct approach. Do you observe any error message?

[2019-08-20 12:43] Joel-Intact commented on #697
@yaohaizh, this issue can be closed.  I was able to get my UWP project to build in release with the "Compile with .Net tool chain" checked.  The solution was to add these fluent related [run time directives](https://docs.microsoft.com/en-us/dotnet/framework/net-native/runtime-directives-rd-xml-configuration-file-reference) in the Default.rd.xml file:

[code]
I still have an issue related with anot

[2019-08-22 13:11] jmahosky commented on #460
@bloudraak same issue with the java SDK, so just wanted to thank you for the API filter workaround!

[2019-08-27 05:53] weidongxu-microsoft commented on #666
@overeemm

This should be the right approach.

Code snippet (I only got 1 image, so just take first)

[code]

[2019-08-27 06:25] weidongxu-microsoft commented on #666
@overeemm

Code snippet (note line with **WithOSDiskStorageAccountType**)

[code]

[2019-08-29 03:19] yaohaizh opened #772 "[FEATURE REQ] Update compute swagger"
- Support a new parameter in ‘creationData’ called ‘uploadSizeBytes’ that specifies the exact size of the vhd
- support for creating incremental snapshots with a Boolean parameter called ‘incremental’ in ‘snapshotProperties’.

- Swagger content: https://github.com/Azure/azure-rest-api-specs/pull/6824

[2019-08-29 04:07] weidongxu-microsoft commented on #630
To service team:

There is small possibility that /subscriptions/{}/resourceGroups/{}/providers/Microsoft.Compute/virtualMachines/{vm_name}?$expand=instanceView API does not have PowerState status block in response.

Please let us know whether this is expected or not.

Here is log without PowerState and with PowerState.

[vm_instance_nopowerstate.log](https://github.com/Azure/azure-libraries-for-n

[2019-08-29 04:14] weidongxu-microsoft commented on #630
@Mi1an

I can reproduce this issue after several hours of local test with looping. We are contacting service team to verify.

Meantime, I think one option is to guard this NPE and retry in code. E.g.

[code]

[2019-08-29 11:38] PerninManon opened #773 "Add the namespace selection in Monitor Metric List method"
I'm not able to list Monitor Metrics that are on a specific metric namespace. For example, some Application Insights metrics are available in Monitor into the metric namespace "Azure.ApplicationInsights".

For now, the method "ListByResourceAsync" in MetricDefinitionsImpl set the metricnamespace to null. It's not possible to choose the namespace. (https://github.com/Azure/azure-libraries-for-net/b

[2019-09-01 21:10] Mi1an commented on #630
@weidongxu-microsoft

thank you for informations. I guarded my code exactly as you write, long time ago (after I opened this issue).
Good to hear some news, I will be glad if this problem will be fixed.

[2019-09-04 00:15] xenalite opened #775 "[BUG] Generic delete operation fails with 404 NotFound"
**Describe the bug**
1. Have an existing resource
2. Attempt to delete this resource using generic resource delete operation
3. Delete action removes the resource, but throws a `CloudException` with 404 status code.
4. This action does not fail 100% time, but sporadically. Out of an array of 100 resources being deleted, about 12-20 of them throw this error.

**Exception or Stack Trace**
[code]

**

[2019-09-04 01:49] weidongxu-microsoft commented on #775
@xenalite Did you observe which type of resource tend to get the exception? This would facilitate for us to reproduce it.

PS:
1. What is the type of _connection object?
2. What value is apiVersion used in the call?

[2019-09-04 07:35] xenalite commented on #775
@weidongxu-microsoft Any resource should do, though we mostly delete: Storage Accounts, App Insights, Service Bus, Key Vault, Function Apps.

1. It's our custom object with these properties:
[code]

2. Whatever is the latest api version for each resource type.

[2019-09-04 09:10] weidongxu-microsoft commented on #775
@xenalite OK. We will start with 100 storage accounts and delete them via
`azure.Deployments.Manager.GenericResources.DeleteAsync(resource.ResourceGroupName, "Microsoft.Storage", "", "storageAccounts", resource.Name, "2018-11-01");`

So far not encountered.

[2019-09-06 01:33] weidongxu-microsoft commented on #763
Service seems back to normal.

[2019-09-06 06:28] weidongxu-microsoft commented on #630
@Mi1an

Here is response from service team.

Basically there is certain chance that service does not know VM power state. It would be similar to PowerState.UNKNOWN.

For compatibility (other client might also retry on null), SDK would still return null if service does not provide it. We will improve method documentation to indicate this situation and advice on refresh/retry.

[2019-09-09 07:31] #763 closed

[2019-09-09 13:57] DYNSOL commented on #674
Sorry - been inactive for a while. @yaohaizh i'm still unable to create the vm if i use `.WithOSDiskStorageAccountType(StorageAccountTypes.x)`

it works fine without specifiying Osdisk storage Account Type and it defaults to Standards LRS. It's like it's treating it as un-managed disks therefore a Storage Account is required.

[2019-09-09 14:06] yaohaizh commented on #674
Will take a look

[2019-09-09 15:24] DYNSOL opened #778 "[QUERY] Virtual Network Interface using an existing VNET and Subnet"
**Query/Question**

Hi - is it possible to create a Virtual Network Interface using an existing VNET and Subnet?

I've tried the below, but i get the following on the .WithSubnet part:

[code]
The only way to get this working is by creating the Network beforehand. However, it would be good to know how to do it if it already exists.

[code]

[2019-09-10 05:41] #630 closed

[2019-09-10 12:54] robeving opened #815 "[FEATURE REQ] Add ReImage to IVirtualMachine"
**Is your feature request related to a problem? Please describe.**
Implement ReImage in the IVirtualMachine interface in a similar way to Redeploy.
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/reimage

**Describe the solution you'd like**
I want to call ReImage without lots of REST code in my codebase. It shouldn't be missing from IVirtualMachine.

**Describe alternatives you'

[2019-09-10 15:37] DYNSOL commented on #778
Sorry, it was pretty easy.

[code]

Then using the azure.Networks.GetById worked a treat.

[2019-09-10 15:37] #778 closed

[2019-09-11 02:07] ppittle commented on #466
Any updates on this?

[2019-09-11 03:26] yaohaizh opened #780 "[FEATURE REQ] Add billing support"
Add billing and low priority VM/VMSS support.

[2019-09-11 04:31] yaohaizh commented on #666
Close the issue now.@overreem, feel free to reopen it if there is any issue regarding the code snippet.

[2019-09-11 04:31] #666 closed

[2019-09-11 04:36] yaohaizh commented on #733
Close the issue as suggested. @jeffhollan feel free to reopen the issue if you have more questions.

[2019-09-11 04:42] yaohaizh commented on #772
Merged.

[2019-09-11 04:42] #772 closed

[2019-09-11 07:14] weidongxu-microsoft commented on #740
Create of inbound-net-rule would fail if there is inbound-net-pool created as such.

However I am not sure whether the inbound-net-pool is done correctly or not. Usually inbound-net-pool is created with VMSS, instead of stand-alone.

[2019-09-12 02:45] ChenTanyi commented on #681
Hi @maxim-gavrilov-veeam  @maximrub ,

I've tested it from 1.22.0 to 1.25.0, and found it was fixed in 1.24.0. You could upgrade the library to 1.24.0 or later to fix the issue.

Thanks for this issue. Now I'll close it due to it was fixed.

If there is still something wrong about it, feel free to reopen it.

![image](https://user-images.githubusercontent.com/15213781/64749544-8ce9b980-d548-11e9-8

[2019-09-12 02:46] #681 closed

[2019-09-12 02:46] yaohaizh commented on #681
Fixed on 1.24.0

[2019-09-12 05:05] yaohaizh opened #783 "[FEATURE REQ]Expose keyVaultSecretId for ApplicationGatewaySslCertificate"
Java related issue: https://github.com/Azure/azure-libraries-for-java/issues/813

[2019-09-12 05:07] yaohaizh opened #784 "[FEATURE REQ] Update AKS to use the latest swagger spec"
Support feature:
- [ ] VMSS support: https://github.com/Azure/AKS/issues/945#issuecomment-523220680

[2019-09-12 07:19] weidongxu-microsoft commented on #740
@WhitWaldo Would you delibrate more about your use case?

Load balancer with inbound-nat-pool is used with virtual mathine scale set (VMSS), with auto generated nat-rule keeping track of scaling of the VMSS.

On contrary, load balancer with inbound-nat-rule is used with usual virtual machine (or a set of usual virtual machines).

Top of that, the backend pool is configured quite differently for th

[2019-09-12 14:08] oldnavy1989 opened #786 "[BUG] Property DestinationAddressPrefixes in NetworkSecurityRuleImpl class returns source prefixes instead of destination ones"
**Describe the bug**
Property DestinationAddressPrefixes in NetworkSecurityRuleImpl class returns source prefixes instead of destination ones.
https://github.com/Azure/azure-libraries-for-net/blob/df9f29daa4116fd7e5c403635c8634d5d4b4ea4a/src/ResourceManagement/Network/NetworkSecurityRuleImpl.cs#L96

**Expected behavior**
Expected to get destination address prefixes

[2019-09-13 19:01] rybkov commented on #646
Related issue, if domain is not setup in DNS, same hanging experience.

Errors in the Output while Debugging

`Exception thrown: 'Microsoft.Rest.TransientFaultHandling.HttpRequestWithStatusException' in Microsoft.Rest.ClientRuntime.dll
Exception thrown: 'Microsoft.Rest.TransientFaultHandling.HttpRequestWithStatusException' in System.Private.CoreLib.dll
Exception thrown: 'Microsoft.Azure.Management

[2019-09-15 20:12] qub1n opened #787 "Add CloudStorageAccount GetAccountProperties"
**Is your feature request related to a problem? Please describe.**

GetAccountProperties method of CloudStorageAccount is missing in azure-libraries-for-net (using Microsoft.WindowsAzure.Storage.Blob), but it is included and working in the nuget Microsoft.Azure.Storage.Blob.

**Describe the solution you'd like**
Add this method as well.

I would like to have the same working code like bellow:

usi

[2019-09-15 20:18] qub1n opened #788 "Get region of CloudStorageAccount"
**Is your feature request related to a problem? Please describe.**
I would like to get Region from CloudStorageAccount created from SAS link.

I would like to warn user that some network feed might applied if this storage is in the different region then a client. But there is no API for it.

**Describe the solution you'd like**
Discuss with Azure team and add a region property to the REST API firs

[2019-09-16 01:43] WhitWaldo commented on #740
@weidongxu-microsoft
Essentially, I was looking to avoid using an ARM template to set up the same and instead attempting to use the .NET management library.

In this case, I would have created the networking first (per the above code) prior to creating the VMSS since the latter would have a dependency on the former, thus the stand-alone portions.

While I'm no longer exposing this port externally

[2019-09-16 01:50] weidongxu-microsoft commented on #740
@WhitWaldo
Got your point. So your goal is to create load balancer over VMSS via .NET management library. We will find a solution and put to sample (if the solution is not intuitive), and optionally adjust API to make it more apparent.

[2019-09-16 06:56] weidongxu-microsoft opened #790 "[FEATURE REQ] Update Monitor to the latest swagger version"
Update Monitor to the latest swagger spec

https://github.com/Azure/azure-libraries-for-java/pull/835

[2019-09-16 07:35] #733 closed

[2019-09-17 04:00] weidongxu-microsoft commented on #646
@rybkov
Yes, it is not apparent, but please use "@" for now.

The hanging is caused by error handling logic and retry logic (service reply 400 and client retry on it). It could take some time to solve (since the retry is generic logic and we need to be careful).

[2019-09-17 04:32] weidongxu-microsoft commented on #646
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/AppService/WebAppBaseImpl.cs#L678

[2019-09-17 06:42] ChenTanyi commented on #786
Will fix in 1.27.0

[2019-09-17 06:42] #786 closed

[2019-09-17 08:20] weidongxu-microsoft opened #792 "[FEATURE REQ] Add https proble for network load balander"
https://github.com/Azure/azure-libraries-for-java/issues/827

[2019-09-18 01:53] rybkov commented on #646
The bigger issue is that any error causing hanging with no way to stop it. The only workaround is to create task and the force it to stop, which is not elegant.

[2019-09-18 02:29] weidongxu-microsoft commented on #646
Yes, agree. Trying to internally figure out whether that is done with intention to circurmvent other issue unknown to me, or just stupid code bug.

[2019-09-18 03:00] yaohaizh commented on #554
@NikitHern Do you have any update on this issue? Does the issue resolved?

[2019-09-18 07:27] #792 closed

[2019-09-18 08:32] MiroslavVanicky opened #795 "Exists something like Azure Region "ID"?"
Hi,

when listing regions using Microsoft.Azure.Management.ResourceManager.Fluent.Core it provide s list of regions containing Name="**westcentralus**", DisplayName="**US West Central**".

I am reading Azure RateCard prices from JSON stream (https://docs.microsoft.com/en-us/previous-versions/azure/reference/mt219005(v=azure.100)). JSON contains info about region this way: "MeterRegion": "**US West

[2019-09-18 08:41] weidongxu-microsoft commented on #795
`Name="westcentralus"` should be fine.

In this repository, you can refer to `Microsoft.Azure.Management.ResourceManager.Fluent.Core.Region`.
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Region.cs

[2019-09-18 08:45] MiroslavVanicky commented on #795
Name="westcentralus" looks like usable region identificator. It is kind of "only yours" identificator, nothing officialy globally accepted by Microsoft?

Because RateCard data contains other region identification ("US West Central").

[2019-09-18 08:48] MiroslavVanicky opened #796 "Not all regions listed in Microsoft.Azure.Management.ResourceManager.Fluent.Core.Region"
Hi,

when looking into Microsoft.Azure.Management.ResourceManager.Fluent.Core.Region there are public fields for regions (eg, public static readonly Region USWest2 = new Region("westus2")).

Why are there some regions missing, eg Switzerland regions? (List is not beeing synchronized with current Azure regions?)

Thank You

[2019-09-18 08:48] aloneguid opened #797 "[QUERY] How to persist token cache with device flow?"
**Query/Question**
Device flow works perfectly well, however user needs to re-authenticate every time on application start. How can I add ability to persist token cache and have automatic renewals? Here is the code I use:

[code]

***Why is this not a Bug or a feature Request?***
Might exist already but not documented?

**Setup (please complete the following information if applicable):**
 - OS: Wi

[2019-09-18 09:12] weidongxu-microsoft commented on #795
It is resource region used for almost all of Azure.

However MeterRegion in billing/comerce could be different.

You might want to raise issue on doc github https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/billing/billing-usage-rate-card-overview.md

Currently this repo does not support RateCard feature.

[2019-09-18 09:17] MiroslavVanicky commented on #795
Thank You

[2019-09-18 09:17] #795 closed

[2019-09-18 10:54] yaohaizh commented on #797
@Flanker32 do you know the answer for this question? Thanks for your help~~~

[2019-09-19 06:30] Drewm3 commented on #551
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:30] #551 closed

[2019-09-19 11:05] CoenraadS opened #798 "ACI Fluent API does not support --secrets and --secrets-mount-path"
Using AZ CLI I can make ACI containers with a tmpfs mount using `--secrets` and `--secrets-mount-path`

**Describe the solution you'd like**
I would like to do the same via fluent API. Bonus if you also add `--no-wait`

[2019-09-19 14:53] ElectiveRob opened #799 "[FEATURE REQ] create service bus subscription with sessions enabled"
**Is your feature request related to a problem? Please describe.**
It is not possible to create a service bus subscription with session enabled

**Describe the solution you'd like**
The API should support service bus sessions when creating subscriptions

[2019-09-20 16:49] TimLovellSmith commented on #395
For everyone's info... We also hit TaskCanceledException all the time in Fluent SDK. It seemed to be because its HttpClient stack uses task cancellations to use timeouts - so I wrote a wrapper function for all our Fluent SDK calls so I never needed to deal with ti again.... But actually the upshot of that is that we still have to manually fix up our code every time we *forget* to use the wrapper f

[2019-09-23 04:00] xccc-msft opened #804 "[FEATURE REQ] Update batch swagger to the latest"
- [x] Java
- [x] dotNet

[2019-09-23 04:47] xccc-msft commented on #799
Hi @ElectiveRob, we will plan to implement this feature.

[2019-09-23 05:42] ChenTanyi commented on #798
Hi @CoenraadS , we have checked about this feature.

The `WithSecrets` API could be found in https://github.com/Azure/azure-libraries-for-net/blob/ab4c3de1af051d0f70093445dcac76df262184b0/src/ResourceManagement/ContainerInstance/Domain/ContainerGroup/Definition/IDefinition.cs#L998
Could you take a look whether it meets your requirement? We would implement the `WithSecretsMountPath` later.

You cou

[2019-09-23 06:14] CoenraadS commented on #798
Thanks I will check again. I don't attach volumes which is maybe why I couldn't find it. In the CLI it doesn't require a volume, it is a tmpfs ramdisk after all.

As for `CreateAsync`, it waits until the container is provisioned (which can take a long time, and it throws exception if provisioning failed), while I feel `--no-wait` doesn't do this (but can't verify its behavior)

[2019-09-23 07:55] ChenTanyi commented on #798
For `CreateAsync`, it doesn't wait for the deployment completed. You can check if it is completed whenever you want, like:
![image](https://user-images.githubusercontent.com/15213781/65409489-6e25d580-de1a-11e9-944d-d245825ef2c9.png)

Actually, since it is running in another thread, you should better not end the program before it complete. Otherwise, it may behave differently due to some deploymen

[2019-09-23 09:20] daveknowles commented on #654
Hi, Is there any update on when this is going to be fixed/supported?

[2019-09-23 15:21] yaohaizh commented on #654
@weidongxu-microsoft could you help check whether we have updated this after update swagger spec?

[2019-09-23 20:43] LTA-Thinking commented on #625
+1ing. The old version of WindowsAzure.Storage is causing a component governance issue for us as it imports an old version of Microsoft.Data.OData that has known issues. It looks like ContainerInstance, EventHub, and SQL all reference this package.

[2019-09-23 21:34] yaohaizh commented on #625
@ChenTanyi could you help take a look at this issue?

[2019-09-24 01:19] weidongxu-microsoft commented on #654
@daveknowles

We are updating monitor to latest swagger in this sprint (1.27 https://github.com/Azure/azure-libraries-for-net/pull/791). I will add some test case for MultipleResourceMultipleMetricCriteria and update you.

[2019-09-24 08:35] daveknowles commented on #654
Great stuff, thanks for the update guys!

[2019-09-24 11:44] Mi1an opened #806 "[FEATURE REQ] Unmanaged disk support"
I want to create snapshots on unmanaged disks (vhds) but thats not possible now. I would like to get possibility to create snapshot by diskUri.
I know it´s possible to create managed disk snapshots but these snapshots are problematic when you need fast promoting. Fastest promoting is snapshots on unmanaged disks.

[2019-09-24 15:07] northtyphoon opened #807 "[BUG] Unable to cancel operation, await hangs after cancellation requested"
**Describe the bug**

The following code tries to update vmss to 1 instance and cancel the operation after 15 seconds. After the cancellation requested, await hangs.

[code]

I looked at the problem. It looks the same cancellationtoken is used in the following continue task which is supposed to set the taskCompletionSource. But the cancellationtoken also cancels the continue task so taskCompletion

[2019-09-25 08:21] Mi1an commented on #634
I realized that this can be simply resolved in code and this function is no needed at all.

[2019-09-25 08:21] #634 closed

[2019-09-25 15:31] daveknowles commented on #369
Are there any updates on this?  Any chance this is getting scheduled for a release soon, or is there a work around without having to get the host from the probe?

[2019-09-26 03:41] xccc-msft commented on #804
[#805 ](https://github.com/Azure/azure-libraries-for-net/pull/805)

[2019-09-26 03:41] #804 closed

[2019-09-26 20:00] yaohaizh opened #808 "[FEATURE REQ] Update the resource swagger to the latest"

[2019-09-26 23:05] huajunzhao opened #809 "ActiveDirectoryApplications fails with .WithAvailableToOtherTenants(true)"
We want to create or update the AAD application to support the multiple tenants

When i use this api to create or update AAD application with WithAvailableToOtherTenants(true), it always give the exception with "Bad Request"

await ActiveDirectoryApplications
                .Define(name)
                .WithSignOnUrl("https://cis-aadapp-rp/" + name)
                .WithAvailableToOtherTenants(t

[2019-09-27 00:02] siriusk-MSFT commented on #806
Hi - Refer to the following doc for instructions to create snapshot for unmanaged disk (vhd): https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-snapshots

[2019-09-27 09:48] Mi1an commented on #806
Thank you for doc. Glad to hear that it is possible.

[2019-09-27 09:48] #806 closed

[2019-09-28 00:36] huajunzhao commented on #809
@loarabia,  any update?

[2019-09-28 02:05] weidongxu-microsoft commented on #809
@huajunzhao Thanks for the feedback. We will investigate in a day or two. Fix might take longer depends on the scope of the issue.

[2019-09-29 01:50] weidongxu-microsoft commented on #809
@huajunzhao
The exception hides the actual cause of the error (sorry for that, the exception handling should be improved). At present you can add logging (https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-concepts?view=azure-dotnet#logs-and-tracing) to tell the cause. Response could be something like this:
[code]

One common cause is this error "**Host name in property identifierUris

[2019-09-29 07:39] weidongxu-microsoft opened #811 "[BUG]Long running operation failed with status 'Unauthorized' error with Microsoft.Azure.Management.CosmosDB.Fluent"
Create a CosmosDB account. But after creation complete successfully, next request of getting account detail suddenly try to access management.documents.azure.com:450 uri, and hence failed.

[code]

Happen on .NET Framework.

https://github.com/dotnet/corefx/issues/41339

For CosmosDB, ignore "Content-Location" redirection on PUT/PATCH/DELETE.

[2019-09-29 07:46] xccc-msft commented on #799
Hi @ElectiveRob you should be able to create service bus subscription with sessions enabled via current .net SDK. We have implemented APIs as _WithSession()/WithoutSession()_ for service bus subscription creation.

If you want to enable session during creation:
`var subscription = topic.Subscriptions
                         .Define(subscriptionName)
                         .WithSession()

[2019-09-30 00:53] yaohaizh commented on #815
@robeving plan on Sprint 160, let me know if you need quick support for this case.

[2019-09-30 01:42] yaohaizh commented on #799
The issue is already supported. Let us know if you have further question regarding service bugs. Thanks.

[2019-09-30 01:42] #799 closed

[2019-09-30 02:46] yaohaizh opened #816 "[FEATURE REQ]Add hyper-V generation for disk"

[2019-09-30 05:29] #784 closed

[2019-09-30 06:02] yaohaizh opened #817 "[FEATURE REQ] Deprecate batch component"
- [x] Remove source
- [x] Remove from the nuget
- [x] Remove docs
- [x] Remove sample codes
- [x] Deprecate sample github

[2019-09-30 06:20] weidongxu-microsoft commented on #807
Fixed in 1.27. To be released on Oct. 11th.

[2019-09-30 06:20] #807 closed

[2019-09-30 06:31] weidongxu-microsoft commented on #466
Fixed in 1.27. To be released on Oct. 11th.

Interface:
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/AppService/Domain/IWebApps.cs

Sample code
`appServiceManager.WebApps.DeleteById(webApp2.Id, null, false);`

[2019-09-30 06:31] #466 closed

[2019-09-30 07:19] xccc-msft commented on #740
Hi @WhitWaldo could you please share more details with exception logs for analyzing this issue? Thanks.

[2019-10-01 21:55] Dalubash commented on #773
@selvasingh Routing to the owner for this SDK.

[2019-10-02 09:29] liben-y commented on #511
I had the same issue from a GMT timezone. Changing to Universal time fixed the issue for me too, but not before I captured the call in Fiddler and made my own httpCall and converted the response json before finding this post.

I think the simplest solution to this would be for client sdk implementation to always convert to ToUniversaltime().

This way it'll work most of the time, specifically when

[2019-10-03 01:46] weidongxu-microsoft commented on #773
@PerninManon Thanks for the feedback. We are updating monitor lib in this sprint for 1.27. I will try to cover this issue as well.

[2019-10-03 08:28] aloneguid commented on #797
Hey people, just checking if you got any update or hint? That's blocking my customer.

[2019-10-03 09:22] hristokgj opened #818 "[QUERY] Deploying ACI with GPU resources"
**Query/Question**
Is it possible to create an azure container instance with [GPU ](https://docs.microsoft.com/nl-nl/azure/container-instances/container-instances-gpu)resources using the `Microsoft.Azure.Management.ContainerInstance` library?

***Why is this not a Bug or a feature Request?***
I am not sure if it is possible to do it with `Microsoft.Azure.Management.Fluent v1.26.1` libraries and I

[2019-10-07 06:19] yaohaizh commented on #797
@xccc-msft  could you help follow up this issue? And check the issue with @Flanker32 ? Thanks.

[2019-10-07 06:33] yaohaizh commented on #511
@weidongxu-microsoft could you help take a look at this issue?

[2019-10-08 05:55] ChenTanyi commented on #625
@SaltyDH I've tested for latest Microsoft.Azure.Storage.File(v11.1.0) and Microsoft.Azure.Management.Fluent (v1.26.0), and it works. Maybe Storage File has been fixed.

We will discuss to update the dependencies.

[2019-10-08 06:18] SaltyDH commented on #625
Thanks @ChenTanyi.

I can see a commit from 7 months ago for v10 which changed the namespaces on these classes so I suspect the issue is resolved. I haven't specifically tested these packages together because we ended up changing our solution structure to work around this problem rather than wait.

[2019-10-08 06:18] #625 closed

[2019-10-08 10:01] AlexeyEvlampiev opened #822 "[BUG] Deployment Outputs object is not set on deployments created with Fluent API."
**Description**
Deployment Outputs object is not set on deployments created with Fluent API.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an ARM template producing some basic outputs, e.g.
`{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "resources": [],
  "outputs": {
    "result": { "type": "string

[2019-10-08 10:08] ChenTanyi commented on #818
@hristokgj
here is an example for create with gpu resource (you need to set some string or int by yourself)
[code]

[2019-10-08 10:52] #818 closed

[2019-10-08 12:36] Johan-Lindvall-Stratsys opened #824 "[BUG] System.NullReferenceException in Microsoft.Azure.Management.ResourceManager.Fluent.Authentication.AzureCredentials.ProcessHttpRequestAsync"
**Describe the bug**
We are sometimes seeing a NullReferenceException in Microsoft.Azure.Management.ResourceManager.Fluent.Authentication.AzureCredentials.ProcessHttpRequestAsync

***Exception or Stack Trace***
[code]

**Setup (please complete the following information):**
 - Version of the Library used: 1.26.1

**Additional context**
A suggested fix is in https://github.com/Azure/azure-libraries-

[2019-10-10 02:56] #790 closed

[2019-10-10 03:00] weidongxu-microsoft commented on #654
Support in 1.27 (Oct. 11)

Sample code
https://github.com/Azure/azure-libraries-for-net/blob/master/Tests/Fluent.Tests/Monitor/MonitorTests.cs#L614 (`WithMultipleTargetResources`)

[2019-10-10 03:00] #654 closed

[2019-10-10 03:03] #811 closed

[2019-10-11 01:44] #783 closed

[2019-10-11 01:47] alex-frankel commented on #822
Hi Alexey,

I'm working on finding the team that manages this particular set of APIs to get more details on the fix we need to make. We manage the core .NET SDK, but not the Fluent APIs. Hoping to have an update to you tomorrow or Monday. Thanks in advance for your patience!

Alex

[2019-10-11 01:54] #773 closed

[2019-10-11 01:56] weidongxu-microsoft commented on #773
support in 1.27 (Oct. 11th)

[2019-10-11 04:30] #816 closed

[2019-10-11 05:55] yaohaizh commented on #822
@AlexeyEvlampiev this is an issue of fluent SDK.

For now, you can query the object via
[code]
to populate the result.

[2019-10-11 06:16] yaohaizh commented on #822
Fix: https://github.com/Azure/azure-libraries-for-net/pull/830

[2019-10-11 06:42] yaohaizh commented on #549
@samkreter https://github.com/Azure/azure-libraries-for-net/pull/714 blocked by service issue.

[2019-10-11 07:43] AlexeyEvlampiev commented on #822
Thanks, @yaohaizh. The outputs object is indeed populated this way.

[2019-10-11 14:29] yaohaizh commented on #547
Could you investigate whether we have support this feature?

[2019-10-12 02:45] yaohaizh commented on #545
@ChenTanyi please take a look at this issue, whether it is a bug?

[2019-10-12 03:17] yaohaizh commented on #538
@ChenTanyi, when you implement the feature of NoAAD, please investigate this issue for your convenient.

Thanks.

[2019-10-12 03:29] yaohaizh commented on #536
This is the right behavior for the argument. You can find the https://github.com/Azure/azure-rest-api-specs/blob/09b8b6fbcb865ac6e3b6f6712d05cc99d02d8517/specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json#L4090

[2019-10-12 03:29] #536 closed

[2019-10-12 05:51] yaohaizh commented on #523
This should be service portal side issue. The fluent SDK works correctly in this scenario.

[2019-10-12 05:53] yaohaizh commented on #518
@weidongxu-microsoft  please take a look at this issue after the traffic manager is updated.

[2019-10-12 05:58] yaohaizh commented on #517
@weidongxu-microsoft , @xccc-msft , please confirm this issue and enhance our example for this scenario if possible. Thanks.

[2019-10-12 06:00] yaohaizh commented on #512
Close as the sample is correctly showing up now.

[2019-10-12 06:00] #512 closed

[2019-10-12 06:08] yaohaizh commented on #509
This should be runtime issue but not fluent lib issue. Please make sure the fluent lib and runtime match.

[2019-10-12 06:08] #509 closed

[2019-10-12 06:09] yaohaizh commented on #508
Fixed as we exposed function envelope.

[2019-10-12 06:09] #508 closed

[2019-10-12 06:11] yaohaizh commented on #527
Close this as fixed.

[2019-10-12 06:11] #527 closed

[2019-10-12 06:13] yaohaizh commented on #507
@jbpoulsen is this still existing issues?

[2019-10-12 06:17] yaohaizh commented on #494
@JadedATB does this issue still existing with the latest version(1.27.0)?

[2019-10-12 06:23] yaohaizh commented on #488
Close this issue as the problem has been addressed.

[2019-10-12 06:33] yaohaizh commented on #487
Close this as duplicate with

https://github.com/Azure/azure-libraries-for-net/issues/486
--

[2019-10-12 06:33] yaohaizh commented on #486
@xccc-msft please fix this on the sample code generation.

[2019-10-12 06:35] yaohaizh commented on #480
Close this as the user uses alternative. @alesandrino feel free to reopen this if you meet any issue using fluent SDK. Thanks.

[2019-10-12 06:35] #480 closed

[2019-10-12 06:43] yaohaizh commented on #461
Not planned on the management plane. @selvasingh, feel free to open this issue if you think it is necessary to support cognitive services.

[2019-10-12 06:43] #461 closed

[2019-10-12 06:56] yaohaizh commented on #45
@xccc-smft, @ChenTanyi , do you know whether we fix this issue recently?

[2019-10-12 07:01] yaohaizh commented on #47
Close this as duplicate with https://github.com/Azure/azure-libraries-for-net/issues/642

[2019-10-12 09:28] yaohaizh commented on #53
The compute API version has been updated.

[2019-10-12 09:28] #53 closed

[2019-10-13 05:25] yaohaizh commented on #109
@xccc-msft, we have already support the CLI authentication.
- Please provide example for how to using CLI authentication in our sample project.
- Investigate whether we support the Powershell authentication.

[2019-10-13 06:28] yaohaizh commented on #110
As this is a document side issue. Move the swagger repo for more information.

[2019-10-13 06:31] yaohaizh commented on #111
@xccc-msft, please take a look at this issue and follow up with @weidongxu-microsoft for his previous work on support https.

[2019-10-13 08:23] yaohaizh commented on #181
Could log issues for common Azure service issue here: https://github.com/Azure/azure-rest-api-specs

Close this as it not updated recent. @kierenj, feel free to open this issue if you think the issue is still relevant.

[2019-10-13 08:23] #181 closed

[2019-10-13 08:24] yaohaizh commented on #204
Close this issue as fluent SDK using this naming convention for deleting.

[2019-10-13 08:24] #204 closed

[2019-10-13 08:26] yaohaizh commented on #206
This is design behavior of fluent SDK.

But the credential is thread safe as most of people concerns: https://github.com/Azure/azure-libraries-for-net/commit/5967f65695850087b0ffcff9c8a5677c94fa256c

[2019-10-13 08:38] yaohaizh commented on #254
Close this as the connection is not available on subscription side.

[2019-10-13 08:38] #254 closed

[2019-10-13 08:41] yaohaizh commented on #291
Duplicate with https://github.com/Azure/azure-libraries-for-net/issues/687

--

[2019-10-13 08:41] #291 closed

[2019-10-13 08:43] yaohaizh commented on #590
Duplicate with
https://github.com/Azure/azure-libraries-for-net/issues/687 for service fabric support.

[2019-10-13 08:43] #590 closed

[2019-10-13 09:10] yaohaizh commented on #315
Close this as fixed.

[2019-10-13 09:10] #315 closed

[2019-10-13 10:33] yaohaizh commented on #328
No activity and the issue replied in the original thread. Close the issue now.

[2019-10-13 10:33] #328 closed

[2019-10-13 10:40] yaohaizh commented on #336
Close this issue as supported

[2019-10-13 10:40] #336 closed

[2019-10-13 10:52] yaohaizh commented on #365
Close this one as the version has been updated.

[2019-10-13 10:52] #365 closed

[2019-10-13 11:00] yaohaizh commented on #425
Mostly like a client coding defict.

[2019-10-13 11:00] #425 closed

[2019-10-14 03:21] #822 closed

[2019-10-14 10:25] vinothrao opened #835 "ExportTo sqldb as bacpac to Storage stuck for longtime"
**Describe the bug**
 I tried to use the ExportTo functionality to export the database as bacpac file to azure storage in Azure functions. But the function is stuck and after some time  resulted in an exception Microsoft.Rest.Azure.CloudException: 'Long running operation failed with status 'BadRequest'.'

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Repro

[2019-10-14 21:00] nachakra commented on #710
We do support enabling https through REST API -https://docs.microsoft.com/en-us/rest/api/cdn/customdomains/enablecustomhttps

We also support using CDN managed certificates for SSL using powershell/CLI. We should have the 'Bring your own certificate' support added to powershell/CLI by end of this month too.

[2019-10-15 03:16] weidongxu-microsoft commented on #46
Address concurrency first.

Memory leak is certainly possible, if incorrectly used. But the whole ENUM classes inherit from ExpandableStringEnum got same problem.

[2019-10-15 05:46] xccc-msft commented on #817
[remove docs in samples.json](https://github.com/Azure/azure-libraries-for-net/pull/837)

[2019-10-15 05:56] weidongxu-microsoft commented on #265
@johnbirdau

This should be sovled with https://github.com/Azure/azure-libraries-for-net/issues/485

After 1.26, WEBSITE_CONTENTSHARE and WEBSITE_CONTENTSHARE will no longer be populated for app service plans (Basic, Standard, Premium).

AzureWebJobsDashboard and AzureWebJobsStorage would still be populated with connection key (but I think they would stay same as long as storage account key is not

[2019-10-15 07:28] ChenTanyi commented on #538
Hi @manish1604, I have tried with Fluent(v1.17.0) but I cannot reproduce this issue.

For the exception, it is caused by BitLocker from service side. I think it may be the service problem at the time. Since there is long time from this issue, I hope you are not in trouble with it now.

If you still have trouble about it, could you please show the whole code snippet about your VM and KeyVault?

We

[2019-10-15 07:30] yaohaizh commented on #265
Close the issue as it had been addressed.  Feel free to re-open if still exists.

[2019-10-15 07:30] #265 closed

[2019-10-15 09:41] ChenTanyi commented on #545
@kblooie You could use `**.IsCompletedSuccessfully` to poll the provisioning process as well as `.IsCanceled`, `.IsCompleted` and `.IsFaulted`

like:
[code]

[2019-10-16 00:03] carsontwilson opened #839 "[BUG] If you have a UserManagedIdentity that is null, you cannot bind SSL certificates, nor can you remove the UserManagedIdentity"
This took a few hours to figure out, so I'm hoping this can be addressed so as to save others time and suffering.

If you have a UserManagedIdentity assigned, and that UserManagedIdentity no longer exists in the Azure AD you will run into the following two problems:

**Problem One:**
When trying to execute the following code:
`
WebAppRm.Update()
                .DefineSslBinding()

[2019-10-16 03:13] apilosofms opened #840 "Clearer support for how to authenticate with User Assigned Managed Identity"
## Problem
Today I spent ages trying to get auth to work with a User Assigned Managed Identity. The problem was that I was not specifying the identity ID when creating the `MSILoginInformation`. That's fine when using a Managed Service Identity, but apparently not with a User Assigned one.

However, there's no way to know that; the API doesn't guide you in the right direction because a constructor

[2019-10-16 03:15] yaohaizh commented on #840
@apilosofms thanks for reporting this!

[2019-10-16 03:59] yaohaizh commented on #839
Please follow this issue of managed identity.

[2019-10-16 08:50] yaohaizh commented on #684
@toutougabi do you still follow this issue? Could you provide more information for us to track the issue/problem here?
1. Which lib that you are using.
2. If possible, could you provide some code samples?

[2019-10-16 14:52] yaohaizh commented on #716
@pinaki1234 , i'll close this since there is no update in the long time.

Mostly, this issue is about refer to the right libs, either fluent lib or .net management lit.

Feel free to open the issue if you have any issues.

[2019-10-16 14:52] #716 closed

[2019-10-17 02:59] weidongxu-microsoft commented on #111
@asalvo @luthus

It is already supported. Please use `WithHttpsOnly()` when create/update the web app.

[2019-10-17 02:59] #111 closed

[2019-10-17 05:15] yaohaizh commented on #740
@WhitWaldo could you provide exception details or http  REST call logs for us to diagnose?

[2019-10-17 07:32] yaohaizh commented on #684
Close this issue as it is not active for a long time. @toutougabi feel free to re-open the issue if you have any more issues.

[2019-10-17 07:32] #684 closed

[2019-10-17 20:55] Digmaster opened #842 "[BUG] ICosmosDBAccount ListKeys returns null PrimaryReadonlyMasterKey"
**Describe the bug**
When fetching keys from a CosmosDB account the readonly keys are null, the non-readonly keys are correct.

***Exception or Stack Trace***
When running the below, a NullPointerException is thrown (due to the ToSecureString method) when readOnly is true. When readOnly is false, the keys are successfully returned. The PrimaryReadonlyMasterKey is null.

            IDatabaseAccoun

[2019-10-18 04:40] weidongxu-microsoft commented on #646
Fixed in 1.27.1, to be released on Oct. 25th.

[2019-10-18 04:40] #646 closed

[2019-10-18 05:33] Johan-Lindvall-Stratsys commented on #824
Verified fixed in 1.27.0

[2019-10-18 05:33] #824 closed

[2019-10-18 18:04] WhitWaldo commented on #740
@yaohaizh Unfortunately, I don't appear to have a versioned copy of this solution and this particular piece has been substantially rewritten. The only thing I can point you to is the original ticket up there.

[2019-10-20 06:54] vinothrao commented on #835
Export as bacpac is taking long time through rest api it seems. The operation is stuck at this point  async Task<AzureOperationResponse<TBody, THeader>> GetPostOrDeleteOperationResultAsync<TBody, THeader>() . When i tried with bacpac dll it takes 10 min max for an empty db to export but with this Azure client it takes forever.

We have a requirement to write an Azure function for this export.The p

[2019-10-21 01:40] yaohaizh commented on #835
@ChenTanyi could you help follow with this case? Thanks.

[2019-10-21 01:46] yaohaizh commented on #842
@weidongxu-microsoft  could you take a look at this issue?

[2019-10-21 01:47] yaohaizh commented on #815
Close this issue as it had been fixed.

[2019-10-21 02:33] weidongxu-microsoft commented on #796
Fixed in 1.27.1, to be released on Oct. 25th.

[2019-10-21 02:33] #796 closed

[2019-10-21 04:08] cao934 opened #846 "[FEATURE REQ] Support low-priority VMs in fluent APIs"
**Is your feature request related to a problem? Please describe.**
Yes, Azure announced the availability of low-priority VMs a while ago. Looks like it is also available in swagger specification of Azure SDK, and azure CLI (az vm create, or az vmss create). This is the property in Model/VirtualMachine.cs:

        /// <summary>
        /// Gets or sets specifies the priority for the virtual machin

[2019-10-21 04:18] yaohaizh commented on #846
@cao934 This has already been supported https://github.com/Azure/azure-libraries-for-java/blob/133ce466c9c5e4c60332fc1d8e557ea3c3b4e827/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/VirtualMachine.java#L1657

Please let us know if you have any additional requirements besides the provided API. Thank.

[2019-10-21 04:21] cao934 opened #847 "[FEATURE REQ]Support ephemeral OS disk with azure fluent API"
**Is your feature request related to a problem? Please describe.**
Yes, Azure announced the availability of ephemeral OS disk lately (https://azure.microsoft.com/en-us/updates/azure-ephemeral-os-disk-now-generally-available/). It is already available in swagger spec.
        /// <summary>
        /// Gets or sets specifies the ephemeral Disk Settings for the
        /// operating system disk used

[2019-10-21 04:23] cao934 commented on #847
The DiffDiskSettings is in Microsoft.Compute\Models\OSDisks.cs.

[2019-10-21 04:28] weidongxu-microsoft commented on #847
It should be already supported, via `WithEphemeralOSDisk`. Sample usage could be found at https://github.com/Azure/azure-libraries-for-net/blob/master/Tests/Fluent.Tests/Compute/VirtualMachineManagedDiskOperationsTests.cs#L599

[2019-10-21 04:31] weidongxu-microsoft commented on #846
Support for VMSS is already supported via `WithLowPriorityVirtualMachine`.

Support for VM is in progress as PR https://github.com/Azure/azure-libraries-for-net/pull/845/files. It is scheduled for 1.27.1 on Oct. 25th.

There is a workaround before 1.27 as:
[code]
Line `(vmToCreate as IVirtualMachine).Inner.Priority = VirtualMachinePriorityTypes.Low;`.

[2019-10-21 04:49] cao934 commented on #847
What is the version that has this support? I have 1.27 installed, but don't see this api.

[2019-10-21 04:54] yaohaizh commented on #847
https://github.com/Azure/azure-libraries-for-net/pull/827. PR was merged, also targeting 1.27.1

[2019-10-21 04:56] weidongxu-microsoft commented on #847
@cao934 Sorry I mistaken the code merged after 1.27 as released.

[2019-10-21 06:57] Brhav opened #848 "[BUG] Creating container fails when using .WithGpuResource"
**Describe the bug**
When trying to create a container using ".WithGpuResource(1, GpuSku.K80)", it fails and throws the exception:
"The request content was invalid and could not be deserialized: 'Unexpected token StartObject when parsing enum. Path 'properties.containers[0].properties.resources.requests.gpu.sku', line 14, position 25.'."
It does work when I leave this one line out of my code.

***

[2019-10-21 20:12] carsontwilson opened #850 "[BUG] WithPfxCertificateToUpload doesn't appear to actually upload, WithExistingCertificate doesn't work outside of the initial ResourceGroup"
Imagine you have two resource groups, Group A and Group B and within those groups are various app services.

If you upload a new private PFX to group A, and then try to apply that same PFX to group B using the thumbprint _or_  cert name you will get a null reference exception.

This is NOT a restriction if you use the portal. If you go to the app service in Group B in the Portal, and try to apply

[2019-10-21 20:50] carsontwilson commented on #850
Additionally, if you look at the PFX itself by opening it from the PFX tab on the TLS/SSL Settings page it shows the same cert, with the same ID, in the same resource as the one uploaded in Group A, even though I am forced to upload it again in Group B.

That suggests it's not really using the uploaded certificate, but still the certificate uploaded in the original group as one would except from t

[2019-10-21 20:59] carsontwilson commented on #850
I think I can just about confirm it's not really uploading anything. I did another test on a separate subscription.

If you try the following:

`WebAppRm.Update()
                .DefineSslBinding()
                    .ForHostname(hostName)
                    .WithPfxCertificateToUpload(ceritificatePath, certificatePassword)
                    .WithSniBasedSsl()
                    .Attach()

[2019-10-21 21:32] carsontwilson commented on #850
Looks like there's on more thing - if you do the upload as in #1 in the previous remark, and then you try to reference it in another region it will not work. This is true for both Portal and PowerShell.

You must manually upload it, through the Portal, in each region and then you'll be able to proceed as above.

So, to be clear, you cannot use WithPfxCertificateToUpload to upload certs... anywhere

[2019-10-22 00:27] cao934 commented on #847
No problem. We can use the workaround for now, and move to the new API once it is available. Thanks!

[2019-10-22 00:28] cao934 commented on #846
Thanks for the workaround provided! We can used it for now, and move to the new API once released.

[2019-10-22 02:40] weidongxu-microsoft commented on #850
@carsontwilson

As WithPfxCertificateToUpload, we have a sample here, which works OK (I checked right now).
https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/AppService/ManageWebAppWithDomainSsl.cs

I will check WithExistingCertificate a bit later.

[2019-10-22 02:53] carsontwilson commented on #850
Hmmm - well we have 5 subscriptions representing different production and non production environments and the behaviour was the same for each sub. I had to update certs for nearly 300 sites today so there were many opportunities to reproduce it.

One difference between your example and mine is you’re using and azure purchased domain where I am not. I’m not sure if that’s relevant but it definitely

[2019-10-22 04:50] weidongxu-microsoft commented on #850
@carsontwilson

My guess is it might more about the PFX then the azure domain / 3rd party domain.

I am trying to reproduce. A few questions:

1. What is your SDK version?
2. And does it have anything special about the certificate?

[2019-10-22 05:26] ChenTanyi commented on #371
@martincostello @umnex @gerwim Is there still problem? I have tested it successfully in new SSL, updating SSL and self-signed SSL (all from LetsEncrypt).

Maybe the service side has fixed this bug. If there is still problem, feel free to reopen it.

Thanks.

[2019-10-22 05:26] #371 closed

[2019-10-22 05:32] #737 closed

[2019-10-22 07:10] ChenTanyi commented on #850
@carsontwilson

Is it possible for you to test it with an azure purchased domain? (I think this can just use less than $0.01) Or I could provide a domain and SSL certificate for you to test.

I have tested the function app in two different resource group with same SSL certificate (from LetsEncrypt) and it works. I cannot reproduce it. Does it appear randomly?

[code]

[2019-10-22 10:09] ChenTanyi commented on #839
@carsontwilson I can reproduce your problem one, but cannot reproduce your problem two.

We will discuss about fixing problem one.

If you still have problem about problem two, could you give more specific operation about it? Such as the whole code with SDK version, a gif or so on.
Thanks.

Here is my code for problem two, which work fine in latest SDK(1.27.0)
[code]

[2019-10-22 13:24] xenalite opened #852 "[BUG] ListFunctionKeys - authentication failure"
**Describe the bug**
401 Unauthorized response code when calling ListFunctionKeys

***Exception or Stack Trace***
[code]

***Fiddler traces***
Request 1:
[code]

Response 1:
[code]

Request 2:
[code]

Response 2:
[code]

Request 3:
[code]

Response 3:
[code]

**To Reproduce**
1. Create a function app in a resource group.
2. Function app supports HTTPS Only.
3. Call equivalent code snippet below.
4

[2019-10-22 15:47] yaohaizh commented on #852
@weidongxu-microsoft please see whether we can make the fix in this release.

[2019-10-22 18:24] carsontwilson commented on #839
It will take me a little bit to get back to you this, but my SDK is one minor version behind (I'm on 1.26). I'll update to 1.27 and try from there

[2019-10-22 18:32] carsontwilson commented on #850
I'm on 1.26 right now, so I can update to 1.27. I have one more sub with no certs on it, so I can try there with 1.27 and see if it works.

For our cert, I'm not sure if it would be considered special or not, but it is a domain verified wildcard cert purchased through a major cert reseller.

Another difference is I don't have this line of code in mine: .WithManagedHostnameBindings(domain) (or this

[2019-10-23 02:31] ChenTanyi commented on #850
@carsontwilson My test succeeds to use WithThirdPartyHostnameBinding. Here is my test steps:

1. Purchase a domain on Azure: **teststar.biz** (I think azure purchased domain is the same as others. It is just used for DNS resolution)
2. Get SSL certificate from LetsEncrypt: ***.teststar.biz**
3. Create a function app using Visual Studio: **FunctionApp120191023095102** https://docs.microsoft.com/en-

[2019-10-23 02:41] carsontwilson commented on #850
Ok thanks so much for the test steps. For what it’s worth I was using an app service not a function but I would be surprised if that mattered.

You have a bit more code for the binding than I do, I wonder if that’s relevant? I will try reproducing with my (fewer) steps and then try again with your set of steps and resort back.

[2019-10-23 04:31] weidongxu-microsoft commented on #852
@xenalite In my case setting httpsOnly=false would make the HTTP kudu usable again. Anyway we will switch to HPPTS kudu endpoint for all.

[2019-10-23 06:10] ChenTanyi commented on #835
@vinothrao I cannot reproduce your problem. Does you run with any additional condition? What is your SDK version? Is your DB too large to export?

Here is my successful code: (the comment line is used for creation at first time to run)
[code]
Also, it could be combined into the following code
[code]

[2019-10-23 06:31] weidongxu-microsoft commented on #852
Fixed in 1.27.1, to be released on Oct. 25th.

[2019-10-23 07:51] xenalite commented on #852
@weidongxu-microsoft Thank you for a speedy resolution. I realized later that I changed httpsOnly=false on the wrong function app.

[2019-10-23 08:35] weidongxu-microsoft commented on #842
@Digmaster

Issue acknowledged. Cause appears to be deserialization in base class.

For workaround one can call
`IDatabaseAccountListReadOnlyKeysResult result = account.ListReadOnlyKeys();`
to retrieve read-only keys.

[2019-10-23 18:01] Digmaster commented on #842
@weidongxu-microsoft I'm really sorry about that, turns out my commit to increment the version missed our scheduled build by a couple minutes, so we _were_ running an older version. Just tested with 1.27.0 and I can verify that the keys were successfully fetched. I'm closing the issue as it's now fixed.

[2019-10-23 18:01] #842 closed

[2019-10-24 05:03] #852 closed

[2019-10-24 05:04] yaohaizh commented on #846
Feature merged, will be released by the end of this week.

[2019-10-24 05:04] #846 closed

[2019-10-24 05:05] yaohaizh commented on #780
Feature merged, will be released by the end of this week.

[2019-10-24 05:05] #780 closed

[2019-10-24 05:06] yaohaizh commented on #538
This issue is not reproduced anymore, close it now. @manish1604 , feel free to re-open this issue if it still exists on your side.

[2019-10-24 05:06] #538 closed

[2019-10-24 05:07] yaohaizh commented on #808
Postpone sine we need more tests.

[2019-10-24 05:07] #817 closed

[2019-10-24 05:58] yaohaizh commented on #848
@ChenTanyi could you help take a look at this one?

[2019-10-24 08:05] vinothrao commented on #835
I created an empty DB from the Azure portal and tried to export. It took some 20 min to finish. I think that is the default behavior of export through REST as per this documentation : https://docs.microsoft.com/en-us/azure/sql-database/azure-sql-database-hangs-importing-exporting.

Any way we can finish the running once the request is accepted rather waiting for it to finish.

[2019-10-24 08:19] weidongxu-microsoft commented on #511
@Dalubash

Would you confirm that the `/subscriptions/{subscriptionId}/providers/microsoft.insights/eventtypes/management/values` API only support UTC time in filter?
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/activityLogs_API.json#L39

SDK would adjust based on your feedback. Thanks.

PS current API behavio

[2019-10-24 10:40] andtii commented on #547
@ChenTanyi  @yaohaizh Any progress here?

[2019-10-25 01:53] ChenTanyi commented on #547
@andtii I haven't investigated it. Maybe I'll try to investigate it next sprint.

[2019-10-25 02:05] ChenTanyi commented on #835
@vinothrao the time I export the sql created above is just 39s. Maybe it depends on the service's behavior.

Thanks for your link, and thanks for your issue. I'll close it since it may be same behavior on each platform.

[2019-10-25 02:05] #835 closed

[2019-10-25 02:28] ChenTanyi commented on #848
@Brhav will fix at 1.28.0, on Nov 15th

[2019-10-25 03:28] weidongxu-microsoft opened #856 "[BUG] UAE should use **Middle East and Africa** region"
UAE should use **Middle East and Africa** region

https://azure.microsoft.com/en-us/global-infrastructure/geographies/

[2019-10-25 05:21] weidongxu-microsoft opened #857 "[FEATURE REQ] update appservice to package-2019-08"
update appservice to package-2019-08

[2019-10-26 04:30] NBMladenov opened #861 "[FEATURE REQ] Ability to create metric alerts with time aggregation of count"
**Is your feature request related to a problem? Please describe.**
The current Azure Metric Alerts API is unable to create various metric alerts which only support the aggregation type *count*.

**Describe the solution you'd like**
An extension to the enum *MetricAlertRuleTimeAggregation* to support *Count*.

**Describe alternatives you've considered**
Currently we've been creating/defining alerts

[2019-10-28 02:53] xccc-msft commented on #532
@JSGund can you please provide more details on the version/the method you are using? Thanks.

[2019-10-28 06:09] #856 closed

[2019-10-28 06:53] xccc-msft commented on #367
@ChrisGibson1982 Authorization_RequestDenied means you need to add permission for your app in Azure Active Directory Graph(under supported legacy APIs). The suggestion is to add basic Read.All permission for User/Directory/Group/Domain, etc. If these cannot solve your issue, then try to upgrade to ReadWrite.All.

[2019-10-28 07:07] tomkerkhove commented on #719
Ping @yaohaizh.

@adamconnelly had a look in meantime as well and found a couple of blockers for us as well: https://github.com/tomkerkhove/promitor/issues/599#issuecomment-544174851

[2019-10-28 07:08] yaohaizh commented on #861
@weidongxu-microsoft Please take a look at this issue. Thanks.

[2019-10-28 08:54] yaohaizh commented on #719
@tomkerkhove, would like to support here.  @xccc-msft  will work on this and see whether we can support this in this release.

Meanwhile, if you need us support more features as listed blocked, you log issues here so we can track them better and support in timely manner. Thanks.

[2019-10-28 11:03] tomkerkhove commented on #719
Awesome, thanks guys!

[2019-10-28 14:52] orpeti opened #862 "[BUG]"
Hi Rick,

My name is Or, I work at Zerto in Azure team.
I had a issue while trying to create an Azure application, which did not reproduce in every attempt.
Please find attached the http requests and responses for both the successful operation of application creation, and for the failure case.
Please notice the yellow marked lines in the http response in the failure case – we can see there that we

[2019-10-29 06:43] ChenTanyi commented on #547
@andtii the creation for virtual nodes uses the aciConnectorLinux add on, it could be written as:
[code]
we may discuss about whether we should implement it as fluent interface.

[2019-10-29 12:29] aloneguid opened #864 "[QUERY] How to access all tenants and subscriptions with a single login in Azure Management SDK"
**Query/Question**

I'm trying to use this library for authentication to Azure from a command-line application. My goal is to list all storage accounts in all tenants and all subscriptions using fluent libraries with no success.

`FromDevice` method is actually working well, if I use `common` as tenant ID:

[code]

however any call to `auth.Subscriptions.ListAsync` returns empty list of subscripti

[2019-10-29 16:38] oscarhult opened #865 "[FEATURE REQ] WebApp PossibleOutboundIpAddresses"
**Problem**
When third parties request a list of IP Addresses to white list, it would be great to be able to include `PossibleOutboundIpAddresses` in addition to `OutboundIPAddresses` to be future proof when we scale up.

**Solution**
Include `PossibleOutboundIpAddresses` in `IWebAppBase`.

**Alternatives**
Using Azure CLI/PowerShell instead, where it is available; https://docs.microsoft.com/en-us

[2019-10-29 21:40] leonjunwei opened #866 "[FEATURE REQ] Batch restart for IVirtualScaleSetVms does not exist but delete/get/update do"
Hi,

I'm using the Microsoft.Azure.Management.Fluent and Microsoft.Azure.Management.Compute.Fluent libraries to manage Virtual Machine Scalesets on Azure. I have a `IVirtualMachineScaleSet` vmss containing a bunch of Vms I want to delete, and a bunch I want to restart. For the deletions, using `vmss.VirtualMachines.DeleteInstancesAsync(List<string> instanceIds)` is an option to delete them all at

[2019-10-30 00:59] derekbekoe opened #867 "[BUG] Storage account creation missing 'FileStorage' kind"
**Describe the bug**

It is not possible to use the [Storage Fluent SDK](https://www.nuget.org/packages/Microsoft.Azure.Management.Storage.Fluent) to create a storage account of kind 'FileStorage'.

Looking at the interfaces for [Microsoft.Azure.Management.Storage.Fluent.StorageAccount.Definition](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.storage.fluent.storageaccount.

[2019-10-30 01:17] derekbekoe commented on #867
Okay so it is possible to do it with:
[code]

But not:
[code]

So this isn't a blocker.

[2019-10-30 01:59] yaohaizh commented on #867
@derekbekoe thanks for reporting this. As you w@xccc-msft, could you take a look at this to see in which milestone we can support this?

[2019-10-30 04:40] #46 closed

[2019-10-30 06:15] weidongxu-microsoft commented on #51
Service API 2018-11-01 had fixed it. I still have question with service on API 2019-08-01 version. When it is solved and we could proceed with https://github.com/Azure/azure-libraries-for-net/issues/857, and that would fix this.

[2019-10-30 08:47] xccc-msft commented on #109
We have detailed info for different approaches to authenticate through Azure CLI, which can be found via [AUTH.md](https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md). Here is an example how to use file-based authentication with service principal management,  via [AUTH sample](https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/GraphRbac/ManageServicePrincipal.cs

[2019-10-30 08:53] yaohaizh commented on #864
@xccc-msft please help with the case. Thanks.

[2019-10-30 11:26] xccc-msft commented on #56
@ajit-kolathur as this issue was created long ago, I wanted to check if you are still facing issue of adding the certificate without binding?

[2019-10-31 05:37] xccc-msft opened #871 "[FEATURE REQ] update policy swagger to latest"

[2019-10-31 05:39] #740 closed

[2019-10-31 06:34] cao934 opened #872 "[BUG] Azure batch Virtual Machine creation can be stuck sometimes"
**Describe the bug**
We are developing big data analytics solutions by spinning off clusters with azure VMs on the fly to allow customers to perform big data compute. We use fluent APIs to batch create VMs, e.g.
    var vmCreatableList = new List<ICreatable<IVirtualMachine>>();
    var vms = await azure.Client.VirtualMachines.CreateAsync(vmCreatableList, cancellationToken);
Sometimes, the above ca

[2019-10-31 06:35] xccc-msft commented on #867
@derekbekoe we will plan to support this with current/next sprint. I will update once we release it in new version. Thanks.

[2019-11-01 02:36] #808 closed

[2019-11-01 02:44] xccc-msft commented on #532
@TimLovellSmith are you still facing issue related 'TaskCanceledException'?

[2019-11-01 05:06] TimLovellSmith commented on #532
Yes, sort of. We have a ridiculous-looking workaround. We catch the exception - and then we check if we really tried to cancel the token that we passed to the API, before allowing the exception to be treated as a true cancellation. Otherwise we assume the request just timed out.

[2019-11-01 10:31] aloneguid commented on #797
Any updates on this?

[2019-11-04 08:56] xccc-msft commented on #797
@aloneguid we will plan to support this. It will implement a persistent store for this as currently the token cache is using an in-memory store which is destroyed once the application stops. We will let you know once it is released.

[2019-11-04 09:00] #522 closed

[2019-11-04 09:04] xccc-msft commented on #864
@aloneguid for now, we will not provide any APIs to list all tenants and subscriptions as per the service side didn't expose any REST APIs like that. What we can do here is to find a way to enable silent login from device so you could avoid the frequent popups based on your workaround on this.

[2019-11-04 09:19] MiroslavVanicky opened #874 "[BUG] Region member typo: Region.GovernmnetUSIowa"
Hi,

there is a typo in region name in Microsoft.Azure.Management.ResourceManager.Fluent.Core.Region: GovernmnetUSIowa.

[2019-11-04 09:22] xccc-msft commented on #532
@TimLovellSmith could you provide more info about your app?
1. What environment your app is running on? Any components in your app bind to dynamic IPs?
2. How often does the TaskCancelException come out? And what version of SDK are you using now?
3. Does it only appear when you call list all operation?

[2019-11-04 10:12] #840 closed

[2019-11-04 10:55] xccc-msft commented on #719
@tomkerkhove Definitely we could support GetAsync method if you need that. But for api-version, that's a mandatory parameter in a [Resource Get call](https://docs.microsoft.com/en-us/rest/api/resources/resources/get). Please check if it's possible for you to get api-version from your side.

[2019-11-04 11:08] xccc-msft opened #875 "[BUG] CDN test case failed"
to remove dns CNAME mapping from existing provider, or create new mapping for this test case

[2019-11-04 12:01] yaohaizh commented on #874
@MiroslavVanicky thanks for this!

[2019-11-04 13:08] tomkerkhove commented on #719
That's a big hard because when using this approach it inherently means that we don't know the resource type and thus can't determine what API version to use. Also, that's a lot of bookkeeping to do to keep these up to date.

I'm wondering - Since we don't have to do that for the other operations, why do we have to do it for this operation?

[2019-11-05 05:38] yaohaizh commented on #862
@weidongxu-microsoft please take a look at this issue, thanks.

[2019-11-05 06:11] xccc-msft commented on #719
@tomkerkhove It should be wrong configuration from swagger side. We will try to fix this in current/next sprint. Before that, please just clarify again what features you need besides the GetAsync method. Thanks.

[2019-11-05 06:22] jjxtra commented on #763
Seeing this on Linux but not Windows with azure tables insertorreplace requests... weird...

[2019-11-06 00:23] TimLovellSmith commented on #532
Based on more experience - it seems like its something that happens pretty easily any time we do enough (e.g. hundreds) of operations in parallel.  And over time, it seemed like it happens no matter what HTTP operation we were doing or on what resource type, we have seen just about every possible combination.

We're now on a mix of versions of fluent SDKs, I haven't really been keeping track of wh

[2019-11-06 03:53] tomkerkhove commented on #719
If I can do a GetAsync based on a resource URI which gives me the tags I'm happy! It sounds like that's what you're adding so that would be good enough for us, thanks!

[2019-11-06 19:27] tlorton opened #877 "Can you add more Event Hub rules to a Shared Access Policy than one?"
**Query/Question**
After I create my Event Hub, I am applying rules. Am I able to apply, for example, and Send and a Listen rule to the same shared access policy?

The code I am trying to use seems to "overwrite" the previous rule. Is there a better way I should be doing this?

`await eventHub.Update()
   .WithNewSendRule(sendListenRuleNames)
   .WithNewListenRule(sendListenRuleNames)
   .ApplyAsy

[2019-11-07 02:23] yaohaizh commented on #877
@weidongxu-microsoft  could you help take a look at this issue?

[2019-11-07 04:57] weidongxu-microsoft commented on #861
@NBMladenov
Sorry for my late reply. I will try to fix it in this sprint (Nov. 16).

If you want to be unblocked right now, you can try to use below code snippt to create a Count type:
`MetricAlertRuleTimeAggregation count = MetricAlertRuleTimeAggregation.Parse("Count");`

[2019-11-07 07:56] weidongxu-microsoft opened #878 "[BUG] fix broken build pipeline"

[2019-11-07 08:54] weidongxu-microsoft commented on #878
Here is the story after investigation.

TLDR, some build tool is downloaded from https://raw.githubusercontent.com/Azure/azure-sdk-for-net/BuildToolsForSdk

Basically, build depends on raw.githubusercontent.com, which then depends on availability of that particular branch on Azure/azure-sdk-for-net.

Linux is simpler, URI is hardcoded in `test_on_linux.sh`

Windows is more complicated. It appears

[2019-11-07 13:32] qub1n opened #880 "[BUG] A managed disk snapshot of premium SSD disk in Germany Central cannot be found."
**Describe the bug**
A managed disk snapshot of premium SSD disk in Germany Central cannot be found.

***Exception or Stack Trace***
11/7/19 12:33:16 PM   23 (23) Error: The subscription 'xxxxxxxxxx' could not be found.
11/7/19 12:33:16 PM   23 (23) Type: Microsoft.Rest.Azure.CloudException
11/7/19 12:33:16 PM   23 (23) Stack:
11/7/19 12:33:16 PM   23 (23)    at Microsoft.Azure.Management.Compute.

[2019-11-07 17:07] tlorton opened #881 "[BUG] Event Hub Name can be longer than 50 characters"
**Describe the bug**
Event Hub Name can be longer than 50 characters

**To Reproduce**
Steps to reproduce the behavior:
Create a Resource Group, Create an Event Hub Namespace, then create an Event Hub with name longer than 50 characters.

***Code Snippet***
`eventHub = await azure.EventHubs
                    .Define("thisnameiswayyyyyyyyyyyyyyyyyyyyyyytoooooolong12345678912345678")

[2019-11-08 03:10] weidongxu-microsoft commented on #861
Fixed in 1.28, to be released on Nov. 16.

[2019-11-08 03:10] #861 closed

[2019-11-08 05:17] weidongxu-microsoft commented on #511
Fixed in 1.28, to be release on Nov. 15.

Basically SDK would to ToUniversaltime(). DateTimeKind.Unspecified would go through default ToUniversaltime() behaviour.

[2019-11-08 05:17] #511 closed

[2019-11-08 06:04] #874 closed

[2019-11-08 18:33] tlorton commented on #877
I posted on SO as well. And there is currently ongoing discussion.
https://stackoverflow.com/questions/58737137/can-you-add-more-event-hub-rules-to-a-shared-access-policy-than-one

As it states, I originally tried applying AccessRights.Listen and AccessRights.Manage to the same Access Policy, and it failed with the error you will see in the post. And then I tried ONLY AccessRights.Listen and it se

[2019-11-11 05:03] yaohaizh commented on #545
Close this as no more input for the case. @kblooie feel free to re-open if the issue still persists on your side. Thanks.

[2019-11-11 05:03] #545 closed

[2019-11-12 07:03] xccc-msft commented on #532
@TimLovellSmith In your case, it's more like timeout issue, please refer this link for [a ongoing discussion about TaskCanceledException](https://github.com/dotnet/corefx/issues/20296) if it helps

[2019-11-13 06:59] xccc-msft commented on #367
@tomkerkhove You can check above info and follow the steps if you still face this issue.

[2019-11-13 07:50] xccc-msft commented on #460
@bloudraak @jmahosky As this issue was posted long ago, I'm not sure if you are still facing this issue. I'm able to do that with below code
[code]
The `GetByName` method in latest version could help on this. Please feel free to upgrade your SDK version if it is not there in the one you are using.

[2019-11-13 08:05] xccc-msft commented on #534
@TimLovellSmith As this was posted long ago, I wanted to check if you are still facing this issue with our  latest/recent version? If so, please provide more info and steps to reproduce. Thanks.

[2019-11-13 08:30] xccc-msft opened #889 "[FEATURE REQ] update ServiceBus swagger to latest"

[2019-11-13 08:49] xccc-msft opened #890 "[FEATURE REQ] support to set key value when regenerate keys in EventHub"
[REST API](https://docs.microsoft.com/en-us/rest/api/eventhub/eventhubs/regeneratekeys#request-body)

[2019-11-13 08:59] #848 closed

[2019-11-13 09:32] xccc-msft commented on #881
@v-ajnava can you please help verify if [eventhub swagger](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01/EventHub.json#L2984) needs update for event hub name.

[2019-11-13 13:37] tomkerkhove commented on #367
I'm no longer working on this so I can't try it, sorry!

[2019-11-13 13:41] yaohaizh commented on #880
Thanks for report this issue. We will look into the issue.

[2019-11-13 17:46] tlorton commented on #877
Any help on this?

[2019-11-14 03:04] xccc-msft commented on #367
@ChrisGibson1982 As no update from your side, I will close this for now. Feel free to reopen if this persists on your end.

[2019-11-14 03:04] #367 closed

[2019-11-14 03:26] xccc-msft commented on #877
@tlorton For your concern about AccessRights.Manage, please refer [shared-access-authorization-policies](https://docs.microsoft.com/en-us/azure/event-hubs/authorize-access-shared-access-signature#shared-access-authorization-policies). When you try to apply Manage rule there, you need to put all of Send, Listen, Manage inside. Thanks.

[2019-11-14 14:49] MariuszKogut opened #891 "EventHubs.Define does not create all rules"
**Describe the bug**
I'm using EventHub.Define to create a new EventHub with both SendRule and ListenRule. After creating the hub I'm using eventHub.ListAuthorizationRulesAsync to get all rules. Since Monday eventHub.ListAuthorizationRulesAsync does not return the correct count of Rules. Even a retry strategy using Polly does not fix that problem.

***Exception or Stack Trace***
There is no except

[2019-11-14 18:11] jonstelly opened #892 "Accessing ProximityPlacementGroup throws NullReferenceException"
**Describe the bug**
ProximityPlacementGroup() calls throw NullReferenceException for Resources without PPGs

***Exception or Stack Trace***

[code]

**To Reproduce**
Access the ProximityPlacementGroup property on IAvailabiltySet, IVirtualMachine, IVirtualMachineScaleSet

***Code Snippet***
[code]

**Expected behavior**
For the ProximityPlacementGroup property to return null instead of throwing an

[2019-11-15 06:06] xccc-msft commented on #532
@TimLovellSmith As this issue persists on your side, could you please provide more detailed logs so we could know what happened inside during the operations running. Thanks.

[2019-11-15 15:56] georgii-veeam opened #895 "[BUG] Unable to deserialize the response / Error converting value "Standard_GZRS" to type 'Microsoft.Azure.Management.Storage.Fluent.Models.SkuName'. Path 'sku.name' /Error converting value "Standard_RAGZRS" to type 'Microsoft.Azure.Management.Storage.Fluent.Models.SkuName'. Path 'sku.name'"
**Describe the bug**
Failed to request storage accounts by `resourceId` or all, if they have been created with replication `Read-access geo-zone-redundant storage (RA-GZRS)` or `Geo-zone-redundant storage (GZRS)`

***Exception or Stack Trace***
[code]
**To Reproduce**
Storage accounts were created in region `(US) East US` with the specified replications and requested via any Fluent API

***Code Sn

[2019-11-15 17:25] TimLovellSmith commented on #534
@xccc-msft We didn't update to a more recent version yet. Do you think this was fixed by any PR? I'm not even sure if you'd consider it fixable... I forgot to include the repro code. Based on commit history, looks like it was probably this:

[code]

[2019-11-15 17:28] TimLovellSmith commented on #534
Actually the way I understand the issue now, it is more of a 'pit-of-failure' design issue of the API. I don't think you should provide a .Keys property which actually works by calling an asynchronous API synchronously. The guideline I would give you is that properties shouldn't do long-running asynchronous work - unless they are Task typed, because usually nobody expects a Property read to block

[2019-11-15 17:58] qub1n commented on #895
I see two issues:

1. new enum values are missing
2. Storage Account SKU need to be ExpandableStringEnum instead of enum.

[2019-11-15 19:26] TimLovellSmith commented on #532
I think you are right that this is caused by the behavior of HttpClient. I would suggest you do one of two things:

1. Close as won't fix, please get them to fix HttpClient instead, or:
1. Use the workaround of checking for actual token cancellation into Fluent SDK, so that people can get a more natural experience like TimeoutException from Fluent SDK, and not have to face this confusing behavior

[2019-11-16 09:42] qub1n commented on #532
I agree with @TimLovellSmith.

I need to distinguis if call was Cancelled or TimeOut because:
1. I  write the app logs messages precisely. It means exactly specified what happened (action was cancelled or action was timeout)
2. If user cancel the action in UI, I don't want to show messageBox that it was cancelled. On the other way if action executed by user and timeouted, I need to tell the user t

[2019-11-18 03:03] xccc-msft commented on #56
As no response, and we could be able to add certificate with existing web app via latest SDK, close this for now. Please feel free to reopen if any issue persist.

[2019-11-18 03:03] #56 closed

[2019-11-18 03:04] xccc-msft commented on #109
Close this as released this feature in Fluent SDK 1.28.0

[2019-11-18 03:04] #109 closed

[2019-11-18 03:05] xccc-msft commented on #460
Close this as `GetName` works in this case. Please feel free to reopen if any issue persist.

[2019-11-18 03:05] #460 closed

[2019-11-18 03:06] yaohaizh commented on #895
@xccc-msft could you take a look to see whether we can this quickly? Thanks.

[2019-11-18 03:08] yaohaizh commented on #892
@ChenTanyi , could you help take a look at this issue to see whether we can fix this quickly? Thanks.

[2019-11-18 03:08] xccc-msft commented on #517
Close this as [example using proxy in authentication](https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md#using-proxy-in-authentication) got added in release version 1.28.0

[2019-11-18 03:08] #517 closed

[2019-11-18 03:15] xccc-msft commented on #867
Close this as it got supported in release 1.28.0

[2019-11-18 03:15] #867 closed

[2019-11-18 03:18] xccc-msft commented on #871
Close this as it got updated in release 1.28.0

[2019-11-18 03:18] #871 closed

[2019-11-18 03:19] yaohaizh commented on #891
@weidongxu-microsoft could you help take a look at this one? Thanks.

[2019-11-18 04:50] weidongxu-microsoft commented on #891
@MariuszKogut It appears to be intermittent. A possible cause under investigation is concurrent call to create SendRule and ListenRule in parellel. Service might not like this.

Before this issue got triaged and fixed, separate SendRule and ListenRule should help:
[code]

[2019-11-18 05:09] ChenTanyi opened #896 "[FEATURE REQ] Update CosmosDB with the latest swagger version"
related: https://github.com/Azure/azure-libraries-for-java/issues/880

[2019-11-18 05:11] yaohaizh commented on #847
Close it as this is supported.

[2019-11-18 05:11] #847 closed

[2019-11-18 05:24] weidongxu-microsoft commented on #891
@jfggdl
Hello Javier. Could you help confirm whether event hub support concurrency on these REST API calls?
[code]
It is called with same {resourceGroupName}, same {namespaceName}, and same {authorizationRuleName} (basically a same event hub), with different payload (e.g. "rights":"Listen", and "rights":"Send").

Related [spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specificatio

[2019-11-18 06:28] MariuszKogut commented on #891
@weidongxu-microsoft

I can confirm that this fixes my problem at the moment.  Thank you very much for your support.

[2019-11-18 19:25] yaohaizh commented on #739
These issues were fixed.

[2019-11-18 19:25] #739 closed

[2019-11-18 21:44] danports commented on #517
@xccc-msft Great, thank you!

[2019-11-19 01:37] ChenTanyi commented on #839
@carsontwilson it seems you don't meet the bugs again? I'll close the issue, feel free to reopen it if you still meet it.

[2019-11-19 01:37] #839 closed

[2019-11-19 03:25] #878 closed

[2019-11-20 01:14] cao934 opened #898 "[BUG] LoadBalancer does not allow backend to be configured."
**Describe the bug**
ILoadBalancer does not allow backend to be updated.

***Exception or Stack Trace***
NA

**To Reproduce**
var lb = azure31.LoadBalancers.GetById(
                "/subscriptions/cbd70ea3-bd35-40cf-84dc-c59d65bd3c18/resourceGroups/xcrg1/providers/Microsoft.Network/loadBalancers/xclb4");
            lb.Update()
                .UpdateBackend("backend1")
                .
There is

[2019-11-20 01:19] cao934 opened #899 "[FEATURE REQ] Support Private DNS Zone in fluent API"
**Is your feature request related to a problem? Please describe.**
Private DNS Zone is available in powershell, CLI and Portal. We need fluent api support to do this programmatically.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2019-11-20 01:21] cao934 opened #900 "[FEATURE REQ]Private Link support in fluent API"
Support fluent API:

[2019-11-20 16:38] tlorton commented on #877
@xccc-msft Thank you for your help. It works as expected now.

[2019-11-20 16:38] #877 closed

[2019-11-21 04:34] weidongxu-microsoft commented on #898
Should be .NET SDK bug.

[2019-11-21 08:56] yaohaizh commented on #898
@weidongxu-microsoft  could you help be more specific about your investigation? Thanks.

[2019-11-21 20:25] tlorton opened #904 "[QUERY] SqlServer.Databases.Define(name).WithEdition(null) resolves to "Standard" edition"
**Query/Question**
Is this the expected behavior?

If I set `databaseEdition` to null the Edition resolves to "Standard".

`sqlDatabase = await sqlServer.Databases
                    .Define(sqlDatabaseResource.Name)
                    .WithEdition(databaseEdition)
                    .WithServiceObjective(serviceObjectiveName)
                    .WithMaxSizeBytes(sqlDatabaseResource.MaxSizeInB

[2019-11-21 20:34] tlorton commented on #904
Also, if I make the same request as above with a valid Edition (not null), but have a null ServiceObjective then the ServiceObjective resolves to "S0".

Is this also expected? I would expect both of these to throw a NullReferenceException.

[2019-11-21 23:57] jaredmoo commented on #904
This is intentional. These properties are not required, so if you specify null then the service will choose a default for you.

[2019-11-21 23:57] #904 closed

[2019-11-22 04:52] jaredmoo commented on #904
Also FYI, you can find the defaults by using [`azure.sqlServers().getCapabilitiesByRegion(region)`.](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.sql.sqlservers.getcapabilitiesbyregion?view=azure-java-stable#com_microsoft_azure_management_sql_SqlServers_getCapabilitiesByRegion_Region_)

[2019-11-22 05:50] ChenTanyi commented on #892
Thanks @jonstelly , will fix in 1.28.1

[2019-11-22 05:50] #892 closed

[2019-11-22 07:52] weidongxu-microsoft commented on #898
@yaohaizh We do not have the interface for this. Hence this is not about service.

[2019-11-25 08:05] ravarnamsft opened #909 "[QUERY]: How do we specify Permissions on an AccountSasParameters object"
**Query/Question**
Looks like the Permissions property is now and ExpandableStringEnum instead of a string within the AccountSasParameters object. If we want to combine multiple permissions, such as Permissions.R and Permissions.W, how is that set on the AccountSasParameters object? Earlier, we could just specify a string "rw". I could use ExpandableStringEnum<Permissions>.Parse("rw"), but that se

[2019-11-25 11:17] #896 closed

[2019-11-25 20:04] ruijarimba opened #910 "List container groups using Azure management APIs fails with System.Net.Sockets.SocketException"
I've been using the [Azure Container Instances libraries for .NET](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/containerinstance?view=azure-dotnet) without any problem for months.

A few days ago I noticed some errors when trying to do something simple such as getting a list of container instances - for example:

[code]

This code is being executed in an Azure function but the error

[2019-11-26 01:19] yaohaizh commented on #909
@ravarnamsft actually using the `ExpandableStringEnum.Parse("rw")` is the right way to do for your case here and it is what exactly expandablestringenum works for.

[2019-11-26 01:20] yaohaizh commented on #909
I would close this issue now. Feel free to reopen this issue if you have any other concerns. Thanks.

[2019-11-26 01:20] #909 closed

[2019-11-26 02:21] yaohaizh commented on #910
Thanks for reporting the issue. Route to the proper team to look into it.
At the same time, if you can provide more logging for the case to diagnostic

[2019-11-26 06:30] ChenTanyi commented on #910
@ruijarimba I cannot reproduce this exception by such sample code. Can you provide more information about you `cancel exception`, like you OS, sdk version, you http thread number or so on? And Can you use other tools like https://github.com/Azure/azure-cli, https://github.com/Azure/azure-powershell, or https://github.com/Azure/azure-libraries-for-java to check if other tools work fine or not? Beca

[2019-11-26 07:57] ruijarimba commented on #910
@ChenTanyi please note this is code that was working fine for days or weeks, running on an Azure function - **it stopped working for no (apparent) reason**. Same behaviour on my local machine. It takes a long time for the exception to be thrown, this seems more like a timeout to me.

One more thing: using the same nuget package I'm able to perform other operations such as delete container groups.

[2019-11-26 09:43] ChenTanyi commented on #910
@ruijarimba since it works fine for days, it is more possible a environment issue. I cannot run you .NET Standard 2.0 class, it will cause the following error. When I change it into `netcoreapp2.1`, it works fine.
[code]

* Do you meet the exception by just running this one requests? (just run azure authenticate and list, no other necessary code)
* Do you work fine in azure-cli at the same time as

[2019-11-26 20:44] rohinkoul commented on #673
@draganb-pw what version of SDK/API are you using?

[2019-11-26 22:12] rohinkoul commented on #705
Since this is a product feature request. Please create an item on user voice https://feedback.azure.com/forums/217313-networking?category_id=367312

@praries880 please close this issue here.

[2019-11-27 01:26] yaohaizh commented on #705
@rohinkoul, we need keep the issue open to track the status. Please let us know when you have the API(swagger spec) ready for us support this feature.

[2019-11-27 05:14] yaohaizh commented on #910
Similar issue: https://github.com/Azure/azure-libraries-for-net/issues/532

[2019-11-27 07:09] ChenTanyi commented on #910
After test, it is mostly a HTTPClient issue. After requesting a timeout url, it would raise a CancelException when it request another url. like:
[code]
this could cause CancelException

[2019-11-27 16:28] ruijarimba commented on #910
@ChenTanyi the issue is now gone, I am not able to reproduce it. I did some changes in the code (nuget packages upgrade), but even using the old version I was not able to reproduce it.

To answer some of your questions:
- The number of container groups changes all the time, but it can be something from 10 to 40.
- I do believe there was a timeout when trying to list all containers.

Some months ag

[2019-11-27 22:14] rohinkoul commented on #705
@yaohaizh this is not a bug in the service or API interface. This is a new feature request. This may or may not make it to the product based on votes it receives on the UserVoice. I don't see the point of keeping the issue open here. At this point, we can't commit to supporting this feature.

[2019-11-28 02:21] ChenTanyi commented on #910
@ruijarimba thanks for telling me about this. I'm glad to hear you solving it, may you share your upgrade about nuget? (Although I think it is not the key reason)
Thanks for your issue, I'll close it at the end of `Sprint 162`

[2019-11-28 08:12] ruijarimba commented on #910
@ChenTanyi I've upgraded the packages to the very latest versions available (including pre-releases).

[2019-11-28 08:20] ChenTanyi commented on #910
@ruijarimba Thanks!

[2019-11-28 08:20] #910 closed

[2019-11-28 14:16] mithunshanbhag commented on #895
`Standard_GZRS` and `Standard_RAGZRS` are [valid SKU names returned by the Storage REST API](https://docs.microsoft.com/en-us/rest/api/storagerp/skus/list#skuname).

However these are not accounted for in the SDK.

![image](https://user-images.githubusercontent.com/2327905/69813029-6538f200-1217-11ea-9583-ac4b1b71060b.png)

[2019-11-28 14:26] qub1n commented on #880
I tried to prepare a simple example to reproduce it, but I cannot reproduce it anymore. It works for me.

[2019-11-28 14:26] #880 closed

[2019-11-29 06:27] #42 closed

[2019-12-03 06:22] weidongxu-microsoft commented on #898
Fixed in 1.29, to be release on Dec. 6.

[2019-12-03 06:22] #898 closed

[2019-12-03 08:46] huajunzhao opened #915 "Thumbprint on the portal seems incorrect after calling DefineCertificateCredential"
**Describe the bug**
A clear and concise description of what the bug is.

I use the sample code like [this](https://github.com/Azure/azure-libraries-for-net/blob/5f85a978aaa0340e5ef9f9747d3fefe052ad2a2b/Tests/Fluent.Tests/GraphRbac/ApplicationsTests.cs) to add a certificate into a AAD application, after code executed, when looking at the portal. I see the thumbprint is "63657274", can you please c

[2019-12-03 09:25] avantida opened #916 "[FEATURE REQ] CDN Standard Rules Engine support"
**Is your feature request related to a problem? Please describe.**
We want to keep our CDN up to date with a _dynamic_ whitelist of IP addresses. This is now possible by using the [standard rules engine](https://docs.microsoft.com/en-us/azure/cdn/cdn-standard-rules-engine-reference).

**Describe the solution you'd like**
Please support the management of the [standard rules engine](https://docs.mic

[2019-12-04 02:24] yaohaizh commented on #916
Thanks for reporting the issue. We will look into the feature request.

[2019-12-04 02:34] yaohaizh commented on #915
Thanks for reporting the issue. We are looking into the issue. @ChenTanyi

[2019-12-04 05:45] ChenTanyi commented on #915
@huajunzhao I have test about it, it just display different from what was uploaded by portal (use different key), but the values are same.
certificate can not be changed, you can only create a new one.

[2019-12-04 18:21] carsontwilson commented on #850
I don't seem to be experiencing this behaviour anymore... though I've done several updates of the packages since then.

I'm having a new issue with null reference exceptions though, I'll post that separately

[2019-12-04 19:18] carsontwilson opened #917 "[BUG] Cannot apply certificates uploaded to separate resource groups"
**Describe the bug**
The end result is the same as this bug: https://github.com/Azure/azure-libraries-for-net/issues/850#issuecomment-544833918 but the behaviours associated to it are different (so I wasn't sure if I should file a new defect, since the underlying error is not the same).

When attempting to apply a certificate to resource group B, when that certificate was originally uploaded to re

[2019-12-05 01:24] allegradomel commented on #738
@xenalite,
Thanks for bringing this to our attention - we're looking into it and will update soon.

[2019-12-05 01:49] yaohaizh commented on #547
Fixed in PR#914.

[2019-12-05 01:49] #547 closed

[2019-12-05 03:59] weidongxu-microsoft commented on #747
https://github.com/Azure/azure-libraries-for-net/issues/563

[2019-12-05 04:14] weidongxu-microsoft commented on #857
Blocked by service team.

[2019-12-05 04:20] weidongxu-microsoft commented on #857
As Dec. 5.

[code]

[2019-12-05 13:51] yaohaizh commented on #917
Thanks for reporting this issue.

[2019-12-06 00:30] jeroenterheerdt commented on #689
Closing this issue. @Sandmann-cs1 do not hesitate to respond if you need help.

[2019-12-06 02:38] weidongxu-microsoft commented on #518
Fixed in 1.29. To be released on Dec. 9th.

Sample code:

[code]

[2019-12-06 02:38] #518 closed

[2019-12-06 18:10] jeroenterheerdt commented on #689
@kurtzeborn please close this issue.

[2019-12-06 19:01] carsontwilson opened #918 "[BUG] Changes made to SiteConfig are never propagated"
**Describe the bug**
Changing the Azure WEb App properties and then applying that change does not seem to have any effect. Am I using it wrong, or is it a bug?

***Exception or Stack Trace***
None - no errors, just nothing happens...

**To Reproduce**
Create or get an existing web app
Make a new SiteConfig object and assign that to the app
perform an update / apply
The changes do not take effect

[2019-12-06 19:33] jeroenterheerdt commented on #747
@weidongxu-microsoft can we close this now that there is a workaround in #563?

[2019-12-06 19:53] #689 closed

[2019-12-06 23:11] Rhipeus opened #919 "[BUG] Microsoft.Rest.Azure.CloudException When Trying To Iterate Over a Large Number of Container Groups"
**Describe the bug**
When iterating over a large number of container groups, at the 581st iteration, there is always a "Client certificate was not provided" exception.

***Exception or Stack Trace***
Microsoft.Rest.Azure.CloudException: A client certificate was not provided.

**To Reproduce**
Create an Azure subscription with lots of container groups.  Try to iterate over all of them.

***Code Sni

[2019-12-07 02:16] weidongxu-microsoft commented on #747
@jeroenterheerdt Basically yes, this should be a duplicate of https://github.com/Azure/azure-libraries-for-net/issues/563.

@leeenglestone Is it OK for you that we use https://github.com/Azure/azure-libraries-for-net/issues/563 to track this issue?

Also note that the fix on root cause is tracked at present via https://github.com/Azure/azure-libraries-for-java/issues/878 (update to composite-v3, o

[2019-12-09 02:17] yaohaizh commented on #918
Thanks for report this issue. We will look into this issue.

[2019-12-09 02:36] yaohaizh commented on #919
@Rhipeus thanks for reporting the issue. We will look into the issue.

[2019-12-09 05:13] jaredmoo commented on #747
From SQL side, this was fixed long ago with Server api-version 2015-05-01-preview. Fluent needs to be regenerated from package-composite-v1 or later.

[2019-12-09 05:13] jaredmoo commented on #563
This is not correct. Looking at https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/readme.md you can see that package-composite-**v1** has 2015/servers which is the fixed version.

[2019-12-09 06:24] weidongxu-microsoft commented on #918
@carsontwilson

This one is trickier than others. `Inner.SiteConfig` is not for update.

You had to do this with `SiteConfigResourceInner`:

[code]

Please use with care (since it is a PUT). I have tried a few cases and it does not overwrite any value that is not specified.

[2019-12-09 10:00] xccc-msft commented on #895
Close this as PR got merged.

[2019-12-09 10:00] #895 closed

[2019-12-09 14:13] Rhipeus commented on #919
I added .NET version to the original report.

Also, here is some additional information from my digging.  I tried adding/removing some container groups in Azure so that #581 was not the same container group.  It continued to error on #581 even though it was a different container group.

Below 580 container groups, everything worked as expected.

[2019-12-09 18:29] jeroenterheerdt commented on #747
closing this issue here since it is tracked in #563

[2019-12-09 18:29] #747 closed

[2019-12-10 06:13] nicolas-garcia opened #920 "[FEATURE REQ] Support Notification Hub with fluent API"
Hi!

**Is your feature request related to a problem? Please describe.**
That's a shame that Notification Hubs creation and management could not be handled using the fluent API right now.

**Describe the solution you'd like**
Adding the support Notification Hubs Namespace and Notification Hubs would be great!

**Describe alternatives you've considered**
The main solution right now is to manually cr

[2019-12-10 06:38] yaohaizh commented on #899
@xccc-msft does this supported?

[2019-12-10 17:53] matthchr commented on #722
Microsoft.Azure.Management.Batch.Fluent is deprecated - you should use Microsoft.Azure.Management.Batch instead.

[2019-12-10 17:53] #722 closed

[2019-12-10 22:57] tlorton opened #923 "[QUERY] SQL DB Hyperscale ServiceObjectiveName/Cores"
**Query/Question**
What are the available options for the ServiceObjectiveName if the DatabaseEdition is Hyperscale?

When I create a Hyperscale DB, the ServiceObjectiveName default is Gen4 I believe. Is there a way to specify Gen5 and the amount of cores?

I found the list of ServiceObjectiveNames, but none of them seem to correlate to Hyperscale values.
https://docs.microsoft.com/en-us/dotnet/ap

[2019-12-11 01:44] yaohaizh commented on #923
@tlorton currently this is not supported in this version of fluent .NET lib.

[2019-12-11 02:43] xccc-msft commented on #899
Close this as released in 1.29.0.

[2019-12-11 02:43] #899 closed

[2019-12-11 03:04] yaohaizh opened #924 "[FEATURE REQ] Update network API version to support private link"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-11 05:31] ChenTanyi opened #925 "[FEATURE REQ] Add fluent style API for Cosmos DB: SQL / MongoDB / Cassandra / Gremlin / Table"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-11 12:32] markjbrown commented on #925
Thanks for opening.

Can I make a suggestion? Can you change this issue to include Fluent support for all Cosmos resources, not just the SQL API ones?

Thanks.

[2019-12-11 17:14] tlorton commented on #923
@yaohaizh Is there a ServiceObjectiveName from those values that works with Hyperscale? I keep receiving errors like this: `Microsoft.Rest.Azure.CloudException: Long running operation failed with status 'Failed'. Additional Info:'The edition 'Hyperscale' does not support the service objective 'Basic'.'`

[2019-12-11 17:32] tlorton commented on #923
Is there a way Microsoft would recommend to create Hyperscale databases? Using Azure CLI?

[2019-12-11 21:30] tlorton commented on #923
As a "workaround", a really helpful person helped me figure it out here: https://stackoverflow.com/questions/59277121/sql-db-hyperscale-serviceobjectivename-cores/59281290#59281290

[2019-12-12 06:39] weidongxu-microsoft opened #928 "[BUG] RouteTables is not exposed properly"
**Describe the bug**

RouteTables should be accessed via `Azure.RouteTables`.

Java got it right at `Azure.routeTables()`.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to

[2019-12-13 01:45] alch-msft opened #929 "Why is batch fluent deprecated?"
**Query/Question**
I'm wondering what's the road map for azure-libraries-for-net? I'm confused by recent deprecation of the batch library(I don't see any comments in the PR). Seems like batch AI got added to the library recently while batch got deprecated in 1.27.0.  However, I see on azure portal that batch is still a supported service while batch AI is marked as "retired". Why are we deprecating

[2019-12-13 02:27] yaohaizh commented on #929
@alch-msft there is no changed on the service side, just deprecated the fluent batch package since there is an alternative package maintained by the batch service team: https://www.nuget.org/packages/Microsoft.Azure.Batch/ for your Batch .net management.

[2019-12-13 02:33] yaohaizh commented on #929
I'm closing this PR now. The https://www.nuget.org/packages/Microsoft.Azure.Batch/ is suggested package for Batch.

[2019-12-13 02:33] #929 closed

[2019-12-13 22:15] carsontwilson commented on #918
This works great - thanks so much!

[2019-12-13 22:15] #918 closed

[2019-12-16 07:30] #915 closed

[2019-12-17 04:36] qub1n opened #931 "[QUERY]"
**Query/Question**

I can see that property IVirtualMachine.OSDiskStorageAccountType is a type of StorageAccountTypes.

Why it is not of DiskStorageAccountTypes? It is a disk and not StorageAccount isn't it?

Both expandable enums have the same values.

[2019-12-17 09:01] mruf opened #932 "[QUERY] How to set .NET Core framework as stack on a (Windows) web app"
**Query/Question**
How can I set the .NET Core framework (2.2+) as stack on a (Windows) web app? I only see the .With* methods for Java, regular .NET framework etc

            var webApp = azure.AppServices.WebApps.Define(name)
                .WithExistingWindowsPlan(servicePlan)
                .WithExistingResourceGroup(resourceGroupName)
                .WithHttpsOnly(true)
                .W

[2019-12-17 09:07] weidongxu-microsoft commented on #932
@mruf

Try `.WithNetFrameworkVersion(NetFrameworkVersion.V4_6)` in place of `.WithoutPhp()`.

[2019-12-17 09:47] mruf commented on #932
@weidongxu-microsoft
I need the **.NET Core** framework. I want to set the following setting by using the fluent Azure library:

![image](https://user-images.githubusercontent.com/7147271/70984340-97bd6880-20ba-11ea-97a1-bcd94dc7416b.png)

[2019-12-17 14:54] Andreas-Lehmann opened #933 "[BUG] Unable to set tenant id when creating a key vault resource"
**Describe the bug**
When creating an Azure KeyVault in an empty resource group, an `Unrecognized Guid format.` exception is thrown. After some debugging and investigation I found that the `TenantId` of the vault object is not set.

***Exception or Stack Trace***
[code]

**To Reproduce**
I run this code in an .NET Core 3.1 console application inside Visual Studio 16.4.1

***Code Snippet***
[code]

[2019-12-18 02:02] weidongxu-microsoft commented on #932
@mruf

I see.

Do this after you have created the web app.

[code]

It is not pretty (need one additional REST call after creation). This is a pending issue in SDK, which is not fixed yet.

Another note. Do you note any difference between .NET and .NET Core web app runtime? I seems to get "dotnet --version" as 2.2 in .NET as well.

[2019-12-18 05:50] yaohaizh commented on #933
@xccc-msft could you help take a look at this issue? Thanks.

[2019-12-18 14:09] vigneshrams opened #934 "No way to resolve conflict between "Newtonsoft.Json""
**Describe the bug**
I am using Nuget Package 1.29.0 Microsoft.Azure.Management.Fluent and its dependent Packages for creating VM in Azure. I am having NewtonSoft.Json version 10.0.0.0. I get the below error,

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
I have a C++ application which make use of CLR\CLI project to access the C# project which

[2019-12-18 17:37] Rookian commented on #932
And how do I set the .NET Core framework version like 3.0 or 3.1?

[2019-12-19 02:04] weidongxu-microsoft commented on #932
And for Windows, there seems not any difference of which dotnet core version seletected during creation (via Portal), the info is same (SDK upto 2.2, runtime upto 3.1)

`dotnet --info`

[code]

[2019-12-19 02:45] weidongxu-microsoft opened #935 "[FEATURE REQ] Support change windows web app runtime"
**Is your feature request related to a problem? Please describe.**

Runtime of Windows web app is configured via /config/metadata, which is not exposed in Fluent. And the config is obscure without proper constant definition.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description

[2019-12-19 04:04] weidongxu-microsoft commented on #934
@vigneshrams

Could you specify .NET core version or .NET framework version in use? If possible also include a minimal project which having this issue (your packages.config if .NET framework maybe)?

I think 1.29 would normally require Newtonsoft.Json >= 1.0.3

[2019-12-19 07:38] vigneshrams commented on #934
@weidongxu-microsoft Thanks for replying back.

Adding a downloadable link for minimal sample project as well the Package.config file.
[](https://s3.amazonaws.com/vembu-bug-fix/BDR/4.1.0/Sample-Project-Issue/CreateAzureVM_JSON_Issue.zip)
[](https://s3.amazonaws.com/vembu-bug-fix/BDR/4.1.0/Sample-Project-Config/packages.config)

I tested the same with 1.13.0 Version of DLL everything seems to work.

[2019-12-19 07:39] vigneshrams commented on #934
https://s3.amazonaws.com/vembu-bug-fix/BDR/4.1.0/Sample-Project-Config/packages.config

https://s3.amazonaws.com/vembu-bug-fix/BDR/4.1.0/Sample-Project-Issue/CreateAzureVM_JSON_Issue.zip

[2019-12-19 08:41] weidongxu-microsoft commented on #934
@vigneshrams

Is it a warning or error?

I rebuild the project and would get these (none report Newtonsoft.Json, even for warning)

[code]

And it genereated `CreateAzureVM_JSON_Issue\CreateAzureVM\bin\x64\Debug\CreateAzureVM.dll`. So I assume mine is successful. Then I am not sure it is about environment or SDK.

There are several stackoverflow posts about certain conflict error https://stackover

[2019-12-19 09:12] vigneshrams commented on #934
@weidongxu-microsoft  Thanks for the time.
It does not occur in Compilation time. that is an exception thrown when calling C# dll from C++ exe.

The issue comes when run the testsuite.exe (C++ Project).

The project works this way,
TestSuite.exe(C++)-> CLRApp.dll (CLR\CLI) -> CreateAzureVM.dll (C#)

Try running the testsuite.exe with correct azure Auth file. You will get the issue.

[2019-12-19 10:43] vigneshrams commented on #934
Below is the exception i am getting,
`Could not load file or assembly 'Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)`

Using Microsoft.Azure.Management.Fluent version 1.28.0.

Thanks

[2019-12-19 15:31] mruf commented on #932
@weidongxu-microsoft
Thank you. I can confirm that your suggestion worked.
I'm assuming that Microsoft is updating the available runtimes in a Web App behind the scenes since you cannot specify the desired version anymore.

[2019-12-20 01:59] weidongxu-microsoft commented on #934
@vigneshrams

Dirty solution:

You see `CreateAzureVM.dll.config` in build target folder (e.g. x64/Debug), copy it to name `TestSuiteApp.exe.config`,

That should work.

That config file is likely needed by system to tell it to override 6.0.0.0 to 10.0.0.0. I am not sure why VS does not do that to the exe (maybe there is a config hidden somewhere...).

[2019-12-20 07:01] xccc-msft opened #939 "[FEATURE REQ] Support CredScan"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-23 05:06] yaohaizh opened #941 "[FEATURE REQ] Support private links/Azure firewall for network"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-23 05:09] yaohaizh opened #942 "[FEATURE REQ] Update storage API service to latest"
- Support large file shares

[2019-12-23 14:26] jonathanantoine commented on #407
Please, please, please, add it !

Is there a workaround existing ?

[2019-12-24 01:14] weidongxu-microsoft commented on #407
Is it WithMessageMovedToDeadLetterQueueOnMaxDeliveryCount?
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ServiceBus/Domain/Queue/Definition/IDefinition.cs#L137

[2019-12-26 06:58] #51 closed

[2019-12-26 06:58] #857 closed

[2019-12-27 02:53] weidongxu-microsoft commented on #51
Fixed in 1.30, to be released about 9th Jan.

@Suchiman @Stephanvs

The workaround would be broken, if updated to fixed version (1.30 or above).

One could additionally match "api-version=2018-02-01" in URL Query, which was the service version having this bug.

1.30 is upgraded to "api-version=2019-08-01".

[2019-12-31 02:30] #935 closed

[2019-12-31 02:35] weidongxu-microsoft commented on #932
1.30 (scheduled to be released on 9th, Jan.) will support e.g. `WithRuntimeStack(WebAppRuntimeStack.NETCore)` to update web app runtime stack for windows OS.
It need to be used in couple with existing WithJavaVersion+WithWebContainer / WithPythonVersion / WithPhpVersion etc. to set version.

PS: Linux has existing `WithBuiltInImage` interface.

[2019-12-31 02:35] #932 closed

[2019-12-31 02:37] weidongxu-microsoft commented on #935
1.30 (scheduled to be released on 9th, Jan.) will support e.g. WithRuntimeStack(WebAppRuntimeStack.NETCore) to update web app runtime stack for windows OS.
It need to be used in couple with existing WithJavaVersion+WithWebContainer / WithPythonVersion / WithPhpVersion etc. to set version.

[2019-12-31 09:28] wantedfast opened #947 "[BUG] Web App Service Logs Retention Days not set for Application Logging"
Reference this issue: https://github.com/Azure/azure-sdk-for-net/issues/9222

There are two log config classes here,  ApplicationLogsConfig stands for Application Logging, and HttpLogsConfig stands for Web Server Logging.

Code snippet to set **Application Logging**  Retention Days
[code]

Code snippet to set **Web Server Logging** Retention Days
[code]

Both above code snippets end up to call the

[2020-01-02 02:12] weidongxu-microsoft commented on #934
Close as I assume I've found the cause and provided the solution.

[2020-01-02 02:12] #934 closed

[2020-01-02 02:19] yaohaizh commented on #947
Thanks for reporting this issue. We will look into the problem. Thanks.

[2020-01-02 02:20] weidongxu-microsoft commented on #931
I think the reason is this:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json#L7123

storageAccountType is #/definitions/StorageAccountType

Basically compute.json and disk.json got different definition (which might be just same).

[2020-01-06 10:27] savpek opened #948 "How to get information about running image in linux container app"
**Query/Question**
To archieve my goal i need information about running image name and tag on azure container app. However when i get WebApps from library it seems it doesn't return any information about it. For example "SiteConfig" that should contain that information (attleast it contains it at ARM templates) seems to be always null. Is there way to do this?

***Why is this not a Bug or a featur

[2020-01-06 11:58] yaohaizh commented on #948
@weidongxu-microsoft  could you help take a look at this issue? Thanks.

[2020-01-06 12:01] weidongxu-microsoft commented on #948
@savpek
You can take a look on IWebApp.LinuxFxVersion (the property is in base class IWebAppBase), it should contain something like "DOCKER|imageAndTag".

Let me know if you find it, and if possible provide more information (e.g. code snippet on creation of web app).

[2020-01-06 15:20] savpek commented on #948
It's null for some reason:

![image](https://user-images.githubusercontent.com/481896/71827167-552ef080-30a8-11ea-964f-b66630ef8682.png)

[code]

Also tried to look through with `webApps.Where(x => x.LinuxFxVersion != null)` but that returns empty result.

[2020-01-06 15:41] savpek commented on #948
`Microsoft.Azure.Management.Fluent`, version `1.29.1`

[2020-01-06 17:42] KarenHammons commented on #673
@draganb-pw if you're still experiencing this issue, can you please let us know?

[2020-01-07 01:55] yaohaizh commented on #673
Please take a look at this so see how we can use the SDK to support this operation? Thanks.

[2020-01-07 02:03] weidongxu-microsoft commented on #948
Please do a `linuxContainerApp.Refresh()`, before calling `linuxContainerApp.LinuxFxVersion`.

`siteConfig` is retrieved from a second request done to a single webApp resource (hence it is not done for List, which retrieve all).

If you know the name, you can just use GetByResourceGroup or GetById.

[2020-01-07 06:01] savpek commented on #948
Thanks 👍

[2020-01-07 06:01] #948 closed

[2020-01-07 09:08] formulahendry opened #949 "[QUERY] How to get bearer token from Fluent SDK?"
I want use C# SDK to do below steps:
1. Use `SdkContext.AzureCredentialsFactory.FromDevice` to login, then I could get a AzureCredentials.
2. Use AzureCredentials to create Resource Group and Azure IoT Central Service
3. **I want to get a bearer token with the C# SDK**
4. I could use bearer token to call Rest API of Azure IoT Central Service

So my question is how to get bearer token from Fluent S

[2020-01-07 14:39] qub1n commented on #949
You don't need a bearer. Just use credentials you received.

var client = RestClient
                .Configure()
                .WithEnvironment(env)
                .WithCredentials(credentials)
                .Build();

 var request = new HttpRequestMessage(HttpMethod.Get, url);
 await client.Credentials.ProcessHttpRequestAsync(request, cancellationToken);
var httpClient= new HttpClient();
va

[2020-01-07 14:44] yaohaizh commented on #949
The AzureCredentials is not suppose to expose bearer token. If you need bearer token, see some examples: https://github.com/Azure/azure-libraries-for-net/blob/33261548d00322cd7795c1eaac9ca7298c94671b/src/ResourceManagement/ResourceManager/Authentication/MSITokenProvider.cs

[2020-01-08 07:25] nickzhums commented on #931
@qub1n let us know if the comments above resolved your query / question

[2020-01-08 09:39] vinothrao commented on #835
@ChenTanyi  I need a help on this. As I said i require a synchronous version where i need  abort the operation once the export request is accepted instead waiting till it completes. I made the code changes for this one. Is it ok if i create a pull request for this?

[2020-01-08 09:57] ChenTanyi commented on #835
@vinothrao Yeah, every PR is welcome!

[2020-01-08 12:33] qub1n commented on #931
@nickzhums
I understand. I will consider these types as the same type then.

Thank you very much

[2020-01-09 02:27] yaohaizh commented on #711
@VaclavK, the feature has been supported on the latest fluent lib. Please have a try. I'm closing this issue now. If you meet anything using the API, please feel free to re-open this issue or log an issue for new problems. Thanks.

[2020-01-09 02:27] #711 closed

[2020-01-09 04:31] yaohaizh commented on #750
We plan support for Feb. release.

[2020-01-09 05:20] yaohaizh commented on #725
@pinaki1234 are you still experiencing this issue?

[2020-01-09 05:24] yaohaizh commented on #732
The issue has been fixed. @jstutson feel free to re-open this issue if still happen on your side. Thanks.

[2020-01-09 05:24] #732 closed

[2020-01-09 07:00] #660 closed

[2020-01-09 07:21] wangfeichen opened #952 "[QUERY] Create Application Insights using SDK ?"
**Query/Question**
I see there have examples to create Application Insights on az / powershell but not for the SDK. So I questioned that is there have a way to create it using SDK ?

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS]
 - IDE : [e.

[2020-01-09 12:50] yaohaizh commented on #952
The application insight will not be supported in the fluent lib roadmap. And it is not planned in any near future.

[2020-01-09 12:51] #952 closed

[2020-01-09 15:16] nickzhums commented on #866
@leonjunwei Thanks for opening the issue. We'll look into it

[2020-01-09 15:18] nickzhums commented on #865
@oscarhult Thanks for opening the issue. We'll look into it.

[2020-01-09 15:32] nickzhums commented on #850
@carsontwilson Since you are no longer experiencing this issue, We'll consider this one resolved and we can discuss your other issue (#917) separately. Thanks!

[2020-01-09 15:32] #850 closed

[2020-01-09 15:33] nickzhums commented on #809
@huajunzhao Are you still experiencing this issue? Let us know, thanks

[2020-01-09 15:35] nickzhums commented on #798
@CoenraadS Does the comments above resolve your issue? Let us know. Thanks

[2020-01-10 01:23] huajunzhao commented on #809
@nickzhums  It can be closed now. Thanks.

[2020-01-10 01:58] #809 closed

[2020-01-10 02:10] xccc-msft commented on #924
Close this as released in v1.30.0

[2020-01-10 02:10] #924 closed

[2020-01-10 02:11] xccc-msft commented on #900
Close this as released in v1.30.0

[2020-01-10 02:11] #900 closed

[2020-01-10 02:11] xccc-msft commented on #925
Close this as released in v1.30.0

[2020-01-10 02:11] #925 closed

[2020-01-10 02:12] xccc-msft commented on #941
Close this as released in v1.30.0

[2020-01-10 02:12] #941 closed

[2020-01-10 02:13] xccc-msft commented on #928
Close this as released in v1.30.0

[2020-01-10 02:13] #928 closed

[2020-01-10 02:14] yaohaizh commented on #697
Thanks.

[2020-01-10 02:14] #697 closed

[2020-01-10 02:45] yaohaizh commented on #949
Close the issue as the required feature is not on the roadmap.  You can directly get token calling the REST URL with the authenticated pipeline. Thanks.

[2020-01-10 02:45] #949 closed

[2020-01-10 13:14] deepbass commented on #27
Hi sorry to rejuvenate an old issue. But I was excited to use Fluent SDK to create Function Apps but I can't realistically use it in production without app insight support. I'm also not happy with using a beta package that hasn't had an update since 2018.

It seems a shame to have this gap in the SDK

[2020-01-10 13:37] Andreas-Lehmann commented on #933
Is there any update on this?

[2020-01-12 08:59] yaohaizh commented on #27
@nickzhums FYI

[2020-01-13 03:39] nickzhums commented on #673
@draganb-pw Let us know if you are still experiencing this issue after you've tried the comments above :)

[2020-01-13 03:45] nickzhums commented on #663
@azkamil Since you are no longer experiencing the issue, we will close it for now. Feel free to re-open it

[2020-01-13 03:45] #663 closed

[2020-01-13 03:56] nickzhums commented on #643
@OUP-CCoE We will take a look

[2020-01-13 04:00] nickzhums commented on #640
@Suchiman Thanks for your comment. We will close this issue for now and add improving error handling to our backlog. Feel free to re-open the issue.

[2020-01-13 04:00] #640 closed

[2020-01-13 04:14] nickzhums commented on #606
We will look into it, thanks for opening the issue

[2020-01-13 04:16] nickzhums commented on #602
@sowsan Closed this issue as the sample is provided, feel free to re-open the issue :)

[2020-01-13 04:16] #602 closed

[2020-01-13 05:19] yaohaizh commented on #920
This is not on the roadmap of fluent SDK API. Will close it now. Thanks.

[2020-01-13 05:19] #920 closed

[2020-01-13 05:26] yaohaizh commented on #554
Close this as not replied from the end user.

[2020-01-13 05:26] #554 closed

[2020-01-13 05:28] yaohaizh commented on #673
Close it as supported.

[2020-01-13 05:28] #673 closed

[2020-01-13 05:48] jongio commented on #27
@deepbass - While this repo is for Fluent SDK and AppInsights isn't supported yet, you can still use the preview package that you reference above.  Please see this comment for info on how to use it. https://github.com/Azure/azure-sdk-for-net/issues/9226#issuecomment-573516744

@yaohaizh - We can use this item to track the App insights Fluent SDK request.

[2020-01-13 05:52] ChenTanyi commented on #744
@oatsoda Sorry for late reply. The infinite loop has been fixed in v1.27.2. You can try a version after it. Thanks!
If you still meet the problem, feel free to re-open it.

[2020-01-13 05:52] #744 closed

[2020-01-13 05:59] weidongxu-microsoft commented on #677
@ai-fwd @synercoder
The issue in AppService is fixed through https://github.com/Azure/azure-libraries-for-net/issues/646
PR https://github.com/Azure/azure-libraries-for-net/pull/841

[2020-01-13 06:14] weidongxu-microsoft commented on #677
@kwill-MSFT

It should not be a general issue. RoleAssignmentImpl got a *dedicated* 30 loop...
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Graph.RBAC/RoleAssignmentImpl.cs#L180

[2020-01-13 06:14] #677 closed

[2020-01-13 06:20] weidongxu-microsoft commented on #690
This should do (assume you already have a Managed Identity created, if not, you can go `WithNewUserAssignedManagedServiceIdentity`)

[code]

[2020-01-13 06:58] weidongxu-microsoft commented on #693
@asehgal123

Monitor service got updated around Oct. You can try again.

I've got below sample code working.

[code]

[2020-01-13 07:33] ChenTanyi commented on #724
@rybkov I cannot reproduce you problem. Does your certificate match the domain?
I can only reproduce it when I use a wrong domain.

Version: Fluent 1.29.0 in Windows 10

[2020-01-13 07:35] yaohaizh commented on #751
This has been fixed on the latest SDK and will close it now. Feel free to re-open it if still persist.

[2020-01-13 07:35] #751 closed

[2020-01-13 07:44] yaohaizh commented on #696
@fuocor  do you still experience this issue using the latest SDK?

[2020-01-13 07:49] ChenTanyi commented on #798
@CoenraadS Maybe there are some mistakes in my `--no-wait` explanation.
There is no `--no-wait` in Fluent API now.
As a work around, it can be used as:
[code]

[2020-01-13 08:03] yaohaizh commented on #674
@DYNSOL  which version of the SDK that you are using?

[2020-01-13 08:15] yaohaizh commented on #672
We have updated the run time. @orpeti  please try the latest SDK if the issue still persist. Thakns.

[2020-01-13 08:23] #917 closed

[2020-01-13 08:25] weidongxu-microsoft commented on #862
@orpeti

Do you have a well-formated log there? You can attach a txt file, or at least use the code block. Is it not possible for me to read above log. And there is certainly no "yellow marked lines".

[2020-01-14 02:39] rybkov commented on #724
@ChenTanyi it did match

[2020-01-14 04:03] ChenTanyi commented on #724
@rybkov Can you give me an example crt and key (could be just self-signed) and the domain which can reproduce this issue?

[2020-01-14 04:10] ChenTanyi commented on #724
By the way, could you CNAME the domain to "lskjdf.azurewebsites.net"? Then I could test it.

[2020-01-15 04:58] xccc-msft commented on #665
@kbulte No, we don't have a version using Microsoft Graph now as the service team haven't provided new swagger file for consuming Microsoft Graph APIs.

[2020-01-15 07:39] nickzhums commented on #891
@MariuszKogut Closing this issue as it is resolved

[2020-01-15 07:39] #891 closed

[2020-01-15 07:41] xccc-msft commented on #698
@Eilon Thanks for raising this. We will check if InvalidOperationException could be replaced by ArgumentNullException in this situation.

[2020-01-15 07:43] nickzhums commented on #881
@v-Ajnava let us know if there's any update, thanks

[2020-01-15 07:44] xccc-msft commented on #719
@tomkerkhove The [PR](https://github.com/Azure/azure-rest-api-specs/pull/7753) for this changed has been merged to swagger. We will update once it gets consumed in Fluent APIs. Thanks.

[2020-01-15 07:46] nickzhums commented on #864
@aloneguid let us know if you still support

[2020-01-15 07:46] #864 closed

[2020-01-15 07:47] nickzhums commented on #862
@orpeti Let us know if you still need support

[2020-01-15 07:53] nickzhums commented on #693
@asehgal123 Let us know if you are still experiencing this issue

[2020-01-15 07:57] nickzhums commented on #657
@yuriwoof Hi Yuri are you still experiencing the problem?

[2020-01-15 08:00] #47 closed

[2020-01-15 08:04] nickzhums commented on #631
@joshlang Please let us know if you are still facing the issue

[2020-01-15 08:13] nickzhums commented on #620
@Gaploid  are you still experiencing the issue ? let us know, thanks

[2020-01-15 08:15] nickzhums commented on #610
@weidongxu-microsoft could you take a quick look, thanks

[2020-01-15 08:16] nickzhums commented on #609
@ccic are you still experiencing the issue? thanks

[2020-01-15 08:18] nickzhums commented on #601
Closing the issue as it should be fixed

[2020-01-15 08:18] #601 closed

[2020-01-15 08:34] weidongxu-microsoft commented on #610
@Rambalac

This issue should be fixed around Nov. by this PR.

Now the time in URI should be UTC without timezone.

Let me know if you still having this issue.

[2020-01-15 08:34] #610 closed

[2020-01-15 08:52] tomkerkhove commented on #719
Awesome, thank you very much!

[2020-01-15 17:58] joshlang commented on #631
I have long ago moved onto different solutions.  If you think this is fixed, feel free to close the issue of course.  I have no way to test now.

[2020-01-16 02:27] xccc-msft commented on #665
Close this as we don't support this feature.

[2020-01-16 02:29] xccc-msft commented on #698
Close this as we have no plan to change the exception type now.

[2020-01-16 02:29] #698 closed

[2020-01-16 05:16] xccc-msft opened #958 "[FEATURE REQ] Support Private Endpoint"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-16 05:25] xccc-msft commented on #486
@rhavlick We have updated in master branch. Thanks for reporting this.

[2020-01-16 05:25] #486 closed

[2020-01-16 05:25] xccc-msft commented on #487
Close this as updated in master.

[2020-01-16 05:25] #487 closed

[2020-01-16 07:11] mudith215 opened #959 "[QUERY]Changes made to SiteConfig are never propagated"
**Query/Question**
Changing the Azure WEb App properties and then applying that change does not seem to have any effect. Am I using it wrong, or is it a bug?.

**To Reproduce**
Create or get an existing web app Make a new SiteConfig object and assign that to the app perform an update / apply The changes do not take effect

Code Snippet
`var app=AzureAuthentication.AzureInstance.AppServices.WebApps

[2020-01-16 07:21] #959 closed

[2020-01-16 07:22] mudith215 commented on #959
Finally i got the solution going through the issue search.Thanks

[2020-01-16 07:31] mudith215 commented on #918
Hi this work perfectly but im looking for way to remove exciting record.what is the method that i can use to remove it

Thanks in advance

[2020-01-16 10:27] ArnimSchinz commented on #933
Any news on this topic?

[2020-01-16 10:57] tomkerkhove opened #960 "Using Managed Identity in container workloads"
**Query/Question**
We are looking to add support for Managed Identity (MI), previously known as Managed Service Identity (MSI), to our application which is running in a Linux container.

As it will be hosted on Kubernetes, we'll use [AAD Pod Identity](https://github.com/Azure/aad-pod-identity).

However, it's not clear how we should approach this with the current version of the library.

`FromMSI`

[2020-01-17 06:35] ChenTanyi commented on #615
@m-mertz The `AzureCredentialsFactory` depends on `Microsoft.Rest.Azure.Authentication.ApplicationTokenProvider`, rather than call `AuthenticationContext` directly.
From https://github.com/Azure/azure-libraries-for-net/blob/02cc9fcde0c44d3488aa73b5c3a5cb6f379ba833/src/ResourceManagement/ResourceManager/Authentication/AzureCredentials.cs#L172 to https://github.com/Azure/azure-sdk-for-net/blob/0ec83

[2020-01-17 21:32] tostringtheory opened #961 "[BUG] Unable to specify existing app certificate from different resource group than web app"
**Describe the bug**
When attempting to update a WebApp and define a SslBinding using an existing certificate, that does not exist in the same resource group as the webapp, the operation fails with a `System.NullReferenceException: 'Object reference not set to an instance of an object.'`.

***Exception or Stack Trace***
[code]

**To Reproduce**
Create a resource group (1)
Create an app service pla

[2020-01-18 10:02] weidongxu-microsoft commented on #961
This appears to be same bug as https://github.com/Azure/azure-libraries-for-net/issues/917

That one was fixed, but not caught in recent 1.30 release.

[2020-01-18 13:06] tomkerkhove opened #962 "[BUG] Unable to get metrics for Azure SQL Server"
**Describe the bug**
When trying to get the metric definitions for `subscriptions/0f9d7fea-99e8-4768-8672-06a28514f77e/resourceGroups/promitor/providers/Microsoft.Sql/servers/promitor` it fails due to API version.

***Exception or Stack Trace***
`[12:54:14 FTL] NoRegisteredProviderFound: No registered resource provider found for location 'westeurope' and API version
'2018-01-01' for type 'servers'

[2020-01-19 01:41] ChenTanyi commented on #961
@weidongxu-microsoft @tostringtheory this will be fixed in 1.31.0 rather than 1.30.0.

[2020-01-19 07:59] ChenTanyi commented on #724
@rybkov Since the implementation of the `WithPfxCertificateToUpload` is **actually the same as** your ***Temporary Solution***, if you cannot provide any certificate to reproduce this problem, I cannot test to find where the problem is.

Btw, if the only reproducible certificate is very import (That it cannot be reproduced by other certificate is really a corner case), you could add the response o

[2020-01-19 08:20] ChenTanyi commented on #546
@ianlar It doesn't matter when you use this certificate. It just has different display name.

If you really want to show the thumbprint in portal, you could use the `DefineCertificateCredential()` without parameter after .NET SDK 1.29.1. We have fixed it at https://github.com/Azure/azure-libraries-for-net/pull/930.

[2020-01-19 08:20] #546 closed

[2020-01-20 01:32] weidongxu-microsoft commented on #962
@tomkerkhove

Is this issue persistent or intermittent?

I tried a westeurope (`"location": "westeurope", "id": "/subscriptions/###/resourceGroups/rg-weidxu/providers/Microsoft.Sql/servers/sql1weidxu"`) sqlserver with 1.30, that works OK.

If you still see this error, could you also give me a logging (with redact)?
https://docs.microsoft.com/en-us/dotnet/azure/dotnet-sdk-azure-concepts?view=azure-

[2020-01-20 07:23] yaohaizh commented on #960
@tomkerkhove, thanks for reporting this issue. Currently, fluent .NET SDK doesn't support the feature yet. And
https://docs.microsoft.com/en-us/azure/aks/use-managed-identity are still on preview status.

[2020-01-20 07:51] weidongxu-microsoft commented on #690
I assumed that I've answered your question. Re-open it if you have more to ask.

[2020-01-20 07:51] #690 closed

[2020-01-20 07:54] weidongxu-microsoft commented on #891
@nickzhums

Workaround is provided, but root cause is still waiting for service confirmation.

[2020-01-20 08:41] xccc-msft commented on #939
Close as supported #963

[2020-01-20 08:41] #939 closed

[2020-01-20 12:51] tomkerkhove commented on #960
Thanks for responding.

Is there any ETA to support this or are you waiting for AKS to make it GA?

Please note that AAD Pod Identity is a different feature that brings MI to a pod-level.

[2020-01-20 17:07] tomkerkhove commented on #962
It must have been a transient thing then indeed, however, they only return following metrics:
- `dtu_consumption_percent`
- `storage_used`
-`dtu_used`

While the docs are saying it should return more:https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-supported#microsoftsqlservers

But this might be more of an Azure Monitor issue than SDK?

[2020-01-20 17:18] tomkerkhove commented on #962
Hm not there yet, will provide tracing if I get it up and running.

[2020-01-20 18:22] tomkerkhove commented on #962
Turns out SQL Server had additional needs like a dimension requirement which I found out with the additional telemetry.

Thanks!

[2020-01-20 18:22] #962 closed

[2020-01-21 09:34] nickzhums commented on #960
@tomkerkhove We will need to check with AKS and see what their plan is. Meanwhile, if this is blocking you, consider using the other tools in the documentation :)

[2020-01-21 09:36] nickzhums commented on #933
@xccc-msft let us know when there is an update - thanks!

[2020-01-21 09:55] tomkerkhove commented on #960
I presume you are referring to https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md#using-azurecredentials then?

Thanks for checking!

[2020-01-21 13:59] nickzhums commented on #960
@tomkerkhove yes, also if it's convenient for you to use Azure CLI, the managed identities for AKS can be accessed via Azure CLI commands (https://docs.microsoft.com/en-us/azure/aks/use-managed-identity) as previously mentioned

[2020-01-23 01:50] yaohaizh commented on #724
@rybkov, given this, we are closing this issue now. Please feel free to open/re-open issues if you have more issues. Thanks!

[2020-01-23 01:50] #724 closed

[2020-01-23 07:21] vinothrao commented on #835
I need a help here. I have put Rest request for export of an SQL DB. I got a firewall error like this IP does not have permission to access the DB. So i added that IP to firewall rule of the server. But my question is will this ip be same for every request? is there anywhere we have this ip list so that i can add these to firewall rules.

[2020-01-23 09:36] ChenTanyi commented on #835
@vinothrao It seems you want to add you public IP to SQL DB's white list. You can search the public IP for more information. Whether your public IP will be changed is based on you ISP. If you use a public IP got from ISP, it will not change. If you work behind a private network, you can ask the network administrators about the public IP list.

[2020-01-23 12:16] vinothrao commented on #835
As per my understanding this should not be my IP rather the cloud VM which is trying to access the SQL for exporting bacpac.

[2020-01-25 05:08] ChenTanyi commented on #835
@vinothrao If you are talking about the Azure VM IP, there is a resource with type "Public IP address", you can keep it running or use a static IP in order to make the public IP not changed. Otherwise, the IP will be changed when you deallocate the VM. (You can see an option in portal to keep the IP address when you stop the VM.)

[2020-01-30 15:52] andtii opened #965 "Azure Ad cant remove Client secret key"
**Describe the bug**
The api to remove key doesent work

**To Reproduce**
Trying to delete a client secret key that is about to expire by c# code

***Code Snippet***
`
  app.Update()
  .WithoutCredential(key)
  .Apply();
`

**Expected behavior**
No exceptions after the code run but the key is not deleted

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:/

[2020-02-01 01:45] yaohaizh commented on #965
@weidongxu-microsoft  please help take a look into this issue. Thanks.

[2020-02-01 05:57] kirk-marple opened #966 "[BUG] ResourceGroups.DeleteWithHttpMessagesAsync throws NullReferenceException"
**Describe the bug**
When calling into this method, it throws a NullReferenceException, while polling for the deletion of the resource group.  The call actually succeeds with no error, but if you watch for this exception, it hits 3-4 times before the call finishes.

Microsoft.Azure.Management.ResourceManager.ResourceManagementClient.ResourceGroups.DeleteWithHttpMessagesAsync

Using 3.0.0-preview:

[2020-02-04 02:37] weidongxu-microsoft opened #967 "[BUG] Failed to create TMP with nested TMP"
**Describe the bug**

Failed to create TMP with nested TMP.

Fail on the FromRegion, `global` is rejected by service.

Portal uses `null`.

[code]

[code]

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise desc

[2020-02-04 02:47] weidongxu-microsoft commented on #967
Possible solution. Add a `FromGlobalRegion`.

[2020-02-04 14:45] yaohaizh opened #968 "[FEATURE REQ] Update ARM RP to the latest swagger spec"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-04 19:34] tlorton opened #969 "[QUERY] Create SendGrid Accounts"
**Is your feature request related to a problem? Please describe.**
I am wanting to wire up a SendGrid Account with a Timer Function to send alerts.

**Describe the solution you'd like**
Ability to create SendGrid Accounts through azure libraries for .net

**Describe alternatives you've considered**
I have tried to use Metric Alerts to alert on no ingress for a folder inside of a blob container, bu

[2020-02-05 11:23] WojtaX opened #971 "[BUG] While adding secrets to KeyVault, an exception occured "Operation returned an invalid status code 'Forbidden'""
**Describe the bug**
While adding secret to KeyVault, I'm getting an exception "Operation returned an invalid status code 'Forbidden", required permissions are added to key vault access policies. This is a similar bug to https://github.com/Azure/azure-libraries-for-net/issues/367

***Exception or Stack Trace***
Exception has occurred: CLR/Microsoft.Azure.KeyVault.Models.KeyVaultErrorException
An e

[2020-02-06 02:13] weidongxu-microsoft commented on #971
@WojtaX

It appears that the access policy is not defined property.

Let me know the SDK version. In 1.30 SDK I think this will not even compile.

The next method after DefineAccessPolicy should be one of these. Basically it defines access for **WHO**.

[code]

[2020-02-06 06:59] vijay-singh-16 opened #972 "How do I create new 'App Service Managed Certificates' using the library"
I want to automate creation and binding of SSL certificates to my website's subdomains. Currently I am doing it manually on Azure Portal using the option shown in the attached image.

![managed_cert](https://user-images.githubusercontent.com/60729120/73912255-0d36ff80-48da-11ea-9346-12cf6865e4a3.jpg)

I tried quite a bit but not able to find any api/method in the library to do so neither I am able

[2020-02-06 07:06] yaohaizh commented on #961
Will fixed on 1.31.0.

[2020-02-06 07:06] #961 closed

[2020-02-06 08:48] xccc-msft commented on #719
@tomkerkhove Here is update for this issue. I have created #970 to add GetAsync method as you requested. Please feel free to review if the changes work for you.

And for ApiVersion, here is detailed info why it's in method signature. In Azure, there are different types of resources, which are owned by different resource providers. It's easy to find out different resource providers with their own A

[2020-02-06 08:56] tomkerkhove commented on #719
Thanks for the explanation!

So if I get it correctly, #970 removes the burden of doing what you are doing in the first example, is that correct?

[2020-02-06 09:00] xccc-msft commented on #532
@TimLovellSmith @qub1n
Here are two options for you to set in your code and test if you still face the same issue.
- Add retry policy
[code]
Please check details here for using [RetryPolicy](https://docs.microsoft.com/en-us/dotnet/api/microsoft.rest.transientfaulthandling.retrypolicy?view=azure-dotnet)
- Increase http client timeout
[code]
Please feel free to let me know if these help.

[2020-02-06 09:08] adamconnelly commented on #719
@xccc-msft just a small comment on this. In the library, you know the version of all of the resource types that you support, so to make what @tomkerkhove is trying to do in Promitor possible, would you not be able to add a utility method to get an API version from the type of resource we're requesting. That would mean we could do something like:

[code]

Where `ResourceVersionFromType()` could loo

[2020-02-06 09:31] tomkerkhove commented on #719
That would be a good addition indeed!

But from looking at the PR it looks like I don't have to worry about API version anymore since it's becoming an optional parameter now, right @xccc-msft ?

[2020-02-06 09:33] WojtaX commented on #971
I'm using 1.30 SDK. Problem is solved, I didn't add AD application to KeyVault access policies.

[2020-02-06 10:58] xccc-msft commented on #719
@tomkerkhove Please check below for what's new in the PR:
- First, I add GetAsync method
- Second, I make the API version as optional. If you don't enter the API version, it will internally pick API version from resource manager client. If it fails, you might find options of the valid API versions from exception logs, which provided from resource provider side.

@adamconnelly Thanks for the commen

[2020-02-06 11:36] tomkerkhove commented on #719
Thanks, sounds like what we need!

[2020-02-06 12:28] adamconnelly commented on #719
I'm probably just missing something because I'm not mega familiar with using the Azure API directly / this library, but if I understand it correctly, the change that @xccc-msft has made means that if no `ApiVersion` is supplied, the code will fall back to using https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Generated/ResourceManagementClient.cs#

[2020-02-07 01:41] #971 closed

[2020-02-07 02:27] xccc-msft commented on #875
Close it as merged #955 .

[2020-02-07 02:27] #875 closed

[2020-02-07 03:17] weidongxu-microsoft commented on #750
Feature supported in 1.31.

Sample code:

[code]

[2020-02-07 03:27] #750 closed

[2020-02-07 04:34] avishnyakov opened #974 "AzureCliCredentials throws 401 / AdalServiceException: AADSTS7000215: Invalid client secret is provided."
**Describe the bug**
Hi team, can't get AzureCliCredentials working.
It keeps throwing 401 / AdalServiceException: AADSTS7000215: Invalid client secret is provided.

***Exception or Stack Trace***
Nothing much, just general System.AggregateException with 401 message
HttpRequestException: Response status code does not indicate success: 401 (Unauthorized).

Inner Exception 3:
AdalException: {"error"

[2020-02-07 08:07] avishnyakov commented on #974
Okay. it seems that the current implementation does not check if at least one record of type "ServicePrincipal" was found in the corresponding az files and therefore, fails while trying to use default, non-initialized values for auth.

Probably the following bit of code should check for the presence of at least one "ServicePrincipal" records. We might have az working well with the current use yet

[2020-02-07 09:01] ChenTanyi commented on #919
@Rhipeus After the subscription being set to 1000 concurrent container groups, I have tested it. But I cannot reproduce the problem. As my result showing, I can iterate all 1000 container groups.
![image](https://user-images.githubusercontent.com/15213781/74013514-92e4a900-49c7-11ea-9c21-6e147c9b7bdf.png)

I'm not sure is there anything related to your runtime environment, since actually when you

[2020-02-07 10:46] xccc-msft commented on #719
@adamconnelly @tomkerkhove
I just add [new lines](https://github.com/Azure/azure-libraries-for-net/pull/970/commits/a6d21f27cf244e11da24579479ba61ca57ff3d84) as per your comments. For now, the coverage of this map is not 100%.
The answer is you may fail when using this when you request certain type of resource which is not supported yet through our SDK. When you get errors, you may find the valid

[2020-02-07 11:48] adamconnelly commented on #719
@xccc-msft that sounds perfect. Thanks for taking that into account!

I'll leave Tom to answer your question since he's got more knowledge of Promitor than me.

[2020-02-07 12:26] tomkerkhove commented on #719
LGTM, thanks!

Yes, that is correct indeed!

[2020-02-07 14:41] Rhipeus commented on #919
I would agree that it shouldn't have failed in the middle of all requests but something made it so that it could fail in the middle of all requests.

I'm not sure that I can provide much more information at this time.  This issue occurred and broke our production system.  We have configured our system to only use 500 of our 1000 available slots to avoid this problem.  We are concerned that increas

[2020-02-08 08:59] xccc-msft commented on #719
@tomkerkhove @adamconnelly
Here is update with [new lines](https://github.com/Azure/azure-libraries-for-net/pull/970/commits/e7b448c051c5044c39f54ba1d6980042f47af113) to revise how we can get API versions from Providers. Thanks @weidongxu-microsoft for sharing the observation.
[code]
In the provider, you can find a list of `ProviderResourceType`. In each of them, you can find a list of API version

[2020-02-08 10:17] adamconnelly commented on #719
@xccc-msft I've left a comment on your PR. The overall approach looks fine, but I've got a small performance concern with the way the changes are implemented at the moment. I'm sure you'll know better than me whether my concern is valid or not. Thanks again for working on this!

[2020-02-10 01:44] ChenTanyi commented on #919
@Rhipeus Sorry for the late reply, since you said that you changed the container groups but it also raised an exception at 581st, I'd like to test if the 581 is a magic number, which costs lots of time waiting for expanding the container group number.

It seems that you can reproduce it in your subscription for any client environment, I'd prefer to think it was a problem in your azure runtime serv

[2020-02-10 03:54] weidongxu-microsoft commented on #965
Currently there is no 1.6 graphrbac REST found which returns the displayName of password credential.

[code]

Portal is using this, which is not in spec.
[code]

Service team, please advice.

[2020-02-10 04:01] weidongxu-microsoft commented on #965
@andtii
On current investigation `displayName` (Description in portal) is not available in current REST spec. This might not get fixed very soon.

So currently from REST API, we can only distinguish the password credentials by startDate and endDate.
An alternative (not pretty) approach is to iterate through app.PasswordCredentials, find the Name (actually = keyId above) by certain EndDate criteria

[2020-02-10 06:54] yaohaizh commented on #974
Thanks for reporting this, We are routing to investigate.

[2020-02-10 06:56] yaohaizh commented on #972
Thanks for reporting.

[2020-02-10 07:42] weidongxu-microsoft commented on #972
@vijay-singh-16

Please see if this help.

If you already have domain created and bound to webapp, you can start with line 125.

https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/AppService/ManageWebAppWithDomainSsl.cs

[2020-02-10 07:49] tomkerkhove commented on #719
Looks good to me, will give it a try and provide feedback based on that!

I presume this will be in new package version, right?

[2020-02-10 08:25] tomkerkhove commented on #719
Ha, it's probably already being shipped 🎉

[2020-02-10 08:58] yaohaizh commented on #719
@tomkerkhove let us know if you have any issue for using. I'm closing this issue now.

[2020-02-10 08:58] #719 closed

[2020-02-10 11:37] vijay-singh-16 commented on #972
@weidongxu-microsoft
The code provided in the sample is about creating a `Self Signed Certificate` but my question is about creating some `Managed Certificates` for which a button is available on Azure Portal as shown in the picture attached in the original question.

Please Help!

[2020-02-10 15:17] weidongxu-microsoft commented on #972
@vijay-singh-16

I see.

The creation of Managed Certificates is not formally supported yet. I will check on the schedule for it.

Meanwhile it is possible to do it an informal way (note this is more likely to be broken when version upgrade).

Sample code, assume you have domain, sub-domain, webapp ready.

[code]

[2020-02-11 10:58] xccc-msft commented on #974
@avishnyakov Thanks for reporting this. We can add condition check as you mentioned. And for your suggestion, there will be a concern if you want to expose your subscription id in your code base or some files. The purpose to have such simple `AzureCliCredentials.Create()` was to keep your code base/project clean without expose any credentials related.

[2020-02-12 02:48] OrpheusQu opened #977 "[FEATURE REQ] Expose parameter skipShutdown in VirtualMachine.PowerOff() method."
**Is your feature request related to a problem? Please describe.**
We'd like to add chaos to our VM scale set and need to power off VM & skip shutdown. But currently the code here hides that parameter with default value false when calling low-level API.

**Describe the solution you'd like**
Expose skipShutdown with a default value as false in PowerOff() method.

**Describe alternatives you've cons

[2020-02-12 06:20] vijay-singh-16 commented on #972
@weidongxu-microsoft
Great! this works :)

I will keep an eye on the version upgrade.

[2020-02-12 06:20] #972 closed

[2020-02-12 15:59] gersof commented on #39
Hey @oughton   It's amazing, works for me!

[2020-02-12 21:53] maciekporebski commented on #585
Using AzureServiceTokenProvider seems to be the simplest solution:
https://github.com/Azure/azure-docs-sdk-dotnet/issues/961#issue-429108506

[2020-02-13 05:37] yaohaizh commented on #977
Thanking for report this. We will provide the support when with bandwidth. And we are welcome any PR from contributor. Thanks.

[2020-02-14 01:02] Drewm3 commented on #815
Incorrect reopen

[2020-02-14 01:02] #815 closed

[2020-02-14 14:57] Rookian opened #978 "[BUG] IGenericResource.ApiVersion is always null"
**Describe the bug**
When retrieving an `IGenericResource `instance from `genericResources.ListByResourceGroupAsync`  `ApiVersion` property is null.

**To Reproduce**
The resource already exists and when showing ARM template in Azure `ApiVersion` is filled.
[code]
**Expected behavior**
`IGenericResource.ApiVersion` should be filled with the correct `ApiVersion` that was used when the resource was

[2020-02-17 03:48] yaohaizh commented on #978
@xccc-msft could you help take a look at this issue? Thanks.

[2020-02-17 04:12] xccc-msft commented on #978
@Rookian This is not bug here. `IGenericResource.ApiVersion` is always null here because the service will not provide `ApiVersion` in the response. For your code snippet, you can still go ahead with the update operation. We will set value for `ApiVersion` from SDK side if we find the user has no information about it.

[2020-02-17 05:51] yaohaizh commented on #978
@xccc-msft given this, the API version should not be part of the resource property, but rather the property of the endpoint(REST API). Mind about how to model this behavior? Thanks.

[2020-02-17 09:19] Rookian commented on #978
[code]
The code still does not work:

How do I update all my resource tags within a resource group?

[2020-02-17 10:35] andtii commented on #965
@weidongxu-microsoft The issue i have is not about the displayName. its about that when i try to delete the key using app.Update() .WithoutCredential(key) .Apply();  Nothing happens. It doesn't delete my key.

[2020-02-17 11:41] xccc-msft commented on #978
@Rookian For now, you can have simple workaround as below according to the exception you met.
[code]
If you don't want to take extra GET request, please refer [how we prepare ApiVersion in SDK](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/GenericResource/GenericResourcesImpl.cs#L276-L293)
And use below code to update the tags
[code]

[2020-02-17 12:04] xccc-msft commented on #978
@yaohaizh We can handle this when the users try to get it via `resource.ApiVersion`. Otherwise, we can remove the ApiVersion from `IGenericResource` as I also agree that the ApiVersion is not resource property. It will depend on if we want to keep exposing this property to the users.

[2020-02-17 16:42] Rookian commented on #978
@xccc-msft Thanks your workaround is working.

Is there any reason why I can't tag smartDetectorAlertRules?

Code:
[code]
Error:

[2020-02-17 16:50] chrisalexander opened #998 "[BUG] Image Gallery Version API doesn't return ReplicationStatus"
**Describe the bug**
When requesting a Gallery Image Version from the SDK, the ReplicationStatus field is null and there is no way to request that data.

**Expected behavior**
Able to request the ReplicationStatus field be populated.

**Actual behavior (include Exception or Stack Trace)**
What is the actual behavior?

**To Reproduce**
Steps to reproduce the behavior (include a code snippet, screen

[2020-02-18 00:51] weidongxu-microsoft commented on #965
@andtii
I know. The problem to SDK is that service REST API does not return anything SDK can distinguish (sample JSON response attached below), hence SDK cannot do anything about it right now.

That is the reason when you do `WithoutCredential(key)` nothing happens, because there is nothing to know which key is which.

That  is the reason we are asking service team to check.

[code]

[2020-02-18 01:50] ChenTanyi opened #979 "[FEATURE REQ] Cosmos DB expose "AutomaticFailover" and fix name with iWithMultipleLocations."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-18 02:54] xccc-msft commented on #978
@Rookian According to the exception, it's like your client does not have permission to perform action 'read' on the resource from Application Insight action group. You might need to use role-base access control for your client, please refer these two links
1. [Resources, roles, and access control in Application Insights](https://docs.microsoft.com/en-us/azure/azure-monitor/app/resources-roles-acce

[2020-02-18 06:07] markjbrown opened #980 "[BUG] Cannot update secondary region failover priority"
**Describe the bug**
I am unable to change the failover priority for a Cosmos account by calling FailoverPriorityChangeAsync()

***Exception or Stack Trace***
N/A

**To Reproduce**
- Create a Cosmos account with regions (West US 2, East US 2, South Central US)
- Run the code snippet below.

***Code Snippet***
List<Location> failoverPolicies = new List<Location>
{
    new Location { LocationName =

[2020-02-18 06:13] markjbrown opened #981 "[BUG] Unable to update index policy on SqlContainer"
**Describe the bug**
I am unable to update a SqlContainer with a modified IndexPolicy in which I am removing an ExcludedPath from the IndexPolicy

***Exception or Stack Trace***
N/A

**To Reproduce**
Steps to reproduce the behavior:
- Create a Cosmos Sql Account, database and Container that has an ExcludedPath of "/myPathNotToIndex/*"
- Run the code snippet below.

***Code Snippet***
await azure.C

[2020-02-18 10:14] Rookian commented on #978
It seems like that the action group is a global resource (swo-sb-oneip-dev01-rg). It is also not a part of my resource group (econ-dev).

How can I filter out global resources that are not directly belonging to my resource group?

[2020-02-18 10:45] xccc-msft commented on #978
@Rookian You might want to use `ResourceUtils.groupFromResourceId(id)` to verify the resource group from resource ID.

[2020-02-18 12:55] Rookian commented on #978
This won't help me, because the the given resource belongs to my resource group.

I have a resource (smartDetectorAlertRules) in my resource group whose location is "global" and is "hidden" according to the Azure UI . In addition the resource has kinda "link" to a resource that does not belong to my resource group. This is the reason why my update statement fails.

I could filter out this resource

[2020-02-18 18:46] jeroenterheerdt commented on #923
hey @tlorton - not sure how this has escaped our attention for so long - sorry about that. Just to reply to your question, you can absolutely use Azure CLI to create Hyperscale databases: `az sql db create -g mygroup -s myserver -n mydb -e Hyperscale --read-replicas 5`. Hope this helps.

[2020-02-18 18:54] tlorton commented on #923
That does not help as I am trying to using the azure-libraries-for-net SDK.

[2020-02-18 18:55] jeroenterheerdt commented on #923
@tlorton - thanks. I'll let @yaohaizh respond to our plans here.

[2020-02-18 19:55] alexwilsh opened #982 "[FEATURE REQ] Export to ARM template"
**Is your feature request related to a problem? Please describe.**
We want to build a framework within a company to provide ARM templates created based on our internal practices including security concerns, naming conventions, etc. Our code is on C# .NET Core.
Fluent can be used to define Azure resources in C# code. But we need to provide ARM template as an output.
I couldn't find this feature exi

[2020-02-19 03:20] xccc-msft commented on #978
@Rookian You should be able to find IDs of other resources in 'res.Properties' before update the tags. You might want to do some patterning searching to find out those IDs and verify whether they belong to your resource group via `ResourceUtils.GroupFromResourceId(id)`.

[2020-02-19 07:07] ankrause opened #983 "[FEATURE REQ] Storage: Disable Key Vault encryption, reverting to Microsoft Managed Keys"
**Is your feature request related to a problem? Please describe.**
I'm able to enable Customer Managed Keys for Azure Storage using the `WithEncryptionKeyFromKeyVault` method when updating an existing storage account. I don't see a built-in way of turning this feature back off without using an alternative to the fluent update syntax.

Perhaps I've missed something obvious?

**Describe the solution

[2020-02-19 08:39] ChenTanyi commented on #980
@markjbrown After my test, the request has already been sent to the server, but the service didn't deal successfully with it.

POST `/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange`
Body:
[code]

[2020-02-19 09:02] ChenTanyi commented on #980
@markjbrown And I can update successfully, for three regions. (West US 2, West Central US, East US 2)
The following got from server. (it is originally 0, 1, 2 in sequence)
![image](https://user-images.githubusercontent.com/15213781/74818174-222f7c00-5339-11ea-82e5-96a3c30333ac.png)

[2020-02-19 10:00] ChenTanyi commented on #981
@markjbrown I cannot reproduce your problem, the without is successful in the unit test and my test again.

In:
https://github.com/Azure/azure-libraries-for-net/blob/4a330a0a3ae401957e8c0cfc12398372014db60f/Tests/Fluent.Tests/CosmosDB/CosmosDBTest.cs#L332-L342
And:
https://github.com/Azure/azure-libraries-for-net/blob/4a330a0a3ae401957e8c0cfc12398372014db60f/Tests/Fluent.Tests/CosmosDB/CosmosDBTes

[2020-02-19 14:29] Rookian commented on #978
Got it working:

[code]

[2020-02-19 18:38] markjbrown commented on #980
Thanks @ChenTanyi will investigate with portal team.

Will close.

[2020-02-19 18:38] #980 closed

[2020-02-19 18:43] markjbrown commented on #981
Thanks @ChenTanyi. Will investigate with Portal.

Closing.

[2020-02-19 18:43] #981 closed

[2020-02-19 19:11] daviddowning opened #985 "[QUERY]"
**Query/Question**
Is there a way to use the token acquisition from this SDK?  I use many of the resource APIs, however it is not comprehensive.

I'm specifically interested in:

azure_auth

OAuth2 Implicit Grant
Type: oauth2
Flow: implicit
Authorization URL: https://login.microsoftonline.com/common/oauth2/authorize

***Why is this not a Bug or a feature Request?***
Just asking if it's possible.

[2020-02-20 02:11] weidongxu-microsoft commented on #982
@alexwilsh

You might want to try this:

[code]

[2020-02-20 02:20] yaohaizh commented on #985
@daviddowning  could you be more specific about your requirement?  For the reference: https://github.com/Azure/azure-libraries-for-net/issues/949 is this your requirement?

[2020-02-20 03:03] xccc-msft commented on #978
@Rookian Great. Thanks for sharing the code snippet, I think it looks good.

[2020-02-20 04:31] huajunzhao commented on #615
@ChenTanyi  We have the same requirement recently, is there any timeline to support this in Azure fluent sdk?
Do you have any alternatives to support SN+Issuer in Azure fluent sdk?

[2020-02-20 05:49] yaohaizh commented on #983
@ankrause this seems a limitation of fluent SDK.

[2020-02-20 06:32] #979 closed

[2020-02-20 14:26] havlicekp opened #986 "[BUG] Guest user can't retrieve AD application"
**Describe the bug**
Calling IAuthenticated.ActiveDirectoryApplications.GetByName(applicationId) to get ActiveDirectoryApplicationImpl (and do an update later). When authenticated as a guest user (invited to our AAD) who is added to Owners for the app, the call to GetByName returns null. When logged in Azure portal under this user, I'm able to see the app details and do the update in need.

**To R

[2020-02-20 14:46] #986 closed

[2020-02-20 15:14] alexwilsh commented on #982
@weidongxu-microsoft

I assume this will work only if resources are already deployed.
But, is there a way to get ARM template for defined in code resources but not deployed yet?

In our case, we want to have infrastructure as a code using SDK, but at the same time we want to have the opportunity to see the result in ARM template prior to deployment.

[2020-02-20 17:29] daviddowning commented on #949
Thank you for your response.  I was able to get the Azure REST APIs working using the following code:

        private static string TestAuth()
        {
            // AzureCredentials credentials = new AzureCredentials(spLogin, TenantID, AzureEnvironment.AzureGlobalCloud);
            var credentials = SdkContext.AzureCredentialsFactory.FromServicePrincipal(
                ClientID,

[2020-02-20 18:04] havlicekp commented on #986
This was a false alert and can be removed. I'm sorry for any inconvenience.

[2020-02-21 04:53] weidongxu-microsoft commented on #982
@alexwilsh

I am not sure it is doable in SDK.

Currently SDK creates resource by making REST API call step by step (likely multiple calls for a single resource), not by creating ARM template and deploy them.

@yaohaizh

[2020-02-21 04:59] alexwilsh commented on #982
@weidongxu-microsoft
Ah, I got it.
If that is the case, then SDK won’t fit our needs. We’ll easily hit the limit of API calls like we did with the raw Rest API last time.
Thanks for the help.

[2020-02-21 04:59] #982 closed

[2020-02-21 21:28] JadedATB opened #987 "[BUG] Unable to delete NSG when flow logging is enabled"
**Describe the bug**
Fluent API fails when trying to delete an NSG when flow logging has been enabled.

***Exception or Stack Trace***
Getting a CloudException with the message:
Resource /subscriptions/******/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_southcentralus/FlowLogs/Microsoft.NetworkRg-UnitTest-AutomatedDeployment-NSGNsg-DMZ referenced by re

[2020-02-24 10:10] yunbas commented on #705
@AlexEyler this seems to be doable with current TrafficManager Fluent libraries. For your reference, this is what I did:

            IAzure azure = Azure.Authenticate(credentials).WithDefaultSubscription();
            string rgName = "profile-test";
            string profileName = SdkContext.RandomResourceName("profile-test-", 20);
            IWithEndpoint tmDefinition = azure.TrafficManagerPr

[2020-02-24 22:04] KarenHammons commented on #705
@AlexEyler please let us know if there are still issues/questions.  The code sample above shows how to accomplish this already.  We'll close this issue.  Thank you.

[2020-02-24 22:04] #705 closed

[2020-02-25 02:48] yaohaizh commented on #987
Thanks for reporting this. We will route it to investigate.

[2020-02-25 22:36] yugangw-msft commented on #723
ACR team doesn't own the library work. @yaohaizh, please follow up

[2020-02-26 01:30] yaohaizh commented on #723
Close this as lack of void.

[2020-02-27 11:56] qub1n opened #988 "[BUG] Poor performance of ComputeSkus.ListbyRegionAndResourceTypeAsync"
**Describe the bug**

A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

1. turn on memory profiler.
2. call
var vmSizes = await _azure.ComputeSkus.ListbyRegionAndResourceTypeAsync(azureRegion, ComputeResourceType.VirtualMachines, cancellationToken);

If called in

[2020-02-27 12:02] qub1n commented on #988
@adamsitnik might be interested.

[2020-02-28 21:29] aschuhardt commented on #553
Has there been any update on this?  The issue appears to still be present in version 1.31.1.

[2020-03-01 05:54] ifeoluwaokunoren commented on #968
Hi @yaohaizh,
Can you please provide more details on your request.
Thanks.

[2020-03-01 12:00] yaohaizh commented on #968
@ifeoluwaokunoren This is purely SDK side work item. Modified the title to correctly describe the issue.

[2020-03-03 02:21] ChenTanyi opened #991 "[FEATURE REQ] Update Cosmos swagger and API"
Fluent API:
* Add WithkeyValultKeyUri(string)
* Add isVirtualNetworkFilterEnabled(bool)
* Fix or remove .WithVirtualNetwork()

Refactor some Cosmos DB and Sql Database API to simple parameter.

[2020-03-03 08:09] weidongxu-microsoft opened #992 "[BUG] Azure.AppServices.FunctionApps.ListAsync() doesn't work as expected C# SDK v1.31"
ICM https://icm.ad.msft.net/imp/v3/incidents/details/177404609/home

[2020-03-03 08:52] weidongxu-microsoft commented on #992
Sync method from web app and function app, i.e. List / ListByResourceGroup is not filtering at all. Basically they return web app and function app, regardless whether it is called in WebApps or FunctionApps.

Async method from function app got a bug that Linux function app is no included in result.

[2020-03-04 00:20] matthewaturner opened #997 "[FEATURE REQ] AzureFirewall .Update() does not allow for manipulation of rule collections"
**Microsoft.Azure.Management.Network.Fluent.AzureFirewall**
What library or service is this request related to? [e.g. Azure.Storage.Blobs]

**Is your feature request related to a problem? Please describe.**
When I want to define a new azure firewall, I am able to specify seemingly all properties of the resource. [AzureFirewall Definition Namespace](https://docs.microsoft.com/en-us/dotnet/api/micro

[2020-03-05 05:07] #991 closed

[2020-03-05 07:56] #992 closed

[2020-03-06 00:12] jasonxdhu opened #996 "[BUG]Dead loop occurs when NextPageLink is not null but resource results are empty"
**Describe the bug**
In the method **AddCollection** of class **PagedCollection**, there is dead-loop when the resources returned from service are empty but next-page-link is not null.

It should continue invoking requests to get more results based-on next-page-link until it reaches to null. It cannot assume there are no more results because the current results are empty. The common practice is to

[2020-03-06 01:43] weidongxu-microsoft commented on #996
@jasonxdhu
Thanks for pointing it out. BTW, let us know if any service is actually doing this (empty values, but valid nextLink).

[2020-03-06 01:56] jasonxdhu commented on #996
Hi Weidong,

I am from Azure Key Vault team. We are working on a new feature that will return “empty values, but valid nextLink”. It took us a while to figure out why some customers get this dead-loop. Currently we are waiting this bug to be fixed so that we can roll out new feature. It will be great if you can fix it soon for us!
Thanks
-Jason

From: Weidong Xu <notifications@github.com>
Sent: Th

[2020-03-10 17:18] xinyanmsft opened #1001 "Operation should support HTTP status code 429 and retry-after header"
**Is your feature request related to a problem? Please describe.**
When performing resource operations, RP could send back 429s. For example, from Azure Network Resource provider, it will send 429 when:
  1. Some documented limit in the RP is reached, such as Network Resource Provider's maxWriteOrDeleteCallsPer5Min
  2. Attempt to run an operation on a resource with references that are in an updat

[2020-03-11 05:12] ArchangelSDY opened #1002 "[BUG] DNS record update failed with 504 after about 2min but no exception was thrown"
**Describe the bug**
Sometimes ARM returns 504 Gateway Timeout after about 1-2min. However the library throws no exception so the caller is unable to know the operation actually fails.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Use Fiddler to inject **1min delay and 504 response** for DNS A record update request:

![image](https://user-imag

[2020-03-11 05:22] xccc-msft opened #1003 "[FEATURE REQ] Support storage account id in snapshot creation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-11 14:19] Rookian opened #1005 "[BUG] The resource type could not be found in the namespace 'Microsoft.Sql' for api version '2019-06-01-preview'"
**Describe the bug**
I created a SQL Azure database server with a database manually and also with code using the SDK.

I have some code snippet that tags all resources within a resource group. See https://github.com/Azure/azure-libraries-for-net/issues/978#issuecomment-588261592

When I try to receive the resource for the Azure database, I get the following errror:

Failing code:
[code]

**Expecte

[2020-03-12 02:43] yaohaizh commented on #1005
@xccc-msft please take a look at this issue to see whether we support the case. //cc @yungezz

[2020-03-12 03:03] xccc-msft commented on #1005
@Rookian This might be caused by the restriction on different versions from SQL service side. We will investigate if we could pick api version in better manner from SDK side. For now, you might want to use below snippet and retry:
[code]
Then try [same logic](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Core/ResourceUtils.cs#L161-L176) but try

[2020-03-12 04:47] #998 closed

[2020-03-12 12:34] xccc-msft commented on #1002
@ArchangelSDY For now, you could use below workaround.
[code]

[2020-03-12 12:55] thomaslevesque opened #1006 "How to create a CosmosDB account without replication?"
**Query/Question**
The fluent API doesn't let me call `Create` or `CreateAsync` unless I configured a region for write replication (using `WithWriteReplication`) before. How do I create an account without replication?

[code]

***Why is this not a Bug or a feature Request?***
Maybe it's a bug, I don't know; it _looks_ like there's something missing in the fluent API. But maybe it's intentional and

[2020-03-12 13:41] thomaslevesque commented on #1006
Apparently it works if I just specify the same region as in `WithRegion`, but it's not very intuitive.

[2020-03-12 14:02] chrisalexander commented on #998
Thank you! Will this make it into the next release, and do you know when that will be?

[2020-03-12 16:28] ArchangelSDY commented on #1002
Thanks for looking into it. Two more questions:

* Is it a general issue or just for DNS operations?
* How do you get the magic number `30s`? Is it something hardcoded in SDK or actually up to caller?

[2020-03-12 23:59] yungezz commented on #1006
HI @ChenTanyi  could you pls help to have a look?

[2020-03-13 01:34] ChenTanyi commented on #1006
@thomaslevesque You can use `WithStrongConsistency` like https://github.com/azure/azure-libraries-for-net/blob/fa30e6d796d00b4c773b39120cfb94729b90839a/Tests/Fluent.Tests/CosmosDB/CosmosDBTest.cs#L159. For `SessionConsistency`, I think it always needs a location to write.

[2020-03-13 01:36] xccc-msft commented on #998
@chrisalexander We plan to release on March 20.

[2020-03-13 01:45] xccc-msft commented on #1002
@ArchangelSDY It should be a general issue in SDK. The built-in retry count is 3 if no retry policy configuration from user end. For the situation you mentioned, it would happen when the responses are code 504 all the time. After that, no more retry action would take place. The potential fix is to throw exception from ClientRuntime side after retry count reduce to 0 and the last response still not

[2020-03-13 02:50] #1003 closed

[2020-03-13 08:20] thomaslevesque commented on #1006
@ChenTanyi thanks. I don't really care about the consistency level, since I only have one location, but the API forces me to choose one, which was a bit confusing. If I choose Strong consistency, I don't have to specify a write location.

[2020-03-13 08:20] #1006 closed

[2020-03-13 08:47] ChenTanyi commented on #1006
@thomaslevesque I'm not so sure about if there is default consistency for cosmos DB, but since all DB needs at least one location to write, I think the `WithWriteReplication` does not matter all actually.

[2020-03-13 09:20] Rookian commented on #1005
@xccc-msft I tried all versions with no success.

Could not get resource .../providers/Microsoft.Sql/servers/alextestsrc/databases/alextestdb with api version 2018-06-01-preview.
Could not get resource .../providers/Microsoft.Sql/servers/alextestsrc/databases/alextestdb with api version 2017-10-01-preview.
Could not get resource .../providers/Microsoft.Sql/servers/alextestsrc/databases/alextestdb

[2020-03-13 09:31] weidongxu-microsoft commented on #1006
@ChenTanyi We might relax the creation part a bit. From portal we seems able to create the cosmos account without any write replication, and the default consistency is session. I think session consistency is still valid even if there is no write replication, since read replication also count in the consistency.

[2020-03-13 09:42] xccc-msft commented on #1005
@Rookian Thanks for the update. I just add a label so we can get help from service end to check this.

[2020-03-13 10:19] chrisalexander commented on #998
Thanks

[2020-03-13 14:17] rthorn17 commented on #1005
SQL team needs to investigate concerning their resource provider manifest and api version

[2020-03-16 02:15] yaohaizh opened #1007 "[FEATURE REQ] Investigate compatible V2 interface for V1 PagedList"
The PagedList is supported in V1 and replaced by PagedIterable. This brings lots of breaking changes. We should bridge the usage scenario here to make compatible.

[2020-03-16 02:31] #1007 closed

[2020-03-16 03:07] ChenTanyi commented on #1006
Yeah, I've checked the portal, maybe they use the location as default, we could use it as well.

[2020-03-16 03:11] ChenTanyi opened #1008 "[FEATURE REQ] Cosmos DB remove write replication in simple definiton"
As https://github.com/Azure/azure-libraries-for-net/issues/1006#issuecomment-598631450 discussed about.

[2020-03-16 04:34] pppchris opened #1009 "[FEATURE REQ] Adding in ALIAS support for DNS management"
**Is your feature request related to a problem? Please describe.**
Having the ability to create ALIAS records that are linked to Azure resources. Mainly adding in an ALIAS for a root record like traffic manager.

**Describe the solution you'd like**
A records have to link to an IP address, would prefer to link it to an ALIAS record so traffic manager and such can be used.

**Describe alternatives

[2020-03-17 04:51] #996 closed

[2020-03-17 08:55] imeya opened #1012 "[QUERY]How to list metrics definition of application insights log-based metric?"
**Query/Question**
How to list metrics definition of application insights log-based metric?

***Why is this not a Bug or a feature Request?***
Not sure if it's a bug.

**Setup (please complete the following information if applicable):**
 - OS: windows 10
 - IDE : vs 2017
 - Microsoft.Azure.Management.Fluent, version 1.31.1

**details**

I try to list all the metrics definition of application insig

[2020-03-18 02:11] ChenTanyi opened #1013 "[FEATURE REQ] Deprecate the GetAccessProfile API in aks"
source code is: https://github.com/Azure/azure-libraries-for-net/blob/12bf18bf4c6012791f357eb582fd4ae4a2f442f9/src/ResourceManagement/ContainerService/KubernetesClusterImpl.cs#L129-L148

[2020-03-18 03:14] yungezz commented on #1009
feature request on DNS

[2020-03-18 04:27] manish1604 opened #1014 "Not able to get token for Apps where certificates are whitelisted using issuer and subject name"
AAD mandates that if we are using app where certificates are whitelisted using issuer and subject name; we should pass sendX5c flag to true.
In AzureCredential, when we call  'ApplicationTokenProvider.LoginSilentAsync', we don't have a way to pass IsCertificateRollOverEnabled to acquire token.

[2020-03-18 04:29] manish1604 commented on #1014
Source code:
https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/ResourceManager/Authentication/AzureCredentials.cs

[2020-03-18 04:46] manish1604 commented on #1014
Seems it is related to
https://github.com/Azure/azure-libraries-for-net/issues/615

[2020-03-18 05:34] weidongxu-microsoft commented on #615
@ChenTanyi
Actually Authentication have it, but it is `!net452`, so our lib cannot see/use it for our target framework is `net452`.
https://github.com/Azure/azure-sdk-for-net/blob/0ec839f23c14c8109a6bdd59118bb74384a73818/sdk/mgmtcommon/Auth/Az.Auth/Az.Authentication/ApplicationTokenProvider.cs#L270
The `IsCertificateRollOverEnabled` parameter.

To support this, we might need to add additional targ

[2020-03-18 17:21] manish1604 commented on #615
We are a heavy user of fluent. And this is required to unblock us for cert+issuer requirements.

Our target framework is net462.
More implementation can be found at:

  1.  https://msazure.visualstudio.com/One/_git/CRM-MidTier-Services-NRD-Fabric?path=%2Fsrc%2FMicrosoft.CDS.NonRelational.Provisioning.Azure
  2.  https://msazure.visualstudio.com/CCI/_git/Foundation?path=%2Fsrc%2FProvisioning%2FMicr

[2020-03-18 17:31] daveoshinsky opened #1016 "QUERY: how to resolve System.TypeLoadException: Method 'get_SerializationSettings' in Fluent Management SDK"
I am seeing the following exception when adding logic to query for Cosmos DB credentials, using Fluent Management SDK's.  I don't see it in a simpler test program, and believe that this has to do with two different versions of Newtonsoft.Json loaded at once (6.0.8 and 12.0.3, from different portions of the complex logic).  I did include the following assembly redirect in app.config for the DLL usi

[2020-03-18 17:33] daveoshinsky commented on #1016
The assembly redirect appeared to be left out.  It is:

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="12.0.3" />
      </dependentAssembly>

[2020-03-18 18:10] jamestao commented on #1005
Not sure if the problem is in the SDK or the input, but from telemtry the generated url is incorrect:
https://management.azure.com:443/subscriptions/<subid>/resourcegroups/<rgname>/providers/Microsoft.Sql/subscriptions/<subid>/resourceGroups/<rgname>/providers/Microsoft.Sql/servers/alextestsrc/databases/alextestdb?api-version=2019-06-01-preview

Notice that the subscriptions, resourcegroups and pr

[2020-03-18 21:01] chriswue commented on #225
2 years later and still open .. any update on the status of this?

[2020-03-19 01:53] ChenTanyi commented on #615
@manish1604 Is there any document I can test with? I saw the function with `IsCertificateRollOverEnabled` parameter call another function outside `!net452`, but I'm not sure if it is same parameter as `sendx5c`, since it doesn't call `AcquireTokenAsync` finally.

[2020-03-19 01:55] weidongxu-microsoft commented on #1016
After quick read, I guess this might be helpful
https://github.com/Azure/azure-libraries-for-net/issues/934#issuecomment-567754899

The redirectly in dll seems not working for final exe in above case (not sure whether this is same issue on your case).

[2020-03-19 01:58] weidongxu-microsoft commented on #615
@ChenTanyi
The actual call happens here
https://github.com/Azure/azure-sdk-for-net/blob/0ec839f23c14c8109a6bdd59118bb74384a73818/sdk/mgmtcommon/Auth/Az.Auth/Az.Authentication/CertificateAuthenticationProvider.cs#L87

So I guess net452 will not do...

[2020-03-19 02:35] ChenTanyi commented on #615
@weidongxu-microsoft Does this only need to add a target framework at .csproj?

[2020-03-19 04:17] xccc-msft commented on #1005
@jamestao Thanks for sharing the observation.
@Rookian I just commit [changes](https://github.com/Azure/azure-libraries-for-net/pull/1015/commits/272c85a67203b6a7fc4844e7775f97f29d3d56fe) to fix this. Before we release, you might use below code snippet as a workaround.
[code]

[2020-03-19 06:14] weidongxu-microsoft commented on #615
https://github.com/Azure/azure-sdk-for-net/pull/10696

[2020-03-19 06:55] #997 closed

[2020-03-19 06:55] #978 closed

[2020-03-19 08:07] nickzhums commented on #615
@manish1604 Thanks for letting us know about this issue. Just for reference, we are currently working on the next version of .NET SDK based on a better authentication mechanism and API design and it will be released around June. The .NET Fluent SDK will be slowly phased out, it's recommended that you guys slowly move away from Fluent SDK when the new SDK comes out. Let me know if you have further

[2020-03-19 15:00] daveoshinsky commented on #1016
Thanks Weidong, that is an excellent insight.  So the app.config for my DLL is somehow not taking effect for the EXE within which it runs.  That EXE is a very complex one, which involves Native code bridging into Managed code in a number of places, using multiple underlying .NET frameworks.

Once I made the change you suggested, the problem morphed into a different one.  I suspect that this has to

[2020-03-19 15:33] manish1604 commented on #615
Thanks @nickzhums. We will keep this task in our roadmap. For now, we need the support for sendX5c flag to enable auto rotation of the certificate.

[2020-03-19 17:21] daveoshinsky commented on #1016
I observed under the debugger where it is throwing the latest MissingMethodException, at the StartNew() line in this Extensions.cs method:

        public static TResult Synchronize<TResult>(Func<Task<TResult>> function)
        {
            return Task.Factory.StartNew(function, CancellationToken.None, TaskCreationOptions.None, TaskScheduler.Default)
                .Unwrap().GetAwaiter().GetRes

[2020-03-19 20:44] daveoshinsky commented on #1016
After copying all of the DLL's from a working standalone test program, everything matches and it works.

[2020-03-19 20:44] #1016 closed

[2020-03-20 03:27] weidongxu-microsoft commented on #615
@ChenTanyi

Update from @manish1604, client calls
[code]
We can add one more param e.g. `isCertRollOverEnabled = false` (and finally in `ServicePrincipalLoginInformation`).

We likely need to handle the case of `X509Certificate2` as well.

The interface we might use in `CertificateAuthenticationProvider` is likely

[code]
Former for raw, latter for `X509Certificate2`.

[2020-03-20 03:29] weidongxu-microsoft commented on #615
Internal doc

https://aadwiki.windows-int.net/index.php?title=Subject_Name_and_Issuer_Authentication

[2020-03-23 04:36] #1013 closed

[2020-03-23 14:04] huajunzhao commented on #615
FYI

I was using the below workaround to get AzureCrendetails which supports SN+Issuer auth.

![image](https://user-images.githubusercontent.com/3183325/77324753-314b8480-6d52-11ea-838a-d4ae439d261d.png)

[2020-03-24 02:48] weidongxu-microsoft opened #1021 "[BUG] Loadbalancer create inbound rule is slow for Standard SKU"
IcM https://icm.ad.msft.net/imp/v3/incidents/details/180376142/home

Might not be an actual bug for 10sec. Though if we can we could try help them to get it faster (via workaround etc.)

[2020-03-24 22:38] coppercosmo commented on #720
Is there an ETA for this to get done?

[2020-03-25 00:59] OrpheusQu commented on #977
Can I ask when this can be resolved? Or maybe I can help with this change?

[2020-03-25 02:18] ChenTanyi opened #1024 "[FEATURE REQ] Cosmos DB add VirtualNetoworkFilterEnabled property and change WithVirtualNetwork to WithVirtualNetworkRule"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-25 07:51] ChenTanyi commented on #1006
@thomaslevesque The write replication cannot be removed due to the cosmos API, and I add a function `WithDefaultWriteReplication` for NET 1.33.0 (Released on 10 April).

[2020-03-25 07:57] #1008 closed

[2020-03-25 07:58] #1024 closed

[2020-03-25 08:36] thomaslevesque commented on #1006
@ChenTanyi maybe name it `WithDefaultWriteLocation` instead? It's a bit strange to have "replication" in the name when there isn't actually any replication. Otherwise, sounds good to me. Thanks!

[2020-03-25 08:59] ChenTanyi commented on #1006
@thomaslevesque Yes, it is not the replication for the first location. But due to the consistent, we cannot change it into write location, which will make large breaking change. And actually, its comment is "Sets a write location".

[2020-03-25 09:27] yungezz commented on #1021
@xccc-msft  has been working close with customer on this. add Chuang to help update in github also

[2020-03-25 09:55] weidongxu-microsoft commented on #977
@OrpheusQu

Sure. You are welcome to add a PR. Interface is `IVirtualMachine`.

[2020-03-25 10:37] xccc-msft commented on #1021
After investigation, this is not a bug. When server returns the response with header of `Retry-After`, it's telling the SDK client to send next request for the long running operation after X sec, which X is the value from `Retry-After`. So in this case, the observation of around 11.5 sec is due to server return `Retry-After` with value of 10.

We could say it's expected behavior from SDK client ac

[2020-03-26 16:20] StingyJack opened #1026 "[BUG] The dependencies for the Microsoft.Azure.Management.Fluent package look backwards"
If I install the `Microsoft.Azure.Management.Fluent` (base) package, I must also install no less than 24 additional packages. The problem is that most of the packages are ones that I have no need for, and it looks like the dependency should be in the other direction.

For example, I would think that  `Microsoft.Azure.Management.CosmosDb.Fluent` would depend on the base package, but it does not. In

[2020-03-26 21:17] coppercosmo opened #1027 "[BUG] Passing invalid clientId, tenantId, or clientSecret AzureCredentials object to IConfigurable.Authenticate method still succeeds"
**Describe the bug**
If I pass an invalid clientSecret, clientId, or tenantId to the AzureCredentialsFactory object to then pass to the `IConfigurable.Authenticate(AzureCredentials credentials)` method I still get a valid IAzure object passed back. This throws an exception if I pass an invalid subscriptionId to the WithSubscription method though.

***Exception or Stack Trace***
No exception, but I

[2020-03-27 01:05] weidongxu-microsoft commented on #1026
@StingyJack

`Microsoft.Azure.Management.Fluent` is actually a wrapper package, which include about 10+ dependencies, and a few convenient codes (`IAzure` etc.).

![image](https://user-images.githubusercontent.com/53292327/77710831-130fae00-700a-11ea-9c0e-bd690c122249.png)

If you do not need the big package, you can just use e.g. `Microsoft.Azure.Management.Compute.Fluent` package.

[2020-03-27 02:12] StingyJack commented on #1026
@weidongxu-microsoft If that's the case this package needs to be called  `Microsoft.Azure.Management.Fluent.All` or something like that. Or at least smash the 24 individual dlls into one.

It's current name is inappropriate and misleading, and counter to convention. Also how many people need all of these that it was necessary to create a wrapper package?

If it wasn't clear, I'm annoyed because th

[2020-03-27 02:23] weidongxu-microsoft commented on #1026
@StingyJack

Personally I think changing the package name would be an overkill (and yes, I know production team that actually uses this big one).

A more measured solution could be updating the README.md in repo to suggest the alternative, and/or augment package description as well.

cc @yungezz @nickzhums

[2020-03-27 16:48] StingyJack commented on #1026
Well i cant get rid of it and its 24 underlings because the IAzure interface is crammed into it, and [apparently that is a necessary thing in order to authenticate properly for what we are doing](https://docs.microsoft.com/en-us/dotnet/api/overview/azure/containerinstance?view=azure-dotnet) (creating and removing ad-hoc container instances). Is there another way around that aside from what the doc

[2020-03-27 20:43] shgoldbe opened #1028 "[BUG] LoadBalancerOutboundRule is missing outboundAllocatedPorts"
**Describe the bug**
The LoadBalancerOutboundRule and Update/Define interfaces are missing the outboundAllocatedPorts property from the definition in ARM, powershell, cli, REST API all support it
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-rules-overview#outbound-rule

was not added here https://github.com/Azure/azure-libraries-for-net/pull/973/files#diff-8921d510ef

[2020-03-28 01:39] weidongxu-microsoft commented on #1026
@StingyJack

You can do this

[code]

Basically this is what I mean that should be in README.md or that doc.

cc @nickzhums

[2020-03-29 12:59] yungezz commented on #1027
HI @xccc-msft could you pls have a look? thanks.

[2020-03-30 01:21] yungezz commented on #1028
loadbalancer

[2020-03-30 02:29] xccc-msft commented on #1027
@coppercosmo The current behavior for Azure client is to throw exception when rendering service connection. For the step in your code snippet, no request sent to server so no exception got throw. The validation of credential combination would happen on service side rather than client side.

[2020-03-30 02:46] xccc-msft commented on #1028
@shgoldbe For now, you can use below sample code as workaround.
[code]

[2020-03-30 02:53] shgoldbe commented on #1028
@xccc-msft is networkManager NetworkClientManager?

[2020-03-30 03:16] xccc-msft commented on #1028
@shgoldbe You can find networkManager via [this link](https://github.com/Azure/azure-libraries-for-net/blob/master/src/ResourceManagement/Network/NetworkManager.cs). It will be similar as how you authenticate Azure client.

[2020-03-30 04:52] shgoldbe commented on #1028
thank you! I ended up creating the rule with the AzureClient and then using this:
[code]

[2020-03-30 14:42] jonathanantoine opened #1030 "[FEATURE REQ]"
**Is your feature request related to a problem? Please describe.**
Please let us create [AppConfiguration](https://docs.microsoft.com/en-us/azure/templates/microsoft.appconfiguration/2019-02-01-preview/configurationstores) services using Azure fluent.

**Describe alternatives you've considered**
Using generic ressource code but it's missing the s_k_u property :
[code]

[2020-03-30 15:01] jonathanantoine commented on #1030
For those don't minding for an ugly workaround :

[code]

[2020-03-30 15:02] jonathanantoine commented on #43
@hovsepm ugly workaround for you if needed : https://github.com/Azure/azure-libraries-for-net/issues/1030#issuecomment-606053655

[2020-04-01 06:36] weidongxu-microsoft commented on #1012
Hello service team,

Do we have some approach to get this metric definition? It is not in "microsoft.insights" namespace.

[code]

[2020-04-02 01:33] eosfor opened #1033 "[QUERY] WebApps/Functions authsetting configuration parameters"
**Query/Question**
Colleagues, we use the feature described [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2019-08-01/sites/config-authsettings), as below. The question is, is something like that supported as part of the Fluent library? Unfortunately, I did not find any samples for such things.

[code]

[2020-04-02 01:56] weidongxu-microsoft commented on #1033
@eosfor

Could be this:
https://github.com/Azure/azure-libraries-for-net/blob/master/Samples/AppService/ManageWebAppWithAuthentication.cs#L76

[2020-04-02 02:10] eosfor commented on #1033
Let me try, thank you so much!

[2020-04-02 21:19] ThePersonWilliam opened #1034 "Have to add third party host name cname in a illogical way"
This is the code I use to get this to work.
 await app1.Update()
                    .DefineHostnameBinding()
                        .WithThirdPartyDomain(domain)
                            .WithSubDomain(domain)
                            .WithDnsRecordType(CustomHostNameDnsRecordType.A)
                            .Attach()
                     .DefineHostnameBinding()

[2020-04-02 21:23] ThePersonWilliam opened #1035 "Adding Third Party Host Name and Sub Domain in an illogical way"
This is the code I use to get this to work.
[code]

By adding it this way an exception gets thrown saying there is a conflict but when I check azure both my "domain.com" and "www.domain.com" are added. Am I missing something or is this an issue in the SDK?

[2020-04-02 22:59] Tiano2017 commented on #968
@yaohaizh is this request to publish SDK for the latest Microsoft.Resources swagger?

[2020-04-03 05:11] yungezz commented on #1034
hi @ThePersonWilliam could you pls share more detail which SDK you're suing? thanks.

[2020-04-03 05:12] yungezz commented on #1035
duplicate with #1034

[2020-04-03 05:12] #1035 closed

[2020-04-03 09:58] karataliu commented on #364
Still repros:

[code]
error:
`Unhandled exception. Microsoft.Rest.Azure.CloudException: The managed by property of the resource group cannot be changed from its current value `

`<PackageReference Include="Microsoft.Azure.Management.ResourceManager.Fluent" Version="1.32.0" />`

[2020-04-03 19:30] eosfor commented on #580
+1 for adding this to Fluent.

[2020-04-06 08:28] tony6636 commented on #1005
Hello guys, the issue remains:

**Setup:**

- Microsoft.Azure.Management.Fluent 1.32.0
- Microsoft.Azure.Management.ResourceManager.Fluent 1.32.0

The code fails at the line where the **Tags** are being updated:

    await res.Update()
             .WithApiVersion(res.ApiVersion)
             .WithProperties(res.Properties)
             .WithTags(...)
             .ApplyAsync();

 see https://gith

[2020-04-06 11:39] eydelrivero opened #1036 "Adding/Removing custom domain restarts the app service"
**Describe the bug**
When I add or remove a custom domain programmatically using the `Microsoft.Azure.Management.AppService.Fluent` nuget package, the app service restarts. I have confirmed that the app is indeed restarting by creating an empty aspnet core app and only enabling Serilog logging to log when `Program.Main()`, `Startup.ConfigureServices()` and `Startup.Configure()` methods are execute

[2020-04-07 01:44] weidongxu-microsoft commented on #580
@nickzhums

[2020-04-07 01:44] yungezz commented on #1036
hi @weidongxu-microsoft could you pls have a look? thanks

[2020-04-07 02:57] nickzhums commented on #580
@MilindThakkar and @eosfor we will look into this

[2020-04-07 05:13] xccc-msft commented on #1005
@tony6636 Before you call `res.Update()`, how did you get the var `res`?

[2020-04-07 10:36] tony6636 commented on #1005
as mentioned, in the same was way as described here https://github.com/Azure/azure-libraries-for-net/issues/978#issuecomment-588261592

[2020-04-07 11:29] xccc-msft commented on #1005
@tony6636 Thanks for confirmation. You need to insert one line as below:
[code]

[2020-04-08 12:59] tony6636 opened #1037 "Check if a resource supports tags"
**Question**
According to https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-support, the list is quite extensive, so is it possible to check if a given resource supports tags ?

**Setup**
Version of the Library used:
 - Microsoft.Azure.Management.Fluent v1.32.0
 - Microsoft.Azure.Management.ResourceManager.Fluent v1.32.0

 **Information Checklist**
- [x] Question Added
-

[2020-04-08 13:26] yungezz commented on #1037
I don't think there's general interface to check if a resource supports tag

[2020-04-08 14:00] tony6636 commented on #1005
Thanks, I've checked that approach and I'mgetting the error message like :

physically that resource exists in that resource group

[2020-04-09 02:37] xccc-msft commented on #1005
@tony6636 I cannot reproduce this from my end. For me, I could update tags for the SQL database via the code snippet I shared after creating it.

Can you please capture the request and verify what's the request Uri? Or just check what value you passed into `withParentResource(value)`? Another option, you may verify via `genericResources.checkExistenceById(id)`.

[2020-04-09 02:57] xccc-msft commented on #1037
@tony6636 We don't have APIs for checking tags availablity.
By checking [Tag related APIs](https://docs.microsoft.com/en-us/rest/api/resources/tags/createorupdateatscope) provided from Azure REST APIs, it looks you could create tags at scope level. The potential solution is to verify the error message when the resource doesn't support tags. For further usage, you may try [Azure .NET SDK](https://g

[2020-04-09 03:37] #1002 closed

[2020-04-09 04:28] WhitWaldo opened #1038 "Support for IAsyncEnumerable<T> in list calls"
Presently, when listing a given resource with this API, I can either perform the call synchronously and receive an IEnumerable<T> or I can perform the call asychronously, but I received an IPagedCollection<T> that I'm responsible for enumerating and performing subsequent asynchronous calls against. This adds several more boilerplate lines just to implement asynchronous functionality. It's not over

[2020-04-09 06:28] nickzhums commented on #1038
@WhitWaldo Hi Whit, thanks for reporting your issue. We will discuss about this :)

[2020-04-09 15:39] tomkerkhove opened #1042 "[FEATURE REQ] Support for Azure Resource Graph"
**Is your feature request related to a problem? Please describe.**
Would love to interact with Azure Resource Graph to query for resources

[2020-04-09 15:39] tomkerkhove commented on #1042
Is this supported already? If so, sorry about that but it was not clear in the docs.

[2020-04-09 17:37] WhitWaldo commented on #1038
@yungezz I noticed you added the Event Hubs label. I use that as just one example - just about every Azure resource has a ListAsync method.

[2020-04-10 10:01] yungezz commented on #1042
hi @tomkerkhove ResourceGraph isn't support.  Could you pls try Microsoft.Azure.Management.ResourceManager.Fluent